---
slug: password-reset
layout: modules/client/system_pages
# enable_profiler: true
searchable: false
max_deep_level: 1
metadata: {
    "status": "published",
    "page_type": "system", ## content, system or endpoint
    "og:url": "{{ context.exports.global.company_url | strip }}",
    "og:type": "",
    "og:image": "",
    "og:title": "Password Reset",
    "og:description": "Password Reset",
    "og:site_name": "{{ context.exports.global.company_name | strip }}",
    "meta_title": "Password Reset",
    "page_title": "Password Reset | Insites",
    "meta_description": "Password Reset",
    "canonical_url": "",
    "search_engine_visibility": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "0", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---

{%- graphql user_with_token = 'modules/client/account/get_user_with_password_token', email: params.email | dig: 'users','results' | first -%}
{% assign token_valid = params.token | is_token_valid: user_with_token.id %}

{%- if context.flash.notice or context.flash.alert -%}
    {%- comment -%} If any flash notice or alert is pressent {%- endcomment -%}

    {%- if context.flash.notice != blank -%}
        {%- parse_json messageInfo -%}
        {
            "title" : "Success",
            "type": "success",
            "message": "<p>Your password has been reset. You can now proceed to <a href='/sign-in'>sign in.</a></p>"
        }
        {%- endparse_json -%}
        {%- include 'modules/client/system/form_result', messageInfo: messageInfo -%}

    {%- else -%}
        {%- include_form 'modules/client/password_reset', id: user_with_token.id  -%}
    {%- endif -%}

{%- else -%}
    {%- comment -%} If there is no flash notice or alert {%- endcomment -%}


    {% if user_with_token.id == blank or token_valid == false or user_with_token.default[0].password_token != params.token %}
    <div class="sign-up">
        <div class="grid-x align-center">
            <div class="large-5 medium-9 samll-12 cell">
                <div class="spacer xxx-large"></div>
                <h1 class="text-center">Info</h1>
                <div class="spacer xxx-large"></div>
                Unfortunately, provided token is not valid anymore. Please request password instructions again.
                
                <div class="spacer xxxx-large"></div>
            </div>
        </div>
    </div>

    {%- else -%}         
        {%- include_form 'modules/client/password_reset', id: user_with_token.id  -%}                
    {%- endif -%}

{%- endif -%}


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{%- if context.environment == "staging" -%}
    <script src="{{ 'modules/client/services/apiServices.js' | asset_url }}"></script>
    <script src="{{ 'modules/client/scripts/login-scripts.js' | asset_url }}"></script>
{%- else -%}
    <script src="{{ 'modules/client/services/apiServices.min.js' | asset_url }}"></script>
    <script src="{{ 'modules/client/scripts/login-scripts.min.js' | asset_url }}"></script>
{%- endif -%}