---
slug: register
layout: modules/client/system_pages
searchable: false
max_deep_level: 1
metadata: {
    "status": "published",
    "open_graph:url": "{{ context.exports.global.company_url | strip }}",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "Register",
    "open_graph:description": "Register",
    "open_graph:site_name": "{{ context.exports.global.company_name | strip }}",
    "meta_title": "Register",
    "page_title": "Register | Insites",
    "meta_description": "Register",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "0", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
authorization_policies:
  - modules/client/has_client_profile   
---
    
{%- if context.current_user -%}
    
    {%- redirect_to '/client-portal' -%}
    
{%- endif -%} 

<div class="sign-up">
    <h1 class="text-center">Registration</h1>
    <div class="spacer xxx-large"></div>
    {%- include 'modules/client/account/registration_steps' -%}
    <div class="spacer x-large"></div>    
    {%- include_form 'modules/client/register' -%}
</div>


{% comment %} Google Maps Script {% endcomment %}
{% include 'modules/website/layout/googlemaps' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{%- if context.environment == "staging" -%}
    <script src="{{ 'modules/client/scripts/address-lookup.js' | asset_url }}"></script>
    <script src="{{ 'modules/client/services/apiServices.js' | asset_url }}"></script>
    <script src="{{ 'modules/client/scripts/login-scripts.js' | asset_url }}"></script>
{%- else -%}
    <script src="{{ 'modules/client/scripts/address-lookup.min.js' | asset_url }}"></script>
    <script src="{{ 'modules/client/services/apiServices.min.js' | asset_url }}"></script>
    <script src="{{ 'modules/client/scripts/login-scripts.min.js' | asset_url }}"></script>
{%- endif -%}

<script>
    const registerStepper = document.getElementById("register-stepper");
    const registerForm = document.getElementById('register-form');
    const cancelButton = document.getElementById('cancel-button');

    const backToStep1 = document.getElementById("back-to-step-1");
    const backToStep2 = document.getElementById("back-to-step-2");

    const step1 = document.getElementById("submit-personal-details");
    const step2 = document.getElementById("submit-company-details");
    const step3 = document.getElementById("submit-confirmation");

    //const stepper1 = document.getElementById("stepper-personal-details");
    //const stepper2 = document.getElementById("stepper-company-details");
    
    const step1Container = document.getElementById('personal-details-container');
    const step2Container = document.getElementById('company-details-container');
    const step3Container = document.getElementById('confirmation-container');

    let Session = (function () {
    return {
        events: {

            async signUpHandler(event) { 
                if(registerForm){
                    event ? event.preventDefault(): ''; 
                }
            },

            disableSubmitOnEnter() {
                window.addEventListener('keydown', function(e) {
                    if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
                        if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
                            e.preventDefault();
                            return false;
                        }
                    }
                }, true);
            }
        }
    }
})();
window.Session = Session;


//Disable Submit on 'Enter' in Sign up form
if(registerForm){
    Session.events.disableSubmitOnEnter();
}

    //Stepper
    if(step1) {
        step1.addEventListener('insClick', async function(event) {
            steps = await registerStepper.getAllSteps();
            firstStep = steps[0];
            secondStep = steps[1];
            
            const isValid = await LoginScript.methods.validateForm(event, step1Container); 
            if(isValid){
                step1Container.classList.add('hide');
                firstStep.hasError = false;
                firstStep.removeAttribute("has-error");
                registerStepper.next();
                step2Container.classList.remove('hide');
            } else {
                firstStep.hasError = true;
                firstStep.setAttribute("has-error", true);
            }
        });
    }

    if(step2) {
        step2.addEventListener('insClick', async function(event) {
            steps = await registerStepper.getAllSteps();
            firstStep = steps[0];
            secondStep = steps[1];
            
            const isValid = await LoginScript.methods.validateForm(event, step2Container); 
            if(isValid){
                step2Container.classList.add('hide');
                secondStep.hasError = false;
                secondStep.removeAttribute("has-error");
                registerStepper.next();
                step3Container.classList.remove('hide');
            } else {
                secondStep.hasError = true;
                secondStep.setAttribute("has-error", true);
            }
        });
    }

    if(step3) {
        step3.addEventListener('insClick', async function(event) {
            steps = await registerStepper.getAllSteps();
            firstStep = steps[0];
            secondStep = steps[1];
            thirdStep = steps[2];
            
            const isValid = await LoginScript.methods.validateForm(event, step3Container); 
            let checkBox = document.getElementById('agreement')
            if(checkBox.checked){
                step3Container.classList.add('hide');
                thirdStep.hasError = false;
                thirdStep.removeAttribute("has-error");
                registerStepper.next();
                step4Container.classList.remove('hide');
                registerForm.submit();
            }else {
                thirdStep.hasError = true;
                thirdStep.setAttribute("has-error", true);
            }

        });
    }


    if(backToStep1) {
        backToStep1.addEventListener('insClick', async function(event) {
            registerStepper.prev();
            step1Container.classList.remove('hide');
            step2Container.classList.add('hide');
        });
    }

    if(backToStep2) {
        backToStep2.addEventListener('insClick', async function(event) {
            registerStepper.prev();
            step1Container.classList.add('hide');
            step2Container.classList.remove('hide');
            step3Container.classList.add('hide');
        });
    }    
</script>