---
slug: sign-in
layout: modules/client/system_pages
searchable: true
max_deep_level: 1
metadata: {
    "status": "published",
    "open_graph:url": "{{ context.exports.global.company_url | strip }}",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "Sign In",
    "open_graph:description": "Sign In",
    "open_graph:site_name": "{{ context.exports.global.company_name | strip }}",
    "meta_title": "Sign In",
    "page_title": "Sign In | Insites",
    "meta_description": "Sign In",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "0", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---

{%- if context.current_user -%}    
    {%- redirect_to '/client-portal' -%} 
{%- endif -%} 

<div class="sign-up grid-x grid-padding-x">
    <div class="large-offset-4 large-4 medium-offset-3 medium-6 small-12 cell">
        <h1 class="heading-1 text-center">Sign In</h1>
        <div class="spacer x-large"></div>
        {%- include_form 'modules/client/sign_in' -%}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{%- if context.environment == "staging" -%}
    <script src="{{ 'modules/client/services/apiServices.js' | asset_url }}"></script>
    <script src="{{ 'modules/client/scripts/login-scripts.js' | asset_url }}"></script>
{%- else -%}
    <script src="{{ 'modules/client/services/apiServices.min.js' | asset_url }}"></script>
    <script src="{{ 'modules/client/scripts/login-scripts.min.js' | asset_url }}"></script>
{%- endif -%}