---
name: pay_bills
resource: modules/insites_ecommerce/order
resource_owner: anyone
redirect_to: /pay-bills
flash_alert: Error-PayBill
flash_notice: Success-PayBill
fields:
  properties:
    order_reference:    
      validation: 
        presence:
          message: Order Reference Number is required  
    subtotal_amount:    
      validation: 
        presence:  
          message: Minimum of 1, maximum of 983283.99
        numericality:
          greater_than_or_equal_to: 1
          less_than_or_equal_to: 983283.99
    uuid:
      validation: 
        presence: true
    currency:    
      validation: 
        presence: true
    date_time:    
      validation: 
        presence: true
    total_tax_amount:
    total_amount:    
      validation: 
        presence: true
    total_discount_amount:    
      validation: 
        presence: true 
    order_status:
    order_payment_status:
    order_shipping_status:
    notes:

    # Other Details 
    stripe_credit_card:
      property_options:
          virtual: true            
default_payload: >
  {% graphql current_user = 'modules/portal/account/get_current_user' | dig: 'current_user' %}
  {% assign user_company_uuid =  current_user | dig: 'crm_contact' | first  %}

  {% function settings = "modules/portal/pay_bills/get_settings" %}
  {%  assign uuid =  '' | uuid %}
  {
    "properties_attributes":{
        "user_id": "{{ context.current_user.id }}",
        "user_uuid": "{{ current_user.external_id }}",
        "company_uuid": "{{ user_company_uuid.company_uuid }}",
        "currency": "{{ settings.currency }}",
        "date_time": "{{ 'now' | date: '%Y-%m-%dT%H:%M:%S'}}",
        "total_discount_amount": 0,
        "is_enabled": true,
        "order_status": "Open",
        "order_payment_status": "Pending Funds",
        "shipping_status": "Not Applicable"
    }
  }  
callback_actions: >
  {%- include 'modules/portal/pay_bills/callback_init', 
      context: context,
      form: form -%}  
---
{%- assign props = form.fields.properties -%}

{%- liquid
    graphql user = 'modules/portal/account/get_current_user' | dig: 'current_user'

    if user.client
        assign profile = user.client[0]
        if profile != blank and profile.is_activated
            assign verified = true
        else
            assign verified = false            
        endif
    endif    
-%}

{% form 
    html-id: "checkout-form"
    html-onsubmit: "return Paybill.events.payBillsSubmit(event);"
    html-novalidate: true %}
    {%  assign uuid =  '' | uuid %}
    
    <input type="hidden" id="bill-total-amount" name="{{ props.total_amount.name }}" >
    <input type="hidden" id="bill-subtotal-amount" name="{{ props.subtotal_amount.name }}" >
    <input type="hidden" id="bill-tax-amount" name="{{ props.total_tax_amount.name }}" >

    <input type="hidden" id="bill-notes" name="{{ props.uuid.name }}" >
    <input type="hidden" id="bill-notes" value="{{uuid}}" name="{{ props.uuid.name }}" >

    <!-- Invoice Details -->
    <div id="invoice-details">
        <h2 class="heading-2">Invoice Details</h2>
        <div class="spacer x-large"></div>

        <div class="grid-x grid-padding-x invoice-details">
            <div class="large-6 medium-12 small-12 cell">
                <ins-input required validate account-details-field
                    class="label-input"
                    label="Order Reference*" 
                    placeholder="Order Reference"
                    field="text"
                    id="invoice-number"
                    name="{{ props.order_reference.name }}" 
                    value="{{ props.order_reference.value }}"
                    {% if form.errors['properties.order_reference'] %} has-error {% endif %}
                    error-message="{{ props.order_reference.validation.rules.presence.message }}">
                </ins-input>
            </div>      

            <div class="large-6 medium-12 small-12 cell">
                <ins-input required validate account-details-field
                    class="label-input"
                    label="Amount Excluding Tax*" 
                    placeholder="Amount Excluding Tax"
                    field="number"
                    id="bill-amount"
                    name="temp_order_value"
                    min="1"
                    max="983283.99"
                    {% if form.errors['properties.subtotal_amount'] %} has-error {% endif %}
                    error-message="{{ props.subtotal_amount.validation.rules.presence.message }}">
                </ins-input>
                <input type="hidden" id="bill-order-value" name="{{ props.subtotal_amount.name }}" >
            </div>

            <div class="spacer large"></div>
        </div>
    </div>
    
    {% include 'modules/portal/pay_bills/payment_credit_card' %}
    
{% endform %}