---
metadata: {
    partial_name: 'Portal | Paybills | Callback update models'
}
---

{% comment %} 
  Steps:
    1. Create Payment record on POS
    2. Update Order record
    3. Create Event Stream
{% endcomment %}


{% comment %} Set status based on Stripe Charge (Create Payment) response {% endcomment %}
{%  liquid

    if status == "succeeded"
        assign status = "success"
        assign order_payment_status = "Paid"
        assign order_status = "Completed"
    else
        assign status = "failed"
        assign order_payment_status = "Failed"
        assign order_status = "Open"
    endif
%}

{% comment %} Compute amounts {% endcomment %}
{% liquid

    function computed = "modules/portal/pay_bills/compute_amounts", total_amount: form.properties.total_amount, total_tax_amount: form.properties.total_tax_amount, total_shipping_amount: 0, subtotal_amount: form.properties.subtotal_amount

    if status == 'success'
        assign amount_due = 0.0
    else
        assign amount_due = computed.total_amount
    endif
%}

{% comment %} Stripe Charge (Create Payment) response {% endcomment %}
{% assign stripe_payment_response = context.exports.payment_response %}

{% parse_json card %}
{
    "last4": "{{ stripe_payment_response.source.last4 }}",
    "brand": "{{ stripe_payment_response.source.brand }}",
    "exp_month": "{{ stripe_payment_response.source.exp_month }}",
    "exp_year": "{{ stripe_payment_response.source.exp_year }}"
}
{% endparse_json %}

{% comment %} User info {% endcomment %}
{% liquid
    if context.current_user
        assign user_id = context.current_user.id
        assign email = context.current_user.email
        assign first_name = context.current_user.first_name
        assign last_name = context.current_user.last_name
    else 
        assign user_id = null
        assign email = form.properties.order_email
        assign first_name = form.properties.order_first_name
        assign last_name = form.properties.order_last_name
        assign phone_number = form.properties.order_phone
    endif
%}

{% comment %} Step 1: Create Payment record on POS {% endcomment %}
{% parse_json data %}
{
    "order_id": "{{ order_id }}",
    "payment_source": "Payment Gateway",
    "payment_status": "{{ order_payment_status }}",
    "payment_gateway_name": "{{ settings.gateway_name }}",
    "date_time": "{{ 'now' | date: '%Y-%m-%dT%H:%M:%SZ' }}",
    "last_updated_by_id": "{{ context.current_user.id }}",
    "is_enabled": true,
    "card_last4": "{{ card.last4 }}",
    "card_brand": "{{ card.brand }}",
    "card_exp_month": "{{card.exp_month}}",
    "card_exp_year": "{{card.exp_year}}",
    "currency": "{{settings.currency}}",
    "order_value": {{ form.properties.total_amount }},
    "amount": {{ form.properties.total_amount }},
    "amount_due": {{ form.properties.total_amount }}
}
{% endparse_json %}
{% assign data = data | add_hash_key: "payment_gateway_details", stripe_payment_response %}
{% assign data = data | add_hash_key: "order_uuid", form.properties.uuid %}
{% assign data = data | add_hash_key: "computed", computed %}

{%  graphql add_payment = 'modules/website/trigger_api_call', 
    name: "modules/portal/add_payment",
    data: data
    | dig: 'items','response','body'
    | parse_json %}   

{%- liquid
    session paybill_payment_id = add_payment.items.id
    session paybill_status = status

    if status == 'failed'
        session paybill_error = stripe_payment_response
    endif
-%}

{% comment %} Step 2: Update Order record {% endcomment %}
{% parse_json order_data %}
{
    "uuid": "{{ form.properties.uuid }}",
    "order_reference": "{{ form.properties.order_reference | default: "" }}",
    "order_email": "{{ email | default: "" }}",
    "order_first_name": "{{ first_name | default: "" }}",
    "order_last_name": "{{ last_name | default: ""  }}",
    "order_phone": "{{ phone_number | default: "" }}",
    "order_status": "{{ order_status | default: "" }}",
    "order_payment_status" : "{{ order_payment_status | default: "" }}",
    "total_amount" : {{ form.properties.total_amount |  times: 1.0 | default: 0.0   }},
    "total_tax_amount": {{ form.properties.total_tax_amount | times: 1.0 | default: 0.0   }},
    "date_time": "{{ form.properties.date_time | default: "" }}",
    "currency": "{{ form.properties.currency | default: "" }}",
    "subtotal_amount": {{ form.properties.subtotal_amount| times: 1.0  | default: 0.0 }},
    "total_amount_paid": {{ form.properties.total_amount | times: 1.0  | default: 0.0 }},
    "total_discount_amount": {{ form.properties.total_discount_amount | times: 1.0 | default: 0.0 }}

}
{% endparse_json %}

{% graphql update_order = 'modules/website/trigger_api_call', 
    name: "modules/portal/update_order",
    data: order_data
    | dig: 'items','response','body'
    | parse_json %}
{% liquid
    session paybill_order_id = update_order.id
    session paybill_order_reference = update_order.order_reference
    session order_uuid = update_order.uuid
%}

{% export update_order %}

{% comment %} ? UNCOMMENT ON WORKING INSTANCE {% endcomment %}
{% comment %} Step 3. Create Event Stream {% endcomment %}
{%- assign current_user_name =  context.current_user.first_name | append: ' ' | append: context.current_user.last_name | default: context.current_user.email -%}
{%- capture description -%} Bills <a target="_blank" href="/admin/insites/#/ecommerce/orders/{{ form.properties.uuid}}">Payment</a> - <a target="_blank" href="/admin/insites/#/crm/contacts/{{ context.current_user.id }}">{{ current_user_name  | default: context.current_user.email }}</a> {%- endcapture -%}
{%- assign payload = '{}' | parse_json -%}
{%- assign payload = payload | add_hash_key: "description", description -%}
{% capture log_info %}
{
    "description": "Bills Payment",
    "contact_uuid": "{{ context.current_user.external_id }}",
    "log": {
        "user": {
            "id": "{{ user_id }}",
            "email": "{{ email }}",
            "first_name": "{{ first_name }}",
            "last_name": "{{ last_name }}"
        },
        "order": {
            "id": "{{ form.id }}",
            "order_reference": "{{ form.properties.order_reference }}",
            "order_status": "{{ order_status }}",
            "order_payment_status" : "{{ order_payment_status }}",
            "amount_due" : "{{ amount_due }}",
            "total_amount" : "{{ computed.total_amount }}",
            "total_shipping_amount": "0",
            "total_tax_amount": "{{ form.properties.total_tax_amount }}",
            "order_value" : "{{ computed.total_amount }}"
        },
        "payment": {
            "order_id": "{{order_id}}",
            "payment_source": "Payment Gateway",
            "payment_status": "{{order_payment_status}}",
            "payment_gateway_name": "{{settings.gateway_name}}",
            "date_time": "{{ 'now' | date: '%Y-%m-%dT%H:%M:%SZ' }}",
            "card_last4": "{{card.last4}}",
            "card_brand": "{{card.brand}}",
            "card_exp_month": "{{card.exp_month}}",
            "card_exp_year": "{{card.exp_year}}",
            "currency": "{{settings.currency}}",
            "order_value": "{{computed.total_amount}}",
            "amount": "{{computed.total_amount}}",
            "amount_due": "{{amount_due}}"
        }
    }
}
{% endcapture %}
{%- assign log_info_json = log_info | parse_json -%}
{%- assign info = payload | add_hash_key: "log", log_info_json -%}
{% log payload %}
{% include 'modules/portal/events/log_event', info %}
