---
metadata: {
    partial_name: 'Portal | Paybills | Payment credit card'
}
---

{%- liquid
    graphql user = 'modules/portal/account/get_current_user' | dig: 'current_user'

    if user.portal
        assign profile = user.portal | first
        if profile != blank and profile.is_activated
            assign verified = true
        else
            assign verified = false            
        endif
    endif    
-%}

<div id="payment-details">
    {%- graphql cards = "modules/portal/credit_cards/get_credit_card", 
    contact_uuid: context.current_user.external_id | dig: 'items' -%}

    <div class="add_credit_card_details_container">
        <div>
            <h5 class="heading-5">Payment methods</h5>
        </div>
        <div id="add-credit-card-button-holder" class="{% if cards.total_entries == 0 %}hide{% endif %}">
            <ins-button id="add-credit-card" class="add-credit-card" type="button" label="Add credit card" icon="icon-plus" class="m-0" solid></ins-button>         
        </div>
    </div>
    <div class="spacer x-large"></div>  

    <div class="validate-credit-card" >
        {% comment %} Credit Cards {% endcomment %}
        <div id="credit-card-fields" class="card-fields">            
            <p class="error-message hide">Credit Card is required.</p>
            <ins-input required validate hidden
                field="" 
                id="stripe-card"
                name="{{ form.fields.properties.stripe_credit_card.name }}" 
                {% if cards.results.size == 1 %}
                    {% assign card = cards.results | first %}
                    value="{{ card.properties.payment_method_token }}"
                {% else %}
                    value="{{ form.fields.properties.stripe_credit_card.value }}"  
                {% endif %}
                >
            </ins-input>
            <div id="card-options-list" class="grid-padding-x grid-padding-y grid-x">                    
                {%- for card in cards.results -%}
                  
                    <div class="large-4 medium-6 small-12 cell card-options">
                        <ins-credit-card data-id="{{ card.id }}" 
                            {% if forloop.length == 1 %}
                                active
                            {% endif %}
                            brand="{{ card.properties.card_brand }}"
                            last-four="{{ card.properties.card_last_four_digits }}"
                            expiry-month="{{ card.properties.card_expiry_month }}"
                            expiry-year="{{ card.properties.card_expiry_year }}"
                            full-year
                            value="{{ card.properties.payment_method_token }}" compact>
                        </ins-credit-card>
                    </div>
                {%- endfor -%}
            </div>
        </div>        
        {% comment %} ? EMPTY STATE {% endcomment %}
        <div id="no-card" class="empty-state text-center empty-box p-body {% if cards.total_entries > 0 %}hide{% endif %}">
            <p class="body-large-bold">No cards added.</p>
            <div class="spacer"></div>
            <ins-button id="add-credit-card" class="add-credit-card" type="button" label="Add credit card" icon="icon-plus" class="m-0" solid></ins-button>
        </div>
    </div>
    <div class="spacer xxx-large"></div>

    {% include 'modules/portal/pay_bills/payment_summary' %}

    <div class="insites-form-grid">
        <div class="insites-form-buttons column-1 text-right">
            <div class="spacer x-large show-for-small-only"></div>
            <ins-button solid type="submit"
                id="checkout-submit-btn"
                icon="icon-check-2"
                label="Pay bill">
            </ins-button>
        </div>
    </div>

</div>