---
metadata: {
    layout_name: portal_account
}
---
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include 'modules/website/layout/head' %}
    
  <link rel="stylesheet" href="{{ 'modules/portal/styles/portal.min.css' | asset_url }}" >
  <script type="module" src="https://components.insites.io/v2/latest/insites.esm.js"></script>
  <script nomodule src="https://components.insites.io/v2/latest/insites.js"></script>
  {%- include 'modules/insites_forms/form_code' -%}

</head>

{% comment %} ? GET GLOBAL CONTENT {% endcomment %}
{%- include "modules/insites_cms/globals" -%}
{%- assign global = context.exports.global -%}


<body>
    <div class="grid-x gutter-medium grid-padding-x account-body">

        {% comment %} ? Content Layout - Create Account {% endcomment %}
        {% if context.params.slug == 'create-account' %}
            <div class="large-7 bg-color-ui-01 create-account-container">
                {% comment %} ? LOGO {% endcomment %}
                <div class="large-12 medium-3 small-7 cell">
                    <div class="spacer x-large"></div>
                    <a href="/">
                        <img class="logo-accounts" src="{{ global.company_logo }}" alt="Logo" height="56" width="119">
                    </a>
                    <div class="spacer x-large"></div>
                </div>
                {{ content_for_layout }}
                <div class="spacer x-large"></div>
            </div>    
        {% else %}
            <div class="large-7 bg-color-ui-01">
                <div class="account-container-logo">
                    <div class="spacer x-large"></div>
                    <a href="/">
                        <img class="logo-accounts" src="{{ global.company_logo }}" alt="Logo" height="56" width="119">
                    </a>
                    <div class="spacer x-large"></div>
                </div>
                <div class="account-container">
                    {{ content_for_layout }}
                </div>
            </div>    
        {% endif %}

        <div class="large-5 layout-background"></div>
        
    </div>    
    {% comment %} {% include 'modules/website/layout/footer' %}     {% endcomment %}
    {%- include 'modules/website/layout/technical_foot' -%}

</body>
</html>