---
metadata: {
    partial_name: "Website | Index | Beautiful centralised",
}
---

<!-- STATIC: SECTION CONTENT 1 -->
<section class="section-content-1">
    <div class="frame">
        <div class="blocks-sc-2col-02 wrapper bg-color-ui-01">
        <div class="spacer section"></div>
        <div class="about-us grid-container" data-test="page-about-us">
            <div class="grid-x align-middle">

                <div class="large-6 medium-6 small-12 cell">
                    <h2 class="">Beautiful, centralised client portal.</h2>
                    <div class="spacer"></div>
                    <p class="subHeading">You may utilise the incredibly easy-to-use and lightweight client portal on your website right now to offer your clients access to all of the files and to allow them to follow the progress of the project.</p>
                    <div class="spacer large"></div>
                </div> 

                <div class="imageSection show-for-small-only">
                    <img class="imageSection-img-1" alt="..."  src="{{ 'modules/website/images/home/beautiful-img-1.png' | asset_url }} ">
                    <img class="imageSection-img-2" alt="..."  loading="lazy" src="{{ 'modules/website/images/home/beautiful-img-2.png' | asset_url }} ">
                </div>
                <div class="medium-5 medium-offset-1 imageSection show-for-medium-only">
                    <img class="imageSection-img-1" alt="..."  src="{{ 'modules/website/images/home/beautiful-img-1.png' | asset_url }} ">
                    <img class="imageSection-img-3" alt="..."  loading="lazy" src="{{ 'modules/website/images/home/beautiful-img-2.png' | asset_url }} ">
                </div>


                <div class="large-5 large-offset-1 imageSection hide-for-medium-only hide-for-small-only">
                    <img class="imageSection-img-1" alt="..."  src="{{ 'modules/website/images/home/beautiful-img-1.png' | asset_url }} ">
                    <img class="imageSection-img-4" alt="..."  loading="lazy" src="{{ 'modules/website/images/home/beautiful-img-2.png' | asset_url }} ">
                </div>


            </div>
        </div>
        <div class="spacer section"></div>
        </div>
    </div>
</section>