---
metadata: {
    partial_name: "Website | Index | Client section",
}
---

<!-- STATIC: CLIENT SECTION -->
<div class="spacer section negative-offset-hero" ></div>
<div class="client-section">
  <div class="wrapper">
    <div class="grid-container grid-x gutter-medium grid-padding-x text-center">
      {% comment %} <div class="client-logo-container">
        <img loading="lazy" width="150" height="150" alt="client 1" src="{{ 'modules/website/images/home/clients/client_logo_01.webp' | asset_url }} ">
        <img loading="lazy" width="150" height="150"  alt="client 2" src="{{ 'modules/website/images/home/clients/client_logo_02.webp' | asset_url }} ">
        <img loading="lazy" width="150" height="150" alt="client 3" src="{{ 'modules/website/images/home/clients/client_logo_03.webp' | asset_url }} ">
        <img loading="lazy" width="150" height="150" alt="client 4" src="{{ 'modules/website/images/home/clients/client_logo_04.webp' | asset_url }} ">
        <img loading="lazy" width="150" height="150" alt="client 5" src="{{ 'modules/website/images/home/clients/client_logo_05.webp' | asset_url }} ">
      </div> {% endcomment %}

      <div class="image-container">
  <div class="image-row">
    <img loading="lazy" width="150" height="150" alt="client 1" src="{{ 'modules/website/images/home/clients/client_logo_01.webp' | asset_url }} ">
        <img loading="lazy" width="150" height="150"  alt="client 2" src="{{ 'modules/website/images/home/clients/client_logo_02.webp' | asset_url }} ">
  </div>

  <div class="image-row">
    <img loading="lazy" width="150" height="150" alt="client 3" src="{{ 'modules/website/images/home/clients/client_logo_03.webp' | asset_url }} ">
    <img loading="lazy" width="150" height="150" alt="client 4" src="{{ 'modules/website/images/home/clients/client_logo_04.webp' | asset_url }} ">
  </div>

  <div class="image-center">
    <img loading="lazy" width="150" height="150" alt="client 5" src="{{ 'modules/website/images/home/clients/client_logo_05.webp' | asset_url }} ">
    </div>
</div>
    </div>
  </div>
</div>
<div class="spacer section"></div>