
<!-- STATIC: SECTION CONTENT 1 -->
<section class="section-content-1">
    <div class="frame">
        <div class="blocks-sc-2col-02 wrapper bg-color-ui-01">
        <div class="spacer xxxx-large"></div>
        <div class="about-us grid-container" data-test="page-about-us">
            <div class="grid-x align-middle">

                <div class="large-6 medium-6 small-12 cell">
                    <h2 class="">Beautiful, centralised client portal.</h2>
                    <div class="spacer"></div>
                    <p class="subHeading">You may utilise the incredibly easy-to-use and lightweight client portal on your website right now to offer your clients access to all of the files and to allow them to follow the progress of the project.</p>
                    <div class="spacer large"></div>
                </div> 

                <div class="imageSection show-for-small-only">
                    <img alt="..."  loading="lazy" style="width: 80%" src="{{ 'modules/website/images/home/beautiful-img-1.png' | asset_url }} ">
                    <img alt="..."  loading="lazy" style="width: 60%; margin-top: -100px; margin-left: 100px" src="{{ 'modules/website/images/home/beautiful-img-2.png' | asset_url }} ">
                </div>
                <div class="medium-5 medium-offset-1 imageSection show-for-medium-only">
                    <img alt="..."  loading="lazy" style="width: 80%" src="{{ 'modules/website/images/home/beautiful-img-1.png' | asset_url }} ">
                    <img alt="..."  loading="lazy" style="width: 60%; margin-top: -100px; margin-left: 120px" src="{{ 'modules/website/images/home/beautiful-img-2.png' | asset_url }} ">
                </div>


                <div class="large-5 large-offset-1 imageSection hide-for-medium-only hide-for-small-only">
                    <img alt="..."  loading="lazy" style="width: 80%" src="{{ 'modules/website/images/home/beautiful-img-1.png' | asset_url }} ">
                    <img alt="..."  loading="lazy" style="width: 50%; margin-top: -170px; margin-left: 250px" src="{{ 'modules/website/images/home/beautiful-img-2.png' | asset_url }} ">
                </div>


            </div>
        </div>
        <div class="spacer xxx-large"></div>
        </div>
    </div>
</section>


<!-- STATIC: SINGLE ROW IMAGE -->
<section class="single-row-section">
    <img alt="..."  loading="lazy" src="{{ 'modules/website/images/home/features-section-bg.jpg' | asset_url }} ">
</section>

<!-- STATIC: OVERLAP SECTION -->
<section class="overlap-section">
  <div class="blocks-sc-3col-01 wrapper bg-color-ui-01" style="border-radius: 24px!important;">
    <div class="spacer xxx-large"></div>
    <div class="custom-center grid-container">
      <h1>We’re thrilled you want to try Insites!</h1>
      <div class="spacer x-large"></div>
      <p class="subHeading">The benefits of a client portal are numerous. They can help streamline communication between companies and clients, and make it easier for both parties to access the information they need.</p>
      <div class="spacer x-large"></div>
    </div>
    



    {% comment %} connect services to graphql {% endcomment %}
    {%- graphql get_services_on_homepage = 'modules/website/home/get_services_on_homepage' -%}
    {% comment %} assign var to fetch the result {% endcomment %}
    {%- assign res_services_homepage = get_services_on_homepage | dig: 'items', 'results' -%}

    <section class="services-section">  
        <div class="blocks-sc-3col-01 wrapper bg-color-ui-01">
          <div class="grid-container" data-test="section-content-01">
              <div class="service-list grid-x grid-padding-x grid-padding-y gutter-medium align-strech" data-equalizer>
                <!-- card -->
                {% for item in res_services_homepage %}
                  <div class="large-4 medium-6 small-12 cell align-stretch">
                    <a href="/services/{{ item.slug }}">                    
                      <ins-card steady> 
                        <span class="custIcons"> <i class="{{ item.list_view_icon }}"></i> </span>
                        <div class="spacer large"></div>
                        <h3 class="name">{{ item.service_name }}</h3>
                        <div class="spacer small"></div>
                        <div class="short-description subHeading">{{ item.list_view_text }}</div>
                      </ins-card>
                    </a>
                  </div>
                {% endfor %}
                <!-- /card -->
              </div>
          </div>
        </div>
    </section>
  </div>
</section>

