
{%- comment -%}
    Products & Services - Details page (1col / basic layout)

    This block of codes for inner pages, using '1col / basic layout' elements
    to manage content display.
{%- endcomment -%}

<div class="grid-x">
    <div class="large-12 medium-12 small-12 cell">
        {%- comment -%}
        Loop through all content block 1 to 6
        
        IMPORTANT: 
        Since we assume that user updating contents via INS DB Manager does 
        not know HTML / CSS. How content blocks are identified and segmeted into 
        content blocks 1 to 6 is important to plan first.
        
        The styling & responsivness of the blocks are managed via CSS with 
        respect to the approved design.

        {%- endcomment -%}
        <div class="content">
        {%- for i in (1..6) -%}
            {%- capture 'heading' -%}sub_heading_{{ forloop.index }}{%- endcapture -%}
            {%- capture 'content' -%}content_block_{{ forloop.index }}{%- endcapture -%}
            {%- capture 'check_empty' -%}{{ data[heading] | strip }}{{ data[content] | strip }}{%- endcapture -%}
            
            {%- if check_empty != '' -%}
                <div class="section-{{ forloop.index }} dynamic-content">
                {%- if data[heading] != '' and data[heading] != nil -%}
                    <h3 class="heading-3 subhead-2 font-color-body item-{{ forloop.index }}">{{ data[heading] }}</h3>
                    <div class="spacer"></div>
                {%- endif -%}
                {%- if data[content] != '' and data[content] != nil -%}
                    <div class="content-block-{{ forloop.index }}">
                        {{ data[content] | html_safe }}
                    </div>
                    <div class="spacer"></div>
                {%- endif -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
        </div>
    </div>
</div>