---
metadata: {
    page_slug: "news",
    slug: "{{ context.exports.data.item.slug }}",
    page_title: "News | {{ context.exports.data.item.title }}",
    layout: "details"
}
---
{% comment %} ? THIS IS TO SET DEFAULT VALUES FOR NEWS IMAGE {% endcomment %}
{% comment %} ? THIS BLOCK OF CODE UNDER THIS COMMENT CAN BE DELETED ONCE IMAGES ON NEWS DATABASE IS POPULATED BY THE USER{% endcomment %}
{% parse_json news_details %}
[
    {
        "image": "{{ 'modules/website/images/default-images/news/news_details_1.jpg' | asset_url }}",
        "slug": "the-beginners-guide-to-website-development"
    },
    {
        "image": "{{ 'modules/website/images/default-images/news/news_details_2.jpg' | asset_url }}",
        "slug": "advantages-of-working-remotely"
    },
    {
        "image": "{{ 'modules/website/images/default-images/news/news_details_3.jpg' | asset_url }}",
        "slug": "how-to-reach-customers-everywhere-with-mobile-seo"
    },
    {
        "image": "{{ 'modules/website/images/default-images/news/news_details_4.jpg' | asset_url }}",
        "slug": "elevate-your-brand-with-expert-design"
    },
    {
        "image": "{{ 'modules/website/images/default-images/news/news_details_5.jpg' | asset_url }}",
        "slug": "design-as-storytelling-crafting-narratives-through-visuals"
    },
    {
        "image": "{{ 'modules/website/images/default-images/news/news_details_6.jpg' | asset_url }}",
        "slug": "8-mobile-ux-best-practices-every-designer-should-consider"
    }
]
{% endparse_json %}
{% comment %} ? DELETE UNTIL THIS LINE OF CODE ONCE NEWS DATABASE IS POPULATED {% endcomment %}

{% if context.exports.data.item.status != "Published" %}
    <script>
      window.location.href = "{{ '/404' }}"
    </script>
{% endif %}

  <div class="news-header-container">
    <div class="newsContentContainer full-width-banner-content-left-only">
      <div class="spacer xxx-large"></div>
      <div class="news-content">
          <a class="news-back-link" href="/news"><span class="news-back-btn"> <b> <i class="icon-arrow-back"></i> Back to news list </b> </span></a>
          <div class="spacer small"></div>

          <div class="newsTitle">
              <h2>{{ context.exports.data.item.title }}</h2>
          </div>
          <div class="spacer medium"></div>

          <div class="description">
              <p class="subHeading">{{ context.exports.data.item.list_view_text }}</p>
          </div>

          <div class="spacer medium"></div>
          <div class="news-author">
            {%- graphql get_author = 'modules/website/news/get_author', external_id: context.exports.data.item.author -%}
            {%- assign get_author = get_author | dig: 'items', 'results' | first -%}
            {% if context.exports.data.item.author != blank %}
                <p class="subHeading">Published on {{ context.exports.data.item.published_date | date: "%b %d, %Y" }} by {{ get_author.first_name }} {{ get_author.last_name }}</p>
            {% else %}
                <p class="subHeading">Published on {{ context.exports.data.item.published_date | date: "%b %d, %Y" }} by Mark Webber</p>
            {% endif %}                  
          </div>
          <div class="spacer medium"></div>

          <div class="tagButton">
              <ins-tag 
                  label="{{ context.exports.data.item.tag }}" 
                  icon="icon-star" 
                  class="news-tag"
                  {% if context.exports.data.item.tag == 'Web Development'%}
                      color="green"
                  {% endif %}
                  {% if context.exports.data.item.tag == 'SEO'%}
                      color="red"
                  {% endif %}
                  {% if context.exports.data.item.tag == 'Design'%}
                      color="blue"
                  {% endif %}
                  >
              </ins-tag>
          </div>
      </div>
    </div>
    <div class="news-header-img-container">
      <img loading="lazy" alt="image" src="{{ context.exports.data.item.list_view_image.url }}"/>
    </div>
  </div>

  <div class="grid-container">    
    <div class="spacer hide-for-small-only section"></div>
    <div class="spacer xxx-large show-for-small-only"></div>

    <div class="news-details-holder subHeading">
      <ins-markdown
        value="{{ context.exports.data.item.content }}">
      </ins-markdown>      
    </div>
    <div class="spacer hide-for-small-only section"></div>
    <div class="spacer xxx-large show-for-small-only"></div> 
  </div>
</section>