<section class="news-banner">
    <div class="blocks-hero-04 wrapper">
        <div class="grid-container">
            <div class="spacer"></div>
            <div class="grid-x align-center">
                <div class="large-6 medium-10 small-12 cell">
                    <div class="title">
                        NEWS
                    </div>
                    <div class="spacer"></div>
                    <ins-input placeholder="" value="search" icon="icon-search">
                    </ins-input>
                </div>
            </div>
            <div class="spacer large"></div>
        </div>
    </div>
</section>


<section class="news-content">
    <div class="blocks-sc-3col-02 wrapper bg-color-ui-01">
        <div class="our-team grid-container main-container" data-test="page-our-team-list">
            <div class="team-list grid-x gutter-medium grid-padding-x grid-padding-y">
            <!-- segment -->
            <div class="large-4 medium-6 small-12 cell" data-test="our-team-list-card">
                <a>
                    <img src="{{ 'modules/website/images/news/image-0.png' | asset_url }} "/>
                </a>
                <div class="newsContentContainer">
                    <div class="spacer x-large"></div>
                    <span>            
                        <img style="width: 60px" src="{{ 'modules/website/images/news/tag.png' | asset_url }} "/>
                    </span>
                    <div class="spacer x-small"></div>
                    <a>
                    <h3>The Beginner's Guide to Website Development</h3>
                    </a>
                    <div class="spacer x-small"></div>
                    <p><strong>Published on Oct 20, 2022 BY Mark Webber</strong></p>
                    <div class="spacer"></div>
                    <div class="description">
                        What skills do I need as a web developer? The basics of how the Internet and websites work. The basics of HTML, CSS, and JavaScript. Libraries and frameworks, like jQuery, React.js, and Bootstrap. Other programming languages, like Python and Ruby (for back-end web devs only) Git and GitHub.
                    </div>
                    <div class="spacer"></div>
                    <div class="custom-publish-info">READ MORE >></div>
                </div>
            </div>
            <!-- /segment -->

                        <!-- segment -->
                        <div class="large-4 medium-6 small-12 cell" data-test="our-team-list-card">
                            <a>
                                <img src="{{ 'modules/website/images/news/image-1.png' | asset_url }} "/>
                            </a>
                            <div class="newsContentContainer">
                                <div class="spacer x-large"></div>
                                <span>            
                                    <img style="width: 60px" src="{{ 'modules/website/images/news/tag.png' | asset_url }} "/>
                                </span>
                                <div class="spacer x-small"></div>
                                <a>
                                <h3>The Beginner's Guide to Website Development</h3>
                                </a>
                                <div class="spacer x-small"></div>
                                <p><strong>Published on Oct 20, 2022 BY Mark Webber</strong></p>
                                <div class="spacer"></div>
                                <div class="description">
                                    What skills do I need as a web developer? The basics of how the Internet and websites work. The basics of HTML, CSS, and JavaScript. Libraries and frameworks, like jQuery, React.js, and Bootstrap. Other programming languages, like Python and Ruby (for back-end web devs only) Git and GitHub.
                                </div>
                                <div class="spacer"></div>
                                <div class="custom-publish-info">READ MORE >></div>
                            </div>
                        </div>
                        <!-- /segment -->
                                    <!-- segment -->
            <div class="large-4 medium-6 small-12 cell" data-test="our-team-list-card">
                <a>
                    <img src="{{ 'modules/website/images/news/image-2.png' | asset_url }} "/>
                </a>
                <div class="newsContentContainer">
                    <div class="spacer x-large"></div>
                    <span>            
                        <img style="width: 60px" src="{{ 'modules/website/images/news/tag.png' | asset_url }} "/>
                    </span>
                    <div class="spacer x-small"></div>
                    <a>
                    <h3>The Beginner's Guide to Website Development</h3>
                    </a>
                    <div class="spacer x-small"></div>
                    <p><strong>Published on Oct 20, 2022 BY Mark Webber</strong></p>
                    <div class="spacer"></div>
                    <div class="description">
                        What skills do I need as a web developer? The basics of how the Internet and websites work. The basics of HTML, CSS, and JavaScript. Libraries and frameworks, like jQuery, React.js, and Bootstrap. Other programming languages, like Python and Ruby (for back-end web devs only) Git and GitHub.
                    </div>
                    <div class="spacer"></div>
                    <div class="custom-publish-info">READ MORE >></div>
                </div>
            </div>
            <!-- /segment -->
                        <!-- segment -->
                        <div class="large-4 medium-6 small-12 cell" data-test="our-team-list-card">
                            <a>
                                <img src="{{ 'modules/website/images/news/image-3.png' | asset_url }} "/>
                            </a>
                            <div class="newsContentContainer">
                                <div class="spacer x-large"></div>
                                <span>            
                                    <img style="width: 60px" src="{{ 'modules/website/images/news/tag.png' | asset_url }} "/>
                                </span>
                                <div class="spacer x-small"></div>
                                <a>
                                <h3>The Beginner's Guide to Website Development</h3>
                                </a>
                                <div class="spacer x-small"></div>
                                <p><strong>Published on Oct 20, 2022 BY Mark Webber</strong></p>
                                <div class="spacer"></div>
                                <div class="description">
                                    What skills do I need as a web developer? The basics of how the Internet and websites work. The basics of HTML, CSS, and JavaScript. Libraries and frameworks, like jQuery, React.js, and Bootstrap. Other programming languages, like Python and Ruby (for back-end web devs only) Git and GitHub.
                                </div>
                                <div class="spacer"></div>
                                <div class="custom-publish-info">READ MORE >></div>
                            </div>
                        </div>
                        <!-- /segment -->
                                    <!-- segment -->
            <div class="large-4 medium-6 small-12 cell" data-test="our-team-list-card">
                <a>
                    <img src="{{ 'modules/website/images/news/image-4.png' | asset_url }} "/>
                </a>
                <div class="newsContentContainer">
                    <div class="spacer x-large"></div>
                    <span>            
                        <img style="width: 60px" src="{{ 'modules/website/images/news/tag.png' | asset_url }} "/>
                    </span>
                    <div class="spacer x-small"></div>
                    <a>
                    <h3>The Beginner's Guide to Website Development</h3>
                    </a>
                    <div class="spacer x-small"></div>
                    <p><strong>Published on Oct 20, 2022 BY Mark Webber</strong></p>
                    <div class="spacer"></div>
                    <div class="description">
                        What skills do I need as a web developer? The basics of how the Internet and websites work. The basics of HTML, CSS, and JavaScript. Libraries and frameworks, like jQuery, React.js, and Bootstrap. Other programming languages, like Python and Ruby (for back-end web devs only) Git and GitHub.
                    </div>
                    <div class="spacer"></div>
                    <div class="custom-publish-info">READ MORE >></div>
                </div>
            </div>
            <!-- /segment -->
                        <!-- segment -->
                        <div class="large-4 medium-6 small-12 cell" data-test="our-team-list-card">
                            <a>
                                <img src="{{ 'modules/website/images/news/image-5.png' | asset_url }} "/>
                            </a>
                            <div class="newsContentContainer">
                                <div class="spacer x-large"></div>
                                <span>            
                                    <img style="width: 60px" src="{{ 'modules/website/images/news/tag.png' | asset_url }} "/>
                                </span>
                                <div class="spacer x-small"></div>
                                <a>
                                <h3>The Beginner's Guide to Website Development</h3>
                                </a>
                                <div class="spacer x-small"></div>
                                <p><strong>Published on Oct 20, 2022 BY Mark Webber</strong></p>
                                <div class="spacer"></div>
                                <div class="description">
                                    What skills do I need as a web developer? The basics of how the Internet and websites work. The basics of HTML, CSS, and JavaScript. Libraries and frameworks, like jQuery, React.js, and Bootstrap. Other programming languages, like Python and Ruby (for back-end web devs only) Git and GitHub.
                                </div>
                                <div class="spacer"></div>
                                <div class="custom-publish-info">READ MORE >></div>
                            </div>
                        </div>
                        <!-- /segment -->
        </div>
    </div>
    <div class="spacer"></div>
</section>