<section class="news-banner">
    <div class="blocks-hero-04 wrapper">
        <div class="grid-container">
            <div class="spacer"></div>
            <div class="grid-x align-center">
                <div class="large-6 medium-10 small-12 cell">
                    <div class="title">
                        NEWS
                    </div>
                    <div class="spacer"></div>
                    <ins-input placeholder="" value="search" icon="icon-search">
                    </ins-input>
                </div>
            </div>
            <div class="spacer large"></div>
        </div>
    </div>
</section>


<section class="news-content">
    <div class="blocks-sc-3col-02 wrapper bg-color-ui-01">
        <div class="our-team grid-container main-container" data-test="page-our-team-list">
            <div class="team-list grid-x gutter-medium grid-padding-x grid-padding-y">
                {% for item in res_news %}
                    <div class="large-4 medium-6 small-12 cell" data-test="our-team-list-card">
                        <div class="newsImageContainer">
                            <a>
                                <img alt="news image" style="height: 256px;" src="{{ item.list_view_image.versions.Desktop }}"/>
                            </a>
                        </div>

                        <div class="newsContentContainer">
                            <div class="spacer x-large"></div>
                            <span>            
                                <img alt="icon" style="width: 60px" src="{{ 'modules/website/images/news/tag.png' | asset_url }} "/>
                            </span>
                            <div class="spacer x-small"></div>
                            <a>
                                <div class="newsTitle">
                                    <h3>{{ item.title }}</h3>
                                </div>
                            </a>
                            <div class="spacer x-small"></div>
                            <p><strong>{{ item.published_date }} BY {{ item.author }}</strong></p>
                            <div class="spacer"></div>
                            <div class="description" style="height: 3.6em;">
                                {{ item.list_view_text }}
                            </div>
                            <div class="spacer"></div>
                            <div class="custom-publish-info">READ MORE >></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

<div class="spacer"></div>
</section>