---
slug: forgot-password
layout: modules/portal/portal_system_pages
searchable: false
max_deep_level: 1
metadata: {
    "status": "published",
    "page_name": "Portal | Forgot Password",
    "open_graph:url": "{{ context.exports.global.company_url | strip }}",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "",
    "open_graph:description": "",
    "open_graph:site_name": "{{ context.exports.global.company_name | strip }}",
    "meta_title": "",
    "page_title": "Forgot Password | Insites Portal",
    "meta_description": "",
    "canonical_url": "",
    "is_visible_to_search_engines": false,
    "sitemap_enabled": false,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "0", ## secondary order (ASC)
    "sitemap_changefreq": "never"
}
---

{%- if context.current_user -%}    
    {%- redirect_to '/overview' -%} 
{%- endif -%} 

{%- if context.flash.notice != blank -%}

{%- parse_json messageInfo -%}
{
    "title" : "Email sent!",
    "type": "success",
    "message": "<p class='p-dark'>If you provided the matching email to your account, we have sent you the password reset instructions.</p><div class='spacer'></div><p>Go to <a class='a-label-no-visit' href='/sign-in'>sign in.</a>"
}
{%- endparse_json -%}
{%- include 'modules/portal/system/form_result', messageInfo: messageInfo -%}

{%- else -%}

{% comment %} <div class="sign-up grid-x">
    <div class="large-6 cell forgot-password">
        <h3 class="heading-3">Forgot your password?</h3>
        <div class="spacer x-small"></div>
        <p class="p-body p-dark">Enter your email address below and we'll get you back on track.</p>
        <div class="spacer x-large"></div>
        {%- include_form 'modules/portal/forgot_password' -%}
    </div>
</div> {% endcomment %}

<div class="sign-up grid-x">
    <div class="large-8 cell sign-in-field">
        <h3 class="heading-3">Forgot your password?</h3>
        <div class="spacer x-small"></div>
        <p class="p-body p-dark">Enter your email address below and we'll get you back on track.</p>
        <div class="spacer x-large"></div>
        {%- include_form 'modules/portal/forgot_password' -%}
    </div>
</div>

{%- endif -%}



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

{%- if context.environment == "staging" -%}
    <script src="{{ 'modules/portal/services/apiServices.js' | asset_url }}"></script>
    <script src="{{ 'modules/portal/scripts/login-scripts.js' | asset_url }}"></script>
{%- else -%}
    <script src="{{ 'modules/portal/services/apiServices.min.js' | asset_url }}"></script>
    <script src="{{ 'modules/portal/scripts/login-scripts.min.js' | asset_url }}"></script>
{%- endif -%}