---
name: change_password
resource: User
resource_owner: anyone
redirect_to: password-reset
flash_alert: Sorry-PasswordReset
flash_notice: Your password has been updated.
fields:
  email:
    property_options:
      readonly: true
  password:
    validation:
      confirmation: true
      message: Password doesn't match
  password_confirmation:
    property_options:
      virtual: true
---



{%- form 
  html-id: "password-reset-form"
  html-class: 'insites-form insites-form-code' 
  html-novalidate: true
  html-enctype="multipart/form-data"
  html-onsubmit:"return LoginScript.methods.validateForm(event)" -%}

  <div class="insites-form-grid">
    <div class="form-group" active>

      <input name="token" value="{{ context.params.token }}" type="hidden">
      <input name="email" value="{{ form.email }}" type="hidden">

    {% if context.params.slug == 'my-details' %}
      <div class="column-1">
        <div class="spacer large"></div>
        <h2 class="heading-2">Change Password</h2>
        <div class="spacer small"></div>
        <p>Please note that you will automatically be signed out after succesfully changing your password.</p>
        <div class="spacer small"></div>
      </div>
    {% else %}
      <div class="column-1">
        <h1 class="heading-1">Password Reset</h1>
        <div class="spacer x-large"></div>        
      </div>
    {% endif %}

      <div class="column-2">
        <ins-input validate
          id="password"
          label="New Password"
          field="password"
          name="{{ form.fields.password.name }}" 
          value="{{ form.fields.password.value }}" 
          {% if form.errors['password'] %} has-error {% endif %}
          {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
          {% if errmatch %}
          error-message="Password doesn't match" 
          {% else %}
          error-message="Invalid password" 
          {% endif %}
          placeholder="Enter your new password">
        </ins-input>
      </div>

      <div class="column-2"></div>

      <div class="column-2">
        <ins-input validate
          id="password_confirmation"
          label="Confirm Password"
          field="password"
          name="{{ form.fields.password_confirmation.name }}" 
          value="{{ form.fields.password_confirmation.value }}" 
          {% if form.errors['password'] %} has-error {% endif %}
          {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
          {% if errmatch %}
          error-message="Password doesn't match" 
          {% else %}
          error-message="Invalid password" 
          {% endif %}
          
          placeholder="Re-enter your new password">
        </ins-input>            
      </div>

      <div class="column-2"></div>

      <div class="column-2">
        <div class="small-12 cell spacer small"></div>
        <div class="small-12 cell">
          {% if context.params.slug == 'my-details' %}
          <ins-button id="submit-btn" label="Update Password" icon="icon-key" outlined type="submit" ></ins-button>
          {% else %}
          <ins-button id="submit-btn" class="full" label="RESET PASSWORD" solid color="blue" type="submit" ></ins-button>
          {% endif %}
        </div>
      </div>

      <div class="column-2"></div>

    </div>
  </div>

{%- endform -%}



{%- if context.flash and context.flash.alert == "Sorry-PasswordReset" -%}
<script>
setTimeout(() => {
    App.events.notyf('error', "Error in reseting password");
}, 200);
</script>
{% endif -%}
