---
name: my_company_details
resource: modules/insites_core/crm_company
resource_owner: anyone
flash_alert: Error-Company-Details
flash_notice: Success-Company-Details
redirect_to: my-company-details
fields:  
  properties:
    #CRM Company Fields
    email_1:
      validation: 
        presence: true
        email: 
          message: Please use a valid email address     
    company_name:
      validation: 
        presence: true
    registered_business_number:
      validation: 
        presence: true          
    mobile_phone_number:
    mobile_phone_country_code:

    #CRM Address (Company) Fields
    company_address_1:
      property_options:
        virtual: true
    company_address_2:
      property_options:
        virtual: true
    company_suburb:
      property_options:
        virtual: true
    company_state:
      property_options:
        virtual: true
    company_postcode:
      property_options:
        virtual: true
    company_country:
      property_options:
        virtual: true    
    company_uuid:
      property_options:
        virtual: true
    company_address_uuid:
      property_options:
        virtual: true
callback_actions: |-
  {% comment %} 
    The form itself will update the CRM_Company only
    Update the company address using API
      If company already exist
        - use API to update_company_address only
      Else
        - use API to add_company (this will update the address also)
  {% endcomment %}
  {%  liquid                  
      assign data = form | json

      if form.properties.company_uuid != '' and form.properties.company_uuid != null
        graphql update_company_address = 'modules/website/trigger_api_call', name: 'modules/client/update_company_address', data: data | dig: 'items','response','body' | parse_json
        assign company_uuid = form.properties.company_uuid
      else
        graphql add_company = 'modules/website/trigger_api_call', name: 'modules/client/add_company', data: data | dig: 'items','response','body' | parse_json
        assign company_uuid = add_company.items.properties.uuid
      endif

      graphql set_company_uuid = 'modules/client/account/set_company_uuid', id: context.current_user.id, company_uuid: company_uuid       
  %}   
async_callback_actions:
  delay: 0
  priority: low
  max_attempts: 2
  content: |-
    {% comment %} Create Event Stream {% endcomment %}
    {% parse_json info %}
    {
      "description": "My Company Details Updated",
      "log": {
        "user": {
          "id": "{{ context.current_user.id }}",
          "email": "{{ context.current_user.email }}",
          "first_name": "{{ context.current_user.first_name }}",
          "last_name": "{{ context.current_user.last_name }}"
        },
        "company":{
          "company_name": "{{ form.properties.company_name }}",
          "registered_business_number": "{{ form.properties.registered_business_number }}",
          "email_1": "{{ form.properties.email_1 }}",
          "mobile_phone_country_code": "{{ form.properties.mobile_phone_country_code }}",
          "mobile_phone_number": "{{ form.properties.mobile_phone_number }}"
        },
        "company_address":{
          "address_1": "{{ form.properties.company_address_1 }}",
          "address_2": "{{ form.properties.company_address_2 }}",
          "suburb": "{{ form.properties.company_suburb }}",
          "state": "{{ form.properties.company_state }}",
          "postcode": "{{ form.properties.company_postcode }}",
          "country": "{{ form.properties.company_country }}"
        }      
      }
    }
    {% endparse_json %}
    {% include 'modules/client/events/log_event', info %}
---

{%- form 
    html-id: "my-company-details-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-onsubmit:"return validateMyCompanyDetails(event);" -%}

    <input type="hidden" name="{{ form.fields.properties.company_uuid.name }}"  value="{{ data.properties.uuid }}" >
    <input type="hidden" name="{{ form.fields.properties.company_address_uuid.name }}" value="{{ data.default_address.properties.uuid }}" >

    <div class="insites-form-grid">
      {% include 'modules/client/account/registration_company_details', data: data %}
    </div>

{%- endform -%}