---
name: my_details
resource: User
resource_owner: anyone
flash_alert: Error-My-Details
flash_notice: Success-My-Details
redirect_to: my-details
fields:
  # User Fields
  email:
    validation: 
      unique:
        message: Email already exist
      presence:
        message: Please use a valid email address
      email: 
        message: Please use a valid email address      
  first_name:
    validation: 
      presence: 
        message: First name is required
  last_name:
    validation: 
      presence: 
        message: Last name is required
  
  # CRM Contact Fields        
  mobile_phone_country_code:
    property_options:
      virtual: true
  mobile_phone_number:
    property_options:
      virtual: true
  
  properties:
    address_1:
      property_options:
        virtual: true
    address_2:
      property_options:
        virtual: true
    suburb:
      property_options:
        virtual: true
    state:
      property_options:
        virtual: true
    postcode:
      property_options:
        virtual: true
    country:
      property_options:
        virtual: true

    #Contact Address
    default_address:
      property_options:
        virtual: true
    contact_uuid:
      property_options:
        virtual: true
    contact_address_uuid:
      property_options:
        virtual: true

#api_call_notifications: 
  #- modules/client/update_contact
  #- modules/client/update_contact_address
callback_actions: |-  
  {%  liquid
      assign data = form | json
      if form.properties.default_address   
        graphql api = 'modules/website/trigger_api_call', name: 'modules/client/update_contact_address', data: data | dig: 'items','response','body' | parse_json      
      else
        graphql api = 'modules/website/trigger_api_call', name: 'modules/client/add_contact_address', data: data | dig: 'items','response','body' | parse_json
      endif 
  %} 
---

{%- form 
    html-id: "user-profile-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return UserProfileScript.methods.validateForm(event);" -%}

    <div class="insites-form-grid">

      <input type="hidden" name="{{ form.fields.properties.default_address.name }}"  value="{{ data.default_address.id }}" >
      <input type="hidden" name="{{ form.fields.properties.contact_uuid.name }}"  value="{{ data.uuid }}" >
      <input type="hidden" name="{{ form.fields.properties.contact_address_uuid.name }}" value="{{ data.default_address.properties.uuid }}" >

      {% include 'modules/client/account/registration_personal_details', data: data %}
              
    </div>

{%- endform -%}