---
name: password_reset
resource: User
resource_owner: anyone
redirect_to: password-reset
flash_alert: Sorry-PasswordReset
flash_notice: Your password has been updated.
fields:
  email:
    property_options:
      readonly: true
  password:
    validation:
      confirmation: true
      message: Password doesn't match
  password_confirmation:
    property_options:
      virtual: true
---

  <div class="grid-x align-center">
    <div class="small-12 cell spacer xxx-large"></div>
    <div class="large-4 medium-9 small-12 cell">
        <h1 class="text-center">Password Reset</h1>
    </div>
    <div class="small-12 cell spacer xxx-large"></div>
    <div class="large-4 medium-9 small-12 cell">

{%- form 
  html-id: "password-reset-form"
  html-novalidate: true
  html-enctype="multipart/form-data"
  html-onsubmit:"return LoginScript.methods.validateForm(event)" -%}

  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">

      <input name="token" value="{{ context.params.token }}" type="hidden">
      <input name="email" value="{{ form.email }}" type="hidden">

      <ins-input validate
        id="password"
        label="New Password"
        field="password"
        name="{{ form.fields.password.name }}" 
        value="{{ form.fields.password.value }}" 
        {% if form.errors['password'] %} has-error {% endif %}
        {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
        {% if errmatch %}
        error-message="Password doesn't match" 
        {% else %}
        error-message="Invalid password" 
        {% endif %}
        placeholder="Enter your new password">
      </ins-input>

      <ins-input validate
        id="password_confirmation"
        label="Confirm New Password"
        field="password"
        name="{{ form.fields.password_confirmation.name }}" 
        value="{{ form.fields.password_confirmation.value }}" 
        {% if form.errors['password'] %} has-error {% endif %}
        {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
        {% if errmatch %}
        error-message="Password doesn't match" 
        {% else %}
        error-message="Invalid password" 
        {% endif %}
        
        placeholder="Re-enter your new password">
      </ins-input>      
    </div>
    <div class="small-12 cell spacer small"></div>
    <div class="small-12 cell text-center">
      <ins-button id="submit-btn" class="full" label="RESET PASSWORD" solid color="blue" type="submit" size="normal"></ins-button>
    </div>

  </div>

{%- endform -%}


    </div>
    <div class="small-12 cell spacer xxxx-large"></div>
</div>
        


{%- if context.flash and context.flash.alert == "Sorry-PasswordReset" -%}
<script>
setTimeout(() => {
    App.events.notyf('error', "Error in reseting password");
}, 200);
</script>
{% endif -%}
