---
name: sign_in
resource: Session
resource_owner: anyone
flash_notice: 'Successful'
flash_alert: 'Sorry-SignIn'
redirect_to: sign-in
fields:
  email:
    validation: 
      presence:
        message: Please use a valid email address
      email: 
        message: Please use a valid email address
  password:
    validation: 
      presence:
        message: Password is required
  redirect:
    property_options:
        virtual: true
---

{%- form 
	html-id: "sign-in-form"
	html-novalidate: true
  html-enctype="multipart/form-data"
  html-onsubmit:"return LoginScript.methods.validateForm(event);" -%}
	
	<div class="grid-x grid-padding-x">
		<div class="small-12 cell">
			<ins-input validate
				id="email"
        label="Email"
        field="email"
        name="{{ form.fields.email.name }}" 
        value="{{ form.fields.email.value }}" 
        {% if form.errors['email'] %} has-error {% endif %}
        error-message="{{ form.fields.email.validation.rules.presence.message }}"
        placeholder="Email">
			</ins-input>

      <ins-input validate
          id="password"
          label="Password"
          field="password"
          name="{{ form.fields.password.name }}" 
          value="{{ form.fields.password.value }}" 
          placeholder="Password">
      </ins-input>
    </div>

    {%- if form.errors -%}
    <div class="small-12 cell">
			<p class="warning">{{ form.errors['password'] }}</p>
		</div>
  	{%- endif -%}

		<div class="cell grid-x">
			<div class="cell text-right">
				<a class="font-color-body" href="/forgot-password">Forgot your password?</a>
			</div>
		</div>
		<div class="small-12 cell spacer x-large">
    {%- if context.flash.alert and context.flash.alert != 'Sorry-SignIn' -%}
      <div class="spacer small"></div>
      <!--<p class="error-message">{{ context.flash.alert }}</p>-->
    {%- endif -%}
    </div>

    <input type="hidden" 
        name="{{ form.fields.redirect.name }}" 
        value="{{ context.page.slug }}" >

    <div class="small-12 cell text-center">
			<ins-button id="submit-btn" label="SIGN IN" class="full" solid color="blue" type="submit" ></ins-button>
      <div class="spacer small"></div>
      <a href="/register"><ins-button label="Client registration" class="full" outlined color="blue" ></ins-button></a>
		</div>


	</div>


{%- endform -%}