---
metadata: {
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "Blogs | Insites",
    "og:description": "Blogs | Insites",
    "og:site_name": "",
    "page_title": "Blogs | Insites",
    "meta_title": "Blogs | Insites",
    "meta_description": "Blogs | Insites",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never",
    ##
    ## Metadata `database_name` and `layouts` values is used 
    ## to connect this partial / content block to the Insites Database Layouts
    ## `layouts` values should only be "list" or "details"
    ##
    "database_name": "modules/website/blog",
    "layout": "list"
}
---

{%- comment -%}
Blog: List view
{%- endcomment -%}

{%- if context.environment == "staging" -%}
<!-- start partial: Blog list page  -->
{%- endif -%}

    {%- graphql list = 'modules/website/content/get_content_layout',
        database_name: context.page.metadata.database_name,
        layout: "list" -%}
    
    {%- comment -%}Add this partial to add a page title header (https://cbo.d.pr/4m3NV6){%- endcomment -%}
    {%- include 'modules/website/content/blog/search-header' -%}
    <div class="wrapper">
        <div class="blog grid-container main-container" data-test="page-blog-list">
            <div class="spacer section"></div>              

            {%- include "modules/website/data/global_content" -%}
            {%- assign global = context.exports.global -%}    
            <!-- Blogger --> 
            {%- comment -%}
            Respect published_date
            -No need to set the Localisation
            -Blog items are saved in UTC, same as the current time 'now' is in UTC

            Pagination Controller
            - Gets from URL parameter 'page' and 'per_page' to manage paginaion
            {%- endcomment -%}

            {%- liquid                 
                assign page = context.params.page | default: 1 | plus: 0
                assign size = context.params.per_page | default: 10 | plus: 0
                assign keyword = context.params.keyword | url_decode | default: blank           
                assign timeNow = 'now' | date: "%Y-%m-%dT%H:%M:%S"     
                
                graphql blog_list = 'modules/website/content/get_blog', page: page, size: size, keyword: keyword, timeNow: timeNow | dig: 'items'
            -%}                       

            {%- if blog_list.results.size < 1 -%}
                <div class="text-center">
                    <h2 class="heading-2">No Results Found</h2>
                    <div class="spacer small"></div>
                    <p>Please try another search.</p>
                </div>
                <div class="spacer section"></div>

                {%- comment -%} Usable when blog search return zero result {%- endcomment -%}
                {%- include 'modules/website/content/blog/recent-blogs' -%}
            {%- endif -%}
            
            {%- for blog in blog_list.results -%}
                {%- assign link = "/" | append: context.page.slug | append: "/" | append: blog.slug -%}
                <article data-test="blog-list-article-{{forloop.index0}}"
                    class="grid-x grid-padding-x blog-list {% if keyword != '' -%} align-center {%- endif -%}">
                    {%- unless keyword != '' -%}
                    <div class="large-6 medium-6 small-12 cell">
                        <a href="{{ link }}" data-test="blog-list-link-image-{{forloop.index0}}">
                            {%- if blog.image.versions['List-View'] -%}
                                <img src="{{ blog.image.versions['List-View']  | replace: ' ', '%20' }}" alt="{{ blog.short_text }}" >
                            {%- else -%}
                                {% include 'modules/website/content/placeholder-image', size: 'medium' %}
                            {%- endif -%}
                        </a>
                        <div class="spacer small show-for-small-only"></div>
                    </div>
                    {%- endunless -%}
                    <div 
                        {% if keyword != '' %}
                            class="large-8 medium-10 small-12 cell" 
                        {%- else -%}
                            class="large-5 large-offset-1 medium-6 small-12 cell vertical-align-middle"
                        {%- endif -%}>
                        {%- comment -%}
                            Change the blog category tag colors.
                            - Alternatively, you can always use 'class' = 'blog category' and manage styling via CSS as well
                        {%- endcomment -%}
                        <div class="blog-article">
                            {%- if blog.category -%}
                            {% liquid
                                assign category = blog.category | downcase
                                case category
                                    when 'code'
                                        assign color = '#24BE8D'
                                        assign background = '#D0EEE5'
                                    when 'design'
                                        assign color = '#1e86e3'
                                        assign background = '#1e86e31a'
                                    when 'health'
                                        assign color = '#2BBAD9'
                                        assign background = '#2bbad91a'
                                    when 'seo'
                                        assign color = '#FFA639'
                                        assign background = '#ffa6391a'
                                endcase
                            %}
                                <ins-tag class="uppercase"
                                    icon="icon-tag1" 
                                    font-color="{{ color }}" 
                                    background-color="{{ background }}"
                                    label="{{ blog.category }}">
                                </ins-tag>
                                <div class="spacer small"></div>
                            {%- endif -%}
                            <div class="spacer large font-small blog-details">
                                <a href="{{ link }}" class="font-color-head" data-test="blog-list-link-title-{{forloop.index0}}">
                                    <h2 class="heading-3 font-blue">{{ blog.post_title | truncate: 180, " ..." }}</h2>
                                </a>
                                <div class="spacer small"></div>
                                <p class="subhead-2 font-color-sub">
                                    Published on {{ blog.published_date | date: '%b %d, %Y' }} by {{ blog.author }}
                                </p>
                            </div>
                            <div class="blog-description">
                                <p class="font-grey">{{ blog.short_text | truncate: 420, " ..." }}</p>
                                <div class=" spacer large"></div>
                            </div>
                            <a class="button-default color-main" href="{{ link }}" data-test="blog-list-link-{{forloop.index0}}">
                                Read More &nbsp;<i class="icon-angle-right"></i></a>
                        </div>
                        {%- unless forloop.last -%}
                            {%- if context.params.keyword -%}
                                <div class="spacer large"></div>
                                <hr>
                                <div class="spacer large"></div>
                            {%- endif -%}
                        {%- endunless -%}
                    </div>
                </article>
                {% liquid
                    if context.params.keyword == blank
                        unless forloop.last
                            echo '<div class="spacer section"></div>'
                        endunless
                    endif
                %}


                {%- if forloop.last and blog_list.has_next_page or blog_list.has_previous_page -%}
                    <div class="blog-pagination grid-container">
                        <div class="spacer xxxx-large"></div>
                        <div class="grid-x grid-padding-x align-center">
                            {%- if context.params.keyword -%}
                                <div class="large-8 medium-10 small-12 cell">
                                <div class="grid-x">
                            {%- endif -%}

                            <div class="large-6 medium-6 small-6 cell text-left">
                                {%- if blog_list.has_previous_page -%}
                                <ins-button outlined 
                                    id="previousPage"
                                    label="Previous"
                                    data-test="blog-list-link-previous-page">
                                </ins-button>
                                {%- endif -%}
                            </div>
                            <div class="large-6 medium-6 small-6 cell text-right">
                                {%- if blog_list.has_next_page -%}
                                <ins-button solid 
                                    label="Next"
                                    id="nextPage"
                                    data-test="blog-list-link-next-page">
                                </ins-button>
                                {%- endif -%}
                            </div>

                            {%- if context.params.keyword -%}
                                </div>
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}
            {%- endfor %}

            {%- comment -%}Pagination controller script{%- endcomment -%}
            {%- if blog_list -%}
            <script>
                let page = {{ page }}, size = {{ size }}, total_pages = {{ blog_list.total_pages }};
                let prevBtn = document.getElementById('previousPage');
                let nextBtn = document.getElementById('nextPage');
                let paginationSizeEl = document.getElementById('paginationSize');

                    if(prevBtn) {
                        prevBtn.addEventListener('click', () => {
                            if(page > 1) {
                                page--;
                                prevBtn.loading = true;
                                if(nextBtn)
                                    nextBtn.disabled = true;
                                blogRefresh();
                            }
                        });
                    }

                    if(nextBtn) {
                        nextBtn.addEventListener('click', () => {
                            if(page < total_pages) {
                                page++;
                                nextBtn.loading = true;
                                if(prevBtn)
                                    prevBtn.disabled = true;
                                blogRefresh();
                            }
                        });
                    }

                    if(paginationSizeEl) {
                        paginationSizeEl.addEventListener('valueChange', (event) => {
                            page = 1;
                            size = event.detail;
                            blogRefresh();
                        });
                    }

                    function blogRefresh() {
                        {%- if context.params.keyword != blank -%}
                            window.location.href = `?keyword={{ context.params.keyword }}&page=${page}&per_page=${size}`;
                        {%- else -%}
                            window.location.href = `?page=${page}&per_page=${size}`;
                        {%- endif -%}
                    }
            </script>
            {%- endif -%}

            <div class="spacer section"></div>
        </div>
    </div>


{%- if context.environment == "staging" -%}
<!-- end partial: Blog list page  -->
{%- endif -%}