{%- graphql blog_list = 'modules/website/content/get_blog' 
    page: 1,
    size: 3 -%}


{%- if blog_list.items.total_entries > 0 -%}
<div class="wrapper">
    <div class="recent-blogs grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell text-center">
                <h2>Recent Blogs</h2>
                <div class="spacer xxx-large"></div>
            </div>
        </div>
        <div class="grid-x gutter-medium grid-padding-x grid-padding-y">
            {%- for blog_item in blog_list.items.results -%}
            {%- assign link = "/" | append: "blog" | append: "/" | append: blog_item.slug -%}
            <div class="large-4 medium-6 small-12 cell">
                <div class="recent-blog-list">
                    <div class="image">
                        <a href="{{ link }}" data-test="recent-blog-link-image-{{forloop.index0}}">
                            {%- if blog_item.image.versions['List-View'] -%}
                                <img src="{{ blog_item.image.versions['List-View'] | replace: ' ', '%20' }}" alt="{{ blog_item.post_title }}" loading="lazy">
                            {%- else -%}
                                {% include 'modules/website/content/placeholder-image', size: 'medium' %}
                            {%- endif -%}
                        </a>
                    </div>
                    <div class="spacer"></div>
                    <div class="title"> 
                        <a href="{{ link }}" class="font-color-head" data-test="blog-list-link-title-{{forloop.index0}}">
                            <h3>{{ blog_item.post_title | truncate: 180, " ..." }}</h3>
                        </a>
                    </div>
                    <div class="spacer"></div>
                    <div class="short-description"> 
                        <p class="font-grey">{{ blog_item.short_text | truncate: 420, " ..." }}</p>
                    </div>
                    <div class="spacer"></div>
                    <a class="button-default color-main" href="{{ link }}" data-test="blog-list-link-{{forloop.index0}}">
                        Read More &nbsp;<i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
            {%- endfor -%}
        </div>

    </div>
</div>
{%- endif -%}