{%- if context.environment == "staging" -%}
<!-- start partial: modules/website/content/layout/page-sidebar -->
{%- endif -%}

{%- comment -%}
Page Heading - H1: ie. "About Us"
- {%- include 'modules/website/content/layout/page-header' -%}
- slug defines what header text and/or images are displayed
- page header can be pure text, pure image or text + image
- if 'no images' are uploaded, it will just have a background color set by CSS class
- 'background_class' can be passed to set a 'CSS class' on the header ie. to control background color
    ie. {%- include 'modules/website/content/layout/page-header', background_class: 'bg-color-ui-02' -%}
{%- endcomment -%}

{% liquid
    assign alt_default = context.params.slug | replace: '-', ' ' | capitalize
    assign slug = context.params.slug | prepend: '/'
    assign background_class = background_class | default: 'background-color-gradiant1'

    graphql header = 'modules/website/content/get_page_header', slug: slug
%}

{%- if header.items.total_entries > 0 -%}
    {% liquid
        assign header = header.items.results | first
        assign header_text = header.header_text | strip
        assign short_text = header.short_text | strip
    %}

    {%- comment -%}If no images, apply background CSS class{%- endcomment -%}
    <div class="wrapper page-header-wrap {% unless header.image.versions['Desktop'] and header.image.versions['Mobile'] %}{{ background_class }}{% endunless %}"
        data-test="page-header-wrapper">
        {%- comment -%}Page header image {%- endcomment -%}
        {%- if header.image.versions['Desktop'] and header.image.versions['Mobile'] -%}
            <div class="img-wrap">
                <img src="{{ header.image.versions['Desktop'] | replace: ' ', '%20' }}" alt="{{ header_text | default: alt_default }}" 
                    class="hide-for-small-only" loading="lazy">
                <img src="{{ header.image.versions['Mobile'] | replace: ' ', '%20' }}" alt="{{ header_text | default: alt_default }}" 
                    class="show-for-small-only" loading="lazy">
            </div>
        {%- endif -%}
        
        {%- comment -%}Page header text content {%- endcomment -%}
        <div class="page-heading text-center {% if header.image.versions['Desktop'] and header.image.versions['Mobile'] %}vertical-align-middle{% endif %}">
            <div class="grid-x align-center">
                <div class="large-8 medium-10 small-12 cell">
                    {%- comment -%}Add spacers if header has no image {%- endcomment -%}
                    {%- unless header.image.versions['Desktop'] and header.image.versions['Mobile'] -%}
                        <div class="spacer xx-large"></div>
                    {%- endunless -%}
                    {%- comment -%}H1 Text{%- endcomment -%}
                    {%- if context.params.keyword -%}
                        <h1>Search Results for "{{ context.params.keyword | truncate: 100, " ..." }}"</h1>
                        {%- if short_text != "" -%}
                            <div class="spacer"></div>
                        {%- endif -%}
                    {%- else -%}
                        {%- if header_text != "" -%}
                            <h1 class="capitalize">
                                {{ header_text }}
                            </h1>
                            {% if header_text != "" and short_text != "" %}
                            <div class="spacer"></div>
                            {% endif %}
                        {%- endif -%}
                    {%- endif -%}
                    {%- comment -%}Short Text{%- endcomment -%}
                    {%- if short_text != "" -%}
                        <p>{{ short_text }}</p>
                    {%- endif -%}
                    
                    <div class="spacer small"></div>
                    <ins-input icon-event
                        id="blog-search"
                        class="large-field" 
                        placeholder="Search blog title"
                        value="{{ context.params.keyword | url_decode }}"
                        icon="icon-search">
                    </ins-input>

                    {%- comment -%}Add spacers if header has no image {%- endcomment -%}
                    {%- unless header.image.versions['Desktop'] and header.image.versions['Mobile'] -%}
                        <div class="spacer xx-large"></div>
                    {%- endunless -%}
                </div>
            </div>
        </div>
    </div>
{%- endif -%}

<script>
let blogSearch = document.getElementById('blog-search');
    if(blogSearch) {
        blogSearch.addEventListener('insInput', searchHandler);
        blogSearch.addEventListener('insIconClick', event => searchHandler(event, true))
    }

function searchHandler(event, click = false) {
    if ((event.detail.keyCode === 13 && event.detail.value !== "") || 
        (click && event.detail.value !== "")) 
    {
        window.location = `/blog?keyword=${encodeURIComponent(event.detail.value)}`;
    } else if (event.detail.value == "") {
        window.location = `/blog`;
    }
}
</script>

{%- if context.environment == "staging" -%}
<!-- end partial: modules/website/content/layout/page-sidebar -->
{%- endif -%}