---
name: register
resource: User
resource_owner: anyone
flash_alert: Sorry-Signup
flash_notice: Congratulations-Signup
redirect_to: register
fields:
  email:
    validation: 
      presence:
        message: Please use a valid email address
      email: 
        message: Please use a valid email address
  password:
    validation: 
      presence: 
        message: Invalid Password
  first_name:
    validation: 
      presence: 
        message: First name is required
  last_name:
    validation: 
      presence: 
        message: Last name is required
  profiles:
    modules/insites_core/crm_contact:
      properties:
        mobile_phone_number:
        mobile_phone_country_code: 
    # modules/insites_core/crm_address:
    #   properties:
    #     address_1:
# api_call_notifications:
#   - modules/insites_core/insites_create_crm_activity
#default_payload: |-
#callback_actions: |- 
---


{%- form 
    html-id: "sign-up-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return LoginScript.methods.validateForm(event);" -%}

  <div class="insites-form-grid">
    {%- assign props = form.fields.profiles['modules/insites_core/insites_contact_number'].properties -%}

    <input type="hidden" id="mobile_phone_number" 
        name="{{ props.mobile_phone_number.name }}"
        value="{{ props.mobile_phone_number.value }}" >

    {%- assign country_code = props.mobile_phone_country_code.value | default: "61" -%}
    <input type="hidden" id="mobile_phone_country_code" 
        name="{{ props.mobile_phone_country_code.name }}"
        value="{{ country_code }}" >
        

    <div class="form-group" active>

      <div class="column-1">
          <h2 class="heading-2">Personal Details</h2>
      </div>

      <div class="column-2">
        <ins-input validate
            id="first-name"
            label="First Name*"
            name="{{ form.fields.first_name.name }}" 
            value="{{ form.fields.first_name.value }}" 
            {% if form.errors['first_name'] %} has-error {% endif %}
            error-message="{{ form.fields.first_name.validation.rules.presence.message }}"
            placeholder="First Name">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input validate
            id="last-name"
            label="Last Name*"
            name="{{ form.fields.last_name.name }}" 
            value="{{ form.fields.last_name.value }}" 
            {% if form.errors['last_name'] %} has-error {% endif %}
            error-message="{{ form.fields.last_name.validation.rules.presence.message }}"
            placeholder="Last Name">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input validate
            id="email"
            label="Email*"
            field="email"
            name="{{ form.fields.email.name }}" 
            value="{{ form.fields.email.value }}" 
            {% if form.errors['email'] %} has-error {% endif %}
            error-message="{{ form.fields.email.validation.rules.presence.message }}"
            placeholder="Email">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input-tel
            id="mobile-phone"
            label="Mobile Phone" 
            phonenum-value="{{ form.fields.profiles['modules/insites_core/insites_contact_number'].properties.mobile_phone_number.value }}" 
            country-code="{{ form.fields.profiles['modules/insites_core/insites_contact_number'].properties.mobile_phone_country_code.value }}"
            phonenum-placeholder="Phone Number" 
            no-areacode
            error-message="Please use a valid phone number">
        </ins-input-tel>

        <input type="hidden" name="{{ form.fields.profiles['modules/insites_core/insites_customer'].properties.is_enabled.name }}" value="{{ form.fields.profiles['modules/insites_core/insites_customer'].properties.is_enabled.value }}">
        <input type="hidden" name="{{ form.fields.profiles['modules/ecommerce/customer'].properties.is_enabled.name }}" value="{{ form.fields.profiles['modules/ecommerce/customer'].properties.is_enabled.value }}">
        <input type="hidden" name="{{ form.fields.profiles['modules/ecommerce/customer'].properties.is_activated.name }}" value="{{ form.fields.profiles['modules/ecommerce/customer'].properties.is_activated.value }}">
      </div>

      <div class="column-1">
        <ins-input 
          address-lookup 
          label="Search Addresss" 
          id="shipping-address-search"
          name="search"
          placeholder="Search Addresss"
          icon="icon-map-pin">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field validate
            id="search_address_1"
            label="Address 1"
            name="{{ form.fields.properties.address_1.name }}" 
            value="{{ form.fields.properties.address_1.value }}" 
            {% if form.errors['properties.address_1'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.address_1.validation.rules.presence.message }}"
            placeholder="Address 1">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field
            id="search_address_2"
            label="Address 2"
            name="{{ form.fields.properties.address_2.name }}" 
            value="{{ form.fields.properties.address_2.value }}" 
            {% if form.errors['properties.address_2'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.address_2.validation.rules.presence.message }}"
            placeholder="Address 2">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field validate
            id="search_city"
            label="Suburb"
            name="{{ form.fields.properties.city.name }}" 
            value="{{ form.fields.properties.city.value }}" 
            {% if form.errors['properties.city'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.city.validation.rules.presence.message }}"
            placeholder="City">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field validate
            id="search_state"
            label="State"
            name="{{ form.fields.properties.state.name }}" 
            value="{{ form.fields.properties.state.value }}" 
            {% if form.errors['properties.state'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.state.validation.rules.presence.message }}"
            placeholder="State">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field validate
            id="search_postcode"
            label="ZIP / Postcode"
            name="{{ form.fields.properties.postcode.name }}" 
            value="{{ form.fields.properties.postcode.value }}" 
            {% if form.errors['properties.postcode'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.postcode.validation.rules.presence.message }}"
            placeholder="ZIP / Postcode">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field validate
            id="search_country"
            label="Country"
            name="{{ form.fields.properties.country.name }}" 
            value="{{ form.fields.properties.country.value }}" 
            {% if form.errors['properties.country'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.country.validation.rules.presence.message }}"
            placeholder="Country">
        </ins-input>
      </div>

      <div class="column-1">
          <div class="spacer small"></div>
          <h2 class="heading-2">Account Details</h2>
      </div>


      <div class="column-2">
        <ins-input validate
          id="password"
          label="Password*"
          field="password"
          name="{{ form.fields.password.name }}" 
          value="{{ form.fields.password.value }}" 
          {% if form.errors['password'] %} has-error {% endif %}
          error-message="{{ form.fields.password.validation.rules.presence.message }}"
          placeholder="Password">
        </ins-input>
      </div>

    </div> 
    
    <div class="column-1">      
      <div class="spacer small"></div>
      <div class="grid-x">
        <div class="cell large-6 medium-6 small-12"> <a href="/client-portal/questionnaires"><ins-button type="button" label="CANCEL" icon="icon-close-1" outlined ></ins-button></a></div>
        <div class="cell large-6 medium-6 small-12 text-right"><ins-button type="submit" id="sign-up-btn" label="NEXT" icon-right="icon-arrow-forward" solid ></ins-button></div>
      </div>  
    </div>

  </div>

{%- endform -%}