<div id="invoice-details">
    <h2 class="heading-2">Invoice Details</h2>
    <div class="spacer x-large"></div>

    <div class="grid-x grid-padding-x invoice-details">
        {%- graphql data = 'modules/client/account/get_current_user' -%}
        <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate account-details-field
                class="label-input"
                label="Invoice Number*" 
                placeholder="Invoice Number"
                field="text"
                id="invoice-number"
                name="{{ form.fields.properties.product_name.name }}" 
                value="{{ form.fields.properties.product_name.value }}"
                {% if form.errors['properties.product_name'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.product_name.validation.rules.presence.message }}">
            </ins-input>
        </div>      
        <div class="large-6 medium-6 small-12 cell">
            <ins-input required validate account-details-field
                class="label-input"
                label="Amount Excluding Tax*" 
                placeholder="Amount Excluding Tax"
                field="number"
                id="bill-amount"
                name="{{ form.fields.properties.product_price.name }}" 
                value="{{ form.fields.properties.product_price.value }}"
                {% if form.errors['properties.product_price'] %} has-error {% endif %}
                error-message="{{ form.fields.properties.product_price.validation.rules.numericality.message }}">
            </ins-input>
        </div>
    </div>
</div>