{%- if order_id -%}
    {% graphql order = "modules/ecommerce/orders/get_order_amount",
        id: context.params.order_id 
        | dig: 'items' | dig: 'results' | first %}
    {% graphql cart = "modules/ecommerce/cart/get_cart_by_field",
        order_id: context.params.order_id, is_product_price: true 
        | dig: 'items' | dig: 'results' %}
    {% assign amountPayable = cart[0].product_price | divided_by: 100 %}
    {% assign ccSurcharge = cart[1].product_price | divided_by: 100 %}
    {% assign subTotal = amountPayable | plus: ccSurcharge | default: "0.00" %}
    {% assign taxTotal = order.tax_amount | divided_by: 100 %}
    {% assign totalAmount = order.total_amount | divided_by: 100 %}
{%- endif -%}

{%- comment -%}Payment Summary{%- endcomment -%}
<div class="payment-summary">
    <h2 class="heading-2">Payment Summary</h2>
    <div class="spacer x-lage"></div>
    <div class="grid-x">
        <div class="large-9 col1">Bill Amount</div>
        <div class="large-3 col2">$150.00</div>
        <div class="cell spacer x-small"></div>
        <div class="large-9 col1">Processing Fee (1.7%)</div>
        <div class="large-3 col2">$5.00</div>
        <div class="cell spacer"></div>
        <hr>
        <div class="cell spacer small"></div>
        <div class="large-9 col1">Sub Total</div>
        <div class="large-3 col2">$155.00</div>
        <div class="cell spacer x-small"></div>
        <div class="large-9 col1">Tax</div>
        <div class="large-3 col2">$1.00</div>
        <div class="cell spacer small"></div>
        <hr>
        <div class="cell spacer small"></div>
        <div class="large-7 col1"><h3 class="heading-3">Total</h3></div>
        <div class="large-5 col2"><h3 class="heading-3">$156.00</h3></div>        
    </div>
</div>
<div class="spacer xxxx-large"></div>

{%- if order_id -%}
    {%- comment -%} Success page {%- endcomment -%}
    <script>
        let chargeAmountEl = document.getElementById('charge-amount-summary');
        let ccAmountEl = document.getElementById('cc-charge-summary');
        let subTotalEl = document.getElementById('sub-total-summary');
        let taxTotalEl = document.getElementById('tax-total-summary');
        let totalAmountEl = document.getElementById('total-amount-summary');

        setTimeout(() => {
            chargeAmountEl.innerHTML = pricify({{ amountPayable }});
            ccAmountEl.innerHTML = pricify({{ ccSurcharge }});
            subTotalEl.innerHTML = pricify({{ subTotal }});
            taxTotalEl.innerHTML = pricify({{ taxTotal }});
            totalAmountEl.innerHTML = pricify({{ totalAmount }});
        }, 500)

        function pricify(number) {
            return number.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
        }
    </script>

{%- else -%}
    {%- comment -%}Payment form {%- endcomment -%}
    <script>
    let valueChangeHandler = debounce((ev) => calculatePaymentSummary(ev));

    let amountEl = document.getElementById('bill-amount');
    let chargeAmountEl = document.getElementById('charge-amount-summary');
    let ccAmountEl = document.getElementById('cc-charge-summary');
    let subTotalEl = document.getElementById('sub-total-summary');
    let taxTotalEl = document.getElementById('tax-total-summary');
    let totalAmountEl = document.getElementById('total-amount-summary');

    function debounce(func, timeout = 500){
        let timer;
        return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
    }

    function calculatePaymentSummary(ev){
    let amountPayable = ev.detail * 1.00;
    let ccSurcharge = amountPayable * 0.017; // 1.7% credit card surcharge
    let subTotal = amountPayable + ccSurcharge;
    let taxAmount = subTotal * 0.10; // 10% Tax;
    let totalAmount = subTotal + taxAmount;

        if(chargeAmountEl) 
            chargeAmountEl.innerHTML = pricify(amountPayable);
        if(ccAmountEl) 
            ccAmountEl.innerHTML = pricify(ccSurcharge);
        if(subTotalEl) 
            subTotalEl.innerHTML = pricify(subTotal);
        if(taxTotalEl) 
            taxTotalEl.innerHTML = pricify(taxAmount);
        if(totalAmountEl) 
            totalAmountEl.innerHTML = pricify(totalAmount);
    }

    function pricify(number) {
        return number 
            ? number.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})
            : "0.00";
    }

    // init listenter
    if(amountEl) {
        amountEl.addEventListener('insValueChange', (event) => {
            event.detail > 0
                ? valueChangeHandler(event)
                : valueChangeHandler(0);
        });
    }
    </script>
{%- endif -%}