{%- form html-class: 'insites-form insites-form-code' html-novalidate: 'novalidate' html-data-form: 'modules/website/contact_us' -%}

<div class="insites-form-grid">

	<!-- Field: First Name -->
	<div class="{%- if form.metadata.properties.first_name.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<ins-input 
			data-type="string"
			data-ui="text"
			label="{%- include 'modules/insites_database/form_code/label', form: form, name: 'first_name' -%}"
			name="{{ form.fields.properties.first_name.name }}"
			value="{{ form.fields.properties.first_name.value }}"
			error-message="{{ form.errors['properties.first_name'] }}"
			{%- include 'modules/insites_database/form_code/placeholder', form: form, name: 'first_name' -%}
			{%- include 'modules/insites_database/form_code/validation/required', form: form, name: 'first_name' -%}
			{%- if form.errors['properties.first_name'] != nil -%} has-error {%- endif -%} 
			{%- include 'modules/insites_database/form_code/validation/type', form: form, name: 'first_name' -%} 
			{%- include 'modules/insites_database/form_code/validation/length', form: form, name: 'first_name' -%}>
		</ins-input>
	</div>

	<!-- Field: Last Name -->
	<div class="{%- if form.metadata.properties.last_name.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<ins-input 
			data-type="string"
			data-ui="text"
			label="{%- include 'modules/insites_database/form_code/label', form: form, name: 'last_name' -%}"
			name="{{ form.fields.properties.last_name.name }}"
			value="{{ form.fields.properties.last_name.value }}"
			error-message="{{ form.errors['properties.last_name'] }}"
			{%- include 'modules/insites_database/form_code/placeholder', form: form, name: 'last_name' -%}
			{%- include 'modules/insites_database/form_code/validation/required', form: form, name: 'last_name' -%}
			{%- if form.errors['properties.last_name'] != nil -%} has-error {%- endif -%} 
			{%- include 'modules/insites_database/form_code/validation/type', form: form, name: 'last_name' -%} 
			{%- include 'modules/insites_database/form_code/validation/length', form: form, name: 'last_name' -%}>
		</ins-input>
	</div>

	<!-- Field: Email Address -->
	<div class="{%- if form.metadata.properties.email.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<ins-input 
			data-type="string"
			data-ui="text"
			label="{%- include 'modules/insites_database/form_code/label', form: form, name: 'email' -%}"
			name="{{ form.fields.properties.email.name }}"
			value="{{ form.fields.properties.email.value }}"
			error-message="{{ form.errors['properties.email'] }}"
			{%- include 'modules/insites_database/form_code/placeholder', form: form, name: 'email' -%}
			{%- include 'modules/insites_database/form_code/validation/required', form: form, name: 'email' -%}
			{%- if form.errors['properties.email'] != nil -%} has-error {%- endif -%} 
			{%- include 'modules/insites_database/form_code/validation/type', form: form, name: 'email' -%} 
			{%- include 'modules/insites_database/form_code/validation/length', form: form, name: 'email' -%}>
		</ins-input>
	</div>

	<!-- Field: Mobile Phone -->
	<div class="{%- if form.metadata.properties.mobile_phone.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<ins-input 
			data-type="string"
			data-ui="text"
			label="{%- include 'modules/insites_database/form_code/label', form: form, name: 'mobile_phone' -%}"
			name="{{ form.fields.properties.mobile_phone.name }}"
			value="{{ form.fields.properties.mobile_phone.value }}"
			error-message="{{ form.errors['properties.mobile_phone'] }}"
			{%- include 'modules/insites_database/form_code/placeholder', form: form, name: 'mobile_phone' -%}
			{%- include 'modules/insites_database/form_code/validation/required', form: form, name: 'mobile_phone' -%}
			{%- if form.errors['properties.mobile_phone'] != nil -%} has-error {%- endif -%} 
			{%- include 'modules/insites_database/form_code/validation/type', form: form, name: 'mobile_phone' -%} 
			{%- include 'modules/insites_database/form_code/validation/length', form: form, name: 'mobile_phone' -%}>
		</ins-input>
	</div>

	<!-- Field: Message -->
	<div class="{%- if form.metadata.properties.message.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<ins-textarea 
			{% include 'modules/insites_database/form_code/validation/length', form: form, name: 'message' %} 
			data-type="string"
			data-ui="multi_line"
			label="{%- include 'modules/insites_database/form_code/label', form: form, name: 'message' -%}"
			name="{{ form.fields.properties.message.name }}"
			value="{{ form.fields.properties.message.value }}"
			error-message="{{ form.errors['properties.message'] }}"
			{%- include 'modules/insites_database/form_code/placeholder', form: form, name: 'message' -%}
			{%- include 'modules/insites_database/form_code/validation/required', form: form, name: 'message' -%}
			{%- if form.errors['properties.message'] != nil -%} has-error {%- endif -%}>
		</ins-textarea>
	</div>

	<!-- Field: Document -->
	<div class="{%- if form.metadata.properties.document.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<ins-input-file
			data-multiple="false"
			data-name="{{ form.fields.properties.document.name }}"
			data-type="upload"
			data-ui="media_file"
			data-prop="document"
			label="{%- include 'modules/insites_database/form_code/label', form: form, name: 'document' -%}"
			accepted-files=""
			capture=""
			error-message="{{ form.errors['properties.document'] }}"
			{%- include 'modules/insites_database/form_code/validation/file', form: form, name: 'document' -%}
			{%- include 'modules/insites_database/form_code/validation/required', form: form, name: 'document' -%}
			{%- if form.errors['properties.document'] != nil -%} has-error {%- endif -%}>
		</ins-input-file>
	</div>

</div>

<div class="insites-form-grid">
	<div class="column-1">
		{%- spam_protection 'recaptcha_v2' -%}
	</div>	
</div>

<div class="insites-form-grid">	
	<div class="insites-form-buttons column-1">
		<ins-button type="submit" label="SUBMIT" solid></ins-button>
	</div>
</div>

{%- endform -%}

<script id="{{ form.name }}">
	InsitesFormProcessor.setFormProps("{{ form.name }}", "{{ form.system_fields.parent_resource_id }}", {{ form.fields.properties }});
</script>