
{% comment %} Create Event Stream {% endcomment %}
{%- graphql user = "modules/portal/account/get_user_by_email" 
    email: context.current_user.email | dig: "items" | dig: "results" | first -%}
{%- assign crm_contact = user.crm_contact | first -%}
{%- assign current_user_name = user.first_name | append: ' ' | append: user.last_name | default: user.email -%}
{%- capture description -%}
    <a target="_blank" href="/admin/insites/#/crm/contacts/{{ user.id }}">{{ current_user_name| default: user.email }}</a> 
    from 
    <a target="_blank" href="/admin/insites#/crm/companies/{{ crm_contact.company_uuid }}">{{ crm_contact.company.company_name }}</a> 
    submitted feedback
{%- endcapture -%}

{%- assign payload = '{}' | parse_json -%}
{%- assign payload = payload | add_hash_key: "description", description -%}
{%- assign payload = payload | add_hash_key: "font_icon", "icon-task-added" -%}
{%- assign payload = payload | add_hash_key: "font_icon_color", "#E1B000" -%}

{% capture log_info -%}
    {
        "contact": {
            "id": "{{ user.id }}",
            "email": "{{ user.email }}",
            "first_name": "{{ user.first_name }}",
            "last_name": "{{ user.last_name }}"
        },
        "message": {
            "message": "{{ form.properties.message }}"
        },
        "contact_uuid": "{{ user.uuid }}"
    }
{%- endcapture %}

{%- assign log_info_json = log_info | parse_json -%}
{%- assign info = payload | add_hash_key: "log", log_info_json -%}
{% include 'modules/portal/events/log_event', info %}
