---
metadata: {
    partial_name: 'Portal | Overview | Overview'
}
---


{% comment %} <div class="sign-out-wrapper">
    {% include_form 'modules/portal/sign_out' %}
</div> {% endcomment %}

{%- graphql portal_banner = 'modules/portal/banners/get_banner' | dig: "items", "results" | first -%}

{% if portal_banner.size %}
    <div class="overview-banner">
        <div class="overview-details"> 
            <h5 class="heading-5">{{ portal_banner.main_text }}</h5>
            <div class="spacer x-small"></div>  
            <p class="p-dark">{{ portal_banner.sub_text }}</p>
            <div class="spacer"></div>
            <a href="{{ portal_banner.button_link }}">
                <ins-button type="button" label="{{ portal_banner.button_label }}" icon-right="icon-arrow-forward" class="m-0" solid></ins-button>
            </a>
        </div>
        <div class="overview-image" height="150" width="300"> 
            <img src="{{ portal_banner.image.url }}" alt="">
        </div>
    </div>

    <div class="spacer xxxx-large"></div>
{% endif %}

{% comment %} ? Overview Cards {% endcomment %}
{% parse_json card_details_result %}
[
    {
        "card-icon": "icon-notepad-1", 
        "card-header": "Projects", 
        "card-body": "24"
      },
      {
        "card-icon": "icon-clipboard", 
        "card-header": "Open tasks", 
        "card-body": "12"
    },
    {
        "card-icon": "icon-check-circle-1", 
        "card-header": "Completed Task", 
        "card-body": "6"
    },
    {
        "card-icon": "icon-retry", 
        "card-header": "Backorders", 
        "card-body": "8"
    },
    {
        "card-icon": "icon-box", 
        "card-header": "Completed orders", 
        "card-body": "12"
    },
    {
        "card-icon": "icon-truck", 
        "card-header": "Orders in progress", 
        "card-body": "5"
    }
]
{% endparse_json %}

<div class="overview-cards-container">
    <h3 class="heading-3">Overview</h3>
    <div class="spacer"></div>
    <div class="test grid-x grid-padding-y grid-padding-x">
        {% for details in card_details_result %}
            <div class="large-4 cell">
                <div class="overview-cards">
                    <div class="overview-card-icon-header">
                        <i class="{{ details.card-icon }}"></i>
                        <span class="overview-card-header">
                            {{ details.card-header }}
                        </span>
                    </div>
                    <div class="spacer x-small"></div>
                    <div class="overview-card-body">
                        <h4 class="heading-4">{{ details.card-body }}</h4>
                    </div>
                    <div class="spacer"></div>
                    <div class="overview-button">
                        <ins-button 
                            size="small"
                            label="View details">
                        </ins-button>
                    </div>
                </div>
            </div> 
            <div class="spacer"></div>
        {% endfor %}
    </div>  
</div>

<div class="spacer xxxx-large"></div>

<div class="request-table">
    {% assign page_num = context.params.page | default: 1 | plus: 0 %}
    {% assign per_page = context.params.per_page | default: 10 | plus: 0 %}    
    
    {%- graphql get_total_entries = 'modules/portal/overview/get_request', page: page_num, size: per_page | dig: "items" -%}
    
    {%- graphql request_result = 'modules/portal/overview/get_request', page: page_num, size: per_page | dig: "items", "results" -%}

    {% comment %} HIDDEN FIELDS FOR JAVASCRIPT {% endcomment %}
    <input type="hidden" id="total_entries" value="{{ get_total_entries.total_entries }}">
    <input type="hidden" id="per_page" value="{{ per_page }}">
    <input type="hidden" id="page_num" value="{{ page_num }}">

    <h3 class="heading-3">Requests</h3>
    <div class="spacer"></div>

    <ins-loader
        id="users-loader"
        hidden
        state-title="Processing"
        state-message="Please wait, we're processing your data."
        state-icon="processing">
    </ins-loader>

    <ins-table id="insBaseTable"
        static-table
        without-search
        {% if request_result.size == 0 or request_result == '' or request_result == nil %}
            without-pagination
        {% endif %}
        class="request-table">
        
            {% if request_result.size == 0 or request_result == '' or request_result == nil %}
                {% comment %} ? EMPTY STATE {% endcomment %}
                <div class="empty-state text-center empty-box p-body">
                    <p class="body-large-bold">No request submitted.</p>
                    <div class="spacer"></div>
                    <ins-button type="button" label="Add request" icon="icon-plus" class="m-0" solid></ins-button>
                </div> 
            {% else %}
                {% comment %} ? NOT EMPTY STATE {% endcomment %}
                <ins-table-row class="request-table-header">
                    <ins-table-th class="p-body-small-bold">
                        Description
                    </ins-table-th>

                    <ins-table-th class="p-body-small-bold hide-for-small-only">
                        Request type
                    </ins-table-th>

                    <ins-table-th class="p-body-small-bold hide-for-small-only">
                        Requested by
                    </ins-table-th>

                    <ins-table-th sortable="true" class="p-body-small-bold hide-for-small-only">
                        Date requested
                    </ins-table-th>
                </ins-table-row>
   
                {% for item in request_result %}
                    <ins-table-row class="request-table-data">

                        <ins-table-td class="body-small p-body hide-for-small-only">
                            {{ item.description}}
                        </ins-table-td>

                        <ins-table-td class="body-small p-body hide-for-small-only">
                            {{ item.type}}
                        </ins-table-td>

                        <ins-table-td class="body-small p-body hide-for-small-only">
                            {{ item.requested_by}}
                        </ins-table-td>

                        <ins-table-td class="body-small p-body hide-for-small-only">
                            {% function format_date = "modules/portal/date/format_readable_date", datetime: item.created_at %}
                            {{ format_date }}
                        </ins-table-td>

                        <ins-table-td class="body-small p-body show-for-small-only">
                        <ins-accordion-item class="request-table-accordion body-small" heading=" {{ item.description}}" open-icon="icon-caret-down" close-icon="icon-caret-up" link-target="_self">
                            <div class="spacer small"></div>
                            <p class="body-small-bold">Description</p>
                            <p class="body-small">{{ item.description}}</p>
                            <div class="spacer"></div>
                            <p class="body-small-bold">Request type</p>
                            <p class="body-small">{{ item.type}}</p>
                            <div class="spacer"></div>
                            <p class="body-small-bold">Requested by</p>
                            <p class="body-small">{{ item.requested_by}}</p>
                            <div class="spacer"></div>
                            <p class="body-small-bold">Date requested</p>
                            <p class="body-small">
                                {% function format_date = "modules/portal/date/format_readable_date", datetime: item.created_at %}
                                {{ format_date }}
                            </p>
                        </ins-accordion-item>
                        </ins-table-td>

                    </ins-table-row>
                {% endfor %}
            {% endif %}
    </ins-table>

</div>

<script>
    // hidden fields
    var total = document.getElementById('total_entries');
    var page_num = document.getElementById('page_num');
    var per_page = document.getElementById('per_page');
    
    // table
    var insBaseTable = document.getElementById('insBaseTable');
    
    // loader
    var usersLoader = document.getElementById('users-loader');
  
    insBaseTable.addEventListener('insPaginationChange', tablePaginationHandler);

    insBaseTable.pageSizeOptions = [10,20,30];
    insBaseTable.totalCount = total.value;
    insBaseTable.pageNumber = page_num.value;
    insBaseTable.pageSize = per_page.value;
        
    function processTableData(){
        // Get the current URL
        const currentUrl = window.location.href;

        // Remove any existing `page` and `per_page` query parameters
        const newUrl = currentUrl.replace(/[?&]page=\d+/, '').replace(/[?&]per_page=\d+/, '').replace(/portal&/, "portal?");

        // Set the new `page` and `per_page` values
        const newPage = pageNumber;
        const newPerPage = pageSize;

        var updatedUrl = `${newUrl}?page=${newPage}&per_page=${newPerPage}`;

        // Navigate to the updated URL
        window.location.href = updatedUrl;
    }

    function tablePaginationHandler(event){
        pageSize = event.detail.pageSize;
        pageNumber = event.detail.pageNumber;   
        processTableData();
    }
</script>
