{%- graphql hero = 'modules/website/content/get_homepage_slider' -%}
{%- assign res = hero | dig: 'items', 'results' -%}
<div class="carousel-holder">
    <div class="blocks-hero-01 homepage-banner-wrap">
        <ins-carousel no-carousel-button loop layout="1" bind-to="homepage-banner" transition="700" duration="5000"
          data-test="homepage-slider">
          <div id="homepage-banner">
          {%- for item in res -%}
            <!-- item -->
            <div class="slide-container">
              <div class="img-wrap">
                <!-- desktop image -->
                <img  loading="lazy" src="{{ item.image.versions.Desktop }}" alt="desktop image" class="hide-for-small-only"/>
                <!-- mobile image -->
                <img  loading="lazy" src="{{ item.image.versions.Mobile }}" alt="mobile image" class="show-for-small-only"/>
              </div>         
              <div class="slide-content wrapper vertical-align-middle">
                <div class="grid-x">
                  <div class="large-12 medium-12 small-12 cell">
                    <h1 class="colorWhite">{{ item.title }}</h1>
                    <div class="spacer"></div>
                    <p class="subHeading cusLongText">{{ item.short_text }}</p>
                    <div class="spacer"></div>
                    <a href='{{ item.link }}' target="">
                      <ins-button solid label="Learn More">
                      </ins-button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /item -->
          {%- endfor -%}
          
          </div>
        </ins-carousel>
    </div>
</div>