---
name: bill_payment_success
to: '{{ data.customer_info.email }}'
delay: 0
enabled: true
trigger_condition: true
from: >
    {%- include 'modules/client/emails/autoresponder_from' -%}
reply_to: >
    {%- include 'modules/client/emails/autoresponder_reply_to' -%}
cc:
bcc:
subject: Bill payment successful
layout: modules/insites_core/insites_external_email_layout
---

{% graphql get_order = 'modules/client/orders/get_order', id: data.order_id | dig: 'items','results' | first
%}

{% comment %} Compute amounts {% endcomment %}
{%- liquid
    function computed = "modules/client/pay_bills/compute_amounts", total_amount: get_order.properties.total_amount, total_tax_amount: get_order.properties.total_tax_amount, subtotal_amount: get_order.properties.subtotal_amount

    assign amount_due = computed.total_amount
    if status == 'succeeded'
        assign amount_due = 0.0
    endif
-%}

{%- assign subTotal = computed.amount | advanced_format: '%.2f' -%}
{%- assign ccSurcharge = computed.cc_surcharge | advanced_format: '%.2f' -%}
{%- assign gst = computed.tax | default: 0.00 -%}
{%- assign totalAmount = computed.total_amount | advanced_format: '%.2f' -%}

{%- assign subTotal = subTotal | pricify -%}
{%- assign ccSurcharge = ccSurcharge | pricify -%}
{%- assign gst = gst | pricify -%}
{%- assign totalAmount  = totalAmount | pricify -%}

{%- unless subTotal contains '.' -%}
    {%- assign subTotal = subTotal | append: '.00' -%}
{%- endunless -%}

{%- unless ccSurcharge contains '.' -%}
    {%- assign ccSurcharge = ccSurcharge | append: '.00' -%}
{%- endunless -%}

{%- unless gst contains '.' -%}
    {%- assign gst = gst | append: '.00' -%}
{%- endunless -%}

{%- unless totalAmount contains '.' -%}
    {%- assign totalAmount = totalAmount | append: '.00' -%}
{%- endunless -%}

{%- include 'modules/insites_core/email_layout/email_icon' -%}

<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="ae3b5e25-e601-4be7-8e69-e21f7125e6e7" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 24px 24px; line-height:27px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center"><span
              style="font-size: 24px"><strong>Payment Successful</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Content text --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 40px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center">
            <span style="white-space: pre-wrap">We have successfully processed your payment.</span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Order number --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="b13844a0-c587-4880-afda-09c68ec00c01.1.1"
  data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 40px 24px; line-height:20px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: center">
            <span style="white-space: pre-wrap; font-size: 18px"><strong>Order Number: {{ data.order_id }}</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Invoice Details --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="676a1c91-0c6a-4466-afe0-615c8939776e" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 16px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left">
            <span style="white-space: pre-wrap; font-size: 16px"><strong>Invoice Details</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Invoice Number --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Invoice Number</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap">{{ data.order_info.properties.order_reference | default: '-' }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Name --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Name</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ data.customer_info.first_name | append: ' ' | append: data.customer_info.last_name }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Email --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Email</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap">{{ data.customer_info.email | default: '-' }}</span></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Spacer --> {% endcomment %}
<table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="1cdd73c0-f6dc-4283-a005-01f96ca48196">
  <tbody>
    <tr>
      <td style="padding:0px 0px 40px 0px;" role="module-content" bgcolor="">
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Billing Details --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="676a1c91-0c6a-4466-afe0-615c8939776e" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 16px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left">
            <span style="white-space: pre-wrap; font-size: 16px"><strong>Billing Details</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Card Type --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Card Type</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ data.payment_response.payment_method_details.card.brand | upcase }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Card Number --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap"><strong>Card Number</strong></span></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">**** **** **** {{ data.payment_response.payment_method_details.card.last4 }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Expiration Date --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Expiration Date</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            {%- assign month = data.payment_response.payment_method_details.card.exp_month -%}
                            {%- if month < 10 -%}
                                {%- assign month = "0" | append: month -%}
                            {%- endif -%}
                            <span style="white-space: pre-wrap">{{ month }} / {{ data.payment_response.payment_method_details.card.exp_year }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Spacer --> {% endcomment %}
<table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="1cdd73c0-f6dc-4283-a005-01f96ca48196">
  <tbody>
    <tr>
      <td style="padding:0px 0px 40px 0px;" role="module-content" bgcolor="">
      </td>
    </tr>
  </tbody>
</table>


{% comment %} <!-- Payment Summary --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="676a1c91-0c6a-4466-afe0-615c8939776e" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 16px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left">
            <span style="white-space: pre-wrap; font-size: 16px"><strong>Payment Summary</strong></span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Bill Amount --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Bill Amount</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ subTotal }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- spacer 16px --> {% endcomment %}
<table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="bf7cb6d0-0cb0-4762-a8d0-38f7b0553216">
  <tbody>
    <tr>
      <td style="padding:0px 0px 16px 0px;" role="module-content" bgcolor="">
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Sub Total --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>Sub Total</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ subTotal }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Credit Card Processing Fee (1.7%) --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap"><strong>Credit Card Processing Fee (1.7%)</strong></span></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ ccSurcharge }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Tax --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor=""
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.4.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left"><span
                              style="white-space: pre-wrap"><strong>GST</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.5.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:24px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap">{{ gst }}</span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- spacer 16px --> {% endcomment %}
<table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="bf7cb6d0-0cb0-4762-a8d0-38f7b0553216">
  <tbody>
    <tr>
      <td style="padding:0px 0px 16px 0px;" role="module-content" bgcolor="">
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Total --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
  role="module" data-type="columns" style="padding:0px 24px 0px 24px;" bgcolor="#FFFFFF"
  data-distribution="1,1">
  <tbody>
    <tr role="module-content">
      <td height="100%" valign="top">
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 16px 0px 0px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-0">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.1.1"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:20px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap; font-size: 18px"><strong>Total</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="250"
          style="width:250px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 16px;"
          cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
          class="column column-1">
          <tbody>
            <tr>
              <td style="padding:0px;margin:0px;border-spacing:0;">
                <table class="module" role="module" data-type="text" border="0"
                  cellpadding="0" cellspacing="0" width="100%"
                  style="table-layout: fixed;"
                  data-muid="4bcbeca9-ae9c-4737-97df-52f67a0529c9.2.1.2"
                  data-mc-module-version="2019-10-22">
                  <tbody>
                    <tr>
                      <td
                        style="padding:0px 0px 0px 0px; line-height:20px; text-align:inherit;"
                        height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family: inherit; text-align: left">
                            <span style="white-space: pre-wrap; font-size: 18px"><strong>{{ totalAmount }}</strong></span>
                          </div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
