---
slug: questionnaires
layout: modules/client/default
# enable_profiler: true
searchable: false
max_deep_level: 1
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "page_name": "Questionnaires",
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "Questionnaires | Insites",
    "og:description": "Questionnaires | Insites",
    "og:site_name": "",
    "meta_title": "Questionnaires | Insites",
    "page_title": "Questionnaires | Insites",
    "meta_description": "Questionnaires | Insites",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "1", ## secondary order (ASC)
    "sitemap_changefreq": "monthly",
    "heading": "Questionnaires"
}
dynamic_cache:
  layout: true
  key: |-
    {%- parse_json models -%}
    [
      "modules/insites_site_manager/insites_global_content",
      "modules/insites_core/insites_system_fields",
      "modules/client/questionnaires"
    ]
    {%- endparse_json -%}
    {%- include "modules/website/generate_cache_key", models: models -%}
    {{context.current_user.id}}
authorization_policies:
  - modules/client/user_logged_in  
---

{%- if context.environment == "staging" -%}
<!-- start page: overview  -->
{%- endif -%}

{%- comment -%} Pagination and Filters {%- endcomment -%}
{%  liquid            
    assign page_num = context.params.page | default: 1 | plus: 0
    assign per_page = context.params.per_page | default: 6 | plus: 0
    assign year = context.params.year | default: ""
%}

{% parse_json filters %}
{
    "user_id": "{{context.current_user.id}}",
    "page": {{page_num}},
    "size": {{per_page}}      
    {% if context.params.year and context.params.year != '' %} 
    ,"year": "{{year}}"
    {% endif %} 
}
{% endparse_json %}

{%- graphql data = "modules/client/questionnaires/get_questionnaires", args: filters | dig: "items" -%}


{%- comment -%} New Questionnaire Button - Options {%- endcomment -%}
{%- graphql all_questionnaires = "modules/client/questionnaires/get_all_questionnaires", user_id: context.current_user.id | dig: "items","results" -%}

{%  liquid
    assign years = all_questionnaires | map: "year" | sort | reverse  
    assign latest_year = years[0]
    assign this_year = 'now' | date: '%Y'

    if this_year > latest_year
        assign year_options = ''
        for i in (latest_year..this_year)
            unless forloop.first
                assign year_options = year_options | append: i 
                unless forloop.last
                    assign year_options = year_options | append: ','
                endunless
            endunless
        endfor
    elsif all_questionnaires.size == 0
        assign year_options = this_year
    else
        assign year_options = 'No forms to complete'
    endif
%}

<div class="questionnaire">

    <div class="box">
        <p>Hello and welcome to our questionnaire!</p>
        <br>
        <p>We appreciate your participation in helping us gather important information and insights. The purpose of this questionnaire is to better understand your opinions, experiences, and preferences regarding a particular topic.</p>
    </div>

    <div class="spacer xxx-large"></div>


    {% if data.total_entries > 0 %}
    
    <div class="grid-x">
        <div class="cell large-5">
            <ins-button
                id="new-questionnaire"
                dropdown
                class="add-btn"
                label="New Questionnaire" 
                icon="icon-plus" 
                solid 
                color="blue" 
                size="normal" 
                options="{{year_options}}">
            </ins-button>
        </div>        
        <div class="cell large-6 large-offset-1">
            <div class="hide-for-large spacer"></div>
            <ins-input                 
                id="search-year"
                class="search-item"
                placeholder="Search by Year"
                icon="icon-search-1">
            </ins-input>
        </div>                
    </div>

    <div class="grid-container client-card">

        <div class="grid-x grid-padding-x grid-padding-y">                        
        {%- for item in data.results -%}
        <div class="large-4 medium-12 small-12 cell align-stretch">
            {%- include "modules/client/questionnaires/questionnaires-card", item -%}
        </div>
        {%- endfor -%}
        </div>

        <div class="spacer xx-small"></div>
        <div class="spacer x-small"></div>
        {%- include "modules/client/paginations", page_num, per_page -%}
        
    </div>

    {% else %}

    <div class="box no-item text-center">
        <div class="spacer xxxx-large"></div>
        <h4 class="heading-4">No questionnaires submitted</h4>
        <div class="spacer small"></div>
        <ins-button 
            id="new-questionnaire"
            dropdown
            class="add-btn"
            label="New Questionnaire" 
            icon="icon-plus" 
            solid 
            color="blue" 
            size="normal" 
            options="{{year_options}}">
        </ins-button>
        <div class="spacer xxxx-large"></div>
    </div>
    
    {% endif %}

</div>

<script>
    //Search Questionnaire by Year
    let year = "{{year}}";
    let keywordInput = document.getElementById("search-year");
    if (keywordInput) {
        keywordInput.addEventListener('insInput', this.keywordInputEvent);
        keywordInput.addEventListener('insIconClick', this.keywordInputEvent);
    }
    function keywordInputEvent(event) {   
        if (event.detail.keyCode === 13) {
            let tempURL = window.location.href.replace("?year="+year, "");
            tempURL = tempURL.replace("year="+year, "");
            let Qmark = tempURL.indexOf("?") == -1? "?" : "";
            let url = tempURL + Qmark + "year="+event.detail.value;                    
            window.location = url;
        }
    }

    //Add New Questionnaire
    let newQuestionnaire = document.getElementById("new-questionnaire");
    if (newQuestionnaire) {
        newQuestionnaire.addEventListener('insClickOption', event => {
            if(event.detail.option != "No forms to complete"){
                window.location = "/questionnaires-general?year="+event.detail.option;
            }
        });
    }
</script>

{%- if context.environment == "staging" -%}
<!-- end page: overview  -->
{%- endif -%}