---
slug: questionnaires-additional-details-view
layout: modules/client/form_layout
# enable_profiler: true
searchable: false
max_deep_level: 2
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "Questionnaires - Additional Details | Insites",
    "og:description": "Questionnaires - Additional Details | Insites",
    "og:site_name": "",
    "meta_title": "Questionnaires - Additional Details | Insites",
    "page_title": "Questionnaires - Additional Details | Insites",
    "meta_description": "Questionnaires - Additional Details | Insites",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "1", ## secondary order (ASC)
    "sitemap_changefreq": "monthly"
}
authorization_policies:
  - modules/client/user_logged_in
---
{%- if context.environment == "staging" -%}
<!-- start page: overview  -->
{%- endif -%}


{%- liquid
    graphql database_info = "modules/client/forms/get_database_info", $resource: "modules/client/questionnaires" | dig: "items","results" | first 
    assign fields = database_info.properties

    graphql data = "modules/client/questionnaires/get_questionnaires", id: {{context.params.slug2}} | dig: "items","results" | first
-%}

{%- parse_json form -%}
{
  "metadata": {{fields}},
  "fields": {"properties": {
      {%- for field in data -%}
        {%  liquid
            if field[0] == "attach_documents" or field[0] == "pdf"
              continue
            endif
        %}
        "{{field[0]}}": {
            "value": 
              {% if field[1][0] %}
                {{field[1]}}
              {% else %}
                "{{field[1]}}"
              {% endif %}
          } 
        {%- unless forloop.last -%},{%- endunless forloop.lass -%} 
      {%- endfor -%}
    }
  }
}
{%- endparse_json -%}

<div class="simple_form insites-form insites-form-code">
  <div class="insites-form-grid">      
      <div class="form-groups-tab">        
          {% include "modules/client/questionnaires/questionnaires_steps", link: "view" %}
      </div>    

      {% include "modules/client/questionnaires/questionnaires_additional_details_inputs", form %}              
  </div>

  <div class="insites-form-grid grid-x">        
      <div class="insites-form-buttons column-1 text-right">        
        <a href="/questionnaires-general-view/{{context.params.slug2}}"><ins-button type="submit" label="BACK" icon="icon-arrow-back" outlined ></ins-button></a>
          <a href="/questionnaires-confirmation-view/{{context.params.slug2}}"><ins-button type="submit" label="NEXT" icon-right="icon-arrow-forward" solid ></ins-button></a>
      </div>
  </div>
</div>

{%- if context.environment == "staging" -%}
<!-- end page: overview  -->
{%- endif -%}

<script>
  <!-- Set Contact Number value -->
  let contactNumber = document.getElementById('ins_contact_number');
  contactNumber.addEventListener('didLoad', function(e){    
      let countryCode = {{ form.fields.properties.contact_number.value | split: ' ' | default: '[]' }};
      if (Array.isArray(countryCode)){
        contactNumber.setCountryCode(`+${countryCode[0]}`);
        if(countryCode.length > 1){
          contactNumber.setAttribute('phonenum-value', countryCode[1]);
        }
      }
  });
</script>    