---
# enable_profiler: true
metadata: {
    "database_name": "modules/website/faqs",
    "layout": "details",
    "slug": "{{ context.exports.data.item.slug }}",
    "page_title": "{{ context.exports.data.item.service_name }}",
    "label": 'Faq | Details',
    "page_slug": "faqs"
}
---

{% comment %} connect services to graphql {% endcomment %}
{%- graphql get_faq = 'modules/website/faqs/get_faqs' -%}
{% comment %} assign var to fetch the result {% endcomment %}
{%- assign res_faq = get_faq | dig: 'items', 'results' -%}

{% assign get_category = get_faq | dig: 'items', 'results' %}
{% assign get_category = get_category | map: "category" | uniq %}
<div class="wrapper sideNavBg">
    <div class="grid-container">
            <div class="grid-container">
                <div class="blocks-sc-2col-07 wrapper bg-color-ui-01">
                    <div class="grid-container">
                        <div class="grid-x grid-padding-x gutter-medium">
                            
                        {%- include 'modules/website/content/faqs/faqs-sidenav' -%}
                        <div class="large-9 medium-9 small-12 cell">
                            <div class="spacer xxxx-large"></div>  
                            <div class="grid-container">
                              <h1>{{ context.exports.data.item.question }}</h1>
                                        <div class="spacer"></div>
                                        <p class="subHeading">{{ context.exports.data.item.answer }}</p>
                                        <div class="spacer"></div>
                                            <!-- MAIN VIEW -->
                                            <div class="blocks-sc-2col-07 wrapper bg-color-ui-01">
                                                <div class="grid-container">
                                                    <div class="large-12 medium-12 small-12">
                                                        <div class="staticFonts">
                                                            <ins-accordion class="subHeading"> 
                                                                {% if context.exports.data.item.sub_topic_title_1 != nil and context.exports.data.item.sub_topic_details_1 != nil %}
                                                                <ins-accordion-item heading="{{ context.exports.data.item.sub_topic_title_1 }}">
                                                                    {{ context.exports.data.item.sub_topic_details_1 }}
                                                                </ins-accordion-item>  
                                                                {% endif %}   
                                                                
                                                                {% if context.exports.data.item.sub_topic_title_2 != nil and context.exports.data.item.sub_topic_details_2 != nil %}
                                                                <ins-accordion-item heading="{{ context.exports.data.item.sub_topic_title_2 }}">
                                                                    {{ context.exports.data.item.sub_topic_details_2 }}
                                                                </ins-accordion-item>  
                                                                {% endif %}   
                                                                
                                                                {% if context.exports.data.item.sub_topic_title_3 != nil and context.exports.data.item.sub_topic_details_3 != nil %}
                                                                <ins-accordion-item heading="{{ context.exports.data.item.sub_topic_title_3 }}">
                                                                    {{ context.exports.data.item.sub_topic_details_3 }}
                                                                </ins-accordion-item>  
                                                                {% endif %}  

                                                                {% if context.exports.data.item.sub_topic_title_4 != nil and context.exports.data.item.sub_topic_details_4 != nil %}
                                                                <ins-accordion-item heading="{{ context.exports.data.item.sub_topic_title_4 }}">
                                                                    {{ context.exports.data.item.sub_topic_details_4 }}
                                                                </ins-accordion-item>  
                                                                {% endif %}               
                                                            </ins-accordion>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                              <div class="spacer xxxx-large"></div>  
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

