---
metadata: {
    page_slug: "features",
    slug: "{{ context.exports.data.item.slug }}",
    page_title: "Features | {{ context.exports.data.item.card_title }}",
    layout: "details"
}
---
{% comment %} ? THIS IS TO SET DEFAULT VALUES FOR FEATURES IMAGE {% endcomment %}
{% comment %} ? THIS BLOCK OF CODE UNDER THIS COMMENT CAN BE DELETED ONCE IMAGES ON FEATURES DATABASE IS POPULATED BY THE USER{% endcomment %}
{% parse_json features_details %}
[
    {
        "image": "{{ 'modules/website/images/features/easy-to-use-image.webp' | asset_url }}",
        "slug": "easy-to-use"
    },
    {
        "image": "{{ 'modules/website/images/features/pre-built-image.webp' | asset_url }}",
        "slug": "pre-built"
    },
    {
        "image": "{{ 'modules/website/images/features/fully-customisable-image.webp' | asset_url }}",
        "slug": "fully-customisable"
    },
    {
        "image": "{{ 'modules/website/images/features/multi-user-image.webp' | asset_url }}",
        "slug": "multi-user"
    }
]
{% endparse_json %}
{% comment %} ? DELETE UNTIL THIS LINE OF CODE ONCE FEATURES DATABASE IS POPULATED {% endcomment %}

{%- if context.params.slug2 != context.exports.data.item.slug -%}
    {%- redirect_to '/404' -%}
{%- endif -%}

{%- if context.exports.data.item.enabled == false -%}
    {%- redirect_to '/404' -%}
{%- endif -%}

{% assign parent_id = context.exports.data.id %}

{%- graphql get_features = 'modules/website/features/get_features_details', parent_id: parent_id -%}
{%- assign features =  get_features | dig: 'items', 'results'  -%}

<div class="features-banner-details-container">
    <div class="features-banner-details full-width-banner-content-left-only">
        <div class="features-banner-details-content">
            <div class="spacer section"></div>
            <h2>{{ context.exports.data.item.card_title }}</h2>
            <div class="spacer medium"></div>
            <p class="subHeading subHeadingMain">{{ context.exports.data.item.card_short_description }}</p>
            <div class="spacer x-large"></div>
            <a href="/contact-us">
                <ins-button id="feature-button" label="Get in touch" icon-right="icon-arrow-forward" outlined type="button" ></ins-button>
            </a>
            <div class="spacer section"></div>
        </div>
    </div>
    <div class="features-banner-details-image">
        {% if context.exports.data.item.image.url %}
            <img src="{{ context.exports.data.item.image.url }}" alt="">
        {% else %}
            {% comment %} ? SETTING DEFAULT IMAGE {% endcomment %}
            {% for features in features_details %}
                {% if context.exports.data.item.slug == features.slug %}
                    <img src="{{ features.image }}" alt="">
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>


<div class="wrapper features-details-wrapper">
    <div class="spacer section show-for-medium"></div>
    <div class="spacer x-large show-for-small-only"></div>
    <div class="grid-x">
        <div class="large-6 medium-6 small-12">
            <h2>Key features</h2>
            <div class="spacer medium"></div>
            <p class="subHeading subHeadingMain">Clean design, seamless navigation, fully responsive, and optimized for speed—effortless usability across all devices.</p>
            <div class="spacer xxxx-large"></div>
        </div>
    </div>
    {% include 'modules/website/content/components/features_card_list', data: features, full: true, home: false %}
    <div class="spacer section show-for-medium"></div>
    <div class="spacer x-large show-for-small-only"></div>
</div>
</div>

{% include 'modules/website/content/index/feedback_slider' %}
