{%- comment -%}
    Homepage slider partial / content block
    - size controls the pagination (how many slides to show)
    - ie. {% include 'modules/website/content/layout/homepage-slider', size: 10 %}
{%- endcomment -%}

{%- graphql data = "modules/website/content/get_homepage_slider", size: size -%}

<div class="homepage-banner-wrap">
    <ins-carousel no-carousel-button loop
        layout="1" 
        bind-to="homepage-banner"
        transition="700"
        duration="5000"
        data-test="homepage-slider">
        <div id="homepage-banner">
            {%- if data.items.results -%}
                {%- for item in data.items.results -%}
                    {% comment %} 
                        Show slide only if 'enabled' =  true.
                        - Can add to this and use 'start_date' and 'end_date' to allow scheduling of slides to show/hide
                    {% endcomment %}
                    {%- if item.enabled == true or item.enabled == 'true' -%}
                    <div class="slide-container" data-test="slider-container-{{item.title | downcase | parameterize}}">
                        {%- comment -%}Slide Image{%- endcomment -%}
                        {%- if item.image.versions['Desktop'] and item.image.versions["Mobile"] -%}
                        <div class="img-wrap">
                            <img src="{{ item.image.versions['Desktop'] | replace: ' ', '%20' }}" alt="{{ item.title }}" 
                                class="hide-for-small-only" loading="lazy">
                            <img src="{{ item.image.versions['Mobile'] | replace: ' ', '%20' }}" alt="{{ item.title }}" 
                                class="show-for-small-only" loading="lazy">
                        </div>
                        {%- endif -%}
                        
                        {%- comment -%}Slide Text{%- endcomment -%}
                        <div class="slide-content wrapper vertical-align-middle">
                            <div class="grid-x grid-container">
                                <div class="large-10 medium-10 small-10 large-offset-1 medium-offset-1 small-offset-1 cell">
                                    <h1 class="heading heading-1">{{ item.title }}</h1>
                                    <div class="spacer"></div>
                                    <p>{{ item.short_text }}</p>
                                    {%- if item.link and item.link != '' -%}
                                        <div class="spacer large"></div>
                                        <a href="{{ item.link }}" data-test="slider-link-{{item.title | downcase | parameterize}}">
                                            <ins-button solid
                                                label="Learn More">
                                            </ins-button>
                                        </a>
                                    {%- endif -%}
                                </div>
                                <div class="large-1 medium-1 small-1 cell"></div>
                            </div>
                        </div>
                    </div>
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}
        </div>
    </ins-carousel>
</div>
