---
slug: index-v2
layout: modules/website/homepage
# enable_profiler: true
searchable: true
max_deep_level: 1
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "Insites | Home Page",
    "og:description": "Insites | Home Page",
    "og:site_name": "",
    "meta_title": "Insites | Home Page",
    "page_title": "Insites | Home Page",
    "meta_description": "Insites | Home Page",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "0", ## secondary order (ASC)
    "sitemap_changefreq": "daily"
}
enable_profiler: true
dynamic_cache:
  layout: |-
    {%- comment -%}Set layout cache depending if E-commerce module is present{%- endcomment -%}
    {%- if context.modules.ecommerce.name != blank -%}
    false
    {%- else -%}
    true
    {%- endif -%}
  key: |-
    {%- parse_json models -%}
    [
      {%- if context.modules.ecommerce.name == blank -%} "modules/website/main_menu", {%- endif -%}
      "modules/insites_site_manager/insites_global_content",
      "modules/website/page_header",
      "modules/insites_core/insites_system_fields",
      "modules/website/services",
      "modules/website/blog",
      "modules/website/clients"
    ]
    {%- endparse_json -%}
    {% capture cache_key %}
    {%- include "modules/website/generate_cache_key", models: models -%}
    {%- endcapture -%}
    {{ cache_key | append: context.device.device_type }} 
---

<div class="homepage-v2-wrap main-container" data-test="page-home">
    {%- comment -%} Carousel - Slider 
    {%- include 'modules/website/content/layout/homepage-slider', size: 10 -%}
    {%- endcomment -%}

<style>
.blocks-hero-02 .text-grid{
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height:100%;
}

.blocks-hero-02 .main-image{
  height:100%;
}

.blocks-hero-02 .main-image img{
  width:100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1024px) {
  .blocks-hero-02 .text-grid{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .blocks-hero-02 .grid-container-half{
    max-width: initial;
    padding: 0px 32px;
  }
  
}
</style>
    <div class="blocks-hero-02">
    <div class="grid-container full">
        <div class="grid-x">
            <div class="large-6 medium-12 small-12 cell bg-color-main align-right vertical-align-middle">
                <div class="grid-x align-middle text-grid grid-container-half">
                    <div class="large-8 medium-12 small-12 cell ">
                        <div class="spacer xxxx-large"></div>
                        <div class="main-text">
                            <h1>Welcome to Insites Blocks</h1>
                            <div class="spacer"></div>
                            <p>Simple, clean, customisable AND easy to use? Yeah, we're as stoked as you as well! This is website template is for you to make your own. Tweak it or break it, it's totally up to you.</p>
                            <div class="spacer x-large"></div>
                            <a>
                                <ins-button type="button" label="LEARN MORE" solid color="white" size="normal"></ins-button>
                            </a>
                        </div>
                        <div class="spacer xxxx-large"></div>
                    </div>
                    <div class="large-2 medium-12 small-12 cell show-for-large">
                         
                    </div>
                </div>
            </div>
            <div class="large-6 medium-12 small-12 cell show-for-large">
                <div class="main-image">    
                    <img src="{{ 'modules/website/images/home/hero-v2.jpg' | asset_url }}" alt="Insites Homepage Banner" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="spacer section"></div>

    {%- comment -%} Carousel - Slider {%- endcomment -%}
    {%- include 'modules/website/content/layout/homepage-carousel', size: 6 -%}
    
    <div class="spacer section"></div>
    <div class="wrapper">
        <div class="grid-container">
            <div class="grid-x grid-padding-x align-middle">
                <div class="large-5 medium-5 small-12 large-order-1 medium-order-1 small-order-2 cell">
                    <h2>Insites</h2>
                    <div class="spacer"></div>
                    <p>The Insites eco-system is designed to make creating stunning web applications easy, fast and reliable. A digital platform tailored for business. Deliver powerful business websites and online stores to your clients with an all-in-one hosted solution.</p>
                    <div class="spacer"></div>
                    <p>Create world class web applications/SaaS products using a framework that comes complete with UI components and a development eco-system.</p>
                    <div class="spacer"></div>
                    <a href="/about-us">
                        <ins-button type="button" label="LEARN MORE" solid color="blue" size="normal"></ins-button>
                    </a>
                </div>
                <div class="large-6 large-offset-1 medium-5 medium-offset-1 small-12 large-order-2 medium-order-2 small-order-1 cell">
                    {%- comment -%}Below is just a placeholder. Remove if you have set an image below{%- endcomment -%}
                    <img src="{{ 'modules/website/images/about-us-insites.png' | asset_url }}" alt="Insites Dashboard" loading="lazy">
                    <div class="spacer small show-for-small-only"></div>
                </div>
            </div>

            <div class="spacer section"></div>

            <div class="grid-x grid-padding-x align-middle">
                <div class="large-6 medium-6 small-12 cell">
                    {%- comment -%}Below is just a placeholder. Remove if you have set an image below{%- endcomment -%}
                    <img src="{{ 'modules/website/images/about-us-interface.png' | asset_url }}" alt="Insites Design System" loading="lazy">
                    <div class="spacer small show-for-small-only"></div>
                </div>
                <div class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 cell">
                    
                    <h3 class="heading-2">User interface design system</h3>
                    <div class="spacer"></div>
                    <p>Your journey to application nirvana starts by designing your application utilising our User Interface Design System, which has been carefully handcrafted in Sketch, which would make your designer blush with excitement.</p>‍
                    <p>There are hundreds of Design Elements available to create a stunning user experience, all while having the complete confidence that each one has been developed as a Code Element for your developers to use when it comes to bringing you beauty to life.</p>
                    <div class="spacer"></div>
                    <a href="/about-us">
                        <ins-button type="button" label="LEARN MORE" solid color="blue" size="normal"></ins-button>
                    </a>
                </div>
            </div>

            <div class="spacer section"></div>

            <div class="grid-x grid-padding-x align-middle">
                <div class="large-6 medium-6 small-12 cell large-order-2 medium-order-2 small-order-1">
                    {%- comment -%}Below is just a placeholder. Remove if you have set an image below{%- endcomment -%}
                    <img src="{{ 'modules/website/images/about-us-development-pipeline.png' | asset_url }}" alt="Development Pipeline" loading="lazy">
                </div>
                <div class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 cell large-order-1 medium-order-1 small-order-1">
                    <h3 class="heading-2">Development pipeline</h3>
                    <div class="spacer"></div>
                    <p>Our nerdiness starts to show here because we couldn't help ourselves and just have any old deployment process. Oh no, we crafted a complete Deployment Pipeline to process our suite of automation tasks which range from Unit Tests, code builds, minification, and compiling so nothing escapes the wrath of strict code standards.</p>
                    <div class="spacer"></div>
                    <a href="/somewhere">
                        <ins-button type="button" label="LEARN MORE" solid color="blue" size="normal"></ins-button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer section"></div>
        {%- include 'modules/website/content/blog/recent-blogs' -%}
    <div class="spacer section"></div>
        {%- include 'modules/website/content/layout/homepage-clients', size: 100 -%}
    <div class="spacer section"></div>
    <hr>

</div>
