---
metadata: {
    "slug2": "{{ context.exports.data.item.slug }}",
    "og:url": "{{ context.exports.data.item.slug }}",
    "og:type": "",
    "og:image": '{{ context.exports.data.item.image.version["OG-Image-1200x630"] }}',
    "og:title": "{{ context.exports.data.item.name }}",
    "og:description": "{{ context.exports.data.item.meta_description }}",
    "og:site_name": "",
    "page_title": "{{ context.exports.data.item.name }}",
    "meta_title": "{{ context.exports.data.item.meta_title }}",
    "meta_description": "{{ context.exports.data.item.meta_description }}",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "monthly",
    ##
    ## Metadata `database_name` and `layouts` values is used 
    ## to connect this partial / content block to the Insites Database Layouts
    ## `layouts` values should only be "list" or "details"
    ##
    "database_name": "modules/website/team",
    "layout": "details"
}
---

{%- comment -%}
Our Team: Details view
{%- endcomment -%}

{%- comment -%}Used for checking if page has OG Image (if not, use the default OG Image){%- endcomment -%}
{%- content_for 'has_og_image' -%}{{ context.exports.data.item.image.version["OG-Image-1200x630"] }}{%- endcontent_for -%}

{%- if context.environment == "staging" -%}
<!-- start partial: Team details page  -->
{%- endif -%}
<div class="wrapper">
    <div class="our-team grid-container main-container" data-test="page-our-team-detail">
        <div class="spacer xxxx-large"></div>            

        {% include 'modules/website/content/layout/go-back-nav', label: "Back to Team List" %}

        <article class="grid-x grid-padding-x">
            <div class="large-6 medium-12 small-12 cell">
                <div class="grid-x grid-padding-x">
                    {% comment %} Image {% endcomment %}
                    <div class="large-6 medium-6 small-12 cell">
                        {%- if context.exports.data.item.image.version['List-View'] -%}
                            <img src="{{ context.exports.data.item.image.version['List-View'] | replace: ' ', '%20' }}" alt="{{ context.exports.data.item.name }}" loading="lazy">
                        {%- else -%}
                            {% include 'modules/website/content/placeholder-image', size: 'large' %}
                        {%- endif -%}
                        <div class="spacer large show-for-small-only"></div>
                    </div>

                    {% comment %} Name & Details {% endcomment %}
                    <div class="details large-6 medium-6 small-12 cell">
                        <h1>{{ context.exports.data.item.name }}</h1>
                        <div class="spacer x-small"></div>
                        <p><strong>{{ context.exports.data.item.job_title }}</strong></p>
                        <div class="spacer x-large"></div>
                        {%- if context.exports.data.item.phone_number -%}
                            {%- comment -%}
                                IF the phone number is a '1800', or no country code, etc.. just remove regex 
                                Data needs to be standard. If it will contain the country code, or not.
                            {%- endcomment -%}
                            {%- assign contact_no = context.exports.data.item.phone_number | replace_regex: '[+() ]', '' | prepend: '+' -%}
                            <p>
                                <a href="tel:{{ contact_no }}" class="color-main" data-test="our-team-detail-link-contact">
                                    <i class="icon-phone1"></i>
                                    +{{ contact_no | replace: "+", '' }}
                                </a>
                            </p>
                            <div class="spacer"></div>
                        {%- endif -%}
                        {%- if context.exports.data.item.email -%}
                            <p>
                                <a href="mailto:{{ context.exports.data.item.email }}" class="color-main" data-test="our-team-detail-link-email">
                                    <i class="icon-mail1"></i> 
                                    {{ context.exports.data.item.email }}
                                </a>
                            </p>
                        {%- endif -%}
                        <div class="spacer x-large"></div>
                        <hr>

                        <div class="grid-x grid-padding small-up-5 text-center menu social">
                            {%- if context.exports.data.item.facebook -%}
                            <div class="cell">
                                <a href="{{ context.exports.data.item.facebook }}" target="_blank" rel="noreferrer" title="facebook" data-test="our-team-detail-link-facebook">
                                    <i class="icon-facebook-stroke"></i>
                                </a>
                            </div>
                            {%- endif -%}
                            {%- if context.exports.data.item.twitter -%}
                            <div class="cell">
                                <a href="{{ context.exports.data.item.twitter }}" target="_blank" rel="noreferrer" title="twitter" data-test="our-team-detail-link-twitter">
                                    <i class="icon-twitter-stroke"></i>
                                </a>
                            </div>
                            {%- endif -%}
                            {%- if context.exports.data.item.linkedin -%}
                            <div class="cell">
                                <a href="{{ context.exports.data.item.linkedin }}" target="_blank" rel="noreferrer" title="linkedin" data-test="our-team-detail-link-linkedin">
                                    <i class="icon-linkedin-stroke"></i>
                                </a>
                            </div>
                            {%- endif -%}
                            {%- if context.exports.data.item.instagram -%}
                            <div class="cell">
                                <a href="{{ context.exports.data.item.instagram }}" target="_blank" rel="noreferrer" title="instagram" data-test="our-team-detail-link-instagram">
                                    <i class="icon-instagram"></i>
                                </a>
                            </div>
                            {%- endif -%}
                            {%- if context.exports.data.item.youtube -%}
                            <div class="cell">
                                <a href="{{ context.exports.data.item.youtube }}" target="_blank" rel="noreferrer" title="youtube" data-test="our-team-detail-link-youtube">
                                    <i class="icon-youtube-stroke"></i>
                                </a>
                            </div>
                            {%- endif -%}
                        </div>

                        <div class="spacer xx-large show-for-small-only"></div>
                    </div>

                </div>
                
            </div>

            {% comment %} Description / Content {% endcomment %}
            <div class="large-5 large-offset-1 medium-12 small-12 cell">
                <div class="spacer xx-large show-for-medium-only"></div>
                
                <div class="dynamic-content">
                    {{ context.exports.data.item.long_text }}
                </div>
            </div>
        </article>

        <div class="spacer section"></div>
        
    </div>
</div>

{%- if context.environment == "staging" -%}
<!-- end partial: Team details page  -->
{%- endif -%}