---
metadata: {
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "Our Team | Insites",
    "og:description": "Our Team | Insites",
    "og:site_name": "",
    "page_title": "Our Team | Insites",
    "meta_title": "Our Team | Insites",
    "meta_description": "Our Team | Insites",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "never",
    ##
    ## Metadata `database_name` and `layouts` values is used 
    ## to connect this partial / content block to the Insites Database Layouts
    ## `layouts` values should only be "list" or "details"
    ##
    "database_name": "modules/website/team",
    "layout": "list"
}
---

{%- comment -%}
Our Team: List view
{%- endcomment -%}

{%- if context.environment == "staging" -%}
<!-- end partial: Team list page  -->
{%- endif -%}

{%- comment -%}Add this partial to add a page title header (https://cbo.d.pr/4m3NV6){%- endcomment -%}
{%- include 'modules/website/content/layout/page-header' -%}

{%- comment -%}View team list{%- endcomment -%}

<div class="wrapper">
    <div class="our-team grid-container main-container" data-test="page-our-team-list">
        <div class="spacer section"></div>
                
        <div class="team-list grid-x gutter-medium grid-padding-x grid-padding-y">
            {% liquid
                assign page = 1
                assign size = 15
                graphql data = "modules/website/content/get_team", page: page, size: size
            %}
            
            {%- if data.items.results -%}
                {%- for item in data.items.results -%}
                <div class="large-4 medium-6 small-12 cell" data-test="our-team-list-card">
                    <div>
                    {%- assign link = '/our-team' | append: "/" | append: item.properties.slug  -%}
                    
                    {%- if link != '/our-team' -%}
                        <a href="{{ link }}" rel="noreferrer" data-test="our-team-list-image-link">
                    {%- endif -%}
                        {%- comment -%}Profile Image / Placeholder {%- endcomment -%}
                        {%- if item.image and item.image.versions['List-View'] -%}
                            <img src="{{ item.image.versions['List-View'] | replace: ' ', '%20' }}" alt="{{ item.properties.name }}" loading="lazy">
                        {%- else -%}
                            {%- include 'modules/website/content/placeholder-image' size: 'medium' -%}
                        {%- endif -%}
                    {%- if link != '/our-team' -%}
                        </a>
                    {%- endif -%}

                    <div class="spacer x-large"></div>

                    {%- if link != '/our-team' -%}
                        <a href="{{ link }}" rel="noreferrer" data-test="our-team-list-name-link">
                    {%- endif -%}
                        <h3>{{ item.properties.name }}</h3>
                    {%- if link != '/our-team' -%}
                        </a>
                    {%- endif -%}

                    <div class="spacer x-small"></div>
                    <p class="font-color-sub"><strong>{{ item.properties.job_title }}</strong></p>
                    <div class="spacer"></div>
                    <div class="description">
                        {{ item.properties.short_text }}
                    </div>
                    </div>
                </div>
                {%- endfor -%}
            {%- endif -%}
        </div>
        
        <div class="spacer section"></div>
    </div>
</div>


{%- if context.environment == "staging" -%}
<!-- end partial: Team list page  -->
{%- endif -%}