---
name: user_invitation
delay: 0
enabled: true
trigger_condition: true
to: '{{ data.email }}'
from: >
    {%- include 'modules/portal/emails/autoresponder_from' -%}
reply_to: >
    {%- include 'modules/portal/emails/autoresponder_reply_to' -%}
cc:
bcc:
subject: Portal Invitation
layout: modules/insites_core/insites_external_email_layout
metadata: {
    email_name: "User Invitation"
}
---

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
</style>

{% assign emailToken = data.email | base64_url_safe_encode  %}
{% assign companyToken = data.company_uuid | base64_url_safe_encode  %}
{% assign permissionLevelToken = data.permission_level |  base64_url_safe_encode  %}

<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="ae3b5e25-e601-4be7-8e69-e21f7125e6e7" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:56px 24px 40px 24px; line-height:27px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left"><span
              style="color: #0D0D0D; font-family: 'Poppins', sans-serif; font-size: 32px; font-style: normal; font-weight: 600; line-height: 40px; text-transform: capitalize;">Portal Invitation</span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Content text --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 0px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left">
            <span style="white-space: pre-wrap;font-size: 16px;font-style: normal;font-weight: 400;">Hi {{ data.name }},</span>
            <br>
            <br>
            <span style="white-space: pre-wrap;font-size: 16px;font-style: normal;font-weight: 400;">You have been invited to join {{ data.company }}. Please click on the link below and create a password to access the Portal.</span>
            <br>
            <br>
            <span style="white-space: pre-wrap;font-size: 16px;font-style: normal;font-weight: 400;">If you do not wish to join this account please ignore this email.</span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- button --> {% endcomment %}
<table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button"
  data-type="button" role="module" style="table-layout:fixed;" width="100%"
  data-muid="7564a63d-604e-486b-a509-14550d6d9be3">
  <tbody>
    <tr>
      <td align="" bgcolor="" class="outer-td" style="padding:40px 24px">
        <table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile"
          style="text-align:center;width: 100%">
          <tbody>
            <tr>
              <td align="" bgcolor="#3044FF" class="inner-td"
                style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;">
                <a href="{{ platform_context.host }}/password-reset?token={{ data.password_token | url_encode }}&amp;email={{ emailToken }}&amp;company_uuid={{ companyToken }}&amp;permission_level={{ permissionLevelToken }}"
                  style="background-color:#3044FF; border:0px solid #3044FF; border-color:#3044FF; border-radius:4px; border-width:0px; color:#ffffff; display:inline-block; font-size:16px; font-weight:700; letter-spacing:0px; line-height:normal; padding:16px 40px 16px 40px; text-decoration:none; border-style:solid; font-family:arial,helvetica,sans-serif;"
                  target="_blank">Accept Invitation and create password</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% comment %} <!-- Content text --> {% endcomment %}
<table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:0px 24px 32px 24px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left">
            <span style="white-space: pre-wrap;font-size: 16px;font-style: normal;font-weight: 400;">Or, paste this link into your browser:</span>
            <br>
            <span style="white-space: pre-wrap">{{ platform_context.host }}/password-reset?token={{ data.password_token | url_encode }}&amp;email={{ emailToken }}&amp;company_uuid={{ companyToken }}&amp;permission_level={{ permissionLevelToken }}</span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
