---
slug: questionnaires-general-view
layout: modules/portal/form
searchable: false
max_deep_level: 3
metadata: {
    "status": "published",
    "open_graph:url": "",
    "open_graph:type": "",
    "open_graph:image": "",
    "open_graph:title": "Questionnaires - General Information | Insites",
    "open_graph:description": "Questionnaires - General Information | Insites",
    "open_graph:site_name": "",
    "meta_title": "Questionnaires - General Information | Insites",
    "page_title": "Questionnaires - General Information | Insites",
    "meta_description": "Questionnaires - General Information | Insites",
    "canonical_url": "",
    "is_visible_to_search_engines": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "1", ## secondary order (ASC)
    "sitemap_changefreq": "monthly"
}
authorization_policies:
  - modules/portal/is_user_logged_in
---

{%- graphql data = "modules/portal/questionnaires/get_questionnaires", id: {{params.slug2}}, user_id: {{current_user.id}} | dig: "items","results" | first -%}

{%- parse_json form -%}
{
  "fields": {"properties": {
      {%- for field in data -%}
        {%  liquid
            if field[0] == "attach_documents" or field[0] == "pdf"
              continue
            endif
        %}
        "{{field[0]}}": {
            "value": 
              {% if field[1][0] %}
                {{field[1]}}
              {% else %}
                "{{field[1]}}"
              {% endif %}
          } 
        {%- unless forloop.last -%},{%- endunless forloop.lass -%} 
      {%- endfor -%}
    }
  }
}
{%- endparse_json -%}

<div class="simple_form insites-form insites-form-code">

     <div class="insites-form-grid">      
      <div class="form-groups-tab">        
          {% include "modules/portal/questionnaires/form_steps", link: "view" %}
      </div>    

      {% include "modules/portal/questionnaires/general_inputs", form: form %}              
  </div>

  <div class="insites-form-grid grid-x">        
      <div class="insites-form-buttons column-1 text-right">        
          <a href="/questionnaires-additional-details-view/{{context.params.slug2}}"><ins-button type="submit" label="NEXT" icon-right="icon-arrow-forward" solid ></ins-button></a>
      </div>
  </div> 
</div>

<script>
  <!-- Set Primary Phone value -->  
  let primaryPhone = document.getElementById('ins_primary_phone');
  primaryPhone.addEventListener('didLoad', function(e){            
    let countryCode = {{ form.fields.properties.primary_phone.value | split: ' ' | default: '[]' }};   
    if (Array.isArray(countryCode) ){
      primaryPhone.setCountryCode(`+${countryCode[0]}`);
      if(countryCode.length > 1){
        primaryPhone.setAttribute('phonenum-value', countryCode[1]);
      }      
    }
  }); 
</script>
