---
name: documents
resource: modules/client/documents
resource_owner: anyone
redirect_to: /documents
flash_alert: Error-Documents
flash_notice: Success-Documents
fields:
  properties:
    user_id:
      validation:
        presence: true
    description:
      validation:
        presence:
          message: Description is required
    file:
      validation:
        presence:
          message: File is required
    notes:
  notice_message:
    property_options:
      virtual: true
    validation:
        presence: true
default_payload: |-
  {
    "properties_attributes": {
      "user_id": "{{context.current_user.id}}"
    }
  }
callback_actions: |-
  {% session document_notice_message = form.notice_message %}
async_callback_actions:
  delay: 0
  priority: low
  max_attempts: 2
  content: |-
    {% comment %} Create Event Stream {% endcomment %}
    {% parse_json info %}
    {
      "description": "{{form.notice_message}}",
      "log": {
        "user": {
          "id": "{{ context.current_user.id }}",
          "email": "{{ context.current_user.email }}",
          "first_name": "{{ context.current_user.first_name }}",
          "last_name": "{{ context.current_user.last_name }}"
        },
        "description": "{{ form.properties.description }}",
        "notes": "{{ form.properties.notes }}"
      }
    }
    {% endparse_json %}
    {% include 'modules/client/events/log_event', info %}  
email_notifications:
  - modules/client/document_workflow
---

{%- assign props = form.fields.properties -%}

{%- form
  html-autocomplete: "off"
  html-id: "documents-form"
  html-class: 'insites-form insites-form-code documents-form' 
  html-novalidate: true
  html-enctype = "multipart/form-data"
  html-onsubmit: "return validateDocumentsForm(event)"   -%}

  <input type="hidden" name="{{form.fields.notice_message.name}}" id="notice-message" value="Document successfully added" >
    
  <div class="insites-form-grid">

    <div class="column-1 mt-0">
      <h3 class="heading-3">Add Document</h3>
      <div class="spacer small"></div>
      <p>Upload your documents.</p>
    </div>

    <!-- Field: Description -->
    <div class="column-1">
        <ins-input 
          validate
          id="description"
          data-type="string"
          data-ui="text"
          label="Description*"
          name="{{ props.description.name }}"
          value="{{ props.description.value }}"
          error-message="{{ props.description.validation.rules.presence.message }}"            
          {%- if form.errors['properties.description'] != nil -%} has-error {%- endif -%} >
        </ins-input>
    </div>

    <!-- Field: File -->
    <div class="column-1" >
        <ins-input-file
          validate
          id="document-input"
          data-multiple="false"
          data-name="{{ props.file.name }}"
          data-type="upload"
          data-ui="media_file"
          data-prop="file"
          label="File*"
          accepted-files=""
          capture=""
          error-message="{{ form.errors['properties.file'] }}"                
          {%- if form.errors['properties.file'] != nil -%} has-error {%- endif -%}>
        </ins-input-file>
        <input
          type="hidden"
          id="document"
          name="{{ props.file.name }}" >        
    </div>

    <!-- Field: Notes  -->
    <div class="column-1">
      <ins-textarea
        id="notes"
        data-type="string"
        data-ui="multi_line"
        label="Notes"
        name="{{ props.notes.name }}"
        value="{{ props.notes.value }}"
        error-message="{{ form.errors['properties.notes'] }}"                
        {%- if form.errors['properties.notes'] != nil -%} has-error {%- endif -%}>
      </ins-textarea>
    </div>      
      
  </div>
  
  <div class="spacer x-large"></div>
  <div class="insites-form-grid">      
    <div class="insites-form-buttons column-1">
      <div class="text-right">
        <ins-button type="button" label="CANCEL" icon="icon-close-1" id="close-form-btn" class="m-0" outlined ></ins-button>
        <span class="pl-16 hide-for-small"></span>
        <div class="spacer show-for-small-only"></div>
        <ins-button type="submit" label="Add Document" icon="icon-check-2" id="submit-form-btn" class="m-0" solid ></ins-button>
      </div>          
    </div>
  </div>

{%- endform -%}