---
name: documents
resource: modules/client/documents
resource_owner: anyone
redirect_to: /documents
fields:
  properties:
    user_id:
      validation:
        presence: true
    description:
      validation:
        presence: true
    file:
      validation:
        presence: true
    notes:
default_payload: |-
  {
    "properties_attributes": {
      "user_id": "{{context.current_user.id}}"
    }
  }
---

{%- graphql database_info = "modules/client/forms/get_database_info", $resource: "modules/client/documents" | dig: "items","results" | first -%}
{%- assign groups = database_info.metadata.groups | sort_by: "weight" -%}
{%- assign fields = database_info.properties -%}
{%- assign form = form | add_hash_key: "metadata", fields -%}
{%- assign props = form.fields.properties -%}

  {%- form
    html-autocomplete: "off"
    html-id: "questionnaires-form"
    html-class: 'insites-form insites-form-code questionnaires-form' 
    html-novalidate: true
    html-enctype = "multipart/form-data"
    html-onsubmit: "return Questionnaires.methods.validateForm(event)"   -%}
    
    <div class="insites-form-grid">

        <div class="column-1">
            <h3 class="heading-3">Add Document</h3>
            <div class="spacer small"></div>
            <p>Upload your documents.</p>
        </div>

        <!-- Field: Description -->
        <div class="column-1">
            <ins-input 
                validate
                data-type="string"
                data-ui="text"
                label="{%- include 'modules/client/insites_database/label', form: form, name: 'description' -%}"
                name="{{ props.description.name }}"
                value="{{ props.description.value }}"
                error-message="{{ props.description.validation.rules.presence.message }}"            
                {%- if form.errors['properties.description'] != nil -%} has-error {%- endif -%} >
            </ins-input>
        </div>

        <!-- Field: File -->
        <div class="column-1" >
            {%- if params.slug == "documents" -%}
            <ins-input-file
                {{disabled}}
                id="file-input"
                data-multiple="false"
                data-name="{{ props.file.name }}"
                data-type="upload"
                data-ui="media_file"
                data-prop="file"
                label="{%- include 'modules/client/insites_database/label', form: form, name: 'file' -%}"
                accepted-files=""
                capture=""
                error-message="{{ form.errors['properties.file'] }}"                
                {%- if form.errors['properties.file'] != nil -%} has-error {%- endif -%}>
            </ins-input-file>
            <input
                type="hidden"
                id="file"
                name="{{ props.file.name }}" >
            {%- else -%}
            <div class="ins-input-file-wrapper ins-form-field-wrap">
                <label class="ins-form-label"><span>Attach Documents</span></label>
                <div>
                    <a href="">Download</a>
                </div>
            </div>
            {%- endif -%}
        </div>

        <!-- Field: Notes  -->
        <div class="column-1">
            <ins-textarea 
                {{disabled}}
                data-type="string"
                data-ui="multi_line"
                label="{%- include 'modules/client/insites_database/label', form: form, name: 'notes' -%}"
                name="{{ props.notes.name }}"
                value="{{ props.notes.value }}"
                error-message="{{ form.errors['properties.notes'] }}"                
                {%- if form.errors['properties.notes'] != nil -%} has-error {%- endif -%}>
            </ins-textarea>
        </div>
        
        
    </div>
    
    <div class="spacer x-large"></div>
    <div class="insites-form-grid">      
      <div class="insites-form-buttons column-1 text-right">
          <a href="/client-portal/questionnaires"><ins-button type="button" label="CANCEL" icon="icon-close-1" outlined ></ins-button></a>
          <ins-button type="submit" label="Add Document" icon="icon-check-2" id="submit-btn-questionnaires" solid ></ins-button>
      </div>
    </div>

{%- endform -%}

<script>
    // Update `countryCode` and `phonenum-value` attribute of the telephone
    let primary_phone = document.getElementById('primary_phone');
    primary_phone.addEventListener('didLoad', function(e){            
        let countryCode = {{ form.fields.properties.primary_phone.value | split: ' ' | default: '[]' }};        
        if (Array.isArray(countryCode) && countryCode.length == 2){
            primary_phone.setCountryCode(countryCode[0]);
            primary_phone.setAttribute('phonenum-value', countryCode[1]);
        }
    });    

  let submitFormBtn = document.getElementById('submit-form-btn');
  let questionnairesForm = document.querySelector('form.questionnaires-form');

  async function validateQuestionnairesForm(event) {
    event.preventDefault();
    submitFormBtn.loading = true;

    if (await App.validation.validateForm(questionnairesForm)) {
      questionnairesForm.submit();
      return true;
    } else {
      submitFormBtn.loading = false;
      return false;
    }
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="{{ 'modules/website/services/formServices.js' | asset_url }}"></script>
<script src="{{ 'modules/website/scripts/forms/questionnaires.js' | asset_url }}"></script>