---
name: pay_bill
resource: modules/insites_ecommerce/insites_order
resource_owner: anyone
redirect_to: /pay-bill
flash_alert: Error-PayBill
flash_notice: Success-PayBill
fields:
  properties:
    order_reference:    
      validation: 
        presence:
          message: Invoice Number is required  
    order_value:    
      validation: 
        presence:  
          message: Minimum of 1, maximum of 983283.99
        numericality:
          greater_than_or_equal_to: 1
          less_than_or_equal_to: 983283.99
    user_id:    
      validation: 
        presence: true
    user_uuid:
    company_id:
    company_uuid:
    currency:    
      validation: 
        presence: true
    date_time:    
      validation: 
        presence: true
    tax_amount:    
      validation: 
        presence: true
    shipping_amount:    
      validation: 
        presence: true
    total_amount:    
      validation: 
        presence: true
    amount_due:    
      validation: 
        presence: true
    total_discount_amount:    
      validation: 
        presence: true
    is_enabled:    
      validation: 
        presence: true    
    order_status:
    order_payment_status:
    shipping_status:
    notes:

    # Other Details 
    stripe_credit_card:
        property_options:
            virtual: true            
default_payload: >
  {% graphql current_user = 'modules/client/account/get_current_user' | dig: 'current_user' %}
  {% function settings = "modules/client/pay_bill/get_settings" %}
  {
    "properties_attributes":{
        "user_id": "{{ context.current_user.id }}",
        "user_uuid": "{{ current_user.external_id }}",
        {% comment %} "company_id": "", {% endcomment %}
        "company_uuid": "{{ current_user.client[0].company_uuid }}",
        "currency": "{{ settings.currency }}",
        "date_time": "{{ 'now' | date: '%Y-%m-%dT%H:%M:%S'}}",
        "tax_amount": 0,
        "shipping_amount": 0,
        "total_discount_amount": 0,
        "is_enabled": true,
        
        "order_status": "Open",
        "order_payment_status": "Pending Funds",
        "shipping_status": "Not Applicable"
    }
  }  
callback_actions: >
  {%- include 'modules/client/pay_bill/callback_init', 
      context: context,
      form: form -%}  
---

{%- assign props = form.fields.properties -%}

{% form 
    html-id: "checkout-form"
    html-onsubmit: "return Paybill.events.payBillsSubmit(event);"
    html-novalidate: true %}

    <input type="hidden" id="bill-total-amount" name="{{ props.total_amount.name }}" >
    <input type="hidden" id="bill-amount-due" name="{{ props.amount_due.name }}" >
    <input type="hidden" id="bill-notes" name="{{ props.notes.name }}" >

    <!-- Invoice Details -->
    <div id="invoice-details">
        <h2 class="heading-2">Invoice Details</h2>
        <div class="spacer x-large"></div>

        <div class="grid-x grid-padding-x invoice-details">
            <div class="large-6 medium-12 small-12 cell">
                <ins-input required validate account-details-field
                    class="label-input"
                    label="Invoice Number*" 
                    placeholder="Invoice Number"
                    field="text"
                    id="invoice-number"
                    name="{{ props.order_reference.name }}" 
                    value="{{ props.order_reference.value }}"
                    {% if form.errors['properties.order_reference'] %} has-error {% endif %}
                    error-message="{{ props.order_reference.validation.rules.presence.message }}">
                </ins-input>
            </div>      
            <div class="large-6 medium-12 small-12 cell">
                <ins-input required validate account-details-field
                    class="label-input"
                    label="Amount Including Tax*" 
                    placeholder="Amount Including Tax"
                    field="number"
                    id="bill-amount"
                    name="temp_order_value"
                    min="1"
                    max="983283.99"
                    {% if form.errors['properties.order_value'] %} has-error {% endif %}
                    error-message="{{ props.order_value.validation.rules.presence.message }}">
                </ins-input>
                <input type="hidden" id="bill-order-value" name="{{ props.order_value.name }}" >
            </div>
        </div>
    </div>
    
    {% include 'modules/client/pay_bill/payment_credit_card' %}
    
{% endform %}