---
name: pay_bill
resource: modules/client/pay_bill
resource_owner: anyone
redirect_to: >
    {%- graphql cart = 'modules/client/pay_bill/get_cart_by_field', 
        id: form.id, is_order_id: true 
        | dig: "items" | dig: "results" | first -%}
    /payment-confirmation?order_id={{ cart.order_id }}
fields:
    properties:
    ## Payment Details
        product_name: ## Invoice number
            validation:
                presence:  
                    message: Invoice number is required 
        status: ## Cart status = "Cart"
        quantity:
        order_id:
        product_price:
            validation:
                presence:  
                    message: Amount should be greater than 0
                numericality:
                    message: Amount should be greater than 0
        tax_amount:
        shipping_amount:
        cc_charge_amount:
            property_options:
                virtual: true

        ## Order Details
        company_name:
            property_options:
                virtual: true
        billing_first_name:
            property_options:
                virtual: true
            validation:
                presence:  
                    message: First name is required 
        billing_last_name:
            property_options:
                virtual: true
            validation:
                presence:  
                    message: Last name is required 
        billing_email:
            property_options:
                virtual: true
            validation:
                email: 
                    message: Please use a valid email address
                presence:  
                    message: Please use a valid email address
        billing_phone:
            property_options:
                virtual: true
        billing_address_id:
            property_options:
                virtual: true
        billing_address_1:
            property_options:
                virtual: true
            validation:
                presence:  
                    message: Address is required 
        billing_address_2:
            property_options:
                virtual: true
        billing_address_3:
            property_options:
                virtual: true
        billing_city:
            property_options:
                virtual: true
            validation:
                presence:  
                    message: City name is required 
        billing_state:
            property_options:
                virtual: true
            validation:
                presence:
                    message: State is required 
        billing_country:
            property_options:
                virtual: true
            validation:
                presence:  
                    message: Country is required 
        billing_postcode:
            property_options:
                virtual: true
            validation:
                presence:  
                    message: Postcode is required
        ## Other Details 
        stripe_credit_card:
            property_options:
                virtual: true
        account_phone_number:
            property_options:
                virtual: true
        account_phone_number_country:
            property_options:
                virtual: true
        
default_payload: |-
  {
    "properties_attributes":{
        "status": "Cart",
        "quantity": 1,
        "shipping_amount": 0.0
    }
  }
callback_actions: >
    {%- comment -%}
    These actions are made intentionally on `callback_actions` and not on `async_callback_action` bec.
    confirmation page needs to be able to see the 'payment details' & cart summary. 
    {%- endcomment -%}    

    {%- comment -%}START: Bills payment callback process {%- endcomment -%}
    # {%- include 'modules/client/pay_bill/callback_init', 
    #     context: context,
    #     form: form -%}

    {%- session paybill_email = form.properties.billing_email -%}
---

{% form 
    html-id: "checkout-form"
    html-onsubmit:"return Paybill.events.payBillsSubmit(event);"
    html-novalidate: true %}

    <input type="hidden" id="hidden_billing_phone" 
        name="{{ form.fields.properties.billing_phone.name }}"
        value="{{ form.fields.properties.billing_phone.value }}" />

    <input type="hidden" id="hidden_phone_number" 
        name="{{ form.fields.properties.account_phone_number.name }}"
        value="{{ form.fields.properties.account_phone_number.value }}" />
    <input type="hidden" id="hidden_phone_number_country" 
        name="{{ form.fields.properties.account_phone_number_country.name }}"
        value="{{ form.fields.properties.account_phone_number_country.value }}" />

    <!-- Invoice Details -->
    {% include 'modules/client/pay_bill/invoice_details' %}
    <!-- END: Invoice Details -->
    
    <div class="spacer xxx-large"></div>
    <!-- Payment Details -->
    {%- comment -%}
    {%- include 'modules/insites_stripe/shared/api_credentials' -%}
    {%- endcomment -%}
    {%- comment -%} 
    Stripe API keys 
    - pOS `context.exports.payments`
        context.exports.payments.gateway = stripe object
        context.exports.payments.live_mode = true/false (gateway mode: test / live)
        context.exports.payments.secret = ~ stripe secret key ~
    {%- endcomment -%}

    {% include 'modules/client/pay_bill/payment_details' %}
    <!-- END Payment Details -->
    
{% endform %}