---
name: questionnaires
resource: modules/client/questionnaires
resource_owner: anyone
redirect_to: /client-portal/questionnaires
fields:
  properties:
    have_you_heard:
      validation:
        presence:  
          message: have_you_heard is required
    howd_you_learn:
      validation:
        presence:  
          message: howd_you_learn is required
    reason_for_visit:
      validation:
        presence:  
          message: reason_for_visit is required
    personal_email:
      validation:
        presence:  
          message: personal_email is required
    primary_phone:  
    previous_job:    
    service_of_interest:
      validation:
        presence:  
          message: service_of_interest is required
    attach_documents:
    contact_name:
      validation:
        presence:  
          message: contact_name is required
    contact_number:
      validation:
        presence:  
          message: contact_number is required
    update_site:
      validation:
        presence:  
          message: update_site is required
    notes:
    agreement:
      validation:
        presence:  
          message: agreement is required
#callback_actions: >    
---

{%- graphql database_info = "modules/client/forms/get_database_info", $resource: "modules/client/questionnaires" | dig: "items","results" | first -%}



{%- assign groups = database_info.metadata.groups | sort_by: "weight" -%}
{%- assign fields = database_info.properties -%}

{% comment %} assign test = {"name":"", "weight":"", "group_id":""} | json {% endcomment %}

 
{%- for group in groups -%}
    {%- assign tempFields = '1,' | split: ',' -%}
    {%- assign tempFields = "" -%}
        
    {%- assign group = group | add_hash_key: "fields", tempFields -%}

    {%- for field in fields -%}
        {%- if field.metadata.group_id == group.id -%}
            {%- parse_json properties -%}
            {
                "name": "{{field.name}}",
                "weight": "{{field.metadata.weight}}",
                "group_id": "{{field.metadata.group_id}}"
            }
            {%- endparse_json -%}

            {%- if tempFields == ""  -%}
                {%- assign tempFields =  properties   -%}
            {%- else -%}
                {%- assign tempFields = tempFields | array_add: properties -%}
            {%- endif -%}

            
            {% comment %} {%- assign group.fields = group.fields | array_add: properties -%} {% endcomment %}
            
        {%- endif -%}


    {%- endfor -%}

    {%- assign tempGroupFields = group.fields | array_delete_at: 0 -%}
    {%- assign group.fields = null -%}
    {%- assign group.fields = tempGroupFields -%}

    

{%- endfor -%}










{%- form html-class: 'insites-form insites-form-code' html-novalidate: 'novalidate' html-data-form: 'modules/client/questionnaires' -%}

    <div class="insites-form-grid">
    
    <div class="form-groups-tab">
        <div class="form-tab" data-group-id="{{groups[0].id}}" active style="width: 33.33%;">
            <div data-group-id="{{groups[0].id}}" class="form-checkbox"></div>
            <div class="form-group-name">General</div>
        </div>
        <div class="form-tab" data-group-id="{{groups[1].id}}" style="width: 33.33%;">
            <div data-group-id="{{groups[1].id}}" class="form-checkbox"></div>
            <div class="form-group-name">Additional Details</div>
        </div>
        <div class="form-tab" data-group-id="{{groups[2].id}}" style="width: 33.33%;">
            <div data-group-id="{{groups[2].id}}" class="form-checkbox"></div>
            <div class="form-group-name">Confirmation</div>
        </div>
    </div>
    
    <!-- Form Group: General -->
    <div class="form-group" data-group-id="{{groups[0].id}}" active>

        <div class="column-1">
            <h2 class="heading-2">General Information</h2>
	    </div>

        <!-- Field: Have you ever heard about Insites? -->
        <div class="column-1">
            <div class="list-field-wrap" 
                data-type="string"
                data-ui="list_radio" 
                data-name="{{ form.fields.properties.have_you_heard.name }}"
                {%- if form.errors['properties.have_you_heard'] != nil -%} has-error="true" {%- endif -%}>
                <label class="list-field_label">Have you ever head about Insites?*</label>
                <div class="list-radio-options">
                    <ins-radio
                        label="Yes" value="Yes"
                        name="{{ form.fields.properties.have_you_heard.name }}"
                        {% if form.fields.properties.have_you_heard.value == 'Yes' %}checked{% endif %}>
                    </ins-radio>
                    <ins-radio
                        label="No" value="No"
                        name="{{ form.fields.properties.have_you_heard.name }}"
                        {% if form.fields.properties.have_you_heard.value == 'No' %}checked{% endif %}>
                    </ins-radio>
                </div>
                <p class="list-field_error">{{ form.errors['properties.have_you_heard'] }}</p>
            </div>
        </div>
    
        <!-- Field: How did you learn about Insites? -->
        <div class="column-2">
            <ins-select
                searchable 
                data-type="string"
                data-ui="list_select"
                label="How did you learn about Insites?"
                name="{{ form.fields.properties.howd_you_learn.name }}"
                value="{{ form.fields.properties.howd_you_learn.value }}"
                error-message="{{ form.errors.howd_you_learn }}"
                
                {%- if form.errors['properties.howd_you_learn'] != nil -%} has-error {%- endif -%}>
                <ins-select-option label="Word of Mouth" value="Word of Mouth"></ins-select-option>
                <ins-select-option label="Online Ads" value="Online Ads"></ins-select-option>
                <ins-select-option label="Social Media" value="Social Media"></ins-select-option>
            </ins-select>
        </div>
    
        <!-- Field: What is the main reason you visit our website?  -->
        <div class="column-2">
            <ins-select
                searchable 
                data-type="string"
                data-ui="list_select"
                label="What is the main reason you visit our website? "
                name="{{ form.fields.properties.reason_for_visit.name }}"
                value="{{ form.fields.properties.reason_for_visit.value }}"
                error-message="{{ form.errors['properties.reason_for_visit'] }}"
                
                {%- if form.errors['properties.reason_for_visit'] != nil -%} has-error {%- endif -%}>
                <ins-select-option label="Browsing" value="Browsing"></ins-select-option>
                <ins-select-option label="Enquire about services" value="Enquire about services"></ins-select-option>
                <ins-select-option label="Looking for work" value="Looking for work"></ins-select-option>
            </ins-select>
        </div>
    
        <!-- Field: Personal Email -->
        <div class="column-2">
            <ins-input 
                data-type="string"
                data-ui="text"
                label="Personal Email"
                name="{{ form.fields.properties.personal_email.name }}"
                value="{{ form.fields.properties.personal_email.value }}"
                error-message="{{ form.errors['properties.personal_email'] }}"
                
                {%- if form.errors['properties.personal_email'] != nil -%} has-error {%- endif -%} 
                >
            </ins-input>
        </div>
    
        <!-- Field: Primary Phone -->
        <div class="column-2">
            <ins-input-tel 
                no-areacode
                data-type="string"
                data-ui="phone"
                label="Primary Phone"
                name="{{ form.fields.properties.primary_phone.name }}"
                value="{{ form.fields.properties.primary_phone.value }}"
                error-message="{{ form.errors['properties.primary_phone'] }}"
                
                {%- if form.errors['properties.primary_phone'] != nil -%} has-error {%- endif -%} 
                >
            </ins-input-tel>
        </div>
    
        <!-- Field: Why did you leave your previous job? -->
        <div class="column-1">
            <ins-textarea 
                
                data-type="string"
                data-ui="multi_line"
                label="Why did you leave your previous job?"
                name="{{ form.fields.properties.previous_job.name }}"
                value="{{ form.fields.properties.previous_job.value }}"
                error-message="{{ form.errors['properties.previous_job'] }}"
                
                {%- if form.errors['properties.previous_job'] != nil -%} has-error {%- endif -%}>
            </ins-textarea>
        </div>
    
        <!-- Field: Which of our services are you interested in? -->
        <div class="column-1">
            <div class="list-checkbox" 
                data-type="array" 
                data-ui="list_checkbox"  
                data-name="{{ form.fields.properties.service_of_interest.name }}"
                {%- if form.errors['properties.service_of_interest'] != nil -%} has-error="true" {%- endif -%}>
                <label class="list-checkbox_label">Which of our services are you interested in?</label>
                <div class="list-checkbox-options">
                    <ins-checkbox
                        label="Design" value="Design" 
                        name="{{ form.fields.properties.service_of_interest.name }}"
                        {%- if form.fields.properties.service_of_interest.value contains 'Design' -%} checked {%- endif -%}>
                    </ins-checkbox>
                    <ins-checkbox
                        label="Software Development" value="Software Development" 
                        name="{{ form.fields.properties.service_of_interest.name }}"
                        {%- if form.fields.properties.service_of_interest.value contains 'Software Development' -%} checked {%- endif -%}>
                    </ins-checkbox>
                    <ins-checkbox
                        label="Marketing" value="Marketing" 
                        name="{{ form.fields.properties.service_of_interest.name }}"
                        {%- if form.fields.properties.service_of_interest.value contains 'Marketing' -%} checked {%- endif -%}>
                    </ins-checkbox>
                    <ins-checkbox
                        label="Technical Support " value="Technical Support" 
                        name="{{ form.fields.properties.service_of_interest.name }}"
                        {%- if form.fields.properties.service_of_interest.value contains 'Technical Support ' -%} checked {%- endif -%}>
                    </ins-checkbox>
                </div>
                <p class="list-checkbox_error">{{ form.errors['properties.service_of_interest'] }}</p>
            </div>
        </div>
    
        <!-- Field: Attach Documents -->
        <div class="column-1">
            <ins-input-file
                data-multiple="false"
                data-name="{{ form.fields.properties.attach_documents.name }}"
                data-type="upload"
                data-ui="media_file"
                data-prop="attach_documents"
                label="Attach Documents"
                accepted-files=""
                capture=""
                error-message="{{ form.errors['properties.attach_documents'] }}"
                
                {%- if form.errors['properties.attach_documents'] != nil -%} has-error {%- endif -%}>
            </ins-input-file>
        </div>
    </div>
    
    <!-- Form Group: Additional Details -->
    <div class="form-group" data-group-id="{{groups[1].id}}">
        <!-- Field: Name of the Contact Person -->
        <div class="column-1">
            <ins-input 
                data-type="string"
                data-ui="text"
                label="Name of the Contact Person"
                name="{{ form.fields.properties.contact_name.name }}"
                value="{{ form.fields.properties.contact_name.value }}"
                error-message="{{ form.errors['properties.contact_name'] }}"
                
                {%- if form.errors['properties.contact_name'] != nil -%} has-error {%- endif -%} 
                >
            </ins-input>
        </div>
    
        <!-- Field: Contact Number -->
        <div class="column-1">
            <ins-input-tel
                no-areacode 
                data-type="string"
                data-ui="phone"
                label="Contact Number"
                name="{{ form.fields.properties.contact_number.name }}"
                value="{{ form.fields.properties.contact_number.value }}"
                error-message="{{ form.errors['properties.contact_number'] }}"
                
                {%- if form.errors['properties.contact_number'] != nil -%} has-error {%- endif -%}>
            </ins-input-tel>
        </div>
    
        <!-- Field: Would you like us to update your site or would you like to be responsible for updates?  -->
        <div class="{%- if form.metadata.properties.update_site.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
            <div class="list-field-wrap" 
                data-type="string"
                data-ui="list_radio" 
                data-name="{{ form.fields.properties.update_site.name }}"
                {%- if form.errors['properties.update_site'] != nil -%} has-error="true" {%- endif -%}>
                <label class="list-field_label">Would you like us to update your site or would you like to be responsible for updates? </label>
                <div class="list-radio-options">
                    <ins-radio
                        label="Yes" value="Yes"
                        name="{{ form.fields.properties.update_site.name }}"
                        {% if form.fields.properties.update_site.value == 'Yes' %}checked{% endif %}>
                    </ins-radio>
                    <ins-radio
                        label="No" value="No"
                        name="{{ form.fields.properties.update_site.name }}"
                        {% if form.fields.properties.update_site.value == 'No' %}checked{% endif %}>
                    </ins-radio>
                </div>
                <p class="list-field_error">{{ form.errors['properties.update_site'] }}</p>
            </div>
        </div>
    
        <!-- Field: Is there anything else you'd like to tell us?  -->
        <div class="{%- if form.metadata.properties.notes.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
            <ins-textarea 
                
                data-type="string"
                data-ui="multi_line"
                label="Is there anything else you'd like to tell us?"
                name="{{ form.fields.properties.notes.name }}"
                value="{{ form.fields.properties.notes.value }}"
                error-message="{{ form.errors['properties.notes'] }}"
                
                {%- if form.errors['properties.notes'] != nil -%} has-error {%- endif -%}>
            </ins-textarea>
        </div>
    </div>
    
    <!-- Form Group: Confirmation -->
    <div class="form-group" data-group-id="{{groups[2].id}}">
        <!-- Field: I understand and agree -->
        <div class="{%- if form.metadata.properties.agreement.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
            <div class="list-checkbox" 
                data-type="array" 
                data-ui="list_checkbox"  
                data-name="{{ form.fields.properties.agreement.name }}"
                {%- if form.errors['properties.agreement'] != nil -%} has-error="true" {%- endif -%}>
                <label class="list-checkbox_label"></label>
                <div class="list-checkbox-options">
                    <ins-checkbox
                        label="I understand and agree" value="I understand and agree" 
                        name="{{ form.fields.properties.agreement.name }}"
                        {%- if form.fields.properties.agreement.value contains 'I understand and agree' -%} checked {%- endif -%}>
                    </ins-checkbox>
                </div>
                <p class="list-checkbox_error">{{ form.errors['properties.agreement'] }}</p>
            </div>
        </div>
    </div>
    
    </div>
    
    <div class="insites-form-grid">
        <div class="insites-form-buttons column-1 text-right">
            <ins-button type="button" onclick="InsitesFormProcessor.back()" label="BACK" class="form-group-button form-back" outlined></ins-button>
            <ins-button type="button" onclick="InsitesFormProcessor.next()" label="NEXT" class="form-group-button form-next" style="display: inline;" solid></ins-button>
            <ins-button type="submit" label="SAVE & NEXT" class="form-group-button form-submit" solid></ins-button>
        </div>
    </div>
    
    {%- endform -%}
    
    <script id="modules/client/questionnaires">
        InsitesFormProcessor.setFormProps("modules/ins_database/questionnaires", "modules/client/questionnaires", {{ form.fields.properties }}, [{"id":"39bd86d4-1312-41c2-891e-791cd7206cb0","name":"General","weight":0,"fields":[{"name":"attach_documents","weight":"7","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"have_you_heard","weight":"0","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"howd_you_learn","weight":"1","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"personal_email","weight":"3","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"previous_job","weight":"5","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"primary_phone","weight":"4","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"reason_for_visit","weight":"2","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"service_of_interest","weight":"6","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"}]},{"id":"2edfee62-1403-4aa3-9859-7995d59dd220","name":"Additional Details","weight":1,"fields":[{"name":"contact_name","weight":"8","group_id":"2edfee62-1403-4aa3-9859-7995d59dd220"},{"name":"contact_number","weight":"9","group_id":"2edfee62-1403-4aa3-9859-7995d59dd220"},{"name":"notes","weight":"11","group_id":"2edfee62-1403-4aa3-9859-7995d59dd220"},{"name":"update_site","weight":"10","group_id":"2edfee62-1403-4aa3-9859-7995d59dd220"}]},{"id":"2988bc1d-77ba-48af-b6d1-6c0261b1c60f","name":"Confirmation","weight":2,"fields":[{"name":"agreement","weight":"12","group_id":"2988bc1d-77ba-48af-b6d1-6c0261b1c60f"}]}], true);
    </script>

    {% comment %}
    [{"id":"39bd86d4-1312-41c2-891e-791cd7206cb0","name":"General","weight":0,"fields":[{"name":"attach_documents","weight":"7","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"have_you_heard","weight":"0","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"howd_you_learn","weight":"1","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"personal_email","weight":"3","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"previous_job","weight":"5","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"primary_phone","weight":"4","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"reason_for_visit","weight":"2","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"},{"name":"service_of_interest","weight":"6","group_id":"39bd86d4-1312-41c2-891e-791cd7206cb0"}]},{"id":"2edfee62-1403-4aa3-9859-7995d59dd220","name":"Additional Details","weight":1,"fields":[{"name":"contact_name","weight":"8","group_id":"2edfee62-1403-4aa3-9859-7995d59dd220"},{"name":"contact_number","weight":"9","group_id":"2edfee62-1403-4aa3-9859-7995d59dd220"},{"name":"notes","weight":"11","group_id":"2edfee62-1403-4aa3-9859-7995d59dd220"},{"name":"update_site","weight":"10","group_id":"2edfee62-1403-4aa3-9859-7995d59dd220"}]},{"id":"2988bc1d-77ba-48af-b6d1-6c0261b1c60f","name":"Confirmation","weight":2,"fields":[{"name":"agreement","weight":"12","group_id":"2988bc1d-77ba-48af-b6d1-6c0261b1c60f"}]}]
    {% endcomment %}

    {% comment %} 
<script id="{{ form.name }}">
	InsitesFormProcessor.setFormProps("{{ form.name }}", "{{ form.system_fields.parent_resource_id }}", {{ form.fields.properties }}, {{ form.metadata.form_groups | default: '[]' }}, true);
</script>
{% endcomment %}

