{% comment %} NOTE: MENU {% endcomment %}
{%- graphql get_menu = 'modules/website/menu/get_parent_menu' | dig: 'items' -%}
{% if get_menu.total_entries == 0 %}
    {% parse_json menu %}
        [
            {
                "label": "About us",
                "order": "1",
                "slug": "about-us",
                "parent": ""
            },
            {
                "label": "Features",
                "order": "2",
                "slug": "features",
                "parent": ""
                
            },
            {
                "label": "FAQ",
                "order": "3",
                "slug": "faqs",
                "parent": ""
            },
            {
                "label": "News",
                "order": "4",
                "slug": "news",
                "parent": ""
            },
            {
                "label": "Contact",
                "order": "5",
                "slug": "contact-us",
                "parent": ""
            }
        ]
    {% endparse_json %}

    {% for menu_item in menu %}
        {%- graphql create_menu = "modules/website/migration/create_menu",
            label: menu_item.label,
            order: menu_item.order,
            slug: menu_item.slug,
            parent: menu_item.parent
        -%}
    {% endfor %}
{% endif %}

{% comment %} NOTE: FEEDBACK / TESTIMONIALS {% endcomment %}
{%- graphql get_feedback = 'modules/website/home/get_feedback' | dig: 'items' -%}
{% if get_feedback.total_entries == 0 %}
    {% parse_json feedback %}
        [
            {
                "full_name": "Mark Davidson",
                "location": "Byron Bay, Australia",
                "message": "Building a website from scratch felt overwhelming, but Insites made the process a breeze. Their website templates are so versatile, I was able to create a website that perfectly captures the essence of my Byron Bay surf school. Thanks guys!"
            },
            {
                "full_name": "Zoe Bennett",
                "location": "Melbourne, Australia",
                "message": "Since using Insites's template, my website has become a real standout! The user interface is so intuitive, it's attracted a whole new audience and boosted my online sales.  I couldn't recommend it more!"
                
            },
            {
                "full_name": "Kylie Nguyen",
                "location": "Perth, Australia",
                "message": "As a small business owner in Perth, every dollar counts. Insites templates were the perfect solution! They were affordable, easy to customize, and had all the features I needed to get my business online fast. I'm so grateful!"
            }
        ]
    {% endparse_json %}

    {% for feedback_item in feedback %}
        {%- graphql create_feedback = "modules/website/migration/create_feedback",
            full_name: feedback_item.full_name,
            location: feedback_item.location,
            message: feedback_item.message
        -%}
    {% endfor %}
{% endif %}

{% comment %} NOTE: BUSINESS NEEDS {% endcomment %}
{%- graphql get_business_needs = 'modules/website/home/adaptive_portal/get_business_needs' | dig: 'items' -%}
{% if get_business_needs.total_entries == 0 %}
    {% parse_json business_needs %}
        [
            {
                "business_title": "Educational institutions",
                "business_description": "Manage student records, course enrollments, and faculty communications securely."
            },
            {
                "business_title": "Law firms",
                "business_description": "Organize case files, manage client communications, and track legal deadlines securely."
                
            },
            {
                "business_title": "Real estate agencies",
                "business_description": "Store property listings, manage client interactions, and streamline transaction documentation."
            },
            {
                "business_title": "Accounting firms",
                "business_description": "Securely handle client financial documents, reports, and compliance tracking."
            },
            {
                "business_title": "Manufacturers/distributors",
                "business_description": "Track orders, manage inventory, and streamline supplier communication."
                
            },
            {
                "business_title": "Healthcare providers",
                "business_description": "Streamline patient records, appointment scheduling, and billing in one secure place."
            },
            {
                "business_title": "Insurance brokers",
                "business_description": "Manage client policies, claims, and documents securely with real-time access."
            }
        ]
    {% endparse_json %}

    {% for business_needs_item in business_needs %}
        {%- graphql create_business_needs = "modules/website/migration/create_business_needs",
            business_title: business_needs_item.business_title,
            business_description: business_needs_item.business_description
        -%}
    {% endfor %}
{% endif %}

{% comment %} NOTE: OUR TEAM {% endcomment %} 
{%- graphql get_our_team = 'modules/website/about_us/get_our_team' | dig: 'items' -%}
{% if get_our_team.total_entries == 0 %}
    {% parse_json our_team %}
        [
            {
                "order": "1",
                "name": "Benjamin Johnson",
                "occupation": "Data scientist"
            },
            {
                "order": "2",
                "name": "Daniel Jones",
                "occupation": "UX designer"
            },
            {
                "order": "3",
                "name": "Emily Smith",
                "occupation": "Software engineer"
            },
            {
                "order": "4",
                "name": "Maya Thompson",
                "occupation": "Product manager"
            }
        ]
    {% endparse_json %}

    {% for our_team_item in our_team %}
        {%- graphql create_our_team = "modules/website/migration/create_our_team",
            order: our_team_item.order,
            name: our_team_item.name,
            occupation: our_team_item.occupation
        -%}
    {% endfor %}
{% endif %}

{% comment %} NOTE: PORTAL BANNER {% endcomment %}
{%- graphql get_portal_banner = 'modules/portal/banners/get_banner' | dig: 'items' -%}
{% if get_portal_banner.total_entries == 0 %}
    {% parse_json portal_banner %}
        [
            {
                "main_text": "Easy and secure bill payments",
                "sub_text": "Manage and pay your bills with ease using the portal's secure and efficient payment system.",
                "button_label": "See the payment methods",
                "button_link": "pay-bills"
            }
        ]
    {% endparse_json %}

    {% for portal_banner_item in portal_banner %}
        {%- graphql create_portal_banner = "modules/website/migration/create_portal_banner",
            main_text: portal_banner_item.main_text,
            sub_text: portal_banner_item.sub_text,
            button_label: portal_banner_item.button_label,
            button_link: portal_banner_item.button_link
        -%}
    {% endfor %}
{% endif %}

{% comment %} NOTE: FEATURES - PARENT {% endcomment %}
{%- graphql get_features_parent = 'modules/website/features/get_features' | dig: 'items' -%}
{% if get_features_parent.total_entries == 0 %}
    {% parse_json features_parent %}
        [
            {
                "slug": "easy-to-use",
                "card_title": "Easy-to-use intuitive interface",
                "card_short_description": "Navigate seamlessly with a user-friendly design for a smooth experience.",
                "card_order": "1",
                "page_description": "Clean design, seamless navigation, fully responsive, and optimized for speed—effortless usability across all devices."
            },
            {
                "slug": "pre-built",
                "card_title": "Prebuilt & custom components",
                "card_short_description": "Reusable components designed for common use cases like client onboarding, feedback surveys, and compliance workflows.",
                "card_order": "2",
                "page_description": "Pre-built and custom templates offer ready-made forms, flexible customisation, conditional logic, sharing, version control, and exports."
            },
            {
                "slug": "fully-customisable",
                "card_title": "Fully customisable to fit your needs",
                "card_short_description": "Tailor features, workflows, and branding to match your business.",
                "card_order": "3",
                "page_description": "Fully customizable with tailored workflows, branding, feature control, user roles, integrations, and scalable design for growth."
            },
            {
                "slug": "multi-user",
                "card_title": "Multi-user access",
                "card_short_description": "Collaborate securely with teams and clients, each with custom permissions.",
                "card_order": "4",
                "page_description": "Multi-user access enables secure collaboration with custom roles, real-time updates, activity tracking, and scalable user management."
            }
        ]
    {% endparse_json %}

    {% assign feature_parent_id_holder = '[]' | parse_json -%}
    {% for features_parent_item in features_parent %}
        {%- graphql create_features_parent = "modules/website/migration/create_features_parent",
            slug: features_parent_item.slug,
            card_title: features_parent_item.card_title,
            card_short_description: features_parent_item.card_short_description,
            card_order: features_parent_item.card_order,
            page_description: features_parent_item.page_description
        -%}
        
        {% assign feature_parent_id_holder = feature_parent_id_holder | add_to_array: create_features_parent.items.id %}
    {% endfor %}

    {% comment %} NOTE: FEATURES - DETAILS {% endcomment %}
    {% parse_json features_details %}
        [
            {
                "parent": "{{ feature_parent_id_holder[0] }}",
                "heading": "Simple & clean layout",
                "short_description": "A clutter-free design that enhances usability.",
                "details_order": "1"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[0] }}",
                "heading": "Seamless navigation",
                "short_description": "Find what you need with minimal clicks.",
                "details_order": "2"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[0] }}",
                "heading": "Responsive & accessible",
                "short_description": "Works perfectly across devices and user needs.",
                "details_order": "3"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[0] }}",
                "heading": "Fast & efficient",
                "short_description": "Optimised for speed and smooth performance.",
                "details_order": "4"
            },
            {
                "parent": "{{ feature_parent_id_holder[1] }}",
                "heading": "Ready to use elements",
                "short_description": "Prebuilt components for onboarding and surveys to streamline setup.",
                "details_order": "1"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[1] }}",
                "heading": "Flexible customisation",
                "short_description": "Modify components to match branding, workflow needs, and specific business requirements.",
                "details_order": "2"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[1] }}",
                "heading": "Consistent user experience",
                "short_description": "Ensure a uniform design and functionality across different sections of the portal.",
                "details_order": "3"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[1] }}",
                "heading": "Time-saving implementation",
                "short_description": "Reduce development time with reusable components for faster deployment.",
                "details_order": "4"
            },
            {
                "parent": "{{ feature_parent_id_holder[2] }}",
                "heading": "Tailored workflows",
                "short_description": "Customise processes and automation to align with your business operations and requirements.",
                "details_order": "1"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[2] }}",
                "heading": "Branding control",
                "short_description": "Apply logos, colors, and themes to create a fully branded and professional experience.",
                "details_order": "2"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[2] }}",
                "heading": "User roles & permissions",
                "short_description": "Set custom access levels and permissions to control user actions and data visibility.",
                "details_order": "3"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[2] }}",
                "heading": "Scalable design",
                "short_description": "Adapt and expand the portal's capabilities as your business grows and evolves.",
                "details_order": "4"
            },
            {
                "parent": "{{ feature_parent_id_holder[3] }}",
                "heading": "Secure collaboration",
                "short_description": "Work with teams and clients while ensuring data security through controlled access.",
                "details_order": "1"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[3] }}",
                "heading": "Custom user permissions",
                "short_description": "Assign specific roles, access levels, and restrictions to manage user interactions effectively.",
                "details_order": "2"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[3] }}",
                "heading": "Activity tracking",
                "short_description": "Monitor user actions, track changes, and maintain logs for accountability and security.",
                "details_order": "3"
            }, 
            {
                "parent": "{{ feature_parent_id_holder[3] }}",
                "heading": "Scalable user management",
                "short_description": "Easily add, remove, or modify user roles to match your growing business needs.",
                "details_order": "4"
            }
        ]
    {% endparse_json %}

    {% for features_details_item in features_details %}
        {%- graphql create_features_details = "modules/website/migration/create_features_details",
            parent: features_details_item.parent,
            heading: features_details_item.heading,
            short_description: features_details_item.short_description,
            details_order: features_details_item.details_order
        -%}
    {% endfor %}
{% endif %}


{% comment %} NOTE: FAQS {% endcomment %}
{%- graphql get_faqs = 'modules/website/faqs/get_faqs' | dig: 'items' -%}
{% if get_faqs.total_entries == 0 %}
    {% parse_json faqs %}
        [
            {
                "question": "Support & contact",
                "slug": "support-contact",
                "answer": "Learn about getting help, contacting support, tracking requests, and sharing feedback with our team.",
                "sort_order": "1",
                "sub_topic_title_1": "How do I contact support?",
                "sub_topic_details_1": "You can get in touch with the support team through the portal or via email.",
                "sub_topic_title_2": "When is support available?",
                "sub_topic_details_2": "Support hours vary, but responses are typically provided during business hours.",
                "sub_topic_title_3": "How can I check the status of a support request?",
                "sub_topic_details_3": "You may be able to track open support tickets within the portal.",
                "sub_topic_title_4": "Can I leave feedback or suggestions?",
                "sub_topic_details_4": "Yes, we welcome your feedback. Use the feedback form or contact us directly."
                
            },
            {
                "question": "General",
                "slug": "general",
                "answer": "Learn about our platform, services, accessibility, and how to stay updated.",
                "sort_order": "2",
                "sub_topic_title_1": "What is this platform, and what services do you offer?",
                "sub_topic_details_1": "Our platform provides a client portal for managing documents, completing questionnaires, and accessing essential services tailored to your needs.",
                "sub_topic_title_2": "Who can use this platform?",
                "sub_topic_details_2": "Our platform is designed for registered clients who needs a secure and organized way to manage their information and communicate with our team.",
                "sub_topic_title_3": "Do I need to install any software to use the platform?",
                "sub_topic_details_3": "No, our platform is web-based so you can access it from any device with an internet connection and a web browser.",
                "sub_topic_title_4": "How can I stay updated on new features and announcements?",
                "sub_topic_details_4": "You can subscribe to our newsletter, follow our blog, or check the announcements section in your client portal."
                
            },
            {
                "question": "Account & registration",
                "slug": "account-registration",
                "answer": "Learn about creating an account, updating your profile, managing login details, and account access.",
                "sort_order": "3",
                "sub_topic_title_1": "How do I update the colour style guide?",
                "sub_topic_details_1": "Select an element on your design. Select a color tile from the editor toolbar to bring up the color panel. Your brand color palettes should appear there. Select a color from the color palette to apply it to the element.",
                "sub_topic_title_2": "How do I update the button styles?",
                "sub_topic_details_2": "We have crafted the button style for you, you can change the button style in the Insites style guide and components pages for the developer guide. Also we have crafter the button variants for you!",
                "sub_topic_title_3": "Can I change the components?",
                "sub_topic_details_3": "Update components. To make sure Figma applies changes to all instances of a component, you will need to edit the main component",
                "sub_topic_title_4": "How do I restyle the web blocks?",
                "sub_topic_details_4": "Block styles work by adding a CSS class to the block and applying styles to the new selector. When you have selected a block style, you can open the Advanced section of the block settings sidebar and see that WordPress adds the class in the Additional CSS"
                
            },
            {
                "question": "Portal",
                "slug": "portal",
                "answer": "Learn about navigating the portal, accessing key features, customising your view, and managing your experience.",
                "sort_order": "4",
                "sub_topic_title_1": "How do I navigate the portal dashboard?",
                "sub_topic_details_1": "The portal dashboard provides quick access to your most recent activity, notifications, and key tools. Use the sidebar menu to navigate between sections such as Projects, Messages, and Billing.",
                "sub_topic_title_2": "Can I customise my portal layout?",
                "sub_topic_details_2": "Yes, you can personalise certain aspects of the portal, such as notification preferences, profile settings, and dashboard widgets. Layout customisation may vary depending on your account type.",
                "sub_topic_title_3": "What browsers are supported by the portal?",
                "sub_topic_details_3": "Our portal supports the latest versions of Chrome, Firefox, Safari, and Edge. For the best experience, we recommend keeping your browser updated to the latest version.",
                "sub_topic_title_4": "How do I report a bug or request a new feature?",
                "sub_topic_details_4": "You can report bugs or suggest features via the “Feedback” button located in the portal footer. All submissions are reviewed by our product team."
                
            },
            {
                "question": "Security & privacy",
                "slug": "security-privacy",
                "answer": "Learn about how your data is protected, account security options, privacy settings, and safe usage practices.",
                "sort_order": "5",
                "sub_topic_title_1": "Is my information kept private?",
                "sub_topic_details_1": "Yes, all user data is handled with strict confidentiality and security measures.",
                "sub_topic_title_2": "How do I protect my account?",
                "sub_topic_details_2": "Use a strong password and log out when finished. Additional security options may be available in your settings.",
                "sub_topic_title_3": "Who can access my data?",
                "sub_topic_details_3": "Only authorised users or team members with appropriate permissions can view your information.",
                "sub_topic_title_4": "What should I do if I suspect a security issue?",
                "sub_topic_details_4": "Contact support immediately if you notice anything unusual with your account."
                
            },  
            {
                "question": "Billing & payments",
                "slug": "billing-payments",
                "answer": "Learn about invoices, payment methods, billing settings, and how to manage your account charges.",
                "sort_order": "6",
                "sub_topic_title_1": "Where can I view my billing details?",
                "sub_topic_details_1": "Billing information is typically available in a dedicated section of the portal.",
                "sub_topic_title_2": "How do I make a payment?",
                "sub_topic_details_2": "Follow the instructions in the billing area to complete your payment using the supported methods.",
                "sub_topic_title_3": "Can I update my payment information?",
                "sub_topic_details_3": "Yes, you can usually update your billing details in your account settings.",
                "sub_topic_title_4": "What should I do if there's a billing issue?",
                "sub_topic_details_4": "Reach out to support if you have any questions or concerns about charges or invoices."
                
            }
        ]
    {% endparse_json %}

    {% for faqs_item in faqs %}
        {%- graphql create_faqs = "modules/website/migration/create_faqs",
            question: faqs_item.question,
            slug: faqs_item.slug,
            answer: faqs_item.answer,
            sort_order: faqs_item.sort_order,
            sub_topic_title_1: faqs_item.sub_topic_title_1,
            sub_topic_details_1: faqs_item.sub_topic_details_1,
            sub_topic_title_2: faqs_item.sub_topic_title_2,
            sub_topic_details_2: faqs_item.sub_topic_details_2,
            sub_topic_title_3: faqs_item.sub_topic_title_3,
            sub_topic_details_3: faqs_item.sub_topic_details_3,
            sub_topic_title_4: faqs_item.sub_topic_title_4,
            sub_topic_details_4: faqs_item.sub_topic_details_4
        -%}
    {% endfor %}
{% endif %}

{% comment %} NOTE: NEWS {% endcomment %}
{%- graphql get_news = 'modules/website/news/get_news_for_migration' | dig: 'items' -%}
{% if get_news.total_entries == 0 %}
    {% parse_json news %}
        [
            {
                "status": "Published",
                "title": "The Beginner's Guide to Website Development",
                "slug": "the-beginners-guide-to-website-development",
                "published_date": "2025-03-10",
                "tag": "Web Development",
                "list_view_text": "So, you want to build a website? Great! The digital world is your oyster, and a website is your ticket to online success. But where do you start?",
                "author": "",
                "content": "<p>Creating a website is one of the most powerful steps you can take to build an online presence—whether you're launching a personal blog, promoting a business, or showcasing your portfolio. But if you're new to the world of website development, the process can seem overwhelming at first.</p><br><p>The good news? You don't need to be a tech expert to get started. With the right guidance, tools, and planning, anyone can build a functional and attractive website. Here's a beginner-friendly breakdown of the key concepts and steps involved in website development.</p><br><h6>Understand the Basics of Website Development</h6><br><p>Website development refers to the process of creating, building, and maintaining a website. It involves everything from coding and layout design to content creation and server configuration. There are two main areas of development: <b>frontend</b> (what users see) and <b>backend</b> (how everything works behind the scenes).</p><br><p>Frontend development deals with elements like layout, colours, typography, and interactivity using languages such as HTML, CSS, and JavaScript. Backend development focuses on databases, servers, and application logic—typically built with languages like PHP, Python, Ruby, or Node.js.</p><br><h6>Choose the Right Platform</h6><br><p>As a beginner, one of the first choices you'll make is selecting a platform to build your site. Popular options include: - <b>Website builders</b> like Wix or Squarespace for drag-and-drop simplicity - <b>Content Management Systems (CMS)</b> like WordPress for flexibility and control - <b>Custom coding</b> if you want to build from scratch (usually best for developers).</p><br><p>For most beginners, starting with a CMS like WordPress offers a great balance between usability and customisation.</p><br><h6>Get a Domain Name and Hosting</h6><br>Your domain name is your website's address, and hosting is the service that stores your site's files and makes them accessible online.Choose a domain name that is short, relevant, and easy to remember. Hosting providers like Bluehost, SiteGround, or GoDaddy offer beginner-friendly hosting packages that integrate well with popular platforms.<p></p><br><h6>Plan Your Website Structure</h6><br><p>Before jumping into design, map out your website's structure. Common pages to include are: Home, About, Services or Products, Blog or News and Contact</p><br><p>Think about your users' journey—what do you want them to see first, and where should they go next? A clear, user-friendly structure helps guide visitors and improve usability.</p><br><h6>Focus on Design and User Experience</h6><br><p>Good web design isn't just about looking nice—it's about making your site easy to use. Choose clean layouts, legible fonts, and consistent colours. Make sure your site is mobile-responsive, meaning it works well on phones and tablets.</p><br><p>Tools like Figma or Canva can help you plan your visual layout before building it. Or, you can choose a pre-built theme and customise it to match your brand.</p><br><h6>Add and Optimise Content</h6><br><p>Once your structure and design are in place, start adding content: text, images, videos, and more. Keep your content clear, concise, and engaging.Optimise each page for search engines (SEO) by using keywords, headings, image alt tags, and internal links. This helps your site appear in search results and attract more visitors.</p><br><h6>Test Before You Launch</h6><br><p>Before publishing your site, test it on multiple devices and browsers to ensure it looks and functions as intended. Check for broken links, spelling errors, and slow-loading pages. </p><br><p>If you're using WordPress or another CMS, consider installing basic plugins for SEO, performance, and security.</p><br><h6>Maintain and Update Your Website</h6><br><p>Launching your site is just the beginning. Keep it updated with fresh content, new blog posts, and regular security patches. Monitor performance using tools like Google Analytics and make improvements based on user behaviour.</p><br><p>A well-maintained website builds trust with users and helps you grow your audience over time.</p><br><h6>Conclusion: Start Small, Think Big</h6><br><p>Website development may seem complex at first, but starting with the basics allows you to build confidence as you go. By planning carefully, using beginner-friendly tools, and learning step by step, you can create a professional-looking site that supports your goals and grows with your needs.Whether you're launching a small business or sharing your passion with the world, your website is your digital home—make it count.</p>"
            },
            {
                "status": "Published",
                "title": "Advantages of Working Remotely",
                "slug": "advantages-of-working-remotely",
                "published_date": "2025-03-10",
                "tag": "Web Development",
                "list_view_text": "Remote work has become increasingly popular in recent years, offering a flexible and convenient work-life balance. There are numerous advantages to working remotely, including:",
                "author": "",
                "content": "<p>In recent years, remote work has shifted from a growing trend to a widely accepted norm. What once seemed like a temporary adjustment has now become a long-term strategy for many businesses and professionals around the world.</p><br><p>Whether you're a freelancer, full-time employee, or business owner, the ability to work remotely opens the door to a new level of flexibility and efficiency. Here are some of the biggest advantages of working remotely—and why it's reshaping the future of work.</p><br><h6>Greater Flexibility and Work-Life Balance</h6><br><p>Remote work gives you the flexibility to design your day around your personal and professional priorities. You can set your own schedule, avoid long commutes, and create a routine that supports your productivity and well-being. This flexibility often leads to better work-life balance, allowing individuals to spend more time with family, pursue hobbies, and take better care of their health—all of which can improve job satisfaction and overall happiness.</p><br><h6>Increased Productivity</h6><br><p>Contrary to the assumption that remote work reduces output, many studies have shown that people are often more productive when working from home. With fewer office distractions, more control over the work environment, and the ability to focus during peak energy hours, remote workers can often complete tasks more efficiently. Additionally, being able to personalise your workspace helps improve comfort and focus, contributing to higher-quality work.</p><br><h6>Reduced Commute and Related Stress</h6><br><p>One of the most immediate and noticeable benefits of working remotely is eliminating the daily commute. Whether it's 30 minutes or two hours, time spent travelling to and from work can add stress and fatigue to your day. Remote work allows that time to be reinvested in more meaningful activities—extra sleep, exercise, or simply starting your workday more refreshed and ready.</p><br><h6>Cost Savings</h6><br><p>Working from home can significantly reduce expenses for both employees and employers. Individuals save on transportation, fuel, dining out, and work attire. Employers, on the other hand, can cut down on office space, utilities, and other overhead costs. Over time, these savings add up and can be redirected into personal or business growth opportunities.</p><br><h6>Access to a Wider Talent Pool</h6><br><p>For businesses, remote work removes geographic limitations when hiring talent. Companies can tap into a global talent pool, giving them access to top professionals regardless of location. This also creates more diversity in teams, bringing in varied perspectives and experiences that can lead to better ideas and innovations.</p><br><h6>Improved Employee Retention</h6><br><p>Employees who are offered flexible work options often report higher job satisfaction and loyalty. They feel trusted and valued, which reduces turnover rates and helps companies retain top talent. The ability to work remotely can be a strong factor in someone's decision to stay with a company long-term.</p><br><h6>Health and Wellbeing Benefits</h6><br><p>Remote workers tend to experience lower levels of stress and burnout, thanks to the ability to better manage their own schedules and environments. They're able to take breaks when needed, prepare healthier meals, and avoid exposure to office-related illnesses. Mental health also benefits, with workers feeling more in control of their day-to-day lives and less pressure from rigid corporate settings.</p><br><h6>Environmentally Friendly</h6><br><p>Fewer commuters mean fewer cars on the road, leading to a reduction in greenhouse gas emissions and urban congestion. Businesses with remote work policies also tend to use less energy and resources, contributing to a smaller environmental footprint. In a world increasingly focused on sustainability, remote work can play a positive role in environmental responsibility.</p><br><h6>Conclusion: A Win-Win for Everyone</h6><br><p>The advantages of working remotely are clear—it empowers individuals to work more effectively while offering companies increased agility and access to global talent. As remote work becomes a standard rather than an exception, embracing it can lead to greater success, satisfaction, and sustainability for both employers and employees. Whether full-time or hybrid, remote work is here to stay—and it's changing the way we work for the better.</p>"
            },
            {
                "status": "Published",
                "title": "How To Reach Customers Everywhere With Mobile SEO",
                "slug": "how-to-reach-customers-everywhere-with-mobile-seo",
                "published_date": "2025-03-10",
                "tag": "SEO",
                "list_view_text": "In today's digital age, mobile devices have become the primary way people access the internet. To reach your target audience effectively, optimizing your website for mobile search is crucial. Mobile SEO ensures your website is easily found and accessible on smartphones and tablets, leading to increased visibility and conversions.",
                "author": "",
                "content": "<p>In an increasingly mobile-first world, your customers are constantly on the move—and they're searching for products and services wherever they go. That's why mobile SEO (Search Engine Optimisation) is essential for any business that wants to stay visible, competitive, and relevant.With more than half of global web traffic coming from mobile devices, Google now prioritises mobile-friendly websites in its search rankings. If your site isn't optimised for mobile SEO, you could be missing out on a huge number of potential customers. Here's how to reach them effectively, no matter where they are:</p><br><h6>Optimise for Mobile-First Indexing</h6><br><p>Google uses mobile-first indexing, meaning it primarily evaluates the mobile version of your website to determine its rankings. To stay competitive, ensure that your mobile site contains the same high-quality content as your desktop version. This includes text, images, structured data, and meta tags. Avoid using separate URLs for mobile; instead, use responsive design so your site works seamlessly on all screen sizes.</p><br><h6>Improve Page Load Speed</h6><br><p>Mobile users expect instant results. A slow-loading page can lead to high bounce rates and lower search rankings. To boost speed, compress images, enable browser caching, use a content delivery network (CDN), and eliminate unnecessary scripts. Tools like Google PageSpeed Insights can help you identify and fix performance bottlenecks that affect mobile SEO.</p><br><h6>Use Responsive Design</h6><br><p>Responsive design ensures your website adapts to different screen sizes and orientations, providing a smooth and consistent user experience. Google recommends responsive design as the best mobile-friendly solution. It not only improves usability but also helps search engines crawl and index your site more efficiently.</p><br><h6>Focus on Local SEO</h6><br><p>Mobile searches often include location-based queries like “near me” or “open now.” To capitalise on this, optimise your Google Business Profile, include your business's name, address, and phone number (NAP) consistently across the web, and encourage customer reviews. Use local keywords and add location-specific landing pages if you serve multiple areas.</p><br><h6>Simplify Navigation for Touch</h6><br><p>Mobile users navigate with their fingers, not a mouse. Simplify your site's layout by using larger tap targets, sticky navigation, and clearly labelled menu items. Avoid dropdown menus or complex interactions that require precision. Clear, user-friendly navigation improves both usability and search performance.</p><br><h6>Optimise Content for Mobile Consumption</h6><br><p>Mobile screens require content to be concise, scannable, and engaging. Use short paragraphs, bullet points, and subheadings to break up text. Make use of multimedia like images or videos to hold attention, but ensure they're optimised for fast loading. The goal is to keep users engaged without overwhelming them.</p><br><h6>Prioritise Mobile Usability</h6><br><p>User experience is a critical SEO ranking factor. Ensure that fonts are legible, buttons are accessible, and content doesn't overflow the screen. Avoid intrusive popups that can frustrate users on small screens. Tools like Google's Mobile-Friendly Test can help you identify and resolve usability issues.</p><br><h6>Track and Refine with Mobile Analytics</h6><br><p>Use tools like Google Analytics and Google Search Console to track how users interact with your site on mobile devices. Look for patterns in bounce rates, page views, and conversion paths to understand where improvements are needed. Regularly review your mobile SEO performance and refine your strategy based on real user behaviour.</p><br><h6>Conclusion: Reach Customers Wherever They Are</h6><br><p>Mobile SEO is no longer optional—it's a necessity. By making your site mobile-friendly, fast, and localised, you position your brand to reach customers in the exact moments they need you. With a well-executed mobile SEO strategy, you can connect with your audience anytime, anywhere, and turn mobile searches into loyal customers.</p>"
            },
            {
                "status": "Published",
                "title": "Elevate Your Brand with Expert Design",
                "slug": "elevate-your-brand-with-expert-design",
                "published_date": "2025-03-10",
                "tag": "Design",
                "list_view_text": "In today's competitive marketplace, a strong brand is essential for business success. A well-crafted brand identity can help you stand out from the crowd, build trust with your audience, and drive growth.",
                "author": "",
                "content": "<p>In today's competitive digital landscape, branding is more than just a logo—it's the entire experience your audience has with your business. Expert design plays a pivotal role in shaping that experience, ensuring your brand is not only visually appealing but also communicates trust, professionalism, and purpose.</p><br><p>From your website and social media to packaging and presentations, every visual element should work together to create a unified and memorable brand identity. Below are several key areas where expert design can help you elevate your brand and stand out from the competition:</p><br><h6>Establish a Strong First Impression</h6><br><p>Your audience forms an opinion about your brand within seconds. Expert design ensures that this first impression is a positive one. From choosing the right colour palette to crafting an intuitive layout, professional design instantly signals credibility and attention to detail—two qualities that are vital for gaining trust and encouraging engagement.</p><br><h6>Create a Cohesive Visual Identity</h6><br><p>Consistency is key to brand recognition. Expert designers help develop visual systems—including logos, typography, colour schemes, and imagery—that are used consistently across all platforms and materials. This consistency reinforces your message and makes your brand easily recognisable wherever your audience encounters it.</p><br><h6>Enhance Brand Storytelling</h6><br><p>Every brand has a story, and great design helps bring that story to life. Whether it's through compelling visuals, smart use of whitespace, or strategic layout decisions, expert design ensures your story is communicated clearly and emotionally. This emotional connection helps build loyalty and deepens the impact of your brand message.</p><br><h6>Improve User Experience (UX)</h6><br><p>Design isn't just about aesthetics—it's also about usability. Expert design considers how users interact with your brand, whether online or offline. Clear navigation, responsive layouts, and accessible interfaces contribute to a smooth user experience, which keeps customers engaged and encourages repeat interaction.</p><br><h6>Boost Professionalism and Credibility</h6><br><p>An amateur design can undermine even the best products or services. On the other hand, a polished, professionally designed brand instils confidence in your audience. It shows that you value quality and that you're serious about your business, which can be the difference between a prospect choosing you or a competitor.</p><br><h6>Drive Higher Engagement and Conversions</h6><br><p>Well-designed visuals are proven to capture attention and guide users toward key actions. Whether it's a compelling call-to-action button, an attractive landing page, or a powerful promotional graphic, expert design plays a key role in boosting engagement and encouraging conversions.</p><br><h6>Adapt Across All Mediums</h6><br><p>A strong brand should be versatile enough to adapt across digital and print media without losing its identity. Expert designers know how to translate your brand across various platforms—from websites and social media to print ads and business cards—ensuring it looks great and communicates clearly no matter where it appears.</p><br><h6>Stay Relevant and Competitive</h6><br><p>Design trends and user expectations evolve quickly. Working with professional designers helps your brand stay current without compromising your identity. This adaptability is essential in fast-moving markets, where relevance can directly impact how your brand is perceived.</p><br><h6>Conclusion: Invest in Design, Elevate Your Brand</h6><br><p>Expert design is not just a finishing touch—it's a foundation. When you invest in high-quality design, you're investing in how your audience perceives and interacts with your brand. Whether you're launching a new business or refreshing your current identity, <b>great design has the power to elevate your brand, build trust, and drive results.</b></p>"
            },
            {
                "status": "Published",
                "title": "Design as Storytelling: Crafting Narratives Through Visuals",
                "slug": "design-as-storytelling-crafting-narratives-through-visuals",
                "published_date": "2025-03-10",
                "tag": "Design",
                "list_view_text": "Design is more than just aesthetics; it's a powerful tool for storytelling. By understanding the art of narrative, designers can create meaningful connections with audiences and leave a lasting impression",
                "author": "",
                "content": "<p>Great design does more than just look good—it tells a story. In today's competitive digital landscape, where attention spans are short and users are constantly bombarded with content, visual storytelling has become a powerful tool for brands and designers alike.</p><br><p>Design as storytelling means using visual elements not only to communicate information but also to create emotional connections, shape perceptions, and guide users through a journey.</p><br><p>Let's explore how thoughtful design can bring stories to life.</p><br><h6>Understanding Visual Storytelling</h6><br><p>At its core, visual storytelling involves using design elements—such as colour, typography, imagery, and layout—to communicate a narrative or message. This approach doesn't rely solely on words. Instead, it engages users through visuals that evoke emotion, context, and meaning. Just like in a novel or film, good visual storytelling has a beginning, middle, and end—it draws the viewer in, builds interest, and leaves a lasting impression.</p><br><h6>Design Is the Language of Emotion</h6><br><p>Design influences how we feel. Colours can signal moods (e.g., red for passion, blue for calm), typography can suggest tone (playful, serious, formal), and imagery can reinforce values and messages. By intentionally selecting these elements, designers can align visual cues with the narrative a brand wants to tell—whether it's the warmth of a family business or the innovation of a tech startup. The goal is to make users feel something, not just see something.</p><br><h6>Consistency Builds Trust</h6><br><p>Every design choice contributes to the overall narrative. When visuals are consistent—across a website, social media, product packaging, or advertisements—they reinforce the same message. This consistency helps build familiarity and trust, allowing users to understand what a brand stands for without needing lengthy explanations. Think of it as the visual equivalent of a brand's “voice.”</p><br><h6>Layout as a Story Structure</h6><br><p>The way content is arranged can guide the viewer through a story, much like scenes in a film. A strong layout creates a logical flow that captures attention, builds curiosity, and leads users toward a conclusion or call to action. Designers use hierarchy, whitespace, and visual cues like arrows or lines to lead the eye and shape the user experience. It's not just about aesthetics—it's about directing focus and telling a story step by step.</p><br><h6>Imagery That Speaks</h6><br><p>Photos, illustrations, and graphics are often the most emotionally resonant parts of a design. A powerful image can capture the essence of a brand's mission, showcase a product in action, or evoke empathy. When chosen carefully and with purpose, images help ground abstract ideas in relatable, human experiences. They become the characters in your story.</p><br><h6>Motion and Interaction</h6><br><p>Interactive and animated elements bring storytelling to life in new ways. Micro-interactions (like a button animation or hover effect) can add delight and reinforce the narrative, while larger animations (like scroll-triggered scenes or video headers) can dramatically enhance the mood and tone of a page. Used thoughtfully, these details make the story feel more immersive and memorable.</p><br><h6>Designing with Purpose</h6><br><p>Every design project should begin with a clear understanding of the story you want to tell. Is it a journey of transformation? A story of community? A showcase of innovation? By identifying the core message and values behind the design, you can align every visual choice—colour, composition, typography, animation—with that story. This approach creates more meaningful experiences that resonate with audiences.</p><br><h6>Conclusion: Design Beyond Decoration</h6><br><p>Design is not just decoration—it's communication. It's how brands connect with people, how products express their purpose, and how messages become memorable. When designers embrace storytelling as a guiding principle, their work becomes more than just visually appealing—it becomes emotionally engaging and deeply impactful.</p><br><p>So next time you start a design project, don't just ask what it should <i>look</i> like. Ask: <i>What story should it tell?</i></p>"
            },
            {
                "status": "Published",
                "title": "8 Mobile UX Best Practices Every Designer Should Consider",
                "slug": "8-mobile-ux-best-practices-every-designer-should-consider",
                "published_date": "2025-03-10",
                "tag": "Technology",
                "list_view_text": "Mobile UX design is a critical aspect of creating successful mobile applications. By following these best practices, you can enhance user experience, increase engagement, and drive conversions.",
                "author": "",
                "content": "<p>In today's digital landscape, mobile devices dominate how people interact with the internet and digital services. That makes mobile user experience (UX) design more important than ever. A great mobile UX ensures that users can interact with an app or website seamlessly, efficiently, and enjoyably—no matter where they are or which device they're using.Whether you're designing a brand-new app or refining an existing one, following the right mobile UX practices can significantly improve engagement, reduce bounce rates, and drive long-term user satisfaction. Below are eight essential best practices every designer should consider:</p><br><h6>Prioritise Finger-Friendly Design</h6><br><p>As mobile users rely on touch, UI elements must be designed with thumbs and fingers in mind. Buttons and interactive areas should be large enough (typically at least 44x44 pixels), well-spaced, and positioned in easily reachable zones—especially for one-handed use. Cluttered designs with small tap targets can lead to user frustration and increased bounce rates.</p><br><h6>Optimise images</h6><br><p>Speed is crucial when it comes to mobile UX. Mobile users have high expectations for fast load times, and delays can quickly lead to frustration and abandonment. To meet these expectations, it's important to optimise your app by compressing images and assets, minimising HTTP requests, and using efficient code or lightweight frameworks. Enabling caching and lazy loading can further improve performance, ensuring faster load times. A slow app, regardless of its design or functionality, is likely to leave users dissatisfied, so prioritising speed is key to improving the overall user experience.</p><br><h6>Simplify Navigation</h6><br><p>Navigation is a fundamental aspect of mobile UX, and on mobile devices, screen space is limited, which makes simplicity even more important. A complex or deep navigation structure can confuse users and make it difficult for them to find what they need. To ensure a seamless experience, use recognisable icons, keep key features easily accessible, and limit the number of options in the main navigation. A simple, intuitive navigation system will help users feel confident and in control as they move through your app, reducing the chances of them becoming frustrated and abandoning it.</p><br><h6>Design for Different Screen Sizes</h6><br><p>Mobile devices come in a wide range of screen sizes, from compact smartphones to larger tablets, so it's important to design your app to be responsive and adaptable to various devices. By using flexible grids, fluid layouts, and scalable fonts and controls, you can ensure that your app looks and functions well no matter the device. Testing your design in both portrait and landscape orientations is equally important, as users may switch between them. Ensuring that your design is responsive will help provide a consistent and enjoyable experience for all users, regardless of their device type.</p><br><h6>Leverage Touch Gestures</h6><br><p>Touch gestures—such as swiping, pinching, and dragging—can make interactions feel more intuitive and fluid. When used correctly, they can enhance the user experience by providing a more natural way to navigate through the app. However, it's important to make sure that gestures complement rather than replace core functionality. Providing visual cues or offering short onboarding tutorials can help users understand how to perform gestures effectively. Additionally, ensure that gestures do not conflict with system-level actions or standard mobile behaviours, as this can create confusion and disrupt the overall experience.</p><br><h6>Test on Real Devices</h6><h6><br><p>While simulators can be helpful during early development stages, testing your app on real devices is crucial to understanding how it will perform in the real world. Devices vary in screen size, resolution, and performance, so it's essential to test across multiple devices to ensure a consistent experience. Testing on real devices also allows you to identify and address issues like touch response, performance problems, and device-specific quirks that may not appear in emulators. Real-world testing is essential for ironing out issues and ensuring your app is ready for release.</p><br></h6><h6>Optimise for Battery Life</h6><br><p>Mobile users expect their devices to last throughout the day without running out of battery, so an app that drains battery life quickly can lead to negative reviews and uninstalls. To minimise battery consumption, avoid excessive use of location services, animations, or background tasks that can quickly deplete battery power. Additionally, optimise network requests to reduce unnecessary energy usage. A power-efficient app ensures a better user experience and encourages users to keep it installed, making it more likely they'll return to it.</p><br><h6>Focus on User Feedback</h6><br><p>User feedback is one of the most valuable resources for improving your app. User-centred design is an ongoing process, and gathering feedback from users after launch is critical to understanding their needs and pain points. You can encourage feedback through in-app surveys, ratings, or reviews, and use analytics tools to monitor user behaviour and identify areas that need improvement. By iterating on the feedback and continually refining the design, you can ensure that your app evolves in a way that truly meets the needs of your audience, resulting in a better overall experience.</p>"
            },
            {
                "status": "Published",
                "title": "Building empathy in the digital age: Can AI understand human emotion?",
                "slug": "building-empathy-in-the-digital-age-can-ai-understand-human-emotion",
                "published_date": "2025-03-29",
                "tag": "Technology",
                "list_view_text": "Advancements in AI's ability to understand and respond to human emotions through sentiment analysis and emotional intelligence algorithms are reshaping fields like customer service, social media, and telemedicine, creating more empathetic interactions in a digital world.",
                "author": "",
                "content": "<h6>The Role of AI in Emotion Recognition</h6><br><p>AI has made significant strides in recognizing human emotions. Using technologies such as natural language processing (NLP), sentiment analysis, and facial recognition, AI can detect emotions based on tone of voice, choice of words, facial expressions, and physiological cues. Many businesses leverage these capabilities to enhance customer service, improve user experience, and even offer mental health support through AI-driven therapy bots</p><br>.<p>Despite these advancements, AI does not feel emotions as humans do. Rather, it interprets data patterns and predicts emotional states based on learned inputs. For instance, an AI-powered chatbot can recognize frustration in a customer's message and respond with reassuring language, but it does not experience or internalize that frustration.</p><br><h6>Can AI Truly Build Empathy?</h6><br><p>Empathy is a complex human trait that involves understanding, sharing, and responding to the emotions of others. While AI can simulate empathetic responses through programmed interactions, true empathy requires personal experience, self-awareness, and emotional intelligence—qualities that AI lacks.</p><br><p>However, AI-driven systems can enhance empathetic interactions by assisting humans. In healthcare, for example, AI can analyze a patient's tone and expressions to alert doctors to potential distress. In customer service, AI can help representatives tailor responses to users' emotions in real time. In these cases, AI serves as a tool that amplifies human empathy rather than replacing it.</p><br><h6>Ethical Considerations and the Future of AI Empathy</h6><br><p>As AI continues to evolve, ethical concerns surrounding emotional AI must be addressed. Should AI be used to manipulate emotions for marketing or persuasion? How can we ensure AI respects emotional privacy? Developers and policymakers must work together to create ethical guidelines that prioritize human well-being.</p><br><p>Looking ahead, the future of AI and empathy will likely involve a hybrid approach—one where AI enhances human understanding rather than replacing genuine human connection. While AI may never feel emotions, it can still play a crucial role in fostering more empathetic interactions in our digital world.</p><br><p>AI's ability to recognize and respond to human emotions is a remarkable achievement, but true empathy remains a uniquely human trait. By leveraging AI responsibly, we can enhance emotional intelligence in technology while preserving the irreplaceable value of human connection.</p>"
            }
        ]
    {% endparse_json %}
    {% for news_item in news %}
        {%- graphql create_news = "modules/website/migration/create_news",
            status: news_item.status,
            title: news_item.title,
            slug: news_item.slug,
            published_date: news_item.published_date,
            tag: news_item.tag,
            list_view_text: news_item.list_view_text,
            author: news_item.author,
            content: news_item.content
        -%}
    {% endfor %}
{% endif %}

{% comment %} NOTE: REQUEST - PORTAL {% endcomment %}
{%- graphql get_request = 'modules/portal/overview/get_request' | dig: 'items' -%}
    {% if get_request.total_entries == 0 %}
    {% parse_json request %}
        [
            {
                "description": "Login button not responding",
                "requested_by": "Jane Cooper",
                "type": "Bug"
            },
            {
                "description": "File upload fails for large files",
                "requested_by": "Jacob Jones",
                "type": "Bug"
            },
            {
                "description": "Update dashboard layout",
                "requested_by": "Guy Hawkins",
                "type": "Change request"
            },
            {
                "description": "Enable multi-user collaboration",
                "requested_by": "Jenny Wilson",
                "type": "Feature request"
            },
            {
                "description": "Modify email notification format",
                "requested_by": "Jacob Jones",
                "type": "Bug"
            },
            {
                "description": "Incorrect time zone in reports",
                "requested_by": "Jane Cooper",
                "type": "Bug"
            },
            {
                "description": "Update dashboard layout",
                "requested_by": "Jacob Jones",
                "type": "Change request"
            },
            {
                "description": "Improve file preview speed",
                "requested_by": "Jenny Wilson",
                "type": "Feature request"
            },
            {
                "description": "Password reset email not sent",
                "requested_by": "Brooklyn Simon",
                "type": "Bug"
            },
            {
                "description": "Hover not working",
                "requested_by": "Jacob Jones",
                "type": "Bug"
            },
            {
                "description": "Footer too large",
                "requested_by": "Sadie Sink",
                "type": "Bug"
            },
            {
                "description": "Header is not collapsible",
                "requested_by": "Keith Thurman",
                "type": "Bug"
            }
        ]
    {% endparse_json %}
    {% for request_item in request %}
        {%- graphql create_request = "modules/website/migration/create_request",
            description: request_item.description,
            requested_by: request_item.requested_by,
            type: request_item.type
        -%}
    {% endfor %}
{% endif %}