---
metadata: {
    "slug2": "{{ context.exports.data.item.slug }}",
    "og:url": "{{ context.exports.data.item.slug }}",
    "og:type": "",
    "og:image": '{{ context.exports.data.item.image.version["OG-Image-1200x630"] }}',
    "og:title": "{{ context.exports.data.item.name }}",
    "og:description": "{{ context.exports.data.item.meta_description }}",
    "og:site_name": "",
    "page_title": "{{ context.exports.data.item.name }}",
    "meta_title": "{{ context.exports.data.item.meta_title }}",
    "meta_description": "{{ context.exports.data.item.meta_description }}",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "99", ## secondary order (ASC)
    "sitemap_changefreq": "monthly",
    ##
    ## Metadata `database_name` and `layouts` values is used 
    ## to connect this partial / content block to the Insites Database Layouts
    ## `layouts` values should only be "list" or "details"
    ##
    "database_name": "modules/website/services",
    "layout": "details"
}
---

{%- comment -%}
Services: Details view
{%- endcomment -%}

{%- comment -%}Used for checking if page has OG Image (if not,, use the default OG Image){%- endcomment -%}
{%- content_for 'has_og_image' -%}{{ context.exports.data.item.image.version["OG-Image-1200x630"] }}{%- endcontent_for -%}

{%- if context.environment == "staging" -%}
<!-- start partial: Service details page  -->
{%- endif -%}

{% comment %} 
    - "Go back" navigation
    {% include 'modules/website/content/layout/go-back-nav', label: "Back to Service List" %}
{% endcomment %}

<div class="wrapper">
    <div class="service-details grid-container main-container" data-test="page-service-detail">
        <div class="spacer xxxx-large"></div>
            <article data-test="service-detail-article">
                {% comment %}Services -> Heading image & content {% endcomment %}
                <div class="grid-x service-heading align-center">
                    <div class="image-wrap large-12 medium-12 small-12 cell
                    large-order-1 medium-order-1 small-order-2">
                        {%- if context.exports.data.item.image.version["Desktop"] -%}
                            {%- comment -%} Desktop Image {%- endcomment -%}
                            <div class="hide-for-small-only">
                                <img src="{{ context.exports.data.item.image.version['Desktop'] | replace: ' ', '%20' }}" alt="{{ context.exports.data.item.name }}" loading="lazy">
                            </div>
                        {%- endif -%}
                        {%- if context.exports.data.item.image.version["Mobile"] -%}
                            {%- comment -%} Mobile Image {%- endcomment -%}
                            <div class="show-for-small-only">
                                <img src="{{ context.exports.data.item.image.version['Mobile'] | replace: ' ', '%20' }}" alt="{{ context.exports.data.item.name }}" loading="lazy">
                            </div>
                        {%- endif -%}
                    </div>
                    {% if context.exports.data.item.image.version["Desktop"] %}
                    <div class="content-wrap large-8 medium-10 small-10 cell large-order-2 medium-order-2 small-order-1 overlay vertical-align-middle">
                        <h1>{{ context.exports.data.item.name }}</h1>
                        <div class="spacer"></div>
                        {%- if context.exports.data.item.description -%}
                            <div>{{ context.exports.data.item.description }}</div>
                        {%- endif -%}
                    </div>
                    {%- else -%}
                    <div class="content-wrap background-color-gradiant1 large-12 medium-12 small-12 cell
                        large-order-2 medium-order-2 small-order-1 grid-x align-center">
                        <div class="cell large-8 medium-10 small-10">
                            <div class="spacer section"></div>
                            <h1>{{ context.exports.data.item.name }}</h1>
                            <div class="spacer"></div>
                            {%- if context.exports.data.item.description -%}
                                <div>{{ context.exports.data.item.description }}</div>
                            {%- endif -%}
                            <div class="spacer section"></div>
                        </div>
                    </div>
                    {%- endif -%}
                </div>

                {%- comment -%}
                    Services -> Sub contents / content blocks
                    You can choose to use 2 layouts to manage the content blocks: apply codes as needed
                    - (1col) / basic content layout 
                        Use:
                        {% include 'modules/website/content/services/details/1col-layout', data: data %}
                        
                    - Tab layout: 
                        Use: 
                        {% include 'modules/website/content/services/details/tab-layout', data: data %}

                    You can also create a custom layout to suit the project design.
                {%- endcomment -%}

                <div class="spacer xxxx-large"></div>
                <!-- 1col basic layout -->
                {% include 'modules/website/content/services/details/1col-layout', 
                    data: context.exports.data.item %}

            </article>
        <div class="spacer"></div>
            <h3 class="heading-3 font-black">FAQ</h3>
            <div class="spacer"></div>
            {%- include 'modules/website/content/services_faq/list' -%}
        <div class="spacer section"></div>
    </div>
</div>

{%- if context.environment == "staging" -%}
<!-- end partial: Service details page  -->
{%- endif -%}