<section class="services-section">  
    
<div class="spacer xxxx-large"></div>

  <div class="blocks-sc-3col-01 wrapper bg-color-ui-01">

    <div class="grid-container" data-test="section-content-01">
        <div class="service-list grid-x grid-padding-x grid-padding-y gutter-medium align-strech" data-equalizer>
          <!-- card -->
          <div class="large-4 medium-6 small-12 cell align-stretch">
            <a>
              <ins-card steady data-test="section-content-01-card">
                <div class="align-left"><img src="{{ 'modules/website/images/home/icon-1.png' | asset_url }} "/></div>
                <div class="spacer x-large"></div>
                  <div class="content">
                  <h3 class="name">Customisable Style Guide</h3>
                  <div class="spacer x-large"></div>
                  <div class="short-description">
                    We crafted the design system for you! and can be customised to fit your brand.
                  </div>
                  </div>
              </ins-card>
              </a>
          </div>
          <!-- /card -->
          <!-- card -->
        <div class="large-4 medium-6 small-12 cell align-stretch">
          <a>
            <ins-card steady data-test="section-content-01-card">
              <div class="align-left"><img src="{{ 'modules/website/images/home/icon-2.png' | asset_url }} "/></div>
              <div class="spacer x-large"></div>
                <div class="content">
                <h3 class="name">Web Blocks Variations</h3>
                <div class="spacer x-large"></div>
                <div class="short-description">
                  Every web block supports all major content types, including pages, galleries, blogs, commerce, and more. 
                </div>
                </div>
            </ins-card>
            </a>
        </div>
        <!-- /card -->
        <!-- card -->
        <div class="large-4 medium-6 small-12 cell align-stretch">
          <a>
            <ins-card steady data-test="section-content-01-card">
              <div class="align-left"><img src="{{ 'modules/website/images/home/icon-3.png' | asset_url }} "/></div>
              <div class="spacer x-large"></div>
                <div class="content">
                <h3 class="name">Customisable Web Components</h3>
                <div class="spacer x-large"></div>
                <div class="short-description">
                  You can change the size, text, colour and even the icon in your button. Everthing you need to know, you can get your hands on.
                </div>
                </div>
            </ins-card>
            </a>
        </div>
        <!-- /card -->
        <!-- card -->
        <div class="large-4 medium-6 small-12 cell align-stretch">
          <a>
            <ins-card steady data-test="section-content-01-card">
              <div class="align-left"><img src="{{ 'modules/website/images/home/icon-4.png' | asset_url }} "/></div>
              <div class="spacer x-large"></div>
                <div class="content">
                <h3 class="name">Content Types</h3>
                <div class="spacer x-large"></div>
                <div class="short-description">
                  Add and manage text, photos, videos, audio, galleries, products, newsletter sign-ups, custom code, charts, and more.
                </div>
                </div>
            </ins-card>
            </a>
        </div>
        <!-- /card -->
        <!-- card -->
        <div class="large-4 medium-6 small-12 cell align-stretch">
          <a>
            <ins-card steady data-test="section-content-01-card">
              <div class="align-left"><img src="{{ 'modules/website/images/home/icon-5.png' | asset_url }} "/></div>
              <div class="spacer x-large"></div>
                <div class="content">
                <h3 class="name">Pre Built Pages</h3>
                <div class="spacer x-large"></div>
                <div class="short-description">
                  How about layout & pages? We covered that for you as well of course! From blogs, pricing, our team, and more. 
                </div>
                </div>
            </ins-card>
            </a>
        </div>
        <!-- /card -->
        <!-- card -->
        <div class="large-4 medium-6 small-12 cell align-stretch">
          <a>
            <ins-card steady data-test="section-content-01-card">
              <div class="align-left"><img src="{{ 'modules/website/images/home/icon-6.png' | asset_url }} "/></div>
              <div class="spacer x-large"></div>
                <div class="content">
                <h3 class="name">Fully Responsive</h3>
                <div class="spacer x-large"></div>
                <div class="short-description">
                  How about the tablet and mobile? We have created templates that adapt to any device.
                </div>
                </div>
            </ins-card>
            </a>
        </div>
        <!-- /card -->
        
        </div>
    </div>
  </div>
  <div class="spacer xxxx-large"></div>

  </section>