<section class="section-1">
    <div class="blocks-sc-2col-02 wrapper bg-color-ui-01">
        <div class="spacer xxxx-large"></div>
        <div class="about-us grid-container" data-test="page-about-us">
            <div class="grid-x align-middle">
            <div class="large-6 medium-6 small-12 large-order-1 medium-order-1 small-order-2 cell">
                <h2>Benefits of style guide</h2>
                <div class="spacer"></div>
                <p>We crafted the design system for you! and can be customised to fit your brand.</p>
            </div>
            <div
                class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 large-order-2 medium-order-2 small-order-1 cell">
                <img src="{{ 'modules/website/images/services/img-1.png' | asset_url }} "/>
                <div class="spacer xxx-large show-for-small-only"></div>
            </div>
            </div>
        </div>
        <div class="spacer xxx-large"></div>
    </div>
</section>

<section class="section-2">
    <div class="blocks-sc-2col-02 wrapper bg-color-ui-01">
        <div class="spacer xxxx-large"></div>
        <div class="about-us grid-container" data-test="page-about-us">
            <div class="grid-x align-middle">

                <div class="large-6 medium-6 small-12 large-order-1 medium-order-1 small-order-2 cell">
                    <img src="{{ 'modules/website/images/services/icon-1.png' | asset_url }} "/> 
                    <div class="spacer xxxx-large"></div>
                <h2>Benefits of Insites</h2>
                    <div class="spacer"></div>
                    <ul>
                        <li>Publish more content, faster with unlimited users, groups and permissions</li>
                        <li>Supercharge your marketing with integrated contact forms and CRM</li>
                        <li>Generate revenue from your content with membership-only paid content</li>
                        <li>Publish content to anywhere with an integration to Zapier and over 2000 other apps</li>
                        <li>Capture user generated content with secure publishing areas for your users</li>
                    </ul>
                </div>
                <div
                    class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 large-order-2 medium-order-2 small-order-1 cell">
                    <img src="{{ 'modules/website/images/services/rectangle-1.png' | asset_url }} "/>
                    <div class="spacer xxx-large show-for-small-only"></div>
                </div>
            </div>
        </div>
        <div class="spacer xxx-large"></div>
    </div>
</section>

<section class="section-3">
    <div class="blocks-sc-2col-03 wrapper bg-color-ui-01">
        <div class="spacer xxxx-large"></div>
        <div class="about-us grid-container" data-test="page-about-us">
            <div class="grid-x align-middle">
            <div class="large-5 medium-5 small-12 cell">
                <img src="{{ 'modules/website/images/services/rectangle-2.png' | asset_url }} "/> 
            </div>
            <div class="large-6 medium-6 small-12 large-offset-1 medium-offset-1 cell">
                <div class="spacer xxx-large show-for-small-only"></div>
                <img src="{{ 'modules/website/images/services/icon-2.png' | asset_url }} "/> 
                <div class="spacer x-large"></div>
                <h3 class="heading-2">Used By</h3>
                <div class="spacer"></div>
                <p>Professionalize your projects (and impress your clients) with a beautiful, centralized client portal.</p>
                <div class="spacer x-large"></div>
                <ul>
                    <li>Agencies</li>
                    <li>Schools</li>
                    <li>Law firms</li>
                    <li>Accountants</li>
                </ul>
                <div class="spacer x-large"></div>
                <p>The list of sectors that gain from having a dedicated client portal is not entire. Your industry isn't listed here. Not to worry! Client Portal can help you if you work with clients or consumers.</p>
            </div>
            </div>
        </div>
        <div class="spacer xxxx-large"></div>
        </div>
</section>

<section class="section-4">
    <div class="blocks-sc-2col-02 wrapper bg-color-ui-01">
        <div class="about-us grid-container" data-test="page-about-us">
            <div class="grid-x align-middle">
                <div class="large-6 medium-6 small-12 large-order-1 medium-order-1 small-order-2 cell">
                    <div class="spacer xxxx-large"></div>
                <h2>Our Areas of Expertise</h2>
                    <div class="spacer"></div>
                    <p>We have developed a number of successful cutting-edge solutions and gained a huge amount of experience and knowledge in developing custom ERP solutions in Logistics, Financial, Healthcare, Customer, and Business services. Moreover, we can implement social, cloud, and geo features in any future customer-centric ERP system.</p>
                    <div class="spacer"></div>
                    <p>Our field service management solution, developed for one of our US clients enjoys a lofty reputation among Fortune 500 equipment manufacturers.</p>
                    <div class="spacer"></div>
                    <p>We pay great attention to the analysis of your business processes, and offer in-house technical support and training during and after deployment.</p>
                </div>
                <div
                    class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 large-order-2 medium-order-2 small-order-1 cell">
                    <img src="{{ 'modules/website/images/services/rectangle-3.png' | asset_url }} "/>
                    <div class="spacer xxx-large show-for-small-only"></div>
                </div>
            </div>
        </div>
        <div class="spacer xxx-large"></div>
    </div>
</section>

<section class="section-5">
    <div class="blocks-sc-2col-07 wrapper bg-color-ui-01">
        <div class="spacer xxxx-large"></div>
        <div class="grid-container">
            <div class="grid-x grid-padding-x gutter-medium">
                <div class="spacer xxx-large small-12 cell show-for-small-only"></div>
                <div class="large-12 medium-12 small-12 cell">
                    <div class="spacer large"></div>
                    <div class="faqs-holder">
                        <ins-accordion>
                            <ins-accordion-item 
                                heading="How do I track my order status?" 
                                open-icon="icon-plus" 
                                close-icon="icon-minus" 
                                active>              
                                This accordion is nested and it holds 2 more accordion inside.              
                                <ins-accordion>          
                                    <ins-accordion-item 
                                        heading="Open Book">                  
                                        This accordion is nested inside an accordion element.                  
                                    </ins-accordion-item>          
                                    <ins-accordion-item 
                                        heading="Closed Book">                  
                                        This accordion is also nested inside an accordion element.                  
                                    </ins-accordion-item>          
                                </ins-accordion>          
                            </ins-accordion-item>          
                            <ins-accordion-item
                                open-icon="icon-plus" 
                                close-icon="icon-minus"  
                                heading="How do I return defective or flawed items?">          
                                This is just a single accordion element.          
                            </ins-accordion-item>          
                            <ins-accordion-item 
                                open-icon="icon-plus" 
                                close-icon="icon-minus" 
                                heading="Can I exchange my order?">
                                <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
                                <div class="spacer small"></div>
                                <hr>
                                <div class="spacer small"></div>
                                <div class="grid-x align-justify">
                                    <div class="medium-shrink small-12 cell">
                                        Packaging Guide.pdf
                                    </div>
                                    <div class="spacer small cell hide-for-medium"></div>
                                    <div class="medium-shrink small-12 cell">
                                        <ins-button 
                                            icon="icon-download" 
                                            label="Download" 
                                            solid 
                                            color="blue" 
                                            size="small">
                                        </ins-button>
                                    </div>
                                </div>
                            </ins-accordion-item>          
                        </ins-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer xxxx-large"></div>
</section>