---
default_payload: '{% assign form_properties = context.params.form.properties_attributes
  %}{"properties_attributes":{}}'
fields:
  properties:
    user_id:
      validation: {}
    allow_display_on_website:
      validation: {}
    is_shown_on_webstie:
      validation: {}
    full_name:
      validation:
        presence:
          message: Full name is required.
          if: "{% if form.full_name != blank %}true{% endif %}"
    location:
      validation:
        presence:
          message: Message is required
          if: "{% if form.location != blank %}true{% endif %}"
    message:
      validation:
        presence:
          message: Message is required
          if: "{% if form.message != blank %}true{% endif %}"
flash_alert: Failed to submit form. Please try again.
flash_notice: Successfully submitted form.
metadata:
  label: Client Feedback
  database:
    name: modules/website/testimonials
  properties:
    message:
      step: 1
      label: Message
      hidden: false
      weight: 5
      is_enabled: true
      ui_element: multi_line
      prefill_key:
      two_columns: false
      dispay_label: true
      attribute_type: string
      default_payload:
      value_calculation: {}
      visibility_conditions: []
    user_id:
      step: 1
      label: User ID
      hidden: true
      weight: 0
      is_enabled: true
      ui_element: select_data_source
      prefill_key:
      two_columns: false
      dispay_label: true
      attribute_type: string
      default_payload:
      value_calculation: {}
      visibility_conditions: []
    location:
      step: 1
      label: Location
      hidden: false
      weight: 4
      is_enabled: true
      ui_element: input
      prefill_key:
      two_columns: true
      dispay_label: true
      attribute_type: string
      default_payload:
      value_calculation: {}
      visibility_conditions: []
    full_name:
      step: 1
      label: Full Name
      hidden: false
      weight: 3
      is_enabled: true
      ui_element: input
      prefill_key:
      two_columns: true
      dispay_label: true
      attribute_type: string
      default_payload:
      value_calculation: {}
      visibility_conditions: []
    is_shown_on_webstie:
      step: 1
      label: is_shown_on_webstie
      hidden: true
      weight: 2
      is_enabled: true
      ui_element: toggle
      prefill_key:
      two_columns: false
      dispay_label: true
      attribute_type: boolean
      default_payload:
      value_calculation: {}
      visibility_conditions: []
    allow_display_on_website:
      step: 1
      label: Allow Display on Website
      hidden: false
      weight: 1
      is_enabled: true
      ui_element: radio
      prefill_key:
      two_columns: false
      dispay_label: true
      attribute_type: string
      default_payload:
      value_calculation: {}
      visibility_conditions: []
  form_groups: []
  buttons_color:
  buttons_alignment: Left
  show_button_icons: false
  submit_button_icon:
  submit_button_label:
  buttons_background_color:
redirect_to: "feedback"
resource: modules/website/testimonials
resource_owner: anyone
spam_protection: {}
---
{%- form html-class: 'insites-form insites-form-code' html-name: 'modules/ins_forms/client_feedback' html-novalidate: 'novalidate' html-data-form: 'modules/website/testimonials' -%}

<div class="insites-form-grid">
	<!-- Field: User ID -->
	<input type="hidden" name="{{ form.fields.properties.user_id.name }}" />
	<!-- Field: Allow Display on Website -->
	<div class="{%- if form.metadata.properties.allow_display_on_website.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<div class="list-field-wrap" 
			id="1"
			data-type="string"
			data-ui="radio" 
			data-name="{{ form.fields.properties.allow_display_on_website.name }}"
			{%- if form.errors['properties.allow_display_on_website'] != nil -%} has-error="true" {%- endif -%}>
        	<label class="list-field_label">Allow Display on Website</label>
			<div class="list-radio-options">
				<ins-radio
					label="Yes" value="Yes"
					name="{{ form.fields.properties.allow_display_on_website.name }}"
					{% if form.fields.properties.allow_display_on_website.value == "Yes" %}checked{% endif %}>
				</ins-radio>
				<ins-radio
					label="No" value="No"
					name="{{ form.fields.properties.allow_display_on_website.name }}"
					{% if form.fields.properties.allow_display_on_website.value == "No" %}checked{% endif %}>
				</ins-radio>
			</div>
			<p class="list-field_error">{{ form.errors['properties.allow_display_on_website'] }}</p>
		</div>
	</div>
	<!-- Field: is_shown_on_webstie -->
	<input type="hidden" name="{{ form.fields.properties.is_shown_on_webstie.name }}" />
	<!-- Field: Full Name -->
	<div class="{%- if form.metadata.properties.full_name.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<ins-input 
			id="3"
			data-type="string"
			data-ui="input"
			label="{%- include 'modules/insites_forms/form_code/label', form: form, name: 'full_name' -%}"
			name="{{ form.fields.properties.full_name.name }}"
			value="{{ form.fields.properties.full_name.value }}"
			error-message="{{ form.errors['properties.full_name'] }}"
			{%- include 'modules/insites_forms/form_code/placeholder', form: form, name: 'full_name' -%}
			{%- include 'modules/insites_forms/form_code/validation/required', form: form, name: 'full_name' -%}
			{%- if form.errors['properties.full_name'] != nil -%} has-error {%- endif -%} 
			{%- include 'modules/insites_forms/form_code/validation/type', form: form, name: 'full_name' -%} 
			{%- include 'modules/insites_forms/form_code/validation/length', form: form, name: 'full_name' -%}>
		</ins-input>
	</div>
	<!-- Field: Location -->
	<div class="{%- if form.metadata.properties.location.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<ins-input 
			id="4"
			data-type="string"
			data-ui="input"
			label="{%- include 'modules/insites_forms/form_code/label', form: form, name: 'location' -%}"
			name="{{ form.fields.properties.location.name }}"
			value="{{ form.fields.properties.location.value }}"
			error-message="{{ form.errors['properties.location'] }}"
			{%- include 'modules/insites_forms/form_code/placeholder', form: form, name: 'location' -%}
			{%- include 'modules/insites_forms/form_code/validation/required', form: form, name: 'location' -%}
			{%- if form.errors['properties.location'] != nil -%} has-error {%- endif -%} 
			{%- include 'modules/insites_forms/form_code/validation/type', form: form, name: 'location' -%} 
			{%- include 'modules/insites_forms/form_code/validation/length', form: form, name: 'location' -%}>
		</ins-input>
	</div>
	<!-- Field: Message -->
	<div class="{%- if form.metadata.properties.message.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
		<ins-textarea 
			{% include 'modules/insites_forms/form_code/validation/length', form: form, name: 'message' %} 
			id="5"
			data-type="string"
			data-ui="multi_line"
			label="{%- include 'modules/insites_forms/form_code/label', form: form, name: 'message' -%}"
			name="{{ form.fields.properties.message.name }}"
			value="{{ form.fields.properties.message.value }}"
			error-message="{{ form.errors['properties.message'] }}"
			{%- include 'modules/insites_forms/form_code/placeholder', form: form, name: 'message' -%}
			{%- include 'modules/insites_forms/form_code/validation/required', form: form, name: 'message' -%}
			{%- if form.errors['properties.message'] != nil -%} has-error {%- endif -%}>
		</ins-textarea>
	</div>

</div>

<div class="spacer x-large"></div>
<div class="insites-form-grid">
	<div class="insites-form-buttons column-1 left">
		<ins-button type="submit" icon="" label="SUBMIT" solid></ins-button>
	</div>
</div>

{%- endform -%}

<script id="{{ form.name }}">
    InsitesFormProcessor.setFormProps("{{ form.name }}", "{{ form.system_fields.parent_resource_id }}", {{ form.fields.properties }});


    document.addEventListener("DOMContentLoaded", function() { setTimeout(() => {
        Array.from(document.querySelectorAll("[data-ui='stepper'][data-type='float']")).forEach(stepper => {
            const inputEl = stepper.querySelector('input')
            stepper.querySelectorAll('.ins-input-stepper_minus, .ins-input-stepper_plus').forEach(button => {
                button.addEventListener('click', function() {
                    setTimeout(() => {
                        let fixValue = parseFloat(inputEl.value || 0).toFixed(1).toString()
                        inputEl.value = fixValue.endsWith('.0') ? fixValue.slice(0, -2) : fixValue
                    }, 10)
                })
            })
        })

      

      	const formclientFeedbackEl = document.querySelector('form[name="modules/ins_forms/client_feedback"]')
      
      
      
    }, 350) })
</script>