{% if order_id %} 
    {% parse_json data %} 
    {
        "id": "{{order_id}}"
    }
    {% endparse_json %}
{% endif %} 

{%  liquid
    if order_id
        graphql get_order = 'modules/client/orders/get_order', id: data.id | dig: 'items','results' | first
              
        assign amount = get_order.properties.subtotal_amount
        assign cc_surcharge = get_order.properties.subtotal_amount | times: 0.017 | round: 2
   
        assign amountPayable = amount
        assign ccSurcharge = cc_surcharge
        assign subTotal = amount
        assign gst = amount | times: 0.10
        assign totalAmount = amount | plus: cc_surcharge | plus: gst
    endif
%}

{%- comment -%}Payment Summary{%- endcomment -%}
<div class="payment-summary">
    <h2 class="heading-2">Payment Summary</h2>
    <div class="spacer x-large"></div>
    <div class="grid-x">
        {% comment %} ? BILL AMOUNT {% endcomment %}
        <div class="large-9 medium-7 small-9 col1">Bill Amount</div>
        {% assign amount_payable = amountPayable %}
        {% assign formatted_amount_payable = amount_payable | times: 100 | floor | divided_by: 100 %}
        {% assign formatted_amount_payable_str = formatted_amount_payable | split: '.' %}
        {% if formatted_amount_payable_str.size == 1 %}
            {% assign formatedAmountPayable = formatted_amount_payable_str[0] | append: ".00" %}
        {% else %}
            {% assign formatedAmountPayable = formatted_amount_payable_str[0] | append: formatted_amount_payable_str[1] | append: '0' | slice: 0, 2 %}
        {% endif %}
        <div class="large-3 medium-5 small-3 col2">$<span id="charge-amount-summary">{{ formatedAmountPayable }}</span></div>
        <div class="cell spacer"></div>
        <hr>
        <div class="cell spacer small"></div>

        {% comment %} ? SUB TOTAL {% endcomment %}
        <div class="large-9 medium-7 small-9 col1">Sub Total</div>
        <div class="large-3 medium-5 small-3 col2">$<span id="charge-subtotal-summary">{{ formatedAmountPayable }}</span></div>
        <div class="cell spacer xx-small"></div>

        {% comment %} ? PROCESSING FEE {% endcomment %}
        <div class="large-9 medium-7 small-9 col1">Processing Fee (1.7%)</div>
        <div class="large-3 medium-5 small-3 col2">$<span id="cc-charge-summary">{{ ccSurcharge | default: "0.00" }}</span></div>
        <div class="cell spacer xx-small"></div>

        {% comment %} ? GST {% endcomment %}
        {% assign amount_gst = gst %}
        {% assign formatted_amount_gst = amount_gst | times: 100 | floor | divided_by: 100 %}
        {% assign formatted_amount_gst_str = formatted_amount_gst | split: '.' %}
        {% if formatted_amount_gst_str.size == 1 %}
            {% assign formatedAmountgst = formatted_amount_gst_str[0] | append: ".00" %}
        {% else %}
            {% assign formatedAmountgst = formatted_amount_gst_str[0] | append: formatted_amount_gst_str[1] | append: '0' | slice: 0, 2 %}
        {% endif %}
        <div class="large-9 medium-7 small-9 col1">GST</div>
        <div class="large-3 medium-5 small-3 col2">$<span id="charge-gst-summary">{{ formatedAmountgst }}</span></div>
        <div class="cell spacer small"></div>

        <hr>
        <div class="cell spacer small"></div>
        <div class="large-5 medium-5 small-5 col1"><h3 class="heading-3">Total</h3></div>
        <div class="large-7 medium-7 small-7 col2"><h3 class="heading-3">$<span id="total-amount-summary">{{ totalAmount | round: 2 }}</span></h3></div>        
    </div>
</div>
<div class="spacer xx-large"></div>

{%- unless order_id -%}

    {%- comment -%}Payment form {%- endcomment -%}
    <script>
    let valueChangeHandler = debounce((ev) => calculatePaymentSummary(ev));

    let amountEl = document.getElementById('bill-amount');
    let taxEl = document.getElementById('tax-amount')
    let shippingEl = document.getElementById('shipping-amount')
    let amountTotalEl = document.getElementById('bill-total-amount');
    let amountSubtotalEl = document.getElementById('bill-subtotal-amount');
    let amountTotalTaxEl = document.getElementById('bill-tax-amount');
    let orderValueEl = document.getElementById('bill-order-value');
    let amountDueEl = document.getElementById('bill-amount-due');
    let notesEl = document.getElementById('bill-notes');
    

    let chargeAmountEl = document.getElementById('charge-amount-summary');
    let chargeSubtotal = document.getElementById('charge-subtotal-summary');
    let chargeGstEl = document.getElementById('charge-gst-summary');
    let ccAmountEl = document.getElementById('cc-charge-summary');
    let subTotalEl = document.getElementById('sub-total-summary');
    let totalAmountEl = document.getElementById('total-amount-summary');    

    function debounce(func, timeout = 500){
        let timer;
        return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
    }

    let taxAmount = '';    
    let amountPayable = ''
    let shippingAmount = ''

    function calculatePaymentSummary(ev){ 
    // if (ev.srcElement.id == 'tax-amount')  {
    //     taxAmount = ev.detail
    // }else if (ev.srcElement.id == 'shipping-amount') {
    //     shippingAmount = ev.detail
    // }else {
        amountPayable = ev.detail * 1.00;
    // }

   
    
    let ccSurcharge = amountPayable * 0.017; // 1.7% credit card surcharge
    let subtotalAmount  = Number(amountPayable); // amount payable
    let gst = amountPayable * 0.1; // GST
    let totalAmount = subTotal =  Number(amountPayable) + Number(ccSurcharge) + Number(gst);

        if(chargeAmountEl) 
            chargeAmountEl.innerHTML = pricify(subtotalAmount);
            chargeSubtotal.innerHTML = pricify(subtotalAmount);
            chargeGstEl.innerHTML = pricify(subtotalAmount * 0.10);
        if(ccAmountEl) 
            ccAmountEl.innerHTML = pricify(ccSurcharge);
        if(subTotalEl) 
            subTotalEl.innerHTML = pricify(subTotal);        
        if(totalAmountEl) 
            totalAmountEl.innerHTML = pricify(totalAmount);                    

        // Update hidden input 
        if(amountTotalEl) 
            amountTotalEl.value = totalAmount;
            amountSubtotalEl.value = subtotalAmount;
            amountTotalTaxEl.value = gst;

        if(orderValueEl) 
            orderValueEl.value = amountPayable;            
        if(amountDueEl) 
            amountDueEl.value = totalAmount;
        if(notesEl) 
            notesEl.value = `{"subtotal-amount": "${pricify(amountPayable)}", "cc-charge": "${pricify(ccSurcharge)}",  "gst": "${pricify(gst)}",  "total-amount": "${pricify(totalAmount)}"}`;
    }

    function pricify(number) {
        return number 
            ? number.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})
            : "0.00";
    }

    // init listenter
    if(amountEl) {
        amountEl.addEventListener('insValueChange', (event) => {
            event.detail > 0
                ? valueChangeHandler(event)
                : valueChangeHandler(event);
        });
    }
    </script>

{%- endunless -%}