{% if order_id %} 
    {% parse_json data %} 
    {
        "id": "{{order_id}}"
    }
    {% endparse_json %}
{% endif %} 

{%  liquid
    if order_id
        graphql get_order = 'modules/website/trigger_api_call', name: 'modules/client/get_order', data: data 
        assign order = get_order.items.response.body | parse_json | dig: 'items','results' | first
        
        log order, type: "payment summary -> order"
        log form, type: "form properties -> payment_summary"

        function computed = "modules/client/pay_bills/compute_amounts", total_amount: order.properties.order_value

        assign amountPayable = computed.amount
        assign ccSurcharge = computed.cc_surcharge
        assign subTotal = computed.total_amount
        assign totalAmount = computed.total_amount
        assign tax = computed.tax 
    endif
%}

{%- comment -%}Payment Summary{%- endcomment -%}
<div class="payment-summary">
    <h2 class="heading-2">Payment Summary</h2>
    <div class="spacer x-large"></div>
    <div class="grid-x">
        <div class="large-9 medium-7 small-9 col1">Order Value</div>
        <div class="large-3 medium-5 small-3 col2">$<span id="charge-amount-summary">{{ amountPayable | default: "0.00" }}</span></div>
        <div class="cell spacer x-small"></div>
        <div class="large-9 medium-7 small-9 col1">Processing Fee (1.7%)</div>
        <div class="large-3 medium-5 small-3 col2">$<span id="cc-charge-summary">{{ ccSurcharge | default: "0.00" }}</span></div>
        <div class="cell spacer"></div>
        {{tax}}
        {% comment %} <hr>
        <div class="cell spacer small"></div>
        <div class="large-9 medium-7 small-9 col1">Sub Total</div>
        <div class="large-3 medium-5 small-3 col2">$<span id="sub-total-summary">{{ subTotal | default: "0.00" }}</span></div>        
        <div class="cell spacer small"></div> {% endcomment %}
        <hr>
        <div class="cell spacer small"></div>
        <div class="large-5 medium-5 small-5 col1"><h3 class="heading-3">Total</h3></div>
        <div class="large-7 medium-7 small-7 col2"><h3 class="heading-3">$<span id="total-amount-summary">{{ totalAmount | default: "0.00" }}</span></h3></div>        
    </div>
</div>
<div class="spacer xx-large"></div>

{%- unless order_id -%}

    {%- comment -%}Payment form {%- endcomment -%}
    <script>
    let valueChangeHandler = debounce((ev) => calculatePaymentSummary(ev));

    let amountEl = document.getElementById('bill-amount');
    let taxEl = document.getElementById('tax-amount')
    let shippingEl = document.getElementById('shipping-amount')
    let amountTotalEl = document.getElementById('bill-total-amount');
    let orderValueEl = document.getElementById('bill-order-value');
    let amountDueEl = document.getElementById('bill-amount-due');
    let notesEl = document.getElementById('bill-notes');
    

    let chargeAmountEl = document.getElementById('charge-amount-summary');
    let ccAmountEl = document.getElementById('cc-charge-summary');
    let subTotalEl = document.getElementById('sub-total-summary');
    let totalAmountEl = document.getElementById('total-amount-summary');    

    function debounce(func, timeout = 500){
        let timer;
        return (...args) => {
            clearTimeout(timer);
            timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
    }

    let taxAmount = '';    
    let amountPayable = ''
    let shippingAmount = ''

    function calculatePaymentSummary(ev){ 
    if (ev.srcElement.id == 'tax-amount')  {
        taxAmount = ev.detail
    }else if (ev.srcElement.id == 'shipping-amount') {
        shippingAmount = ev.detail
    }else {
        amountPayable = ev.detail * 1.00;
    }

   
    
    let ccSurcharge = amountPayable * 0.017; // 1.7% credit card surcharge
    // let totalAmount = subTotal = amountPayable + ccSurcharge + taxAmount + shippingAmount;
    let subtotalAmount  = Number(amountPayable) + Number(taxAmount) + Number(shippingAmount)
   let totalAmount = subTotal =  Number(amountPayable) + Number(ccSurcharge) + Number(taxAmount) + Number(shippingAmount)

        if(chargeAmountEl) 
            chargeAmountEl.innerHTML = pricify(subtotalAmount);
        if(ccAmountEl) 
            ccAmountEl.innerHTML = pricify(ccSurcharge);
        if(subTotalEl) 
            subTotalEl.innerHTML = pricify(subTotal);        
        if(totalAmountEl) 
            totalAmountEl.innerHTML = pricify(totalAmount);                    

        {%- comment %} Update hidden input {% endcomment %}
        if(amountTotalEl) 
            amountTotalEl.value = totalAmount;
        if(orderValueEl) 
            orderValueEl.value = totalAmount;            
        if(amountDueEl) 
            amountDueEl.value = totalAmount;
        if(notesEl) 
            notesEl.value = `{"amount": "${pricify(amountPayable)}", "cc-charge": "${pricify(ccSurcharge)}", "total-amount": "${pricify(totalAmount)}"}`;
    }

    function pricify(number) {
        return number 
            ? number.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})
            : "0.00";
    }

    // init listenter
    if(amountEl) {
        amountEl.addEventListener('insValueChange', (event) => {
            event.detail > 0
                ? valueChangeHandler(event)
                : valueChangeHandler(event);
        });
    }

    if(taxEl) {
        taxEl.addEventListener('insValueChange', (event) => {
            event.detail > 0
                ? valueChangeHandler(event)
                : valueChangeHandler(event);
        });
    }

    if(shippingEl) {
        shippingEl.addEventListener('insValueChange', (event) => {
            event.detail > 0
                ? valueChangeHandler(event)
                : valueChangeHandler(event);
        });
    }

  

    </script>

{%- endunless -%}