{% parse_json data %} 
{
  "id": "{{payment_id}}"
}
{% endparse_json %}

{% liquid
    graphql get_payment = 'modules/client/payments/get_payments', id: data.id | dig: 'items','results' | first
%}
<div class="spacer xxx-large"></div>
<div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 small-12 cell text-center">
        <h1 class="heading-1">We've received your payment</h1>
        <div class="spacer small"></div> 
        <p>Your payment has been received with order number <strong>  - {{ context.session.paybill_order_id | default: '0000000000000' }}</strong></p>
    </div>
</div>
<div class="spacer xxxx-large"></div>

<div class="grid-x grid-padding-x confirmation__wrapper">
    <div class="large-4 medium-5 small-12 cell">            

        {%- comment -%} Payment Details {%- endcomment -%}
        <div>
            <h3 class="heading-3">Payment Details</h3>
            <div class="spacer small"></div>
            <p class="font-cabin">{{ get_payment.properties.card_brand | upcase }} **** **** **** {{ get_payment.properties.card_last_four_digits }}</p>
            {%- assign month = get_payment.properties.card_expiry_month -%}
            {%- if month.size < 2 -%}
                {%- assign month = "0" | append: get_payment.properties.card_expiry_month -%}
            {%- endif -%}
            <p class="font-cabin">{{ month }} / {{ get_payment.properties.card_expiry_year }}</p>
            <div class="spacer x-large"></div>
        </div>
        
    </div>
    <div class="large-7 large-offset-1 medium-6 medium-offset-1 small-12 cell">
        <div class="spacer xxx-large show-for-small-only"></div>

        {% include 'modules/client/pay_bills/payment_summary', 
            order_id: order_id %}
        
    </div>
</div>