{%- liquid
    graphql user = 'modules/client/account/get_current_user' | dig: 'current_user'

    if user.client
        assign profile = user.client[0]
        if profile != blank and profile.is_activated
            assign verified = true
        else
            assign verified = false            
        endif
    endif    
-%}

<div id="payment-details">
    <div class="spacer xx-large"></div>
    <div class="grid-x grid-padding-x">
        <div class="large-6 medium-12 small-12 cell">
            <h2 class="heading-2">Credit Card Details</h2>
        </div>        
        <div class="large-6 medium-12 small-12 cell text-right show-for-large">
            <ins-button type="button"
                class="add-credit-card"
                icon="icon-plus"
                label="Add Credit Card">
            </ins-button>
        </div>
        <div class="cell hide-for-large">
            <div class="spacer"></div>
            <ins-button type="button"
                class="add-credit-card fixed-btn-width"
                icon="icon-plus"
                label="Add Credit Card">
            </ins-button>
        </div>
    </div>
    <div class="spacer xx-large"></div>


    {% comment %} Credit Cards {% endcomment %}  
    {% if context.current_user %}
        {%- graphql cards = "modules/client/credit_cards/get_credit_card", 
                        user_id: context.current_user.id
                        size: 50 | dig: 'items' -%}
    {% endif %}

    <div class="validate-credit-card" >
        {% comment %} Credit Cards {% endcomment %}
        <div id="credit-card-fields" class="card-fields">            
            <p class="error-message hide">Credit Card is required.</p>
            <ins-input required validate style="height:0px; display: block; overflow: hidden;"
                field="hidden" 
                id="stripe-card"
                name="{{ form.fields.properties.stripe_credit_card.name }}" 
                value="{{ form.fields.properties.stripe_credit_card.value }}">
            </ins-input>
            <div id="card-options-list" class="grid-padding-x grid-padding-y grid-x">                    
                {%- for card in cards.results -%}
                    <div class="large-4 medium-6 small-12 cell card-options">
                        <ins-credit-card 
                            data-id="{{ card.id }}" 
                            brand="{{ card.brand }}"
                            last-four="{{ card.last4 }}"
                            expiry-month="{{ card.exp_month }}"
                            expiry-year="{{ card.exp_year }}"
                            full-year
                            value="{{ card.gateway_id }}">
                        </ins-credit-card>
                    </div>
                {%- endfor -%}
            </div>
        </div>        
        <div id="no-card" class="empty-state text-center empty-box  {% if cards.total_entries > 0 %}hide{% endif %}" >
            Add Credit Card / Debit Card
        </div>
    </div>
    
    <div class="validate-credit-card" >
    {% comment %} Credit Cards {% endcomment %}
    <div id="credit-card-fields" class="card-fields">            
        <p class="error-message hide">Credit Card is required.</p>
        <ins-input required validate style="height:0px; display: block; overflow: hidden;"
            field="hidden" 
            id="stripe-card"
            name="{{ form.fields.properties.stripe_credit_card.name }}" 
            value="{{ form.fields.properties.stripe_credit_card.value }}">
        </ins-input>
        <div id="card-options-list" class="grid-padding-x grid-padding-y grid-x">                    
            {%- for card in cards.results -%}
                <div class="large-4 medium-6 small-12 cell card-options">
                    <ins-credit-card 
                        data-id="{{ card.id }}" 
                        brand="{{ card.brand }}"
                        last-four="{{ card.last4 }}"
                        expiry-month="{{ card.exp_month }}"
                        expiry-year="{{ card.exp_year }}"
                        full-year
                        value="{{ card.gateway_id }}">
                    </ins-credit-card>
                </div>
            {%- endfor -%}
        </div>
    </div>    
        <div class="spacer xx-large"></div>
  


    {% include 'modules/client/pay_bills/payment_summary' %}


    <div class="insites-form-grid">
        <div class="insites-form-buttons column-1 text-right">
            <ins-button solid type="submit"
                id="checkout-submit-btn"
                icon="icon-check-2"
                label="Pay Bill">
            </ins-button>
        </div>
    </div>

</div>