<!-- STATIC: SECTION CONTENT 1 -->
<section class="section-content-1">
    <div class="frame">
        <div class="blocks-sc-2col-02 wrapper bg-color-ui-01">
        <div class="spacer xxxx-large"></div>
        <div class="about-us grid-container" data-test="page-about-us">
            <div class="grid-x align-middle">
                {% if device_used == 'smartphone' %}

                <div class="small-12">
                    <h3 class="hide-for-large-only">Beautiful, centralised client portal.</h3>
                    <h2 class="show-for-large-only">Beautiful, centralised client portal.</h2>
                    <div class="spacer"></div>
                    <p class="subHeading">You may utilise the incredibly easy-to-use and lightweight client portal on your website right now to offer your clients access to all of the files and to allow them to follow the progress of the project.</p>
                </div> 

                <div class="spacer xxxx-large"></div>
                <div class="small-12">
                    <div class="spacer xxxx-large"></div>
                    <img alt="..."  loading="lazy" style="width: 80%" src="{{ 'modules/website/images/home/beautiful-img-1.png' | asset_url }} "/>
                    <img alt="..."  loading="lazy" style="width: 60%; margin-top: -100px; margin-left: 100px" src="{{ 'modules/website/images/home/beautiful-img-2.png' | asset_url }} "/>
                </div>

                {% elsif device_used == "tablet" %}
                    <div class="large-6 medium-6 small-12 large-order-1 medium-order-1 small-order-2 cell">
                        <h2>Beautiful, centralised client portal.</h2>
                        <div class="spacer"></div>
                        <p class="subHeading">You may utilise the incredibly easy-to-use and lightweight client portal on your website right now to offer your clients access to all of the files and to allow them to follow the progress of the project.</p>
                    </div>
    
                    <div class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 large-order-2 medium-order-2 small-order-1 cell">
                        <img alt="..."  loading="lazy" style="width: 50%" src="{{ 'modules/website/images/home/beautiful-img-1.png' | asset_url }} "/>
                        <img alt="..."  loading="lazy" style="width: 50%; margin-top: -100px; margin-left: 120px" src="{{ 'modules/website/images/home/beautiful-img-2.png' | asset_url }} "/>
                    </div>
                    
                {% elsif device_used == 'desktop' %}
                    <div class="large-6 medium-6 small-12 large-order-1 medium-order-1 small-order-2 cell">
                        <h2>Beautiful, centralised client portal.</h2>
                        <div class="spacer"></div>
                        <p class="subHeading">You may utilise the incredibly easy-to-use and lightweight client portal on your website right now to offer your clients access to all of the files and to allow them to follow the progress of the project.</p>
                    </div>
    
                    <div class="large-5 large-offset-1 medium-5 medium-offset-1 small-12 large-order-2 medium-order-2 small-order-1 cell">
                        <img alt="..."  loading="lazy" src="{{ 'modules/website/images/home/beautiful-img-1.png' | asset_url }} "/>
                        <img alt="..."  loading="lazy" style="margin-top: -200px; margin-left: 275px" src="{{ 'modules/website/images/home/beautiful-img-2.png' | asset_url }} "/>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="spacer xxx-large"></div>
        </div>
    </div>
</section>
