<div id="personal-details-container" class="form-group fadeIn" active>

      <input type="hidden" id="mobile_phone_number" 
          name="{{ form.fields.mobile_phone_number.name }}" >

      <input type="hidden" id="mobile_phone_country_code" 
          name="{{ form.fields.mobile_phone_country_code.name }}"
          value="61" >

      <div class="column-1">
          <h2 class="heading-2">Personal Details</h2>
      </div>

      <div class="column-2">
        <ins-input validate
            id="first-name"
            label="First Name*"
            name="{{ form.fields.first_name.name }}" 
            value="{{ form.fields.first_name.value }}" 
            {% if form.errors['first_name'] %} has-error {% endif %}
            error-message="{{ form.fields.first_name.validation.rules.presence.message }}"
            placeholder="First Name">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input validate
            id="last-name"
            label="Last Name*"
            name="{{ form.fields.last_name.name }}" 
            value="{{ form.fields.last_name.value }}" 
            {% if form.errors['last_name'] %} has-error {% endif %}
            error-message="{{ form.fields.last_name.validation.rules.presence.message }}"
            placeholder="Last Name">
        </ins-input>
      </div>
      
      <div class="column-2">
        <ins-input validate
            id="email"
            label="Email*"
            field="email"
            name="{{ form.fields.email.name }}" 
            value="{{ form.fields.email.value }}" 
            {% if form.errors['email'] %} has-error {% endif %}
            error-message="{{ form.errors['email'] }}"
            placeholder="Email">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input-tel
            id="mobile-phone"
            label="Mobile Phone" 
            phonenum-value="{{ form.fields.profiles['modules/insites_core/insites_contact_number'].properties.mobile_phone_number.value }}" 
            country-code="{{ form.fields.profiles['modules/insites_core/insites_contact_number'].properties.mobile_phone_country_code.value }}"
            phonenum-placeholder="Phone Number" 
            no-areacode
            error-message="Please use a valid phone number">
        </ins-input-tel>
      </div>

      <div class="column-1">
        <ins-input 
          address-lookup 
          label="Search Addresss" 
          id="shipping-address-search"
          name="search"
          placeholder="Search Addresss"
          icon="icon-map-pin">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="search_address_1"
            label="Address 1"
            name="{{ form.fields.properties.address_1.name }}" 
            value="{{ form.fields.properties.address_1.value }}" 
            {% if form.errors['properties.address_1'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.address_1.validation.rules.presence.message }}"
            placeholder="Address 1">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field
            id="search_address_2"
            label="Address 2"
            name="{{ form.fields.properties.address_2.name }}" 
            value="{{ form.fields.properties.address_2.value }}" 
            {% if form.errors['properties.address_2'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.address_2.validation.rules.presence.message }}"
            placeholder="Address 2">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="search_suburb"
            label="Suburb"
            name="{{ form.fields.properties.suburb.name }}" 
            value="{{ form.fields.properties.suburb.value }}" 
            {% if form.errors['properties.suburb'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.suburb.validation.rules.presence.message }}"
            placeholder="Suburb">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="search_state"
            label="State"
            name="{{ form.fields.properties.state.name }}" 
            value="{{ form.fields.properties.state.value }}" 
            {% if form.errors['properties.state'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.state.validation.rules.presence.message }}"
            placeholder="State">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="search_postcode"
            label="ZIP / Postal Code"
            name="{{ form.fields.properties.postcode.name }}" 
            value="{{ form.fields.properties.postcode.value }}" 
            {% if form.errors['properties.postcode'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.postcode.validation.rules.presence.message }}"
            placeholder="ZIP / Postal Code">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="search_country"
            label="Country"
            name="{{ form.fields.properties.country.name }}" 
            value="{{ form.fields.properties.country.value }}" 
            {% if form.errors['properties.country'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.country.validation.rules.presence.message }}"
            placeholder="Country">
        </ins-input>
      </div>

      <div class="column-1">
          <div class="spacer small"></div>
          <h2 class="heading-2">Account Details</h2>
      </div>


      <div class="column-2">
        <ins-input validate
          id="password"
          label="Password*"
          field="password"
          name="{{ form.fields.password.name }}" 
          value="{{ form.fields.password.value }}" 
          {% if form.errors['password'] %} has-error {% endif %}
          error-message="{{ form.fields.password.validation.rules.presence.message }}"
          placeholder="Password">
        </ins-input>
      </div>

         
    <div class="column-1">      
      <div class="spacer small"></div>
      <div class="grid-x">
        <div class="cell large-6 medium-6 small-12"> <a href="/"><ins-button type="button" id="cancel-button" label="CANCEL" icon="icon-close-1" outlined ></ins-button></a></div>
        <div class="cell large-6 medium-6 small-12 text-right"><ins-button type="submit" id="submit-personal-details" label="NEXT" icon-right="icon-arrow-forward" solid ></ins-button></div>
      </div>  
    </div>

</div>    