<div id="company-details-container" class="form-group fadeIn {% if params.slug != 'my-company-details' %}hide{% endif %}" active>    

      <div class="column-1">
          <h2 class="heading-2">Company Details</h2>
      </div>

      <div class="column-2">
        <ins-input validate
            id="company-name"
            label="Company Name*"
            name="{{ form.fields.company_name.name }}" 
            value="{{ form.fields.company_name.value }}" 
            {% if form.errors['company_name'] %} has-error {% endif %}
            error-message="{{ form.fields.company_name.validation.rules.presence.message }}"
            placeholder="Company Name">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input validate
            id="registered-business-number"
            label="Company Registration Number*"
            name="{{ form.fields.registered_business_number.name }}" 
            value="{{ form.fields.registered_business_number.value }}" 
            {% if form.errors['registered_business_number'] %} has-error {% endif %}
            error-message="{{ form.fields.registered_business_number.validation.rules.presence.message }}"
            placeholder="Company Registration Number">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input validate
            id="email-1"
            label="Email*"
            field="email"
            name="{{ form.fields.email_1.name }}" 
            value="{{ form.fields.email_1.value }}" 
            {% if form.errors['email_1'] %} has-error {% endif %}
            error-message="{{ form.fields.email_1.validation.rules.presence.message }}"
            placeholder="Email">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input-tel
            id="company-mobile-phone"
            label="Phone"                         
            phonenum-placeholder="Phone Number" 
            no-areacode
            error-message="Please use a valid phone number">
        </ins-input-tel>

        <input type="hidden" id="company_mobile_phone_number" 
          name="{{ form.fields.company_mobile_phone_number.name }}" 
          value="">

        <input type="hidden" id="company_mobile_phone_country_code" 
          name="{{ form.fields.company_mobile_phone_country_code.name }}"
          value="61" >
     </div>

      <div class="column-1">
        <ins-input 
          address-lookup 
          label="Search Addresss" 
          id="shipping-address-search"
          name="search"
          placeholder="Search Addresss"
          icon="icon-map-pin">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="company_address_1"
            label="Address 1"
            name="{{ form.fields.properties.company_address_1.name }}" 
            value="{{ form.fields.properties.company_address_1.value }}" 
            {% if form.errors['properties.company_address_1'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.company_address_1.validation.rules.presence.message }}"
            placeholder="Address 1">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field
            id="company_address_2"
            label="Address 2"
            name="{{ form.fields.properties.company_address_2.name }}" 
            value="{{ form.fields.properties.company_address_2.value }}" 
            {% if form.errors['properties.company_address_2'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.company_address_2.validation.rules.presence.message }}"
            placeholder="Address 2">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="company_suburb"
            label="Suburb"
            name="{{ form.fields.properties.company_suburb.name }}" 
            value="{{ form.fields.properties.company_suburb.value }}" 
            {% if form.errors['properties.company_suburb'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.company_suburb.validation.rules.presence.message }}"
            placeholder="Suburb">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="company_state"
            label="State"
            name="{{ form.fields.properties.company_state.name }}" 
            value="{{ form.fields.properties.company_state.value }}" 
            {% if form.errors['properties.company_state'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.company_state.validation.rules.presence.message }}"
            placeholder="State">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="company_postcode"
            label="ZIP / Postalcode"
            name="{{ form.fields.properties.company_postcode.name }}" 
            value="{{ form.fields.properties.company_postcode.value }}" 
            {% if form.errors['properties.company_postcode'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.company_postcode.validation.rules.presence.message }}"
            placeholder="ZIP / Postalcode">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="company_country"
            label="Country"
            name="{{ form.fields.properties.company_country.name }}" 
            value="{{ form.fields.properties.company_country.value }}" 
            {% if form.errors['properties.company_country'] %} has-error {% endif %}
            error-message="{{ form.fields.properties.company_country.validation.rules.presence.message }}"
            placeholder="Country">
        </ins-input>
      </div>

      {% if params.slug == 'my-company-details' %}

      <div class="column-1">      
        <div class="spacer small"></div>
        <ins-button type="submit" id="submit-company-details" label="Update Details" icon="icon-check-2" solid >
      </div>

      {% else %}

      <div class="column-1">      
      <div class="spacer small"></div>
      <div class="grid-x">
          <div class="cell large-6 medium-6 small-12"><ins-button id="back-to-step-1" type="button" label="BACK" icon="icon-arrow-back" outlined ></ins-button></div>
          <div class="cell large-6 medium-6 small-12 text-right"><ins-button id="submit-company-details" type="submit" label="NEXT" icon-right="icon-arrow-forward" solid ></ins-button></div>
      </div>  
      </div>

      {% endif %}

</div>