{% comment %} 
This partial is used by pages:
- /register 
- /my-company-details 

Inputs will have values only on /my-company-details page
{% endcomment %}

{%- assign props = form.fields.properties -%}

<div id="company-details-container" class="form-group fadeIn {% if params.slug != 'my-company-details' %}hide{% endif %}" active>    

      <div class="column-1">
          <h2 class="heading-2">Company Details</h2>
      </div>

      <div class="column-2">
        <ins-input validate
            id="company-name"
            label="Company Name*"
            name="{{ props.company_name.name }}" 
            value="{{ data.properties.company_name }}" 
            {% if form.errors['company_name'] %} has-error {% endif %}
            error-message="{{ props.company_name.validation.rules.presence.message }}"
            placeholder="Company Name">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input validate
            id="registered-business-number"
            label="Company Registration Number*"
            name="{{ props.registered_business_number.name }}" 
            value="{{ data.properties.registered_business_number }}" 
            {% if form.errors['registered_business_number'] %} has-error {% endif %}
            error-message="{{ props.registered_business_number.validation.rules.presence.message }}"
            placeholder="Company Registration Number">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input validate
            id="email-1"
            label="Email*"
            field="email"
            name="{{ props.email_1.name }}" 
            value="{{ data.properties.email_1 }}" 
            {% if form.errors['email_1'] %} has-error {% endif %}
            error-message="{{ props.email_1.validation.rules.presence.message }}"
            placeholder="Email">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input-tel
            id="company-mobile-phone"
            label="Phone"                
            phonenum-value="{{ data.properties.mobile_phone_number }}" 
            country-code="{{ data.properties.mobile_phone_country_code }}"         
            phonenum-placeholder="Phone Number" 
            no-areacode
            error-message="Please use a valid phone number">
        </ins-input-tel>

        {%  liquid
            if params.slug == 'my-company-details' 
              assign mobile_phone_number_name = props.mobile_phone_number.name
              assign mobile_phone_country_code_name = props.mobile_phone_country_code.name
            else
              assign mobile_phone_number_name = props.company_mobile_phone_number.name
              assign mobile_phone_country_code_name = props.company_mobile_phone_country_code.name
            endif        
        %}

        <input type="hidden" id="company_mobile_phone_number" 
          name="{{ mobile_phone_number_name }}" 
          value="">

        <input type="hidden" id="company_mobile_phone_country_code" 
          name="{{ mobile_phone_country_code_name }}"
          value="61" >
     </div>

      <div class="column-1">
        <ins-input 
          address-lookup 
          label="Search Address" 
          id="shipping-address-search"
          name="company"
          placeholder="Search Address"
          icon="icon-map-pin">
        </ins-input>
      </div>

      {%  liquid
          if params.slug == 'my-company-details' 
            assign default_address = data.default_address.properties
          endif
      %}

      <div class="column-2">
        <ins-input form-address-field 
            id="company_address_1"
            label="Address 1"
            name="{{ props.company_address_1.name }}" 
            value="{{ default_address.address_1 }}" 
            {% if form.errors['company_address_1'] %} has-error {% endif %}
            error-message="{{ props.company_address_1.validation.rules.presence.message }}"
            placeholder="Address 1">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field
            id="company_address_2"
            label="Address 2"
            name="{{ props.company_address_2.name }}" 
            value="{{ default_address.address_2 }}" 
            {% if form.errors['company_address_2'] %} has-error {% endif %}
            error-message="{{ props.company_address_2.validation.rules.presence.message }}"
            placeholder="Address 2">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="company_suburb"
            label="Suburb"
            name="{{ props.company_suburb.name }}" 
            value="{{ default_address.suburb }}" 
            {% if form.errors['company_suburb'] %} has-error {% endif %}
            error-message="{{ props.company_suburb.validation.rules.presence.message }}"
            placeholder="Suburb">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="company_state"
            label="State"
            name="{{ props.company_state.name }}" 
            value="{{ default_address.state }}" 
            {% if form.errors['company_state'] %} has-error {% endif %}
            error-message="{{ props.company_state.validation.rules.presence.message }}"
            placeholder="State">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="company_postcode"
            label="ZIP / Postalcode"
            name="{{ props.company_postcode.name }}" 
            value="{{ default_address.postcode }}" 
            {% if form.errors['company_postcode'] %} has-error {% endif %}
            error-message="{{ props.company_postcode.validation.rules.presence.message }}"
            placeholder="ZIP / Postalcode">
        </ins-input>
      </div>

      <div class="column-2">
        <ins-input form-address-field 
            id="company_country"
            label="Country"
            name="{{ props.company_country.name }}" 
            value="{{ default_address.country }}" 
            {% if form.errors['company_country'] %} has-error {% endif %}
            error-message="{{ props.company_country.validation.rules.presence.message }}"
            placeholder="Country">
        </ins-input>
      </div>

      {% if params.slug == 'my-company-details' %}

      <div class="column-1">      
        <div class="spacer small"></div>
        <ins-button type="submit" id="submit-btn" label="Update Details" icon="icon-check-2" solid >
      </div>

      {% else %}

      <div class="column-1">      
      <div class="spacer small"></div>
      <div class="grid-x">
          <div class="cell large-6 medium-6 small-12"><ins-button id="back-to-step-1" type="button" label="BACK" icon="icon-arrow-back" outlined ></ins-button></div>
          <div class="cell large-6 medium-6 small-12 text-right"><ins-button id="submit-company-details" class="submit-btn" type="submit" label="NEXT" icon-right="icon-arrow-forward" solid ></ins-button></div>
      </div>  
      </div>

      {% endif %}

</div>