---
metadata: {
    layout_name: system_layout_website
}
---
{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
  {%- include "modules/website/cache/layout_fragment_cache_key" -%}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    {%- capture head_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-head" }} {%- endcapture -%}
      {%- cache head_key -%}
          {% include 'modules/website/layout/head' %}
      {%- endcache -%}
  </head>
  <body class="system-page flex-container flex-dir-column">
    {%- capture header -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header {%- endcapture -%}
    {% cache header %}
        {% include 'modules/website/layout/header' %} 
    {% endcache %}

    {%- capture header-mobile -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header-mobile {%- endcapture -%}
    {% cache header-mobile %}
        {% include 'modules/website/layout/header_mobile' %}
    {% endcache %}

    {% comment %} ? For ecommerce cart drawer {% endcomment %}
    {% if context.constants.ecommerce_addon == 'true' %}
      {% include 'modules/ecommerce/carts/cart_drawer' %}
    {% endif %}
    
    
    <div class="wrapper">
      <div class="system-content grid-container">
        <div class="spacer xxxx-large"></div>
        {{ content_for_layout }}
        <div class="spacer section"></div>
      </div>
    </div>
    
    {%- capture foot_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-footer_section"}} {%- endcapture -%}
    {%- cache foot_key -%} 
        {% include 'modules/website/layout/footer' %}
    {%- endcache -%}
    
    </body>
</html>