---
metadata: {
    layout_name: system_layout
}
---
{%- comment -%}
By adding the global content to the top of the layout
It can be accessed in the includes without calling the GraphQL again
It IS NOT accessable in {{content_for_layout}} which includes the specific page
{%- endcomment -%}

{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
{% comment %} ? Enable Fragment cache after Installation {% endcomment %}
{% comment %} {%- include "modules/website/cache/layout_fragment_cache_key" -%} {% endcomment %}

{%- comment -%}
System page layout
{%- endcomment -%}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% comment %} 
            ? Enable Caching for Head after Installation
            ? Remove the comment once Installed and Menu Database is Populated 
            {%- capture head_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-head" }} {%- endcapture -%}
            {%- cache head_key -%}
                {% include 'modules/website/layout/head' %}
            {%- endcache -%}
        {% endcomment %}

        {% comment %} ? Delete line of code below this comment once Installed and Menu Database is Populated {% endcomment %}
        {% include 'modules/website/layout/head' %}
    </head>
    <body class="system-page flex-container flex-dir-column">
        <div class="">
            {% comment %} 
                ? Enable Caching for Header after Installation
                ? Remove the comment once Installed and Menu Database is Populated 
                    {%- capture header -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header {%- endcapture -%}
                    {%- cache header -%}
                        {% include 'modules/website/layout/header' %}
                    {%- endcache -%}
            {% endcomment %}

            {% comment %} ? Delete line of code below this comment once Installed and Menu Database is Populated {% endcomment %}
            {% include 'modules/website/layout/header_default' %} 
            
            {% comment %} 
                ? Enable Caching for Header after Installation
                ? Remove the comment once Installed and Menu Database is Populated 
                    {%- capture header-mobile -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header-mobile {%- endcapture -%}
                    {%- cache header-mobile -%}
                        {% include 'modules/website/layout/header_mobile' %}
                    {%- endcache -%}
            {% endcomment %}

            {% comment %} ? Delete line of code below this comment once Installed and Menu Database is Populated {% endcomment %}
            {% include 'modules/website/layout/header_mobile_default' %}

            {% comment %} ? For ecommerce cart drawer {% endcomment %}
            {% if context.constants.ecommerce_addon == 'true' %}
                {% include 'modules/ecommerce/carts/cart_drawer' %}
            {% endif %}

            <div class="system-content">      
                {{ content_for_layout }}
            </div> 
        </div>
        {% include 'modules/website/layout/footer' %}
        {% include 'modules/website/layout/foot' %}
    </body>
</html>

