---
metadata: {
    layout_name: website_default
}
---

{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
    {%- include "modules/website/cache/layout_fragment_cache_key" -%}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {%- capture head_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-head" }} {%- endcapture -%}
    {%- cache head_key -%}
        {% include 'modules/website/layout/head' %}
    {%- endcache -%}
</head>
<body>
    <div class="main-wrap">      
        {%- capture header -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header {%- endcapture -%}
        {% cache header %}
            {% include 'modules/website/layout/header' %} 
        {% endcache %}

        {%- capture header-mobile -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header-mobile {%- endcapture -%}
        {% cache header-mobile %}
            {% include 'modules/website/layout/header_mobile' %}
        {% endcache %}

        <main id="main-content">
            {{ content_for_layout }}
        </main>

        {% comment %} ? For ecommerce cart drawer + promotional popup {% endcomment %}
        {% if context.constants.ecommerce_addon == 'true' %}
            {% include 'modules/ecommerce/carts/cart_drawer' %}
            {% include 'modules/ecommerce/popups/promo_popup' %}
        {% endif %}
    </div>
    
    {%- capture foot_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-footer_section"}} {%- endcapture -%}
    {%- cache foot_key -%} 
        {% include 'modules/website/layout/footer' %}
    {%- endcache -%}

</body>
</html>