---
metadata: {
    layout_name: website_contact_us
}
---
{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
    {%- include "modules/website/cache/layout_fragment_cache_key" -%}

<!doctype html>
<html class="no-js" lang="en">
<head>
    {%- capture head_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-head" }} {%- endcapture -%}
    {%- cache head_key -%}
        {% include 'modules/website/layout/head' %}
    {%- endcache -%}


    <link href="https://components.insites.io/v2/latest/css/insites-font-icons.css" rel="stylesheet" />
    <link href="https://components.insites.io/v2/latest/css/insites.css" rel="stylesheet" />
    <script type="module" src="https://components.insites.io/v2/latest/insites.esm.js"></script>
    <script nomodule src="https://components.insites.io/v2/latest/insites.js"></script>
    {%- include 'modules/insites_forms/form_code' -%}

    
</head>
<body>

    <div class="main-wrap">
        {%- capture header -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header {%- endcapture -%}
        {% cache header %}
            {% include 'modules/website/layout/header' %} 
        {% endcache %}

        {%- capture header-mobile -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header-mobile {%- endcapture -%}
        {% cache header-mobile %}
            {% include 'modules/website/layout/header_mobile' %}
        {% endcache %}
        
        {% assign description = "Contact us about anything related to our company or features." %}
        {% include 'modules/website/content/hero_title', description: description %}         
        {{ content_for_layout }}

    </div>

    {%- capture foot_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-footer_section"}} {%- endcapture -%}
    {%- cache foot_key -%} 
        {% include 'modules/website/layout/footer' %}
    {%- endcache -%}

    <script>
        function mapsSelector() {
            if /* if we're on iOS, open in Apple Maps */
                ((navigator.platform.indexOf("iPhone") != -1) ||
                (navigator.platform.indexOf("iPad") != -1) ||
                (navigator.platform.indexOf("iPod") != -1))
                window.open("maps://www.google.com/maps/place/{{ loc_1_address_full | url_encode }}");
            else /* else use Google */
                window.open("https://www.google.com/maps/place/{{ loc_1_address_full | url_encode}}");
        }
    </script>

</body>
</html>