{% if full %}
    {% if home %}
        <div class="wrapper">
            <div class="grid-container grid-x grid-padding-x grid-padding-y">
                {% for item in data %}
                    <div class="large-3 medium-6 small-12 cell">
                        <a href="features/{{ item.slug }}">
                            <div class="portal-benefits-cards">
                                <img src="{{ item.icon.url }}" alt="">
                                <h6>{{ item.card_title }}</h6>
                                <p class="subHeading">{{ item.card_short_description }}</p>
                                <i class="icon-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
            <div class="grid-container grid-x grid-padding-x grid-padding-y">
                {% for item in data %}
                    <div class="large-3 medium-6 small-12 cell">

                        <div class="portal-benefits-cards">
                            <img src="{{ item.details_icon.url }}" alt="">
                            <h6>{{ item.heading }}</h6>
                            <p class="subHeading">{{ item.short_description }}</p>
                        </div>

                    </div>
                {% endfor %}
            </div>
    {% endif %}
{% else %}
    {% for item in data %}
        <a href="features/{{ item.slug }}">
            <div class="portal-benefits-cards">
                <img src="{{ item.icon.url }}" alt="">
                <h6>{{ item.card_title }}</h6>
                <p class="subHeading">{{ item.card_short_description }}</p>
                <i class="icon-arrow-right"></i>
            </div>
        </a>
    {% endfor %}
{% endif %}
