---
name: contact_us
resource: modules/website/contact_us
resource_owner: anyone
redirect_to: /thank-you
spam_protection:
   recaptcha_v2:
fields:
  properties:
    first_name:
      validation:
        presence:  
          message: First name is required
    last_name:
      validation:
        presence: 
          message: Last name is required
    email:
      validation:
        email: 
          message: Please use a valid email address
        presence: 
          message: Please use a valid email address
    mobile_phone_country_code:
        property_options:
            virtual: true
    mobile_phone:
    message:
      validation:
        presence: 
          message:  Message is required
    document:

api_call_notifications:
  - modules/website/add_contact
  
callback_actions: >
  {%- include 'modules/website/forms/update_document_files',
    id: form.id,
    document: form.properties.document
  %}
#callback_actions: >

 #   {%- include 'modules/insites_core/insites_create_crm_on_submit',
  #      email: form.properties.email,
   #     first_name: form.properties.first_name,
   #     last_name: form.properties.last_name,
   #     mobile_phone_number: form.properties.phone_number,
   #     mobile_phone_country_code: form.properties.phone_number_country_code,
   #     model_id: form.id -%}
   #     {}
---
{%- if context.environment == "staging" -%}
  <!-- start form:modules/insites_forms/forms/contact_us  -->
{%- endif -%}

{% form 
 html-autocomplete: "off"
 html-id: "contact-us-form"
 html-novalidate: true
 html-enctype = "multipart/form-data"
 html-onsubmit: "return ContactUs.methods.validateForm(event)" %}

  {%- assign props = form.fields.properties -%}
  {%- log props, type: 'response props' -%}

  <input
    type="hidden"
    id="mobile_phone"
    name="{{ props.mobile_phone.name }}"
    value="{{ props.mobile_phone.value }}" />

  {%- assign country_code = props.mobile_phone_country_code.value | default: "61" -%}
  <input
    type="hidden"
    id="country_code"
    name="{{ props.mobile_phone_country_code.name }}"
    value="{{ country_code }}" />

  <div class="grid-x grid-padding-x">
    <div class="large-6 medium-12 small-12 cell">
      <ins-input
        validate
        id="first-name"
        label="First Name*"
        data-test="contact-us-field-first-name"
        name="{{ props.first_name.name }}"
        value="{{ props.first_name.value }}"
        {% if form.errors['properties.first_name'] %}
        has-error
        {% endif %}
        error-message="{{ props.first_name.validation.rules.presence.message }}"
        placeholder="First name"></ins-input>
    </div>

    <div class="large-6 medium-12 small-12 cell">
      <ins-input
        validate
        id="last-name"
        label="Last Name*"
        data-test="contact-us-field-last-name"
        name="{{ props.last_name.name }}"
        value="{{ props.last_name.value }}"
        {% if form.errors['properties.last_name'] %}
        has-error
        {% endif %}
        error-message="{{ props.last_name.validation.rules.presence.message }}"
        placeholder="Last name"></ins-input>
    </div>

    <div class="large-6 medium-12 small-12 cell">
      <ins-input
        validate
        id="email"
        field="email"
        label="Email Address*"
        data-test="contact-us-field-email"
        name="{{ props.email.name }}"
        value="{{ props.email.value }}"
        {% if form.errors['properties.email'] %}
        has-error
        {% endif %}
        error-message="{{ props.email.validation.rules.presence.message }}"
        placeholder="Email Address"></ins-input>
    </div>

    <div class="large-6 medium-12 small-12 cell">
      <ins-input-tel
        id="phone-number-field"
        label="Mobile Phone"
        data-test="contact-us-field-mobile-phone"
        phonenum-value="{{ props.mobile_phone.value }}"
        phonenum-placeholder="Mobile Phone"
        no-areacode></ins-input-tel>

      {% if form.errors['properties.mobile_phone'] %}
        <p>{{ form.errors['properties.mobile_phone'] }}</p>
      {%- endif -%}
    </div>

    <div class="large-12 medium-12 small-12 cell">
      <ins-textarea
        validate
        id="message"
        label="Message*"
        data-test="contact-us-field-message"
        name="{{ props.message.name }}"
        value="{{ props.message.value }}"
        {% if form.errors['properties.message'] %}
        has-error
        {% endif %}
        error-message="{{ props.message.validation.rules.presence.message }}"
        placeholder="How can we help you?"></ins-textarea>
    </div>
    <div class="large-12 medium-12 small-12 cell">
      <ins-input-file 
        id="document-input"
        label="Sample Attachment" 
        max-files="3" 
        max-file-size="2" 
        accepted-files="image/*,.pdf,.csv,.txt"
        tooltip="">
      </ins-input-file>
      
      {%- comment -%} <ins-input-file max-files="3" id="document-input" label="Attachments" data-test="contact-us-field-document"></ins-input-file>{%- endcomment -%}
      <input type="hidden" id="document" name="{{ props.document.name }}" multiple="" /> 
    </div>
    {%- comment -%} IF your form / instance have recaptcha enabled, uncommment this code {%- endcomment -%}
    <div id="recaptcha-v2-wrapper" class="large-6 medium-6 small-12 cell form-field-wrapper" data-test="contact-us-recaptcha-container">
    {% spam_protection "recaptcha_v2" %}  
    <div class="ins-form-error"></div>
    <div class="spacer"></div>
    </div>
    
    
    <div class="large-12 medium-12 small-12 cell text-left">
      <ins-button id="submit-btn-contact-us"
        label="Submit" solid color="blue" type="submit" size="normal" data-test="contact-us-button-submit"></ins-button>
    </div>
  </div>
{% endform %}

{%- if context.environment == "staging" -%}
  <!-- end form:modules/insites_forms/forms/contact_us  -->
{%- endif -%}
