---
metadata: {
    layout_name: default
}
---
{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
{% comment %} ? Enable Fragment cache after Installation {% endcomment %}
{% comment %} {%- include "modules/website/cache/layout_fragment_cache_key" -%} {% endcomment %}

{% comment %} Layout for pages without form {% endcomment %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    {% comment %} 
        ? Enable Caching for Head after Installation
        ? Remove the comment once Installed and Menu Database is Populated 
        {%- capture head_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-head" }} {%- endcapture -%}
        {%- cache head_key -%}
            {% include 'modules/website/layout/head' %}
        {%- endcache -%}
    {% endcomment %}

    {% comment %} ? Delete line of code below this comment once Installed and Menu Database is Populated {% endcomment %}
    {% include 'modules/website/layout/head' %}
</head>
<body>
    <div class="main-wrap">
        {% comment %} 
            ? Enable Caching for Header after Installation
            ? Remove the comment once Installed and Menu Database is Populated 
                {%- capture header -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header {%- endcapture -%}
                {%- cache header -%}
                    {% include 'modules/website/layout/header' %}
                {%- endcache -%}
        {% endcomment %}

        {% comment %} ? Delete line of code below this comment once Installed and Menu Database is Populated {% endcomment %}
        {% include 'modules/website/layout/header_default' %} 
        
        {% comment %} 
            ? Enable Caching for Header after Installation
            ? Remove the comment once Installed and Menu Database is Populated 
                {%- capture header-mobile -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header-mobile {%- endcapture -%}
                {%- cache header-mobile -%}
                    {% include 'modules/website/layout/header_mobile' %}
                {%- endcache -%}
        {% endcomment %}

        {% comment %} ? Delete line of code below this comment once Installed and Menu Database is Populated {% endcomment %}
        {% include 'modules/website/layout/header_mobile_default' %}

        {% comment %} ? For ecommerce cart drawer {% endcomment %}
        {% include 'modules/ecommerce/carts/cart_drawer' %}

        {%- if context.params.slug == 'client-portal' and context.params.slug2 == null  -%}
        {%- comment -%} Carousel - Slider {%- endcomment -%}
        {%- include 'modules/client/banner', size: 10 -%}        
        {%- else -%}
        <div class="wrapper bg-color-main">
            <div class="grid-container">
                <div class="spacer x-large"></div>
                <h1 class="heading-1">{{context.page.metadata.heading}}</h1>
                <div class="spacer x-large"></div>
            </div>
        </div>
        {%- endif -%}      

        <div class="wrapper client-portal">
            <div class="grid-container">
                <div class="grid-x gutter-medium grid-padding-x">
                    <div class="large-3 medium-5 small-12 cell bg-color-ui-02">
                        {% include 'modules/client/layouts/sidebar' %}
                    </div>
                    <div class="large-9 medium-7 small-12 cell bg-color-ui-01 main-content">
                        <div class="spacer xxxx-large"></div>
                        {{ content_for_layout }}
                        <div class="spacer xxxx-large"></div>
                    </div>
                </div>
            </div>
        </div>                    
    </div>

    {% comment %} 
        ? Enable Caching for Footer after Installation
        ? Remove the comment once Installed and Menu Database is Populated 
        {%- capture foot_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-footer_section"}} {%- endcapture -%}
        {%- cache foot_key -%} 
            {% include 'modules/website/layout/footer' %}
        {%- endcache -%}
    {% endcomment %}
    
    {% comment %} ? Delete line of code below this comment once Installed and Menu Database is Populated {% endcomment %}
    {% include 'modules/website/layout/footer' %}

</body>
</html>