---
metadata: {
    layout_name: default
}
---
{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
{%- include "modules/website/cache/layout_fragment_cache_key" -%}

{% comment %} Layout for pages without form {% endcomment %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    {%- capture head_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-head" }} {%- endcapture -%}
    {%- cache head_key -%}
    {% include 'modules/website/layout/head' %}
    <link rel="stylesheet" href="{{ 'modules/client/styles/client.min.css' | asset_url }}" >
    {%- endcache -%}
</head>
<body>
    <div class="main-wrap">
        {%- capture header -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header {%- endcapture -%}
        {% cache header %}
            {% include 'modules/website/layout/header' %} 
        {% endcache %}
        
        {%- capture header-mobile -%} {{ context.current_user.id }}-{{ context.exports.layout_cache_key.cache_key }}-header-mobile {%- endcapture -%}
        {% cache header-mobile %}
             
        {% endcache %}

        {% include 'modules/website/layout/header_mobile' %}

        {%- if context.params.slug == 'client-portal' and context.params.slug2 == null  -%}
        {%- comment -%} Carousel - Slider {%- endcomment -%}
        {%- include 'modules/client/banner', size: 10 -%}        
        {%- else -%}
        <div class="wrapper bg-color-main">
            <div class="grid-container">
                <div class="spacer x-large"></div>
                <h1 class="heading-1">{{context.page.metadata.heading}}</h1>
                <div class="spacer x-large"></div>
            </div>
        </div>
        {%- endif -%}      

        <div class="wrapper client-portal">
            <div class="grid-container">
                <div class="grid-x gutter-medium grid-padding-x">
                    <div class="large-3 medium-5 small-12 cell bg-color-ui-02">
                        {% include 'modules/client/layouts/sidebar' %}
                    </div>
                    <div class="large-9 medium-7 small-12 cell bg-color-ui-01 main-content">
                        <div class="spacer xxxx-large"></div>
                        {{ content_for_layout }}
                        <div class="spacer xxxx-large"></div>
                    </div>
                </div>
            </div>
        </div>                    
    </div>

    {%- capture foot_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-footer_section"}} {%- endcapture -%}
    {%- cache foot_key -%} 
    {% include 'modules/website/layout/footer' %}
    {%- endcache -%}

</body>
</html>