{%- comment -%}
By adding the global content to the top of the layout
It can be accessed in the includes without calling the GraphQL again
It IS NOT accessable in {{content_for_layout}} which includes the specific page
{%- endcomment -%}
{%- include "modules/website/data/global_content" -%}
{%- assign global = context.exports.global -%}

{%- comment -%} Used by the fragment cache in the layout {%- endcomment -%}
{%- include "modules/website/layout_fragment_cache_key" -%}

{%- comment -%}
System page layout
{%- endcomment -%}
<!doctype html>
<html class="no-js" lang="en">
    {%- if context.environment == "staging" -%}
    <!-- start layout:system_page  -->
    {%- endif -%}
  <head>
    {%- comment -%}
    We try to limit assets that are part of the head / technical head to 
    minimize page size & improve page performance.

    Assets like 'Google Map API', should only be referenced as needed.
    - Managed on the 'page / layout' level
    {%- endcomment -%}
    {%- capture head_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-head" }} {%- endcapture -%}
    {%- cache head_key -%}
    {% include 'modules/website/layout/head' %}
    {%- endcache -%}
    <link rel="stylesheet" href="{{ 'modules/client/styles/client.min.css' | asset_url }}" >

    <script type="module" src="https://components.insites.io/v2/latest/insites.esm.js"></script>
    <script nomodule src="https://components.insites.io/v2/latest/insites.js"></script>
    <link rel="stylesheet" href="https://components.insites.io/tools/css/InsitesForm.min.css">  
  </head>
  <body class="system-page flex-container flex-dir-column">
    {%- if context.current_user and context.modules.ecommerce.name != blank -%}
    {% include 'modules/website/layout/header' %}
    {%- else -%}
    {%- capture header_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-header" }} {%- endcapture -%}
    {%- cache header_key -%}
    {% include 'modules/website/layout/header' %}
    {%- endcache -%}
    {%- endif -%}

    <div class="wrapper">
      <div class="system-content grid-container">
        <div class="spacer xxxx-large"></div>
        {{ content_for_layout }}
        <div class="spacer xxxx-large"></div>
      </div>
    </div>

    {%- capture foot_key -%} {{ context.exports.layout_cache_key.cache_key | append: "-footer_section"}} {%- endcapture -%}
    {%- cache foot_key -%}
    {%- comment -%} Subscription Form 
    {%- include_form "modules/website/subscribe" -%}
    {%- endcomment -%}

    {% include 'modules/website/layout/footer' %}
        
    <script src="{{ 'modules/website/scripts/app.js' | asset_url }}"></script>
    {%- endcache -%}
    here
    </body>
    {%- if context.environment == "staging" -%}
    <!-- end layout:system_page  -->
    {%- endif -%}
</html>