---
name: send_recover_password
to: '{{ form.email }}'
from: > 
  {%- include 'modules/portal/emails/autoresponder_from' -%}
reply_to: > 
  {%- include 'modules/portal/emails/autoresponder_reply_to' -%}
cc:
bcc:
subject: Password reset instructions
layout: modules/insites_core/insites_external_email_layout
metadata: {
    email_name: "Auto Responder | Send Recover Password"
}
---

  {%- graphql user_with_token = 'modules/portal/account/get_user_with_password_token', email: form.email | dig: 'users','results' | first -%}
  {%- assign user_data_default = user_with_token.default | first -%}
  

  {% comment %} <!-- Spacer --> {% endcomment %}
  <table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
    cellspacing="0" width="100%" style="table-layout: fixed;"
    data-muid="a15f4ddd-d611-4626-945c-62c1a481f19f">
    <tbody>
      <tr>
        <td style="padding:0px 0px 56px 0px;" role="module-content" bgcolor="">
        </td>
      </tr>
    </tbody>
  </table>


  {% comment %} <!-- Heading --> {% endcomment %}
  <table class="module" role="module" data-type="text" border="0" cellpadding="0"
    cellspacing="0" width="100%" style="table-layout: fixed;"
    data-muid="ae3b5e25-e601-4be7-8e69-e21f7125e6e7" data-mc-module-version="2019-10-22">
    <tbody>
      <tr>
        <td style="padding:0px 40px 40px 40px; line-height:24px; text-align:inherit;"
          height="100%" valign="top" bgcolor="" role="module-content">
          <div>
            <div style="font-family: inherit; text-align: left"><span
                style="font-size: 32px;font-weight: 600;color:#0D0D0D;">Password Reset</span></div>
            <div></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  {% comment %} <!-- text --> {% endcomment %}
  <table class="module" role="module" data-type="text" border="0" cellpadding="0"
    cellspacing="0" width="100%" style="table-layout: fixed;"
    data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc" data-mc-module-version="2019-10-22">
    <tbody>
      <tr>
        <td style="padding:0px 40px 0px 40px; line-height:24px; text-align:inherit;"
          height="100%" valign="top" bgcolor="" role="module-content">
          <div>
            <div style="font-family: inherit; text-align: left">
              <span style="white-space: pre-wrap;font-size: 16px;font-style: normal;font-weight: 400;color:#525252">Hi {{ user_with_token.first_name | strip }},</span>
            </div>
  
            <div style="font-family: inherit; text-align: left;padding-bottom:32px"></div>
  
            <div style="font-family: inherit; text-align: left">
              <span style="white-space: pre-wrap;font-size: 16px;font-style: normal;font-weight: 400;color:#525252">We received a request to reset your password. If you didn’t make this request, you can safely ignore this email.</span><br>
              <div style="font-family: inherit; text-align: left;padding-bottom:32px"></div>
              <span style="white-space: pre-wrap;font-size: 16px;font-style: normal;font-weight: 400;color:#525252">Otherwise, click the button below to create a new password for your account.</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  {% comment %} <!-- Spacer --> {% endcomment %}
  <table class="module" role="module" data-type="spacer" border="0" cellpadding="0"
    cellspacing="0" width="100%" style="table-layout: fixed;"
    data-muid="a15f4ddd-d611-4626-945c-62c1a481f19f">
    <tbody>
      <tr>
        <td style="padding:0px 0px 40px 0px;" role="module-content" bgcolor="">
        </td>
      </tr>
    </tbody>
  </table>
  
  {% comment %} <!-- button --> {% endcomment %}
  <table lass="module" role="module" data-type="text" border="0" cellpadding="0"
    cellspacing="0" width="100%" style="table-layout: fixed;text-align:center"
    data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc" data-mc-module-version="2019-10-22">
    <tbody>
      <tr>
        <td align="center" bgcolor="" class="inner-td"
          style="padding:0px 40px 0px 40px; line-height:24px; text-align:inherit;">

          <a href="{{ platform_context.host }}/password-reset?token={{ user_data_default.password_token | url_encode }}&amp;email={{ user_with_token.email | base64_url_safe_encode }}"
              style="width:100%;background-color:#3044FF; border:0px solid #3044FF; border-color:#3044FF; border-radius:4px; border-width:0px; color:#ffffff; display:inline-block; font-size:16px; font-weight:700; letter-spacing:0px; line-height:normal; padding:16px 0px; text-align:center; text-decoration:none; border-style:solid; font-family:arial,helvetica,sans-serif;"
              target="_blank">Reset Password</a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="module" role="module" data-type="text" border="0" cellpadding="0"
  cellspacing="0" width="100%" style="table-layout: fixed;"
  data-muid="c91a48dd-cef4-4985-9a78-d3e751a003dc" data-mc-module-version="2019-10-22">
  <tbody>
    <tr>
      <td style="padding:40px 40px 32px 40px; line-height:24px; text-align:inherit;"
        height="100%" valign="top" bgcolor="" role="module-content">
        <div>
          <div style="font-family: inherit; text-align: left">
            <span style="white-space: pre-wrap;font-size: 16px;font-style: normal;font-weight: 400;">Or, paste this link into your browser:</span>
            <br>
            <span style="white-space: pre-wrap">{{ platform_context.host }}/password-reset?token={{ user_data_default.password_token | url_encode }}&amp;email={{ user_with_token.email | base64_url_safe_encode }}</span>
          </div>
          <div></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

