---
slug: documents
layout: modules/client/form_layout
# enable_profiler: true
searchable: false
max_deep_level: 1
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "page_name": "My Documents",
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "My Documents | Insites",
    "og:description": "My Documents | Insites",
    "og:site_name": "",
    "meta_title": "My Documents | Insites",
    "page_title": "My Documents | Insites",
    "meta_description": "My Documents | Insites",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "1", ## secondary order (ASC)
    "sitemap_changefreq": "monthly",
    "heading": "My Documents"
}  
---

{%- if context.environment == "staging" -%}
<!-- start page: documents  -->
{%- endif -%}

{%- comment -%} Pagination and Filters {%- endcomment -%}
{%  liquid            
    assign page_num = context.params.page | default: 1 | plus: 0
    assign per_page = context.params.per_page | default: 15 | plus: 0
    assign description = context.params.search | default: ""
%}

{% parse_json filters %}
{
    "user_id": "{{context.current_user.id}}",
    "page": {{page_num}},
    "size": {{per_page}}      
    {% if description != '' %} 
    ,"description": "{{description}}"
    {% endif %} 
}
{% endparse_json %}

{%- graphql data = "modules/client/get_documents", args: filters | dig: "items" -%}

<div class="documents">

    <div class="box">
        <p>Please upload your documents or files here.</p>
    </div>

    <div class="spacer xxx-large"></div>
    
    <div class="grid-x">
        <div class="cell large-5">
            <ins-button 
                id="add-document-btn"
                class="open-form-btn"
                label="Add Document" 
                icon="icon-plus" 
                solid 
                color="blue">
            </ins-button>
        </div>
        <div class="cell large-6 large-offset-1">
            <ins-input 
                id="search"
                placeholder="Search by Description"
                icon="icon-search-1">
            </ins-input>
        </div>                
    </div>

    <div class="spacer"></div>

    <div class="grid-container">

        <div class="grid-x grid-padding-x grid-padding-y">       
        {%- assign key = 0 -%}                 
        {%- for item in data.results -%}
        <div class="large-4 medium-6 small-12 cell align-stretch">
            {%- include "modules/client/documents-card", item, key: key -%}
        </div>
        {%- assign key = key | plus: 1 -%} 
        {%- endfor -%}
        </div>

        {% if data.has_next_page %}
            <div class="spacer"></div>        
            {%- include "modules/client/paginations", page_num, per_page -%}
        {% endif %}

        <div class="spacer xxxx-large"></div>
        
    </div>

</div>

<ins-modal 
  id="modal-form"
  with-backdrop 
  confirmation value="DATA"
  width="495px" 
  height="auto"  
  no-button
  prevent-click-outside
  class="no-close-icon">

  <div id="myModalContent" >        
    {% include_form 'modules/client/documents', id: :375 %}
  </div>

</ins-modal>

<script>    
    let documentsForm = document.querySelector('form.documents-form');
    let submitFormBtn = document.getElementById('submit-form-btn');

    <!-- File Upload -->
    let insFileUploaderEl = document.getElementById('document-input');
    let documentFieldEl = document.getElementById('document');
    let table = "modules/client/documents";
    let property = "file";

    <!-- Edit Document -->
    let data = {{data.results}};
    let index, method, value;
    let description = document.getElementById("description");
    let notes = document.getElementById("notes");
    let resource_id = document.querySelector("#documents-form input[name=resource_id]");

    <!-- Modal - Form -->
    let modalForm = document.getElementById('modal-form');
    let openFormBtn = document.querySelectorAll('.open-form-btn');
    let closeFormBtn = document.getElementById('close-form-btn');

    openFormBtn.forEach(field => {
        field.addEventListener('insClick', () => {
            modalForm.open();
            submitFormBtn.loading = false;          
            if(field.getAttribute("id") == "add-document-btn"){
                //Add Document
                documentsForm.action = "/api/customizations/";
                resource_id.value = "new";                
                if(method != null){
                    method.remove();
                }
                submitFormBtn.label = "Add Document";
            }else{
                //Edit Document
                index = field.getAttribute("data-index");
                documentsForm.action = "/api/customizations/" + data[index].id;                
                resource_id.value = data[index].id;
                method = document.querySelector("#documents-form input[name=_method]");
                if(method == null){
                    const el = document.createElement("input");
                    el.name = "_method";
                    el.type = "hidden";
                    el.value = "patch";
                    el.autocomplete = "off";            
                    documentsForm.appendChild(el);
                }

                //Fill existing data
                description.value = data[index].description;
                notes.value = data[index].notes;

                //Preview existing file
                value = [{
                    name: data[index].file.file_name,
                    type: data[index].file.extension,
                    url: data[index].file.url
                }]
                insFileUploaderEl.removeFiles();
                insFileUploaderEl.setFiles(value);

                submitFormBtn.label = "Update";                
            }
        });            
    });

    closeFormBtn.addEventListener('insClick', () => {
        modalForm.close();
    });    

    
                
    <!-- Filter List - Search Description -->
    let search = "{{description}}";
    let keywordInput = document.getElementById("search");
    if (keywordInput) {
        keywordInput.addEventListener('insInput', this.keywordInputEvent);
        keywordInput.addEventListener('insIconClick', this.keywordInputEvent);
    }
    function keywordInputEvent(event) {        
        if (event.detail.keyCode === 13) {            
            let tempURL = window.location.href.replace("?search="+search, "");
            tempURL = tempURL.replace("search="+search, "");
            let Qmark = tempURL.indexOf("?") == -1? "?" : "";
            let url = tempURL + Qmark + "search="+event.detail.value;                    
            window.location = url;
        }
    }

    <!-- Submit Form -->
    async function validateDocumentsForm(event) {
        event.preventDefault();
        submitFormBtn.loading = true;
        if (await App.validation.validateForm(documentsForm)) {
            await FileUpload.methods.processAttachments();
            documentsForm.submit();
            return true;
        } else {
            submitFormBtn.loading = false;
            return false;
        }
    }
</script>
<script src="{{ 'modules/website/scripts/forms/file-upload.js' | asset_url }}"></script>

{%- if context.environment == "staging" -%}
<!-- end page: documents  -->
{%- endif -%}