---
slug: payment-methods
layout: modules/client/form
# enable_profiler: true
searchable: false
max_deep_level: 1
metadata: {
    "status": "published",
    "page_type": "content", ## content, system or endpoint
    "page_name": "Payment Methods",
    "og:url": "",
    "og:type": "",
    "og:image": "",
    "og:title": "Payment Methods | Insites",
    "og:description": "Payment Methods | Insites",
    "og:site_name": "",
    "meta_title": "Payment Methods | Insites",
    "page_title": "Payment Methods | Insites",
    "meta_description": "Payment Methods | Insites",
    "canonical_url": "",
    "search_engine_visibility": true,
    "sitemap_enabled": true,
    "sitemap_priority": "1.0",## primary order (DESC)
    "sitemap_order": "1", ## secondary order (ASC)
    "sitemap_changefreq": "monthly",
    "heading": "Payment Methods"
}
authorization_policies:
  - modules/client/user_logged_in
---

{%- if context.environment == "staging" -%}
<!-- start page: Payment Methods  -->
{%- endif -%}

{%- liquid
    graphql user = 'modules/client/account/get_current_user' | dig: 'current_user'

    if user.client
        assign profile = user.client[0]
        if profile != blank and profile.is_activated
            assign verified = true
        else
            assign verified = false            
        endif
    endif    
-%}


<div id="credit-card-fields">
    
    <div class="grid-x">
        <h2 class="heading-2 large-8 medium-7 small-12">Credit Card Details</h2>
        {%- if verified -%}
        <div class="spacer small-12 show-for-small-only"></div>
        <ins-button id="add-credit-card" class="add-credit-card large-4 medium-5 small-12 vertical-align-middle align-right fixed-btn-width" label="Add Credit Card" icon="icon-plus" ></ins-button>
        {%- endif -%}
    </div>
    <div class="spacer xx-large"></div>

    {%- if verified -%}        
        {%- graphql cards = "modules/client/credit_card/get_credit_card", 
            user_id: context.current_user.id | dig: 'items' -%}
        {%- if cards.total_entries > 0 -%}          
            <div id="card-options-list" class="grid-padding-x grid-padding-y grid-x">
            {%- for card in cards.results -%}
                <div class="large-4 medium-6 small-12 cell card-options">
                    <ins-credit-card data-id="{{ card.id }}" 
                        brand="{{ card.brand }}"
                        last-four="{{ card.last4 }}"
                        expiry-month="{{ card.exp_month }}"
                        expiry-year="{{ card.exp_year }}"
                        full-year
                        value="{{ card.gateway_id }}">
                    </ins-credit-card>
                </div>                    
            {%- endfor -%}
            </div>
            {% comment %} This element 'no-card' is necessary once all the cards were removed via javascript {% endcomment %}
            <div id="no-card" class="empty-box hide">
                <p>Add Credit Card / Debit Card</p>            
            </div>
        {%- else -%}
            <div id="no-card" class="empty-box">
                <p>Add Credit Card / Debit Card</p>            
            </div>
        {%- endif -%}

    {%- else -%}
        <div class="empty-box">
            <p>To view / modify your Credit Cards please verify your account.</p>            
        </div>
    {%- endif -%}

    <div class="spacer xxxx-large"></div>
</div>



{%- if context.environment == "staging" -%}
<!-- end page: Payment Methods  -->
{%- endif -%}

{%- include 'modules/client/forms/stripe_element', email_field_id: "email" -%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
{%- if context.environment == "staging" -%}
  <script src="{{ 'modules/client/services/stripeServices.js' | asset_url }}"></script>
  <script src="{{ 'modules/client/services/apiServices.js' | asset_url }}"></script>
  <script src="{{ 'modules/client/scripts/user-profile.js' | asset_url }}"></script>
{%- else -%}
  <script src="{{ 'modules/client/services/stripeServices.min.js' | asset_url }}"></script>
  <script src="{{ 'modules/client/services/apiServices.min.js' | asset_url }}"></script>
  <script src="{{ 'modules/client/scripts/user-profile.min.js' | asset_url }}"></script>
{%- endif -%}