{%- liquid
    if context.params.slug == "questionnaires-confirmation-view"
        assign disabled = "disabled"
    endif
-%}

<!-- Form Group: Confirmation -->
<div class="form-group" data-group-id="{{groups[2].id}}" active>

<div class="column-1">
    <div class="spacer x-large"></div>
    <h2 class="heading-2">Confirmation</h2>
    <div class="spacer small"></div>
</div>

<div class="column-1">
    This Insites Service Level Agreement ("SLA") is a policy governing the use of the Included Services (listed below) and applies separately to each account using the Included Services. In the event of a conflict between the terms of this SLA and the Insites Terms of Service or other agreement with us governing your use of our Services (the "Agreement"), the terms and conditions of this SLA apply, but only to the extent of such conflict. Capitalised terms used herein but not defined herein shall have the meanings set forth in the Agreement.This SLA applies to site instances that are on a billing plan that is paid for, ie: not free. SLA for Staging, QA, Development and other services that are not paid for, will not be covered by this SLA, unless a paid billing plan is applied to those environments.
</div>        

<!-- Field: I understand and agree -->
<div class="column-1">
    <div class="list-field-wrap" 
        validate
        data-type="array" 
        data-ui="list_checkbox"  
        data-name="{{ form.fields.properties.agreement.name }}"
        {%- if form.errors['properties.agreement'] != nil -%} has-error="true" {%- endif -%}>
        <label class="list-checkbox_label"></label>
        <div class="list-checkbox-options">
            <ins-checkbox
                {{disabled}}
                id="agreement"
                label="I understand and agree" value="I understand and agree" 
                name="{{ form.fields.properties.agreement.name }}"
                {%- if form.fields.properties.agreement.value contains 'I understand and agree' -%} checked {%- endif -%}>
            </ins-checkbox>
        </div>
        <p class="list-checkbox_error">{{ form.errors['properties.agreement'] | default: 'Required' }}</p>
    </div>
</div>
</div>