{%- liquid
    if context.params.slug == "questionnaires-general-view"
        assign disabled = "disabled"
    endif

    assign props = form.fields.properties
-%}

<!-- Form Group: General -->
<div class="form-group" active>

    <div class="column-1">
        <div class="spacer x-large"></div>
        <h2 class="heading-2">General Information</h2>
        <div class="spacer small"></div>
    </div>

    <!-- Field: Have you ever heard about Insites? -->
    <div class="column-1">
        <div class="list-field-wrap"   
            validate          
            data-type="string"
            data-ui="list_radio" 
            data-name="{{ props.have_you_heard.name }}"
            {%- if form.errors['properties.have_you_heard'] != nil -%} has-error="true" {%- endif -%}>
            <label class="list-field_label">Have you ever heard about Insites?*</label>
            <div class="list-radio-options">
                <ins-radio
                    {{disabled}}
                    validate
                    label="Yes" value="Yes"
                    name="{{ props.have_you_heard.name }}"
                    {% if props.have_you_heard.value == 'Yes' %}checked{% endif %}>
                </ins-radio>
                <ins-radio
                    {{disabled}}
                    validate
                    label="No" value="No"
                    name="{{ props.have_you_heard.name }}"
                    {% if props.have_you_heard.value == 'No' %}checked{% endif %}>
                </ins-radio>
            </div>
            <p class="list-field_error">{{ form.errors['properties.have_you_heard'] | default: 'Required' }}</p>
        </div>
    </div>

    <!-- Field: How did you learn about Insites? -->
    <div class="column-2">
        <ins-select
            {{disabled}}
            validate
            searchable 
            data-type="string"
            data-ui="list_select"
            label="How did you learn about Insites?*"
            name="{{ props.howd_you_learn.name }}"
            value="{{ props.howd_you_learn.value }}"
            error-message="{{ form.errors.howd_you_learn | default: 'Required' }}"            
            {%- if form.errors['properties.howd_you_learn'] != nil -%} has-error {%- endif -%}>
            <ins-select-option label="Word of Mouth" value="Word of Mouth"></ins-select-option>
            <ins-select-option label="Online Ads" value="Online Ads"></ins-select-option>
            <ins-select-option label="Social Media" value="Social Media"></ins-select-option>
        </ins-select>
    </div>

    <!-- Field: What is the main reason you visit our website?  -->
    <div class="column-2">
        <ins-select
            {{disabled}}
            validate
            searchable 
            data-type="string"
            data-ui="list_select"
            label="What is the main reason you visit our website? *"
            name="{{ props.reason_for_visit.name }}"
            value="{{ props.reason_for_visit.value }}"
            error-message="{{ form.errors['properties.reason_for_visit'] | default: 'Required' }}"            
            {%- if form.errors['properties.reason_for_visit'] != nil -%} has-error {%- endif -%}>
            <ins-select-option label="Browsing" value="Browsing"></ins-select-option>
            <ins-select-option label="Enquire about services" value="Enquire about services"></ins-select-option>
            <ins-select-option label="Looking for work" value="Looking for work"></ins-select-option>
        </ins-select>
    </div>

    <!-- Field: Personal Email -->
    <div class="column-2">
        <ins-input 
            {{disabled}}
            validate
            data-type="string"
            data-ui="text"
            label="Personal Email*"
            name="{{ props.personal_email.name }}"
            value="{{ props.personal_email.value }}"
            error-message="{{ form.errors['properties.personal_email'] | default: 'Required' }}"            
            {% if form.errors['properties.personal_email'] != nil -%} has-error {%- endif -%} >
        </ins-input>
    </div>

    <!-- Field: Primary Phone -->
    <div class="column-2">
        <ins-input-tel 
            {{disabled}}
            no-areacode
            id="ins_primary_phone"
            data-type="string"
            data-ui="phone"
            label="Primary Phone"
            phonenum-placeholder="Telephone Number"
            error-message="{{ form.errors['properties.primary_phone'] }}"            
            {% if form.errors['properties.primary_phone'] != nil -%} has-error {%- endif -%} >
        </ins-input-tel>

        <input type="hidden" id="primary_phone" 
          name="{{ props.primary_phone.name }}"
          value="{{ props.primary_phone.value }}" >
    </div>

    <!-- Field: Why did you leave your previous job? -->
    <div class="column-1">
        <ins-textarea 
            {{disabled}}
            data-type="string"
            data-ui="multi_line"
            label="Why did you leave your previous job?"
            name="{{ props.previous_job.name }}"
            value="{{ props.previous_job.value }}"
            error-message="{{ form.errors['properties.previous_job'] }}"            
            {% if form.errors['properties.previous_job'] != nil -%} has-error {%- endif -%}>
        </ins-textarea>
    </div>

    <!-- Field: Which of our services are you interested in? -->
    <div class="column-1">
        <div class="list-field-wrap" 
            validate
            data-type="array" 
            data-ui="list_checkbox"  
            data-name="{{ props.service_of_interest.name }}"
            {%- if form.errors['properties.service_of_interest'] != nil -%} has-error="true" {%- endif -%}>
            <label class="list-checkbox_label">Which of our services are you interested in?*</label>
            <div class="list-checkbox-options">
                <ins-checkbox
                    {{disabled}}                    
                    label="Design" value="Design" 
                    name="{{ props.service_of_interest.name }}"
                    {%- if props.service_of_interest.value contains 'Design' -%} checked {%- endif -%}>
                </ins-checkbox>
                <ins-checkbox
                    {{disabled}}
                    label="Software Development" value="Software Development" 
                    name="{{ props.service_of_interest.name }}"
                    {%- if props.service_of_interest.value contains 'Software Development' -%} checked {%- endif -%}>
                </ins-checkbox>
                <ins-checkbox
                    {{disabled}}
                    label="Marketing" value="Marketing" 
                    name="{{ props.service_of_interest.name }}"
                    {%- if props.service_of_interest.value contains 'Marketing' -%} checked {%- endif -%}>
                </ins-checkbox>
                <ins-checkbox
                    {{disabled}}
                    label="Technical Support" value="Technical Support" 
                    name="{{ props.service_of_interest.name }}"
                    {%- if props.service_of_interest.value contains 'Technical Support' -%} checked {%- endif -%}>
                </ins-checkbox>
            </div>
            <p class="list-checkbox_error">{{ form.errors['properties.service_of_interest'] | default: 'Required' }}</p>
        </div>
    </div>

    <!-- Field: Attach Documents -->
    <div class="column-1" >
        {% if params.slug ==  'questionnaires-general-view' %}
            <label class="list-checkbox_label">Attach Documents</label> 
            {% if data.attach_documents.url %}
                <p><a href="{{data.attach_documents.url}}" ><ins-button type="button" label="Download" ></ins-button></a></p>
            {% else %}
                <p>- No file submitted.</p>
            {% endif %} 
        {% else %}
        <ins-input-file
            {{disabled}}
            id="document-input"
            data-multiple="false"
            data-name="{{ props.attach_documents.name }}"
            data-type="upload"
            data-ui="media_file"
            data-prop="attach_documents"
            label="Attach Documents"
            accepted-files=""
            capture=""
            error-message="{{ form.errors['properties.attach_documents'] }}"            
            {%- if form.errors['properties.attach_documents'] != nil -%} has-error {%- endif -%}>
        </ins-input-file>
        <input
            type="hidden"
            id="document"
            name="{{ props.attach_documents.name }}" >    

        {% endif %}           
    </div>

</div> 