{%- liquid
    if context.params.slug == "questionnaires-additional-details-view"
        assign disabled = "disabled"
    endif

    assign props = form.fields.properties
-%}

<!-- Form Group: Additional Details -->
<div class="form-group" active>

<div class="column-1">
    <div class="spacer large"></div>
    <h2 class="heading-2">Additional Details</h2>
    <div class="spacer small"></div>
</div>

<!-- Field: Name of the Contact Person -->
<div class="column-2">
    <ins-input 
        {{disabled}}
        validate
        data-type="string"
        data-ui="text"
        label="{%- include 'modules/client/insites_database/label', form: form, name: 'contact_name' -%}"
        placeholder="Name of the Contact Person"
        name="{{ props.contact_name.name }}"
        value="{{ props.contact_name.value }}"
        error-message="{{ form.errors['properties.contact_name'] | default: 'Required' }}"        
        {% if form.errors['properties.contact_name'] != nil -%} has-error {%- endif -%} >
    </ins-input>
</div>

<!-- Field: Contact Number -->
<div class="column-2">
    <ins-input-tel
        {{disabled}}
        validate
        no-areacode 
        id="ins_contact_number"
        data-type="string"
        data-ui="phone"
        label="{%- include 'modules/client/insites_database/label', form: form, name: 'contact_number' -%}"
        phonenum-placeholder="Telephone Number"
        error-message="{{ form.errors['properties.contact_number'] | default: 'Required' }}"        
        {% if form.errors['properties.contact_number'] != nil -%} has-error {%- endif -%}>
    </ins-input-tel>

    <input type="hidden" id="contact_number" 
          name="{{ props.contact_number.name }}"
          value="{{ props.contact_number.value }}" >
</div>

<!-- Field: Would you like us to update your site or would you like to be responsible for updates?  -->
<div class="{%- if form.metadata.properties.update_site.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
    <div class="list-field-wrap" 
        validate
        data-type="string"
        data-ui="list_radio" 
        data-name="{{ props.update_site.name }}"
        {%- if form.errors['properties.update_site'] != nil -%} has-error="true" {%- endif -%}>
        <label class="list-field_label">{%- include 'modules/client/insites_database/label', form: form, name: 'update_site' -%}</label>
        <div class="list-radio-options">
            <ins-radio
                {{disabled}}
                label="Yes" value="Yes"
                name="{{ props.update_site.name }}"
                {% if props.update_site.value == 'Yes' %}checked{% endif %}>
            </ins-radio>
            <ins-radio
                {{disabled}}
                label="No" value="No"
                name="{{ props.update_site.name }}"
                {% if props.update_site.value == 'No' %}checked{% endif %}>
            </ins-radio>
        </div>
        <p class="list-field_error">{{ form.errors['properties.update_site'] | default: 'Required' }}</p>
    </div>
</div>

<div class="column-1">
    <div class="spacer small"></div>
    <h5 class="heading-5">Other Relevant Notes</h5>
</div>

<!-- Field: Is there anything else you'd like to tell us?  -->
<div class="column-1">
    <ins-textarea 
        {{disabled}}
        data-type="string"
        data-ui="multi_line"
        label="{%- include 'modules/client/insites_database/label', form: form, name: 'notes' -%}"
        name="{{ props.notes.name }}"
        value="{{ props.notes.value }}"
        error-message="{{ form.errors['properties.notes'] }}"        
        {% if form.errors['properties.notes'] != nil -%} has-error {%- endif -%}>
    </ins-textarea>
</div>
</div>