{%-liquid
    if item.agreement[0] == "I understand and agree"
        assign status = "Completed"
        assign btnLabel = "View"
        assign viewEditLink = "/questionnaires-general-view/" | append: item.id
    else 
        assign status = "Draft"
        assign btnLabel = "View/Edit"
        assign viewEditLink = "/questionnaires-general/" | append: item.id
    endif
-%}

{% comment %} 
    There is a chance that the PDF creation of the Questionnaire was not successful after it was created on Questionnaire form.
    Check if the PDF file exist, if not recreate another.
    If PDF was created here in Page rather than on Form, 
        on first load of this page, the PDF url we get from graphql is the initial url (https://uploads...), rather than the actual url (https://s3)
        we have to check this case via javascript to call an api to get the actual url (https://s3) 
{% endcomment %}
{%-liquid
    if item.pdf.url == null
        function pdf_generator = 'modules/client/questionnaires/questionnaires_pdf_generator', questionnaire_id: item.id
        assign download_url = pdf_generator.record_update.pdf.url
    else
        assign download_url = item.pdf.url
    endif
-%}

<ins-card class="fixed-btn-width">
    <div class="content">
        <div class="text-wrap">
            <div class="grid-x">
            <div class="large-8 medium-8 small-8 cell"><i class="icon-calendar"></i> <span class="date">{{ item.updated_at | date: '%B %d, %Y' | default: "January 11, 2023" }}</span></div>                  
            <div class="large-4 medium-4 small-4 cell align-right vertical-align-middle"><ins-tag label="{{status}}" class="{{status}}"></ins-tag></div>                  
            </div> 
            <div class="spacer x-small"></div>
            <h3 class="heading-3">{{item.year}}</h3>
            <div class="spacer xx-small"></div>
            {%- if showName %} <p>Questionnaire</p> {%- endif %}
            <div class="spacer"></div>
        </div>
        <div class="spacer small"></div>
        <a href="{{viewEditLink}}" ><ins-button size="small" label="{{btnLabel}}"></ins-button></a>
        <ins-button class="download-pdf" size="small" label="DOWNLOAD" data="{{item.id}},{{download_url}}"  ">
    </div>
</ins-card>