{%- liquid
    if context.params.slug2 == "questionnaires-additional-details-view"
        assign disabled = "disabled"
    endif
-%}

<!-- Form Group: Additional Details -->
<div class="form-group" active>

<div class="column-1">
    <div class="spacer large"></div>
    <h2 class="heading-2">Additional Details</h2>
    <div class="spacer small"></div>
</div>

<!-- Field: Name of the Contact Person -->
<div class="column-1">
    <ins-input 
        {{disabled}}
        data-type="string"
        data-ui="text"
        label="{%- include 'modules/client/insites_database/label', form: form, name: 'contact_name' -%}"
        name="{{ form.fields.properties.contact_name.name }}"
        value="{{ form.fields.properties.contact_name.value }}"
        error-message="{{ form.errors['properties.contact_name'] }}"
        
        {%- if form.errors['properties.contact_name'] != nil -%} has-error {%- endif -%} 
        >
    </ins-input>
</div>

<!-- Field: Contact Number -->
<div class="column-1">
    <ins-input-tel
        {{disabled}}
        no-areacode 
        id="contact_number"
        data-type="string"
        data-ui="phone"
        label="{%- include 'modules/client/insites_database/label', form: form, name: 'contact_number' -%}"
        name="{{ form.fields.properties.contact_number.name }}"
        phonenum-value="{{ form.fields.properties.contact_number.value }}"
        error-message="{{ form.errors['properties.contact_number'] }}"
        
        {%- if form.errors['properties.contact_number'] != nil -%} has-error {%- endif -%}>
    </ins-input-tel>
</div>

<!-- Field: Would you like us to update your site or would you like to be responsible for updates?  -->
<div class="{%- if form.metadata.properties.update_site.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
    <div class="list-field-wrap" 
        data-type="string"
        data-ui="list_radio" 
        data-name="{{ form.fields.properties.update_site.name }}"
        {%- if form.errors['properties.update_site'] != nil -%} has-error="true" {%- endif -%}>
        <label class="list-field_label">{%- include 'modules/client/insites_database/label', form: form, name: 'update_site' -%}</label>
        <div class="list-radio-options">
            <ins-radio
                {{disabled}}
                label="Yes" value="Yes"
                name="{{ form.fields.properties.update_site.name }}"
                {% if form.fields.properties.update_site.value == 'Yes' %}checked{% endif %}>
            </ins-radio>
            <ins-radio
                {{disabled}}
                label="No" value="No"
                name="{{ form.fields.properties.update_site.name }}"
                {% if form.fields.properties.update_site.value == 'No' %}checked{% endif %}>
            </ins-radio>
        </div>
        <p class="list-field_error">{{ form.errors['properties.update_site'] }}</p>
    </div>
</div>

<!-- Field: Is there anything else you'd like to tell us?  -->
<div class="{%- if form.metadata.properties.notes.two_columns == true -%}column-2{%- else -%}column-1{%- endif -%}">
    <ins-textarea 
        {{disabled}}
        data-type="string"
        data-ui="multi_line"
        label="{%- include 'modules/client/insites_database/label', form: form, name: 'notes' -%}"
        name="{{ form.fields.properties.notes.name }}"
        value="{{ form.fields.properties.notes.value }}"
        error-message="{{ form.errors['properties.notes'] }}"
        
        {%- if form.errors['properties.notes'] != nil -%} has-error {%- endif -%}>
    </ins-textarea>
</div>
</div>