
{%- liquid

    graphql data = "modules/client/questionnaires/get_questionnaires", id: {{context.params.slug2}} | dig: "items","results" | first

    if context.params.slug == "questionnaires-general" or context.params.slug == "questionnaires-general-view"
        assign statusGeneral = "active"
        assign statusAdditional = "disabled"
        assign statusConfirmation = "disabled"
        if context.params.slug2
            if data.contact_name
                assign statusAdditional = "complete"
            endif
            if data.agreement[0] == "I understand and agree"
                assign statusConfirmation = "complete"
            endif
        endif
    elsif context.params.slug == "questionnaires-additional-details" or context.params.slug == "questionnaires-additional-details-view"
        assign statusGeneral = "complete"
        assign statusAdditional = "active"
        assign statusConfirmation = "disabled"
        if context.params.slug2
            if data.agreement[0] == "I understand and agree"
                assign statusConfirmation = "complete"
            endif
        endif
    elsif context.params.slug == "questionnaires-confirmation" or context.params.slug == "questionnaires-confirmation-view"
        assign statusGeneral = "complete"
        assign statusAdditional = "complete"
        assign statusConfirmation = "active"
    endif

    if link == 'view'
        assign view = '-view'
    endif

    export data, namespace: 'questionnaires'
-%}

<div class="form-groups-tab">        
    <ins-steps clickable id="insStepsClickEl" style="width: 100%;">
        <ins-step description="General" {{statusGeneral}} link="/questionnaires-general{{view}}/{{context.params.slug2}}"></ins-step>
        <ins-step description="Additional Details" {{statusAdditional}} link="/questionnaires-additional-details{{view}}/{{context.params.slug2}}"></ins-step>
        <ins-step description="Confirmation" {{statusConfirmation}} link="/questionnaires-confirmation{{view}}/{{context.params.slug2}}"></ins-step>
    </ins-steps>
</div>

<script>
    //Clickable Steps    
    function prevForm(event){
        let link = event.detail.currentStep.getAttribute('link');
        window.location=link;               
    }    
    insStepsClickEl.addEventListener('insClick', this.prevForm);    
</script>