---
name: questionnaires_general
resource: modules/client/questionnaires
resource_owner: anyone
redirect_to: >
  {%  liquid
      if form.properties.save_exit == 'true'
        assign redirect_url = '/questionnaires'
      else
        assign redirect_url = '/questionnaires-additional-details/' | append: form.id
      endif
  %}
  {{ redirect_url }}
fields:
  properties:
    user_id:
      validation:
        presence: true
    year:
      validation:
        presence: true
    have_you_heard:
      validation:
        presence: true
    howd_you_learn:
      validation:
        presence: true
    reason_for_visit:
      validation:
        presence: true
    personal_email:
      validation:
        presence: true
    primary_phone:
    previous_job:    
    service_of_interest:
      validation:
        presence: true
    attach_documents:    
    save_exit:
      property_options:
        virtual: true
default_payload: |-
  {
    "properties_attributes": {
      "user_id": "{{context.current_user.id}}"
    }
  }
---
{%- graphql database_info = "modules/client/forms/get_database_info", $resource: "modules/client/questionnaires" | dig: "items","results" | first -%}
{%- assign groups = database_info.metadata.groups | sort_by: "weight" -%}
{%- assign fields = database_info.properties -%}
{%- assign form = form | add_hash_key: "metadata", fields -%}

{%  liquid
    assign props = form.fields.properties

    if props.year.value
      assign year = props.year.value
    else
      assign year = context.params.year 
    endif
    assign year_now = 'now' | date: '%Y'    
%}

{%- form
    html-autocomplete: "off"
    html-id: "questionnaires-form"
    html-class: 'insites-form insites-form-code questionnaires-form' 
    html-novalidate: true
    html-enctype = "multipart/form-data"
    html-onsubmit: "return validateQuestionnairesForm(event)" -%}        
        
    <input name="{{ props.user_id.name }}" type="hidden" value="{{context.current_user.id}}" >
    <input name="{{ props.save_exit.name }}" id="save-exit" type="hidden" value="false" >
    <input name="{{ props.year.name }}" type="hidden" value="{{year | default: year_now}}" >

    <div class="insites-form-grid">  
      <div class="form-groups-tab">        
          {% include "modules/client/questionnaires/questionnaires-steps" %}            
      </div>    
      {% include "modules/client/questionnaires/questionnaires-general-inputs", form %}        
    </div>
    
    <div class="insites-form-grid ">        
      <div class="insites-form-buttons column-1">
        <div class="spacer small"></div>
        <div class="grid-x">
          <div class="large-4 medium-6 small-12">
            <ins-button type="submit" label="SAVE & EXIT" icon="icon-exit-to-app" id="save-exit-btn" ></ins-button>
            <div class="spacer show-for-small-only"></div>
          </div>          
          <div class="large-8 medium-6 small-12 text-right">
            {% comment %} Desktop view of buttons {% endcomment %}
            <div class="show-for-large">
              <ins-button type="button" label="CANCEL" class="cancel-btn" icon="icon-close-1"></ins-button>
              <ins-button type="submit" label="SAVE & NEXT" icon-right="icon-arrow-forward" solid class="mr-0"></ins-button>
            </div>  

            {% comment %} Tablet and Mobile view of buttons {% endcomment %}
            <div class="hide-for-large mr-0">              
              <ins-button type="submit" label="SAVE & NEXT" icon-right="icon-arrow-forward" solid class="mr-0"></ins-button>
              <div class="spacer"></div>
              <ins-button type="button" label="CANCEL" class="cancel-btn" icon="icon-close-1"></ins-button>
            </div>            
          </div>
        </div>
      </div>
    </div>

{%- endform -%}

{%  liquid   
    assign attach_documents = context.exports.questionnaires.data.attach_documents
    assign file_name = attach_documents.file_name
    assign file_extension = attach_documents.extension
    assign file_path = attach_documents.url
%}

{%- include 'modules/client/questionnaires/questionnaires-cancel-modal' -%}

<script>
  <!-- Set Primary Phone value -->  
  let primaryPhone = document.getElementById('ins_primary_phone');
  primaryPhone.addEventListener('didLoad', function(e){            
    let countryCode = {{ props.primary_phone.value | split: ' ' | default: '[]' }};   
    if (Array.isArray(countryCode) ){
      primaryPhone.setCountryCode(`+${countryCode[0]}`);
      if(countryCode.length > 1){
        primaryPhone.setAttribute('phonenum-value', countryCode[1]);
      }      
    }
  });      

  <!-- File Upload -->
  let insFileUploaderEl = document.getElementById('document-input');
  let documentFieldEl = document.getElementById('document');
  let table = "modules/client/questionnaires";
  let property = "attach_documents";           

  {% if params.slug2 and file_path %}
  <!-- Preview existing file --> 
  let file_name = "{{file_name}}";
  let file_extension = "{{file_extension}}";
  let file_path = "{{file_path}}";
  let imageExtsions = ["jpg", "jpeg", "jfif", "pjpeg", "pjp", "apng", "png", "avif", "gif", "svg", "webp", "bmp", "ico", "tif", "tiff"];
  let type = imageExtsions.includes(file_extension)? "image" : "file";
  value = [{
    name: file_name,
    type: `"${type}/${file_extension}"`,
    url: file_path
  }];
  insFileUploaderEl.addEventListener('didLoad', function(e){
    insFileUploaderEl.setFiles(value);
  });  
  {% endif %}

  <!-- Submit Form -->
  let form = document.getElementById('questionnaires-form');
  let buttons = form.querySelectorAll('ins-button');
  let saveExitBtn = document.getElementById('save-exit-btn');
  let saveExitInput = document.getElementById('save-exit');
      saveExitBtn.addEventListener('insClick', event => {
        saveExitInput.value = "true";
      });   
      
  async function validateQuestionnairesForm(event) {
    event.preventDefault();
    buttons.forEach(btn => btn.loading = true);                
    if (await App.validation.validateForm(form)) {
      await FileUpload.methods.processAttachments();

      let primaryPhoneInput = document.getElementById('primary_phone');
      let phoneVal = await primaryPhone.getValues();
      primaryPhoneInput.value = `${phoneVal.country_code} ${phoneVal.phone_number}`;   

      form.submit();
      return false;
    } else {
      buttons.forEach(btn => btn.loading = false);
      return false;
    }
  }
</script>
<script src="{{ 'modules/client/scripts/file-upload.js' | asset_url }}"></script>