---
name: questionnaires_general
resource: modules/client/questionnaires
resource_owner: anyone
redirect_to: /client-portal/questionnaires-additional-details/{{form.id}}
fields:
  properties:
    user_id:
      validation:
        presence: true
    year:
      validation:
        presence: true
    have_you_heard:
      validation:
        presence: true
    howd_you_learn:
      validation:
        presence: true
    reason_for_visit:
      validation:
        presence: true
    personal_email:
      validation:
        presence: true
    primary_phone:  
    previous_job:    
    service_of_interest:
      validation:
        presence: true
    attach_documents:    
default_payload: |-
  {
    "properties_attributes": {
      "user_id": "{{context.current_user.id}}"
    }
  }
---
{%- graphql database_info = "modules/client/forms/get_database_info", $resource: "modules/client/questionnaires" | dig: "items","results" | first -%}
{%- assign groups = database_info.metadata.groups | sort_by: "weight" -%}
{%- assign fields = database_info.properties -%}
{%- assign form = form | add_hash_key: "metadata", fields -%}


  {%- form
    html-autocomplete: "off"
    html-id: "questionnaires-form"
    html-class: 'insites-form insites-form-code questionnaires-form' 
    html-novalidate: true
    html-enctype = "multipart/form-data"
    html-onsubmit: "return Questionnaires.methods.validateForm(event)"   -%}

    <input name="{{ form.fields.properties.user_id.name }}" type="hidden" value="{{context.current_user.id}}" >

    {%  liquid
        if form.fields.properties.year.value
          assign year = form.fields.properties.year.value
        else
          assign year = context.params.year 
        endif
        assign year_now = 'now' | date: '%Y'
    %}
    <input name="{{ form.fields.properties.year.name }}" type="hidden" value="{{year | default: year_now}}" >

    <div class="insites-form-grid">
    
    <div class="form-groups-tab">        
        {% include "modules/client/questionnaires/questionnaires-steps" %}
    </div>    

    {% include "modules/client/questionnaires/questionnaires-general-inputs", form %}
        
    </div>
    
    <div class="insites-form-grid grid-x">        
        <div class="insites-form-buttons column-1 text-right">
            <a href="/client-portal/questionnaires"><ins-button type="button" label="CANCEL" icon="icon-close-1"></ins-button></a>
            <ins-button type="submit" label="SAVE & NEXT" icon-right="icon-arrow-forward" id="submit-btn-questionnaires" solid ></ins-button>
        </div>
    </div>

{%- endform -%}

<script>
    // Update `countryCode` and `phonenum-value` attribute of the telephone
    let primary_phone = document.getElementById('primary_phone');
    primary_phone.addEventListener('didLoad', function(e){            
        let countryCode = {{ form.fields.properties.primary_phone.value | split: ' ' | default: '[]' }};        
        if (Array.isArray(countryCode) && countryCode.length == 2){
            primary_phone.setCountryCode(countryCode[0]);
            primary_phone.setAttribute('phonenum-value', countryCode[1]);
        }
    });    

  let submitFormBtn = document.getElementById('submit-form-btn');
  let questionnairesForm = document.querySelector('form.questionnaires-form');

  async function validateQuestionnairesForm(event) {
    event.preventDefault();
    submitFormBtn.loading = true;

    if (await App.validation.validateForm(questionnairesForm)) {
      questionnairesForm.submit();
      return true;
    } else {
      submitFormBtn.loading = false;
      return false;
    }
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="{{ 'modules/website/services/formServices.js' | asset_url }}"></script>
<script src="{{ 'modules/website/scripts/forms/questionnaires.js' | asset_url }}"></script>