<hr>
<footer class="blocks-footer-05 footer bg-color-ui-01">
    <div class="spacer xxxx-large"></div>
    <div class="wrapper top-footer footerSubItems">
        <div class="grid-container">
            <div class="grid-x grid-padding-x gutter-medium">
                <div class="large-4 medium-6 small-12 cell text-left">
                    <div class="img-logo img-full">
                        <img alt="logo" class="logo" src="https://docs.insites.io/assets/images/webblocks/insites-template-logo.png?updated" alt="Sample Logo">
                    </div>
                </div>
                <div class="small-12 cell spacer xxx-large hide-for-medium"></div>

                <!-- QUICK LINKS -->
                <div class="large-2 medium-6 small-12 cell">
                    <ul class="vertical menu">
                        <li>
                            <p class="navigation-level-1 color-font-head subHeading-2 colorBlack" data-test="">Quick Links</p>
                            <div class="spacer"></div>
                        </li>
                        <li class="">
                            <a class="footer-links color-font-head" data-test="" href="/about-us">About</a>
                            <div class="spacer small"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/faqs">FAQs</a>
                            <div class="spacer small"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/news">News</a>
                            <div class="spacer small"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/contact-us">Contact</a>
                            <div class="spacer small"></div>
                        </li>
                    </ul>
                </div>
    
                <!-- SERVICES -->
                <div class="large-3 medium-6 small-12 cell">
                    <div class="spacer show-for-small-only"></div>
                    <div class="spacer xxxx-large show-for-small-only"></div>
                    
                    <ul class="vertical menu">
                        <li>
                            <p class="navigation-level-1 color-font-head subHeading-2 colorBlack" data-test="">Services</p>
                            <div class="spacer"></div>
                        </li>
                        {% comment %} connect services to graphql {% endcomment %}
                        {%- graphql get_services = 'modules/website/content/get_services' -%}
                        {% comment %} assign var to fetch the result {% endcomment %}
                        {%- assign res_services = get_services | dig: 'items', 'results' -%}
                        
                        {% for item in res_services %}
                          <li>
                              <a href="/services/{{ item.slug }}" class="footer-links color-font-head" data-test="">{{ item.service_name }}</a>
                              <div class="spacer small"></div>
                          </li>
                        {% endfor %}
                    </ul>
                </div>


                <!-- EXTERNAL LINKS -->
                <div class="large-2 medium-6 small-12 cell">
                    <div class="spacer show-for-small-only"></div>
                    <div class="spacer xxxx-large show-for-small-only"></div>
                    
                    <ul class="vertical menu">
                    <li><p class="navigation-level-1 color-font-head subHeading-2 colorBlack" data-test="">External Links</p>
                        <div class="spacer"></div>
                    </li>
                    <li>
                        <a href="https://www.insites.io/" target="_blank" class="footer-links color-font-head" data-test="">
                        <span>Website</span>
                        <i class="icon-external-link1"></i>
                        </a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a href="https://console.insites.io/" target="_blank" class="footer-links color-font-head" data-test="">
                        <span>Console</span>
                        <i class="icon-external-link1"></i>
                        </a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a href="https://docs.insites.io/" target="_blank" class="footer-links color-font-head" data-test="">
                        <span>Resources</span>
                        <i class="icon-external-link1"></i>
                        </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer xxxx-large show-for-medium"></div>
    <div class="spacer x-large hide-for-medium"></div>

    <div class="wrapper bottom-footer footerSubItems" >
        <div class="grid-container">
            <hr>
            <div class="spacer"></div>
            <div class="grid-x align-justify">
                <div class="large-6 medium-6 small-12 cell medium-text-left text-center grid-x grid-margin-x">
                    <div class="medium-shrink cell">
                        <a href="/privacy-policy">Privacy Policy</a>
                    </div>
                    <div class="cell spacer show-for-small-only"></div>
                    <div class="medium-shrink cell">
                        <a href="/terms-and-conditions">Terms and Conditions</a>
                    </div>
                </div>
                <div class="cell spacer show-for-small-only"></div>
                <div class="large-6 medium-6 small-12 cell medium-text-right text-center">
                    <div>
                        {% comment %} connect services to graphql {% endcomment %}
                        {%- graphql get_contact_us = 'modules/website/system/get_contact_us' -%}
                        {% comment %} assign var to fetch the result {% endcomment %}
                        {%- assign res_soc_url = get_contact_us | dig: 'items', 'results' -%}
                        {%- assign res_soc_url = res_soc_url | first -%}


                    <ul class="menu social">
                        <li>
                            <a class="footer-links iconHover" href="{{ res_soc_url.facebook_link }}" data-test="footer-link-facebook" target="_blank" title="facebook" rel="noreferrer">
                                <i class="icon-facebook-stroke colorBlack"></i>
                            </a>
                        </li>
                        <li>
                            <a class="footer-links iconHover" href="{{ res_soc_url.twitter_link }}" data-test="" target="_blank" title="" rel="noreferrer">
                                <i class="icon-twitter-stroke colorBlack"></i>
                            </a>
                        </li>
                        <li>
                            <a class="footer-links iconHover" href="{{ res_soc_url.linkedin_link }}" data-test="" target="_blank" title="" rel="noreferrer">
                                <i class="icon-linkedin-stroke colorBlack"></i>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="grid-x">
                <div class="large-6 medium-6 small-12 cell medium-text-left text-center">
                    <p class="subHeading" style="color: #595959; font-size: 12px!important;">Copyright © 2023 Insites Template.</p>
                </div>
                <div class="small-12 cell spacer show-for-small-only"></div>
                <div class="large-6 medium-6 small-12 cell medium-text-right text-center">
                    <p class="subHeading" style="color: #595959; font-size: 12px!important;"> Built by <a style="font-size: 12px!important" target="_blank" href="https://www.combinate.me/">Combinate</a>. Powered by <a style="font-size: 12px!important" target="_blank" href="https://www.insites.io/">Insites</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</footer>

{%- include 'modules/website/layout/foot' -%}