---
metadata: {
    partial_name: 'Website | Layout | Footer'
}
---

{% comment %} ? GET GLOBAL CONTENT {% endcomment %}
{%- include "modules/insites_cms/globals" -%}
{%- assign global = context.exports.global -%}

<hr>
<footer class="blocks-footer-05 footer bg-color-ui-01">
    <div class="spacer xxxx-large"></div>
    <div class="wrapper top-footer footerSubItems">
        <div class="grid-container">
            
            <div class="footer-links-wrap">

                <!-- LOGO FOOTER -->
                <div class="">
                    <div class="img-logo img-full">
                    
                            <img class="logo logo-footer" src="{{ global.company_logo }}" alt="Logo" height="56" width="119">
                    
                    </div>
                </div>

                <!-- QUICK LINKS -->
                <div class="wrap right-group">
                    <div class="spacer x-large show-for-small-only"></div>
                    <ul class="vertical menu">
                        <li>
                            <p class="footer-link-main-label" data-test="">Quick links</p>
                            <div class="spacer"></div>
                        </li>
                        {%- if context.constants.ecommerce_addon == 'true' -%}
                            <li>
                                <a class="footer-links color-font-head" data-test="" href="/products">Shop</a>
                                <div class="spacer small"></div>
                            </li>
                        {%- endif -%}
                        <li class="">
                            <a class="footer-links color-font-head" data-test="" href="/about-us">About us</a>
                            <div class="spacer small"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/faqs">FAQ</a>
                            <div class="spacer small"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/news">News</a>
                            <div class="spacer small"></div>
                        </li>
                        <li>
                            <a class="footer-links color-font-head" data-test="" href="/contact-us">Contact</a>
                            <div class="spacer small"></div>
                        </li>
                    </ul>
                </div>

                {% comment %} Events Addon {% endcomment %}
                {% if context.constants.events_addon == 'true' %}
                    <div class="wrap">
                        <div class="spacer x-large show-for-small-only"></div>
                        <ul class="vertical menu">
                            <li>
                                <p class="footer-link-main-label">Events</p>
                                <div class="spacer"></div>
                            </li>
                            <li class="">
                                <a class="footer-links color-font-head" href="/upcoming-events">Upcoming events</a>
                                <div class="spacer small"></div>
                            </li>
                            <li>
                                <a class="footer-links color-font-head" href="/previous-events">Previous events</a>
                                <div class="spacer small"></div>
                            </li>
                        </ul>
                    </div>
                {% endif %}
    
                <!-- FEATURES -->
                <div class="wrap">
                    <div class="spacer x-large show-for-small-only"></div>

                    {%- graphql get_features = 'modules/website/features/get_features' -%}
                    {%- assign features =  get_features | dig: 'items', 'results'  -%}

                    <ul class="vertical menu">
                        <li>
                            <p class="footer-link-main-label" data-test="">Features</p>
                            <div class="spacer"></div>
                        </li>   
                        {% for item in features %}
                        <li>
                            <a href="/features/{{ item.slug }}" class="footer-links color-font-head" data-test="">{{ item.card_title }}</a>
                            <div class="spacer small"></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- EXTERNAL LINKS -->
                <div class="wrap">
                    <div class="spacer x-large show-for-small-only"></div>
                    
                    <ul class="vertical menu">
                    <li><p class="footer-link-main-label" data-test="">External links</p>
                        <div class="spacer"></div>
                    </li>
                    <li>
                        <a href="https://www.insites.io/" target="_blank" class="footer-links color-font-head" data-test="">
                        <span>Website</span>
                        <i class="icon-external-link1"></i>
                        </a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a href="https://console.insites.io/" target="_blank" class="footer-links color-font-head" data-test="">
                        <span>Console</span>
                        <i class="icon-external-link1"></i>
                        </a>
                        <div class="spacer small"></div>
                    </li>
                    <li>
                        <a href="https://docs.insites.io/" target="_blank" class="footer-links color-font-head" data-test="">
                        <span>Resources</span>
                        <i class="icon-external-link1"></i>
                        </a>
                    </li>
                    </ul>
                </div>                

            </div>
        </div>
    </div>

    <div class="spacer xxxx-large show-for-medium"></div>
    <div class="spacer x-large hide-for-medium"></div>
    <div class="wrapper bottom-footer footerSubItems" >
        <div class="grid-container">
            <hr>
            <div class="spacer"></div>
            <div class="grid-x align-justify">
                <div class="large-6 medium-6 small-12 cell grid-x grid-margin-x">
                    <div class="medium-shrink cell">
                        <a href="/privacy-policy" class="footer-links">Privacy policy</a>
                    </div>
                    <div class="cell spacer show-for-small-only"></div>
                    <div class="medium-shrink cell">
                        <a href="/terms-and-conditions"  class="footer-links">Terms and conditions</a>
                    </div>
                </div>
                <div class="cell spacer show-for-small-only"></div>
                <div class="large-6 medium-6 small-12 cell">
                    <div>
                    <ul class="menu social">

                        {% if context.exports.global.facebook_link %}
                        <li>
                            <a class="footer-links iconHover" href="{{ context.exports.global.facebook_link }}" data-test="footer-link-facebook" target="_blank" title="facebook" rel="noreferrer">
                                <i class="icon-facebook-square"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if context.exports.global.twitter_link %}
                        <li>
                            <a class="footer-links iconHover" href="{{ context.exports.global.twitter_link }}" data-test="" target="_blank" title="twitter" rel="noreferrer">
                                <i class="icon-social-x-square"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if context.exports.global.linkedin_link %}
                        <li>
                            <a class="footer-links iconHover" href="{{ context.exports.global.linkedin_link }}" data-test="" target="_blank" title="linkedin" rel="noreferrer">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if context.exports.global.instagram_link %}
                        <li>
                            <a class="footer-links iconHover" href="{{ context.exports.global.instagram_link }}" data-test="" target="_blank" title="instagram" rel="noreferrer">
                                <i class="icon-instagram-square"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if context.exports.global.youtube_link  %}
                        <li>
                            <a class="footer-links iconHover" href="{{ context.exports.global.youtube_link }}" data-test="" target="_blank" title="youtube" rel="noreferrer">
                                <i class="icon-youtube-square"></i>
                            </a>
                        </li>
                        {% endif %}

                        {% if context.exports.global.pinterest_link  %}
                            <li>
                                <a class="footer-links iconHover" href="{{ context.exports.global.pinterest_link }}" data-test="" target="_blank" title="pinterest" rel="noreferrer">
                                    <i class="icon-pinterest-square"></i>
                                </a>
                            </li>
                            {% endif %}

                        {% if context.exports.global.other_1_link  %}
                            <li>
                                <a class="footer-links iconHover" href="{{ context.exports.global.other_1_link }}" data-test="" target="_blank" title="other link 1" rel="noreferrer">
                                    <i class="icon-share-2"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if context.exports.global.other_2_link  %}
                            <li>
                                <a class="footer-links iconHover" href="{{ context.exports.global.other_2_link }}" data-test="" target="_blank" title="other link 2" rel="noreferrer">
                                    <i class="icon-share-2"></i>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                    </div>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="grid-x">
                <div class="large-6 medium-6 small-12 cell medium-text-left text-center">
                    <p class="subHeading footer-p">Copyright © <span id="year-container"></span> {{ context.exports.global.company_name  }} </p>
                </div>
                <div class="small-12 cell spacer show-for-small-only"></div>
                <div class="large-6 medium-6 small-12 cell medium-text-right text-center">
                    <p class="subHeading footer-p"> Powered by <a class="footer-links" target="_blank" href="https://www.insites.io/">Insites</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</footer>

<script>
    document.getElementById("year-container").innerHTML = new Date().getFullYear();
</script>

{%- comment -%}
Technical footer:
Contains all the scripts imported right before the </body> tag
{%- endcomment -%}
{%- include 'modules/website/layout/technical_foot' -%}
