{% comment %} 
  ? THIS HEADER IS USED FOR INITIAL INSTALLATION OF TEMPLATE 
  ? THIS FILE CAN BE DELETED ONCE MENU DATABASE IS POPULATED
{% endcomment %}

<header class="navigation-04 header colorBlack" data-test="main-header" id="main-header">
  <div class="wrapper">
    <div class="header-top-bar grid-container grid-x align-middle">
      <div class="large-2 medium-3 small-9 cell">
        <a href="/">
          {% comment %} ? SETTING LOGO BY DEFAULT {% endcomment %}
          {% if context.exports.global.company_logo == nil or context.exports.global.company_logo contains "client-logo.png" %}
              {% comment %} ? DEFAULT {% endcomment %}
              <img class="logo" src="{{ 'modules/website/images/default-images/logo/insites-logo.png' | asset_url }}" alt="Logo">
          {% else %}
              {% comment %} ? FETCHED FROM IIA -> CMS -> GLOBALS {% endcomment %}
              <img class="logo" src="{{ context.exports.global.company_logo }}" alt="Logo">
          {% endif %}
        </a>
      </div>
      <div class="large-1 medium-3 small-0"></div>

      <div class="show-for-large large-9 medium-6 small-12 cell text-right">
        <div class="header-links">

          {% if context.constants.ecommerce_addon == 'true' %}
              <ins-button id="mega-menu-btn" label="Shop" icon-right="icon-angle-down"></ins-button>
          {% endif %}

          <a class="colorBlack" href="/about">
            About
          </a>
        
          <a class="" href="/services">
            <ins-dropdown 
              label="Services"
              class="customNav">
                  <ins-dropdown-item
                    link="/services/customisable-style-guide"
                    label="Customisable Style Guide">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/web-block-variations"
                    label="Web Block Variations">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/web-components"
                    label="Web Components">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/content-types"
                    label="Content Types">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/fully-responsive"
                    label="Fully Responsive">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/pre-built-pages"
                    label="Pre Built Pages">
                  </ins-dropdown-item>
            </ins-dropdown>
          </a>

          <a class="colorBlack" href="/faqs">
            FAQ
          </a>

          <a class="colorBlack" href="/news">
            News
          </a>

          <a class="colorBlack" href="/contact">
            Contact
          </a>

         
        {% if context.current_user == nil %}
         
    
        </div>
              <a class="" href="/sign-in">           
                <ins-button label="SIGN IN" icon="icon-user"></ins-button>
              </a>
              
              <a href="/register">
                <ins-button class="btnMain" solid label="Register">
                </ins-button>
              </a>
          {% else %}        
          {% if context.current_user != nil %}
            {%- graphql user_with_token = 'modules/client/account/get_user_with_password_token', email: context.current_user.email | dig: 'users','results' | first -%}
            {%- assign user_data_default = user_with_token.default | first -%}

          {% endif %}
              <a class="color-main color-font-head" href=""> 
                <ins-dropdown 
                label="{{ context.current_user.first_name }} {{ context.current_user.last_name }}"
                class="profileNav">
                    <ins-dropdown-item
                      link="/my-details"
                      label="My Details">
                    </ins-dropdown-item>
                
                    <ins-dropdown-item
                      link="/generate-password-token?email={{ user_with_token.email | url_encode }}"
                      label="Change Password">
                    </ins-dropdown-item>
      
                    <ins-dropdown-item
                      link=""
                      label="">
                      {% include_form 'modules/client/sign_out' %}
                    </ins-dropdown-item>
                </ins-dropdown>
              </a>
            </div>
          {% endif %}

      </div>
      <div class="hide-for-large mobile-menu-toggle large-0 medium-6 small-3 cell vertical-align-middle align-right">
        <div id="mobile-menu-btn" class="icon-menu-1"></div>
      </div>
    </div>
  </div>  
</header>

{% if context.constants.ecommerce_addon == 'true' %}
    {% include 'modules/ecommerce/menu/mega_menu' %}
{% endif %}