---
metadata: {
    partial_name: 'Website | Layout | Header'
}
---

{% comment %} ? GET GLOBAL CONTENT {% endcomment %}
{%- include "modules/insites_cms/globals" -%}
{%- assign global = context.exports.global -%}

<header  id="main-header" {% if dark == blank %} class="light-header" {% else %} class="no-light-header" {% endif %}>
  <div id="mainHeaderWrapper" class="wrapper">
    <div class=" grid-container grid-x align-middle">
      <div class="large-2 medium-3 small-8 cell">
        <a href="/">
          {% comment %} ? SETTING LOGO BY DEFAULT {% endcomment %}
          {% if global.company_logo == nil or global.company_logo contains "client-logo.png" %}
              {% comment %} ? DEFAULT {% endcomment %}
              <img class="logo" src="{{ 'modules/website/images/default-images/logo/insites-logo.png' | asset_url }}" alt="Logo" height="56" width="119">
          {% else %}
              {% comment %} ? FETCHED FROM IIA -> CMS -> GLOBALS {% endcomment %}
              {% if dark == blank %} 
                  <img class="logo" src="{{ global.company_logo }}" alt="Logo" height="56" width="119">
                {% else %}
                  <img class="logo" src="{{ global.alternate_company_logo }}" alt="Logo" height="56" width="119">
              {% endif %}
          {% endif %}
        </a>
      </div>

      {%- assign menus = '[]' | parse_json -%}
      {%- graphql get_menu = 'modules/website/menu/get_parent_menu' | dig: 'items', 'results'-%}

      {% assign menu_data = get_menu | parse_json %}
    
      {% for menu_item in menu_data %}
        {%- assign parent = '{}' | parse_json -%}
        {%- assign parent = parent | add_hash_key: "label", menu_item.label -%}
        {%- assign parent = parent | add_hash_key: "slug", menu_item.slug -%}

        {%- graphql get_child_menu = 'modules/website/menu/get_child_menu', parent_id: menu_item.id | dig: 'items', 'results' -%}
        {%- assign parent = parent | add_hash_key: "child", get_child_menu -%}
        {%- assign menus = menus | add_to_array: parent -%}
      {% endfor %}

      <div class="large-10 medium-3 small-8 cell hide-nav-medium">
          <div class="navlinks">
            {% for menu in menus %}
              {%- if menu.child.size > 0 -%}
                <a class="nav-dropdown-link" href="/{{menu.slug}}">
                <ins-dropdown 
                  label="{{menu.label}}"
                  >
                    {%- assign res_services = menu.child -%}
                    
                    {% for item in res_services %}
                      <ins-dropdown-item
                        link="/{{menu.slug}}/{{ item.slug }}"
                        label="{{ item.label }}">
                      </ins-dropdown-item>
                    {% endfor %} 
                </ins-dropdown>
              </a>
              {% else %}
    
              <a href="/{{menu.slug}}">
                {{menu.label}}
              </a>
              {% endif %}
            {% endfor %}
            <a class="nav-sign-in-btn" href="">Sign in</a>
            <a class="nav-register-btn" href="">Create account</a>

          </div>
      </div>

      <div class="mobile-menu-toggle large-0 medium-1 small-1 cell ">
        <div id="mobile-menu-btn" class="icon-menu-1"></div>
      </div>

      
    </div>
  </div>
</header>
