---
metadata: {
    partial_name: 'Website | Layout | Header mobile'
}
---
{% function has_profile = "modules/website/layout/check_if_user_has_profile" %}

<div id="mobileMenuContainer" class="navigation-05b drawer-holder mobile-menu-container">
  <ins-drawer no-padding id="mobile-menu" show-header="false" class="mobileNav hide-for-small" role="dialog" aria-modal="true" aria-label="Navigation menu" aria-hidden="true">
    <div>
      <div class="mobile-menu-button-container">
        <div class="wrapper">
          <div id="mobile-menu-wrapper-dynamic" class="grid-container grid-x align-middle">
            <button id="mobile-menu-btn-close" aria-label="Close navigation menu" aria-expanded="true" aria-controls="mobile-menu">
              <span class="icon-close-1" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      
      {%- assign menus = '[]' | parse_json -%}
      {%- graphql get_menu = 'modules/website/menu/get_parent_menu' | dig: 'items', 'results'-%}
      {% assign menu_data = get_menu | parse_json %}
      
      {% for menu_item in menu_data %}
        {%- assign parent = '{}' | parse_json -%}
        {%- assign parent = parent | add_hash_key: "label", menu_item.label -%}
        {%- assign parent = parent | add_hash_key: "slug", menu_item.slug -%}
        {%- graphql get_child_menu = 'modules/website/menu/get_child_menu', parent_id: menu_item.id | dig: 'items', 'results' -%}
        {%- assign parent = parent | add_hash_key: "child", get_child_menu -%}
        {%- assign menus = menus | add_to_array: parent -%}
      {% endfor %}

      {%- graphql get_features = 'modules/website/features/get_features' -%}
      {%- assign features =  get_features | dig: 'items', 'results'  -%}
    
      <nav aria-label="Mobile navigation">
      <ul class="vertical menu navlinks">
        <li class="no-submenu mobile-menu-style">
          <a href="/" {% if context.location.href == '/' %}aria-current="page"{% endif %}>Home</a>
        </li>
        
        {% if context.constants.events_addon == 'true' %}
          <li class="mobile-menu-style">
              <ins-accordion menu>
                <ins-accordion-item class="colorBlack has-subitems" heading="Events" link="#" open-icon="icon-plus" close-icon="icon-minus" link-target="_self">
                    <ins-accordion-link class="colorBlack" label="Upcoming events" link="/upcoming-events" link-target="_self" {% if context.location.href == '/upcoming-events' %}aria-current="page"{% endif %}></ins-accordion-link>
                    <ins-accordion-link class="colorBlack" label="Previous events" link="/previous-events" link-target="_self" {% if context.location.href == '/previous-events' %}aria-current="page"{% endif %}></ins-accordion-link>
                </ins-accordion-item>
              </ins-accordion>
            </li>
        {% endif %}

        {% if context.constants.ecommerce_addon == 'true' %}
          <li class="mobile-menu-style">
            {% include 'modules/ecommerce/menu/mobile_menu' %}
          </li>
        {% endif %}

        {% for menu in menus %}
          {%- if menu.slug == "features" -%}
            <li class="mobile-menu-style">
              <ins-accordion menu>
                <ins-accordion-item class="colorBlack has-subitems" heading="{{menu.label}}" link="#" open-icon="icon-plus" close-icon="icon-minus" link-target="_self">
                  {% for item in features %} 
                    <ins-accordion-link class="colorBlack" label="{{ item.card_title }}" link="/{{ menu.slug }}/{{ item.slug }}" link-target="_self"></ins-accordion-link>
                  {% endfor %} 
                </ins-accordion-item>
              </ins-accordion>
            </li>
          {% else %}
            {%- assign current_path = '/' | append: menu.slug -%}
            <li class="no-submenu mobile-menu-style">
              <a href="/{{ menu.slug }}" {% if context.location.href == current_path %}aria-current="page"{% endif %}>{{menu.label}}</a>
            </li>
          {% endif %}
        {% endfor %}  
            
        {% comment %} Check if current user has profile {% endcomment %}
        {% if has_profile == false  %}
          <li class="no-submenu mobile-menu-style mobile-register">
            <a class="nav-register-btn" href="/create-account">Create account</a>
          </li>
        {% else %}
          <li class="mobile-menu-style">
            <ins-accordion menu>
              <ins-accordion-item heading="{{ context.current_user.first_name }} {{ context.current_user.last_name }}" link="#" open-icon="icon-plus" close-icon="icon-minus" class="has-subitems">
                {%- graphql user_with_token = 'modules/portal/account/get_user_with_password_token', email: context.current_user.email | dig: 'users','results' | first -%}
                {%- assign user_data_default = user_with_token.default | first -%}

                <ins-accordion-link label="My details" link="/my-details"></ins-accordion-link>
                <ins-accordion-link label="Change password" link="/generate-password-token?email={{ user_with_token.email | url_encode }}"></ins-accordion-link>
                <div class="sign-out-wrapper">
                  {% include_form 'modules/portal/sign_out' %}
                </div>
              </ins-accordion-item>
            </ins-accordion>
          </li>
        {% endif %}
      </ul>
      </nav>
    </div>
  </ins-drawer>
</div>

