<div class="navigation-05b drawer-holder mobile-menu-container">
<ins-drawer no-padding id="mobile-menu" show-header="false" class="mobileNav hide-for-large hide-for-small" >
    <div>
        {%- assign menus = '[]' | parse_json -%}
        {%- graphql get_menu = 'modules/website/menu/get_parent_menu' | dig: 'items', 'results'-%}
  
        {% assign menu_data = get_menu | parse_json %}
      
        {% for menu_item in menu_data %}
          {%- assign parent = '{}' | parse_json -%}
          {%- assign parent = parent | add_hash_key: "label", menu_item.label -%}
          {%- assign parent = parent | add_hash_key: "slug", menu_item.slug -%}
  
          {%- graphql get_child_menu = 'modules/website/menu/get_child_menu', parent_id: menu_item.id | dig: 'items', 'results' -%}
          {%- assign parent = parent | add_hash_key: "child", get_child_menu -%}
          {%- assign menus = menus | add_to_array: parent -%}
        {% endfor %}
   
    
        <ul class="vertical menu">
          {% for menu in menus %}

            {%- if menu.child.size > 0 -%}
                <li class="mobile-menu-style">
                    <ins-accordion menu>
                      <ins-accordion-item class="colorBlack" heading="{{menu.label}}" link="#" open-icon="icon-plus" close-icon="icon-minus" link-target="_self"
                        class="has-subitems">
                         
                            {%- assign res_services =  menu.child -%}
          
                            {% for item in res_services %} 
                              <ins-accordion-link class="colorBlack" label="{{ item.label }}" link="/{{menu.slug}}/{{ item.slug }}" link-target="_self">
                              </ins-accordion-link>
                            {% endfor %} 
          
                    
                      </ins-accordion-item>
                    </ins-accordion>
                  </li>
            {% else %}
                <li class="no-submenu mobile-menu-style">
                    <a class="colorBlack" href="/{{menu.slug}}">
                    {{menu.label}}
                    </a>
                </li>
        
            {% endif %}
          {% endfor %}  
       
  
          <!-- /normal list -->     
          {% if context.current_user == nil %}
          <li class="no-submenu mobile-menu-style sign-in-button">
              <a href="/sign-in">     
            <i class="icon-user"></i>  Sign In
            </a>
          </li>
          <li class="no-submenu mobile-menu-style">
              <a href="/register" class="colorBlack">
              <ins-button class="register-mobile-button" label="REGISTER" type="submit" size="normal" solid></ins-button>
            </a>
          </li>
          {% else %}
              <li class="mobile-menu-style">
                  <ins-accordion menu>
                      <ins-accordion-item heading="{{ context.current_user.first_name }} {{ context.current_user.last_name }}" link="#" open-icon="icon-plus" close-icon="icon-minus"
                        class="has-subitems">
                        {%- graphql user_with_token = 'modules/client/account/get_user_with_password_token', email: context.current_user.email | dig: 'users','results' | first -%}
                        {%- assign user_data_default = user_with_token.default | first -%}

                              <ins-accordion-link label="My Details" link="/my-details">
                              </ins-accordion-link>
  
                              <ins-accordion-link label="Change Password" 
                              link="/password-reset?token={{ user_data_default.password_token | url_encode }}&amp;email={{ user_with_token.email | url_encode }}"
                              >
                              </ins-accordion-link>
  
                              <ins-accordion-link label="" link="" class="mobile-sign-out">
                              {% include_form 'modules/client/sign_out' %}
                              </ins-accordion-link>
                        
          
                    
                      </ins-accordion-item>
                    </ins-accordion>
              </li>
          {% endif %}
  
        </ul>
      </div>
</ins-drawer>
</div>

