---
metadata: {
    partial_name: 'Website | Layout | Header default'
}
---

{% comment %} 
  ? THIS HEADER IS USED FOR INITIAL INSTALLATION OF TEMPLATE 
  ? THIS FILE CAN BE DELETED ONCE MENU DATABASE IS POPULATED
{% endcomment %}

<header class="navigation-04 header colorBlack" data-test="main-header" id="main-header">
  <div class="wrapper">
    <div class="header-top-bar grid-container grid-x align-middle">
      <div class="large-2 medium-3 small-8 cell">
        <a href="/">
          {% comment %} ? SETTING LOGO BY DEFAULT {% endcomment %}
          {% if context.exports.global.company_logo == nil  %}
              {% comment %} ? DEFAULT {% endcomment %}
              <img class="logo" src="{{ 'modules/website/images/default-images/logo/insites-logo.png' | asset_url }}" alt="Logo" height="56" width="119">
          {% else %}
              {% comment %} ? FETCHED FROM IIA -> CMS -> GLOBALS {% endcomment %}
              <img class="logo" src="{{ context.exports.global.company_logo }}" alt="Logo" height="56" width="119">
          {% endif %}
        </a>
      </div>
      <div class="large-1 medium-3 small-0"></div>

      <div class="show-for-large large-9 medium-6 small-12 cell text-right">
        <div class="header-links">

          {% if context.constants.ecommerce_addon == 'true' %}
              <ins-button id="mega-menu-btn" label="Shop" icon-right="icon-angle-down"></ins-button>
          {% endif %}

          <a class="colorBlack" href="/about">
            About
          </a>
        
          <a class="" href="/services">
            <ins-dropdown 
              label="Services"
              class="customNav">
                  <ins-dropdown-item
                    link="/services/customisable-style-guide"
                    label="Customisable Style Guide">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/web-block-variations"
                    label="Web Block Variations">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/web-components"
                    label="Web Components">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/content-types"
                    label="Content Types">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/fully-responsive"
                    label="Fully Responsive">
                  </ins-dropdown-item>
                  <ins-dropdown-item
                    link="/services/pre-built-pages"
                    label="Pre Built Pages">
                  </ins-dropdown-item>
            </ins-dropdown>
          </a>

          <a class="colorBlack" href="/faqs">
            FAQ
          </a>

          <a class="colorBlack" href="/news">
            News
          </a>

          <a class="colorBlack" href="/contact">
            Contact
          </a>

        {% if context.constants.ecommerce_addon == 'true' %}
          {% comment %} Get the user uuid and cart count {% endcomment %}
          {%  liquid
              assign guest_user = true
              assign user_cart = null

              graphql user = 'modules/client/account/get_current_user'
  
              if user
                session user_uuid = user.current_user.external_id
                assign user_uuid = user.current_user.external_id
              else  
                assign user_uuid = null
              endif
  
              if user_uuid != null
                graphql user_cart = 'modules/ecommerce/carts/get_user_cart',  contact_uuid: user_uuid | dig: 'items','results' | first 
                assign guest_user = false
              endif
          %}

          <input type="hidden" id="guest-user-flag" value={{ guest_user }} >

          <a role="button" onclick="openDrawer()">
            <i class="icon-shopping-cart"></i>
            <span class="cart-count 
              {% if user_cart == null or user_cart.items.size == 0 %}hide
              {% elsif user_cart.items.size > 9 %}two-digits-count
              {% endif %}
            ">{{ user_cart.items.size | default: 0 }}</span>
          </a>
          <span class="vertical-line"></span>
        {% endif %}
        
        {% comment %} Check if current user has profile {% endcomment %}
        {% function has_profile = "modules/website/layout/check_if_user_has_profile" %}

        {% if has_profile == false  %}
        </div>
              <a class="" href="/sign-in">           
                <ins-button label="SIGN IN" icon="icon-user"></ins-button>
              </a>
              
              <a href="/register">
                <ins-button class="btnMain" solid label="Register">
                </ins-button>
              </a>
          {% else %}        
          {% if context.current_user != nil %}
            {%- graphql user_with_token = 'modules/client/account/get_user_with_password_token', email: context.current_user.email | dig: 'users','results' | first -%}
            {%- assign user_data_default = user_with_token.default | first -%}

          {% endif %}
              <a class="color-main color-font-head" href=""> 
                <ins-dropdown 
                label="{{ context.current_user.first_name }} {{ context.current_user.last_name }}"
                class="profileNav">
                    <ins-dropdown-item
                      link="/my-details"
                      label="My Details">
                    </ins-dropdown-item>

                    {% if context.constants.ecommerce_addon == 'true' %}
                    <ins-dropdown-item
                      link="/order-history"
                      label="Order History">
                    </ins-dropdown-item>
                    {% endif %}
                
                    <ins-dropdown-item
                      link="/generate-password-token?email={{ user_with_token.email | url_encode }}"
                      label="Change Password">
                    </ins-dropdown-item>
      
                    <ins-dropdown-item
                      link=""
                      label="">
                      {% include_form 'modules/client/sign_out' %}
                    </ins-dropdown-item>
                </ins-dropdown>
              </a>
            </div>
          {% endif %}

      </div>
      <div class="hide-for-large mobile-menu-toggle large-0 medium-6 small-4 cell vertical-align-middle align-right">
        <div class="header-mobile grid-x">
          <a role="button" onclick="openDrawer()">
            <i class="icon-shopping-cart"></i>
            <span class="cart-count 
              {% if user_cart == null or user_cart.items.size == 0 %}hide
              {% elsif user_cart.items.size > 9 %}two-digits-count
              {% endif %}
            ">{{ user_cart.items.size }}</span>
          </a>
          <div id="mobile-menu-btn" class="icon-menu-1"></div>
        </div>
      </div>
    </div>
  </div>  
</header>

{% if context.constants.ecommerce_addon == 'true' %}
    {% include 'modules/ecommerce/menu/mega_menu' %}

<script>
  const guestUserEl = document.getElementById('guest-user-flag');

  if (guestUserEl && window.localStorage) {
    const guestUserFlag = guestUserEl.value

    if (guestUserFlag === 'true') {
      // Get Cart Count from LocalStorage
      const guest_cart = localStorage.getItem('carts');

      if (guest_cart) {
        const parsedCart = JSON.parse(guest_cart);
        const cartCount = parsedCart.length;

        // Update the cart count dynamically in the HTML
        const cartCountElement = document.getElementById('cart-count');
        if (cartCountElement) {
          cartCountElement.innerHTML = cartCount; // Update the displayed cart count
          if (cartCount === 0) {
            cartCountElement.classList.add('hide'); // Apply the 'zero-cart-count' class if empty
          } else {
            cartCountElement.classList.remove('hide'); // Remove the class if cart has items
          }
        }
      }
    }
  }
</script>
{% endif %}