<!-- GET GLOBAL CONTENTS-->
{%- include "modules/insites_cms/globals" -%}

{%- if context.environment == "staging" -%}
<!-- start partial:layout/header  -->
{%- endif -%}

<header class="navigation-04 header colorBlack" data-test="main-header" id="main-header">
  <div class="wrapper">
    <div class="header-top-bar grid-container grid-x align-middle">
      <div class="large-2 medium-3 small-9 cell">
        <a href="/">
          <img class="logo" src="{{ context.exports.global.company_logo }}" alt="logo" >
        </a>
      </div>
      <div class="large-1 medium-3 small-0"></div>
      <div class="show-for-large large-9 medium-6 small-12 cell text-right">
        <div class="header-links">
          <a class="colorBlack" href="/about">
            About us
          </a>

          <a class="" href="/services">
            <ins-dropdown 
              label="Services"
              class="customNav">
                {% comment %} connect services to graphql {% endcomment %}
                {%- graphql get_services = 'modules/website/services/get_services' -%}
                {% comment %} assign var to fetch the result {% endcomment %}
                {%- assign res_services = get_services | dig: 'items', 'results' -%}
                
                {% for item in res_services %}
                  <ins-dropdown-item
                    link="/services/{{ item.slug }}"
                    label="{{ item.service_name }}">
                  </ins-dropdown-item>
                {% endfor %} 
            </ins-dropdown>
          </a>

          <a class="colorBlack" href="/faqs">
            FAQ
          </a>
          
          <a class="colorBlack" href="/news">
            News
          </a> 
          
          {%- if context.modules.locator -%}
            <a class="colorBlack" href="/locations">
              Locations
            </a> 
          {%- endif -%}

          <a class="colorBlack" href="/contact"> 
            Contact
          </a>

          {% if context.current_user == nil %}
         
    
        </div>
              <a class="" href="/sign-in">           
                <ins-button label="SIGN IN" icon="icon-user"></ins-button>
              </a>
              
              <a href="/register">
                <ins-button class="btnMain" solid label="Register">
                </ins-button>
              </a>
          {% else %}        
              <a class="color-main color-font-head" href=""> 
                <ins-dropdown 
                label="{{ context.current_user.first_name }} {{ context.current_user.last_name }}"
                class="profileNav">
                    <ins-dropdown-item
                      link="/my-details"
                      label="My Details">
                    </ins-dropdown-item>
      
                    <ins-dropdown-item
                      link="/password-reset"
                      label="Change Password">
                    </ins-dropdown-item>
      
                    <ins-dropdown-item
                      link=""
                      label="">
                      {% include_form 'modules/client/sign_out' %}
                    </ins-dropdown-item>
                </ins-dropdown>
              </a>
            </div>
          {%endif%}

      </div>
      <div class="hide-for-large mobile-menu-toggle large-0 medium-6 small-3 cell vertical-align-middle align-right">
        <div id="mobile-menu-btn" class="icon-menu-1"></div>
      </div>
    </div>
  </div>
</header>



{%- if context.environment == "staging" -%}
<!-- end partial:layout/header  -->
{%- endif -%}

