{%- comment -%}
Header main menu: Content from database 'main_menu'
- sorted by field 'order' ASC
- currently paginated & limited to 10 menu items
{%- endcomment -%}

{%- if context.environment == "staging" -%}
<!-- start partial: modules/website/layout/menu_main  -->
{%- endif -%}

{% liquid
    assign page = 1
    assign size = 10
    graphql data = 'modules/website/content/get_main_menu', page: page, size: size
%}

{%- if data.items.results -%}
<div class="nav-bar">
    <div class="wrapper">
        <div class="bottom-bar show-for-large">
            <ul class="menu align-center">
            {%- for item in data.items.results -%}
                {%- if item.link == 'products' -%}
                    {%- if context.modules.ecommerce.name != blank -%}
                        {%- comment -%}E-commerce main header menu item{%- endcomment -%}
                        {%- include 'modules/ecommerce/menu/main', item: item -%}
                    {%- endif -%}
                {%- else -%}
                    {%- graphql sub_data = 'modules/website/content/get_sub_menu', 
                    parent_menu: item.id -%}
                    {%- if sub_data.items.total_entries > 0 -%}
                        <li>
                            <ins-dropdown lined data-test="main-menu-{{item.label | downcase | parameterize}}" label="{{ item.label }}" link="/{{ item.link }}/" {% if item.link contains context.params.slug %} class="active" {% endif %}>
                            <ul class="text-left">
                                {%- for sub_item in sub_data.items.results -%}
                                <li {% if context.params.slug2 == sub_item.link %} class="li-active" {% endif %}>
                                    <a data-test="sub-menu-{{sub_item.label | downcase | parameterize}}" href="/{{ item.link }}{{sub_item.link}}/">{{ sub_item.label }}</a>
                                </li>
                                {%- endfor -%}
                            </ul>
                            </ins-dropdown>
                        </li>

                    {%- else -%}
                        <li>
                            <a data-test="main-menu-{{item.label | downcase | parameterize}}" href="/{{ item.link }}/"{% if item.link contains context.params.slug %} class="active"{% endif %}>
                                {{ item.label }}
                            </a>
                        </li>
                    {%- endif -%}
                    
                {%- endif -%}
            {%- endfor -%}
            </ul>
        </div>
    </div>
</div>
{%- endif -%}

{%- if context.environment == "staging" -%}
<!-- end partial: modules/website/layout/menu_main  -->
{%- endif -%}
