---
metadata: {
    partial_name: 'Client | Banner'
}
---

{% comment %} ? FETCHING CLIENT BANNER {% endcomment %}
{%- graphql client_banner = 'modules/client/banners/get_banner' -%}
{%- assign data = client_banner | dig: 'items', 'results' -%}

{% comment %} ? THIS IS TO SET DEFAULT VALUES IF THE CLIENT BANNER DATABASE IS EMPTY {% endcomment %}
{% comment %} ? THIS BLOCK OF CODE UNDER THIS COMMENT CAN BE DELETED ONCE CLIENT BANNER DATABASE IS POPULATED BY THE USERS{% endcomment %}
{% if client_banner.items.total_entries == 0 %}
    {% parse_json data %}
    [
      {
        "main_text": "The ideal portal for your customers", 
        "sub_text": "Unified client portal will help you to professionally manage your projects (and to wow your clients).",
        "desktop_image": {
            "url": "{{ 'modules/website/images/default-images/banners/client-portal-banner-3.jpg' | asset_url }}"
        },
        "mobile_image": {
            "url": "{{ 'modules/website/images/default-images/banners/client-portal-banner-3.jpg' | asset_url }}"
        },
        "button_link": "",
        "button_label": ""
      }
    ]
    {% endparse_json %}
  {% endif %}
{% comment %} ? DELETE UNTIL THIS LINE OF CODE ONCE CLIENT BANNER DATABASE IS POPULATED {% endcomment %}


{%- if data.size > 0 -%}
<div class="homepage-banner-wrap">
    <ins-carousel no-carousel-button loop
        autoplay
        layout="1" 
        bind-to="homepage-banner"
        transition="700"
        duration="5000"
        data-test="homepage-slider">
        <div id="homepage-banner">

            {%- for item in data -%}
                <div class="slide-container" >
                    {%- comment -%}Slide Image{%- endcomment -%}
                    {%- if item.desktop_image.url -%}
                    <div class="img-wrap">   
                        {%- if context.device.device_type != "smartphone" -%}
                        <!-- desktop image -->
                        <img src="{{ item.desktop_image.url | replace: ' ', '%20' }}" alt="{{ item.main_text }}" >
                        {%- else -%}
                        <!-- mobile image -->
                        <img src="{{ item.mobile_image.url | replace: ' ', '%20' }}" alt="{{ item.main_text }}" >
                        {%- endif -%}
                    </div>
                    {%- endif -%}
                    
                    {%- comment -%}Slide Text{%- endcomment -%}
                    <div class="slide-content wrapper vertical-align-middle">
                        <div class="grid-x grid-container">
                            <div class="large-8 large-offset-1 medium-12 small-12 cell">
                                <h1 class="heading heading-1">{{ item.main_text }}</h1>
                                <div class="spacer"></div>
                                <p>{{ item.sub_text }}</p>
                                {%- if item.button_link and item.button_link != '' -%}
                                    <div class="spacer large"></div>
                                    <a href="{{ item.button_link }}" >
                                        <ins-button solid
                                            label="{{item.button_label}}">
                                        </ins-button>
                                    </a>
                                {%- endif -%}
                            </div>
                            <div class="large-1 medium-1 small-1 cell"></div>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
            
        </div>
    </ins-carousel>
</div>
{%- endif -%}