---
name: create-account
resource: User
resource_owner: anyone
flash_alert: Sorry-Signup
flash_notice: Congratulations-Signup
redirect_to: account-created
fields:
  # User Fields
  email:
    validation: 
      unique:
        message: Email already exist
      presence:
        message: Email address is required.
      email: 
        message: Invalid email address.     
  password:
    validation: 
      presence: 
        message: Invalid password.
  first_name:
    validation: 
      presence: 
        message: First name is required.
  last_name:
    validation: 
      presence: 
        message: Last name is required.
  
  properties:
    # Profile - CRM Contact Fields
    mobile_phone_country_code:
      property_options:
        virtual: true
    mobile_phone_number:
      property_options:
        virtual: true

    # CRM Address - Contact Fields              
    address_1:
      validation: 
        presence: 
          message: Address 1 is required.
      property_options:
        virtual: true
    address_2:
      property_options:
        virtual: true
    suburb:
      validation: 
        presence: 
          message: Suburb is required.
      property_options:
        virtual: true
    state:
      validation: 
        presence: 
          message: State is required.
      property_options:
        virtual: true
    postcode:
      validation: 
        presence: 
          message: Postcode is required.
      property_options:
        virtual: true
    country:
      validation: 
        presence: 
          message: Country is required.
      property_options:
        virtual: true
    latitude:
      property_options:
        virtual: true
    longitude:
      property_options:
        virtual: true

    # CRM Company Fields          
    email_1:
      validation: 
        presence:
          message: Company email is required.
        email: 
          message: Please use a valid email address.  
      property_options:
        virtual: true 
    company_name:
      validation: 
        presence: 
          message: Company name is required.
      property_options:
        virtual: true 
    registered_business_number:
      validation: 
        presence: 
          message: Company registration number is required. 
      property_options:
        virtual: true 

    # CRM Address - Company Fields
    company_mobile_phone_country_code:
      property_options:
        virtual: true
    company_mobile_phone_number:
      property_options:
        virtual: true
    company_address_1:
      validation: 
        presence: 
          message: Address 1 is required.
      property_options:
        virtual: true
    company_address_2:
      property_options:
        virtual: true
    company_suburb:
      validation: 
        presence: 
          message: Suburb is required.
      property_options:
        virtual: true
    company_state:
      validation: 
        presence: 
          message: State is required.
      property_options:
        virtual: true
    company_postcode:
      validation: 
        presence: 
          message: Postcode is required.
      property_options:
        virtual: true
    company_country:
      validation: 
        presence: 
          message: Country is required.
      property_options:
        virtual: true    
    company_latitude:
      property_options:
        virtual: true
    company_longitude:
      property_options:
        virtual: true
    

  # Confirmation Fields
  agreement:
    presence: true
    property_options:
      virtual: true
      
async_callback_actions:
  delay: 0
  priority: high
  max_attempts: 2
  content: >
    {% comment %}
      Steps:
        1. Add Company
        2. Update company_uuid on Client Profile
        3. Update Contact
        4. Add Contact Address    
    {% endcomment %}
    {% assign data = form | json %}
    {% graphql add_company = 'modules/website/trigger_api_call', name: 'modules/portal/add_company', data: data | dig: 'items','response','body' | parse_json %}
    {%- graphql user_details = "modules/portal/account/get_user_by_email" 
        email: form.email
        | dig: "items" | dig: "results" | first -%}

    {% parse_json update_contact_data %}
    {
      "uuid": "{{ user_details.uuid }}",
      "email": "{{ form.email }}",
      "company_uuid": "{{ add_company.uuid }}",
      "mobile_phone_country_code": "{{ form.properties.mobile_phone_country_code }}",
      "mobile_phone_number": "{{ form.properties.mobile_phone_number }}"
    }
    {% endparse_json %}

    {%  liquid                      
        graphql update_contact = 'modules/website/trigger_api_call', name: 'modules/portal/update_contact', data: update_contact_data | dig: 'items','response','body' | parse_json        
        log update_contact, type: "update_contact"
        graphql add_contact_address = 'modules/website/trigger_api_call', name: 'modules/portal/add_contact_address', data: data | dig: 'items','response','body' | parse_json
    %} 
    
    {% comment %} Generate user temporary token {% endcomment %}
    {%  liquid
        graphql temporary_token = 'modules/portal/account/generate_user_temporary_token', email: form.email | dig: 'items', 'results' | first
    %}

    {% comment %} Create user profile {% endcomment %}
    {%  liquid
        graphql create_user_profile = 'modules/portal/account/create_user_profile', id: temporary_token.id, token: temporary_token.temporary_token
    %}
    
    {% comment %} Create Event Stream {% endcomment %}
    {%- assign current_user_name =  form.first_name | append: ' ' | append: form.last_name | default: form.email -%}

    {%- capture description -%} <a target="_blank" href="/admin/insites/#/crm/contacts/{{ form.id }}">{{ current_user_name  | default: form.email }}</a> has submitted  a registration for <a target="_blank" href="/admin/insites#/crm/companies/{{ form.properties.company_uuid }}">{{ form.properties.company_name }}</a> {%- endcapture -%}
    {%- assign payload = '{}' | parse_json -%}
    {%- assign payload = payload | add_hash_key: "description", description -%}
    {%- assign payload = payload | add_hash_key: "font_icon", "icon-completed-outcomes" -%}
    {%- assign payload = payload | add_hash_key: "font_icon_color", "#289AFF" -%}

    {% capture log_info %}
      {
          "first_name": "{{ form.first_name }}",
          "last_name": "{{ form.last_name }}",
          "email": "{{ form.email }}",
          "mobile_phone_country_code": "{{ form.properties.mobile_phone_country_code }}",
          "mobile_phone_number": "{{ form.properties.mobile_phone_number }}",
          "contact_address":{
            "address_1": "{{ form.properties.address_1 }}",
            "address_2": "{{ form.properties.address_2 }}",
            "suburb": "{{ form.properties.suburb }}",
            "state": "{{ form.properties.state }}",
            "postcode": "{{ form.properties.postcode }}",
            "country": "{{ form.properties.country }}"
          },
          "company":{
            "company_name": "{{ form.properties.company_name }}",
            "registered_business_number": "{{ form.properties.registered_business_number }}",
            "email_1": "{{ form.properties.email_1 }}",
            "mobile_phone_country_code": "{{ form.properties.company_mobile_phone_country_code }}",
            "mobile_phone_number": "{{ form.properties.company_mobile_phone_number }}"
          },
          "company_address":{
            "address_1": "{{ form.properties.company_address_1 }}",
            "address_2": "{{ form.properties.company_address_2 }}",
            "suburb": "{{ form.properties.company_suburb }}",
            "state": "{{ form.properties.company_state }}",
            "postcode": "{{ form.properties.company_postcode }}",
            "country": "{{ form.properties.company_country }}"
          },
          "contact_uuid": "{{ user_details.uuid }}"   
      }
    {% endcapture %}
    {%- assign log_info_json = log_info | parse_json -%}
    {%- assign info = payload | add_hash_key: "log", log_info_json -%}
    {% log payload %}
    {% include 'modules/portal/events/log_event', info %}
---

{%- form 
    html-id: "register-form"
    html-class: 'insites-form insites-form-code' 
    html-novalidate: true
    html-enctype="multipart/form-data"
    html-onsubmit:"return Session.events.signUpHandler(event, 'personal-details-container');" -%}

  <div class="insites-form-grid">

  {% include 'modules/portal/account/registration_personal_details' %}

  {% include 'modules/portal/account/registration_company_details' %}

  {% include 'modules/portal/account/registration_confirmation' %}
            
  </div>

{%- endform -%}